{% extends "djangosherd/iframe.html" %}
{% block title %}"{{asset.title}}"{% endblock %}
{% block css %}
  {{ block.super }}
  <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>

  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}

  <script type="text/javascript">         DjangoSherd_Asset_Config();             </script>

  <script type="text/javascript" src="/site_media/js/assetmgr/asset.js"></script>
{% endblock %}

{% block extra_body_class %}{% if mock %}preview{% endif %}{% endblock %}

{% block content %}
  {{ block.super }}

<b>{{annotation.title}} of {{asset.title}} </b> 
{%if asset.html_source.url %}
  <a class="fullrecord_button" href="{{asset.html_source.url}}">View complete record in archive</a>
{%endif%}
  

  <div class="asset-view">
	<div id="original-annotation" class="annotation-data" 
	     data-begin="{{annotation.range1}}" 
	     data-end="{{annotation.range2}}" 
	     data-annotation='{{annotation.annotation_data|default_if_none:"{}"|escape}}'
	     ></div>
  </div>
  <div class="asset-links">
    <ul>
      {% with asset.source_set.all as assets_to_link %}
        {% include "assetmgr/asset_links.html" %}
      {% endwith %}
    </ul>
  </div>
  <div class="asset-object">
      <div class="clipbox"><!-- width changes here too if video size changes -->
	<div class="asset-display"></div>
	<div id="clipStrip"><div id="clipStripLabel"><!-- nothing --></div><div id="clipStripTrack"><div id="clipStripStart" class="clipSlider" onmouseover="return escape('Go to note start time')" onclick="jumpToStartTime()" style="display:none"></div><div id="clipStripRange" class="clipStripRange" onclick="jumpToStartTime(true)" onmouseover="return escape('Play note')" style="display:none"></div><div id="clipStripEnd" class="noteStripEnd" onmouseover="return escape('Go to note end time')" onclick="jumpToEndTime()" style="display:none"></div></div></div>

      </div><!--class="clipbox"-->
    </div><!--class="asset-object"-->
  </div><!--class="asset-view"-->

  </div><!--id="workspace"-->

{% endblock %}
