<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} |Mediathread</title>

	<link rel="stylesheet" type="text/css" href="/site_media/css/course.css"></link>

	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />

    {% load cache %}
    {% cache 500 heads course %}
       {% if course.settings.custom_headers %}
        {{course.settings.custom_headers|safe}}
       {# DEFAULT IS ELSE #}
       {% else %}
	<link rel="stylesheet" href="/site_media/css/main.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
       {% endif %}
    {% endcache %}
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
<body class="iframe-box">

  <div id="container-iframe">
    {% block pagetitle %}{% endblock %}
    
    {% block content %}{% endblock %}
  </div><!-- id="container" -->

<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript">
  try { var pageTracker = _gat._getTracker("UA-311226-18");
            pageTracker._trackPageview();
      } catch(e){}
</script>
</body>
</html>
