{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500 Server Error | Mediathread</title>
    <link rel="stylesheet" href="{% static 'css/mediathread.css' %}" media="screen" />
</head>

<body class="one_column">
    <div id="container">
        <div id="header">
            <div id="standardnav_container">
                <div id="mediathread_logo">
                    <a href="/">
                        <img src="{% static 'img/logo_mediathread.svg' %}" alt="mediathread logo" width="156" height="45" />
                    </a>
                </div>
            </div>
        </div><!-- id="header" -->
        <div id="content">

            <div style="margin: 30px 20px 20px 20px">
            <h3>500: An error has occurred</h3>

            We're sorry. Something's gone wrong. We will investigate and resolve this problem as soon as possible.<br /><br />

            Return to the <a href="/">Mediathread Home Page</a>
            </div>

            <hr />
        </div>
    </div>
</html>
