<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Mediathread &mdash; 500 Server Error</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/mediathread.css" media="screen" />
</head>

<body class="one_column">
    <div id="container">
        <div id="header">
            <div id="standardnav_container">
                <div id="mediathread_logo">
                    <a href="/">
                        <img src="{{STATIC_URL}}img/logo_mediathread.svg" alt="mediathread logo" width="156" height="45" />
                    </a>
                </div>
            </div>
        </div><!-- id="header" -->
        <div id="content">

            <div style="margin: 30px 20px 20px 20px">
            <h3>500: An error has occurred</h3>

            We're sorry. Something's gone wrong. We will investigate and resolve this problem as soon as possible.<br /><br />

            Return to the <a href="/">Mediathread Home Page</a><br /><br /><br /><br />
            </div>

            <hr />
        </div>
    </div>
</html>
