{% load cache user_projects coursetags compress static bootstrap3 %}
{% load waffle_tags %}

<!DOCTYPE html>
<html lang="en">
{% with request.course as course %}
    <head><!-- {{controller_name}} :: {{template_name}} -->
        <meta charset="utf-8">
        <title>Mediathread {% block title %}&mdash; Switch Course{% endblock %}</title>

        <script type="text/javascript" src='{% static "jquery/js/jquery-1.12.3.min.js" %}'></script>
        {% bootstrap_javascript %}
        <script type="text/javascript" src='{% static "jquery/js/jquery-ui.min.js" %}'></script>
        <script src="{% static 'js/mustache/mustache.min.js' %}"></script>
        <script src="{{STATIC_URL}}js/flowplayer/flowplayer-5.5.0.min.js"></script>

        <script type="text/javascript" src="{% static 'js/lib/sherdjs/lib/OpenLayers-min.js' %}"></script>
        <script type="text/javascript" src="/jsi18n"></script>
        <script src='{% static 'js/app/extension_updater.js' %}'></script>

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'jquery/css/jquery-ui.min.css' %}" media="screen" />
        <link rel="shortcut icon" href="{% static 'img/mediathread_favicon.ico' %}" type="image/x-icon"/>

        {% compress css %}
            <link rel="stylesheet" href='{% static "css/print.css" %}' media="print" />
            <link rel="stylesheet" href='{% static "css/mediathread.css" %}' media="screen" />
            {% block css %}{% endblock %}
        {% endcompress %}

        {% block uncompressable_css %}
        {% endblock %}

        <link rel="chrome-webstore-item"
              href="https://chrome.google.com/webstore/detail/gambcgmmppeklfmbahomokogelnaffbi">
    </head>

    {% course_role for request.user in course as role_in_course %}
    <body class="role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">
    <div id="dialog-confirm" style="display: none"></div>
    <div id="container">
        {% block masthead %}
            <!-- ###### Site banner ###### -->
            <div id="header">

                <div id="standardnav_container">
                <div id="mediathread_logo">
                    <a href="/">
                        <img src='{% static "img/logo_mediathread_new.png" %}' alt="mediathread logo" width="156" height="45" />
                    </a>
                </div>
                {% block standardnav %}
                   <ul id="standardnav">
                        {% if course %}
                            {% ifequal role_in_course "non-member" %}
                                <li>
                                    <div class="nonmember">You are not a class member!</div>
                                </li>
                            {% endifequal %}
                            {% if user.is_impersonate %}
                                <li>
                                    <a class="warning" href="/impersonate/stop/">Impersonate Stop</a>
                                </li>
                            {% endif %}
                            <li>
                                <div class="settings_menu user closed">
                                    <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                    <div class="left settings_menu_title">{% public_name for user %}</div>
                                </div>
                                <div class="visualclear"></div>
                                <!-- Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                    {% if user.is_staff %}
                                        <a href="/admin/">Admin</a>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <a href="/impersonate/search/">Impersonate</a>
                                    {% endif %}

                                    {% num_courses for user as user_courses %}
                                    {% if user_courses > 1 or user.is_staff %}
                                        <a href="/?unset_course">Switch Course</a>
                                    {% endif %}

                                    {% if user.has_usable_password %}
                                        <a href="/accounts/password_change/">Change Password</a>
                                    {% endif %}

                                    {% if role_in_course == 'instructor' %}
                                        <a href="/course/request/">Request Course</a>
                                    {% endif %}

                                    <a href="/accounts/logout/?next=/">Log Out</a>
                                </div>
                            </li>

                            {% if role_in_course == 'instructor' %}
                            <li>
                                <div class="settings_menu manage closed">
                                    <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                    <div class="left settings_menu_title">Manage</div>
                                </div>
                                <div class="visualclear"></div>
                                <!-- Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                    <a href="/dashboard/settings/">Settings</a>
                                    <a href="/dashboard/sources/">Sources</a>
                                    <a href="/dashboard/migrate/">Migrations</a>
                                    <a href="/taxonomy/">Vocabulary</a>
                                    {% flag "roster_view" %}
                                        <a href="/dashboard/roster/">Roster</a>
                                    {% endflag %}

                                    {% if user.is_staff %}
                                        <hr />
                                        <a href="/dashboard/delete/materials/">Materials</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="settings_menu reports closed">
                                    <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                    <div class="left settings_menu_title">Reports</div>
                                </div>
                                <div class="visualclear"></div>
                                <!-- Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                     <a href="/reports/class_assignments/">Assignment Responses</a>
                                     <a href="/reports/class_activity/">Class Activity</a>
                                     <a href="/reports/class_summary/">Class Member Contributions</a>
                                    {% if user.is_staff %}
                                        <hr />
                                        <a href="/reports/activity/course/">Activity by Course</a>
                                        <a href="/reports/self-registration/">Self-Registration Report</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endif %}
                            <li>
                                {% block standardnav_help %}
                                    <div class="settings_menu help closed">
                                        <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                        <div class="left settings_menu_title">Help</div>
                                    </div>
                                    <div class="visualclear"></div>
                                    <!-- Settings Menu -->
                                    <div class="settings_submenu" style="display: none">
                                         <a href="/help/">Knowledge Base</a>
                                         <a href="/upgrade/">Upgrade Bookmarklet</a>
                                    </div>
                                {% endblock %}
                            </li>

                            <li>
                              <div unselectable="on"><a href="/contact/">Contact Us</a></div>
                            </li>
                        {% else %}
                            <li><div unselectable="on"><a href="/help/">Help</a></div></li>
                            {% if request.user.is_authenticated %}
                                <li><a href="/accounts/logout/?next=/">Log Out</a></li>
                            {% else %}
                                <li><a href="/accounts/login/">Log In</a></li>
                            {% endif %}
                        {% endif %}


                    </ul>
                {% endblock %}
            </div>
            {% block courseinformation %}
            <div id="course_information">
                <h1 id="course_title">
                {% block coursetitle %}
                    <a href="/" id="course_title_link">{{course.title}}</a>
                {% endblock %}
                </h1>
                <div class="clear: right;"></div>
            </div>
            {% endblock %}

            </div><!-- id="header" -->

        {% endblock %}

        <!-- ###### Don't touch this ###### -->
        <div class="visualclear"></div>



        <!-- ###### Page: Sidebars and Content ###### -->
        <div id="pagebody">
            <div id="shieldbox"></div>


            <!-- ###### Page Content ###### -->
            <div>
                {% block pagetitle %}{% endblock %}

                {% block content %}{% endblock %}

                <!-- ###### Don't touch this ###### -->
                <div class="visualclear"></div><!-- id="visualclear" -->
                <div id="clearfooter"></div>
            </div>
        </div><!-- id="pagebody" -->
    </div><!-- id="container" -->

    {% block footer %}
        <!-- ###### Footer ###### -->
        <div id="footer">

            <!-- CCNMTL title/logo -->
            <h4 id="logo_ccnmtl">
                <a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"></a>
            </h4>

           <ul id="footernav">
               <li><a href="http://mediathread.info" target="_blank">About</a></li>
               <li><a href="/contact/">Contact Us</a></li>
               <li><a href="/help/">Help</a></li>
            </ul>
        </div><!-- id="footer" -->
    {% endblock %}

    <script type="text/javascript">
        var lt = String.fromCharCode(60);
        if (window.jQuery) {
            jQuery.noConflict();
        }

        var MediaThread = new (function() {
            this.templates = {};
            {% if request.user.is_authenticated %}
                this.current_user = {{request.user.id}};
                this.current_username = "{{request.user.username}}";
                this.user_full_name = "{%public_name for request.user %}";
            {% endif %}
        })();
    </script>

    {% compress js %}
        <script type="text/javascript" src='{% static "js/lib/json2.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/util.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/ajaxDelete.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/analytics.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/browserdetect.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/mediathread_setup.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/panel.js" %}'></script>
        <script  type="text/javascript" src='{% static "js/app/shield.js" %}'></script>

        <!--  Asset related -->
        <script type="text/javascript" src='{% static "js/app/assetmgr/asset.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/assetmgr/assetpanel.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/assetmgr/collection.js" %}'></script>

        <!--  Discussion related -->
        <script type="text/javascript" src='{% static "js/app/discussion/discussionpanel.js" %}'></script>

        <!--  Project related -->
        <script type="text/javascript" src='{% static "js/app/projects/projectpanel.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/projects/projectlist.js" %}'></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                // setup some ajax progress indicator
                jQuery("html").ajaxStart(function() {
                   jQuery(this).addClass("busy");
                })
                jQuery("html").ajaxStop(function() {
                   jQuery(this).removeClass("busy");
                });

                /* Select from list: Chrome, Firefox, Safari, MSIE */
                shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 10 });
                if (BrowserDetect.browser === 'Safari' &&
                        window.location.protocol !== 'https:') {
                    window.location =
                        window.location.href.replace('http://', 'https://');
                }

                jQuery("div.settings_menu").click(function(evt) {
                    evt.stopPropagation();

                    // close all other menus
                    var opening = jQuery(this).hasClass("closed");
                    jQuery("div.settings_submenu").hide();
                    jQuery("div.settings_menu").removeClass("open").addClass("closed");

                    // open this one if needed
                    if (opening) {
                        jQuery(this).removeClass("closed").addClass("open");
                        jQuery(this).nextAll("div.settings_submenu").toggle();
                    }
                });

                jQuery("body").click(function() {
                   jQuery("div.settings_submenu").hide();
                   jQuery("div.settings_menu").removeClass("open").addClass("closed");
                   jQuery("a.switcher-top.menuopen").click();
                });
            });
        </script>

        {% block js %}{% endblock %}
    {% endcompress %}

    {% if not debug %}
        <script>
            {% if settings.GOOGLE_ANALYTICS_ID %}
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{settings.GOOGLE_ANALYTICS_ID}}']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();

                var analytics = new MediathreadAnalytics(_gaq);
            {% endif %}
        </script>
    {% endif %}

    {% block uncompressable_js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-error" style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px; width: 100%;">
<h4>&nbsp;Warning: You are viewing a staging version of this site, not the production site.&nbsp;&nbsp;&nbsp;Last Updated: <b>{{STAGING_DEPLOY_TIME}}</b></h4>
</div>
{% endif %}

{% if not debug %}
<script src="//cdn.ravenjs.com/1.1.18/jquery,native/raven.min.js"></script>
<script>
 Raven.config('https://49021d8321684c2f9fe0fde14fbcdf8a@sentry.ccnmtl.columbia.edu/33', {
     whitelistUrls: [/mediathread\.stage\.ccnmtl\.columbia\.edu/]
 }).install();
 {% if user.is_anonymous %}
 Raven.setUserContext({
     email: 'none',
     id: 'anonymous'
 });
 {% else %}
 Raven.setUserContext({
     email: '{{user.email}}',
     id: '{{user.username}}'
 });
 {% endif %}
</script>
{% endif %}

</body>
{% endwith %}
</html>
