{% load cache user_projects coursetags compress static bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
{% with request.course as course %}
    <head><!-- {{controller_name}} :: {{template_name}} -->
        <meta charset="utf-8">
        <title>Mediathread {% block title %}&mdash; Switch Course{% endblock %}</title>

        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">

        <script type="text/javascript" src='{% static "jquery/js/jquery-2.2.4.min.js" %}'></script>
        {% bootstrap_javascript %}
        <script src='{% static "jquery/js/jquery-ui.min.js" %}'></script>
        <script src='{% static "jquery/js/jquery.mousewheel.min.js" %}'></script>
        <script src="{% static 'js/mustache/mustache.min.js' %}"></script>
        <script src="{{STATIC_URL}}js/flowplayer/flowplayer.min.js"></script>

        <script type="text/javascript" src="{% static 'js/lib/sherdjs/lib/OpenLayers-min.js' %}"></script>
        <script type="text/javascript" src="/jsi18n"></script>

        {% if settings.SENTRY_DSN and not debug %}
            <script
                src="https://browser.sentry-cdn.com/7.16.0/bundle.min.js"
                integrity="sha384-70hBom53vQV6XVoqnEzSlfP8AYzEm6CSuti85YyRLtmm/jbx0GryCQ1z5StcQwsz"
                crossorigin="anonymous"></script>
            <script>
                if (typeof Sentry !== 'undefined') {
                    Sentry.init({
                        dsn: '{{settings.SENTRY_DSN}}'
                    });
                    {% if request.user.is_anonymous %}
                    Sentry.setUser({
                        email: 'none',
                        id: 'anonymous'
                    });
                    {% else %}
                    Sentry.setUser({
                        email: '{{request.user.email}}',
                        id: '{{request.user.username}}'
                    });
                    {% endif %}
                }
            </script>
        {% endif %}

        <script src='{% static 'js/app/extension_updater.js' %}'></script>

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'jquery/css/jquery-ui.min.css' %}" media="screen" />
        <link rel="shortcut icon" href="{% static 'img/mediathread_favicon.ico' %}" type="image/x-icon"/>

        {% compress css %}
            <link rel="stylesheet" href='{% static "css/print.css" %}' media="print" />
            <link rel="stylesheet" href='{% static "css/mediathread.css" %}' media="screen" />
            {% block css %}{% endblock %}
        {% endcompress %}

        {% block uncompressable_css %}
        {% endblock %}

        {% block clientside_templates %}{% endblock %}

        <link rel="chrome-webstore-item"
              href="https://chrome.google.com/webstore/detail/gambcgmmppeklfmbahomokogelnaffbi">

        <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
        <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
    </head>

    {% course_role for request.user in course as role_in_course %}
    <body class="role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">
    <div id="dialog-confirm" style="display: none"></div>
    {% block container %}
    <div id="container">
        {% block masthead %}
            <!-- ###### Site banner ###### -->
            <div id="header">
                <div id="standardnav_container">
                <div id="mediathread_logo">
                    <a href="/">
                        <img src='{% static "img/logo_mediathread.svg" %}' alt="mediathread logo" width="156" height="45" />
                        <span class="sr-only">Home</span>
                    </a>
                </div>
                {% block standardnav %}
                   <ul id="standardnav">
                        {% if course %}
                            {% if role_in_course == "non-member" %}
                                <li>
                                    <span class="badge badge-warning">Course Non-member</span>
                                </li>
                            {% endif %}
                            {% if user.is_impersonate %}
                                <li>
                                    <a class="warning" href="/impersonate/stop/">Impersonate Stop</a>
                                </li>
                            {% endif %}

                            {% if role_in_course == 'instructor' and course %}
                            <li>
                                <a href="{% url 'course-settings-general' course.pk %}">
                                    Manage Course
                                </a>
                            </li>
                            <li>
                                <div class="settings_menu reports closed">
                                    <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                    <div class="left settings_menu_title">Reports</div>
                                </div>
                                <div class="visualclear"></div>
                                <!-- Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                     <a href="/reports/class_assignments/">Assignment Responses</a>
                                     <a href="/reports/class_activity/">Class Activity</a>
                                     <a href="/reports/class_summary/">Class Member Contributions</a>
                                    {% if user.is_staff %}
                                        <hr />
                                        <a href="/reports/activity/course/">Activity by Course</a>
                                        <a href="/reports/self-registration/">Self-Registration Report</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endif %}
                            <li>
                                {% block standardnav_help %}
                                    <div class="settings_menu help closed">
                                        <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                        <div class="left settings_menu_title">Help</div>
                                    </div>
                                    <div class="visualclear"></div>
                                    <!-- Settings Menu -->
                                    <div class="settings_submenu" style="display: none">
                                         <a href="/kb/">Knowledge Base</a>
                                         <a href="/contact/">Contact Us</a>
                                    </div>
                                {% endblock %}
                            </li>
                            <li class="divider-vertical"></li>
                            <li>
                                <div class="settings_menu user closed">
                                    <div class="right ui-icon-reverse ui-icon-triangle-1-s"></div>
                                    <div class="left settings_menu_title">{% public_name for user %}</div>
                                </div>
                                <div class="visualclear"></div>
                                <!-- Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                    {% if user.is_staff %}
                                        <a href="/admin/">Admin</a>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <a href="/impersonate/search/">Impersonate</a>
                                    {% endif %}

                                    {% num_courses for user as user_courses %}
                                    {% if role_in_course == 'instructor' or user_courses > 1 or user.is_staff %}
                                        <a href="/?unset_course">My Courses</a>
                                    {% endif %}

                                    {% if user.has_usable_password %}
                                        <a href="/accounts/password_change/">Change Password</a>
                                    {% endif %}

                                    <a href="/accounts/logout/?next=/">Log Out</a>
                                </div>
                            </li>
                        {% else %}
                            <li><div unselectable="on"><a href="/kb/">Help</a></div></li>
                            {% if request.user.is_authenticated %}
                                <li><a href="/accounts/logout/?next=/">Log Out</a></li>
                            {% else %}
                                <li><a href="/accounts/login/">Log In</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endblock %}
            </div>
            {% block courseinformation %}
                {% if not read_only_view %}
                    <div id="course_information">
                        <h1 id="course_title">
                            {% block coursetitle %}
                                {% if course and course.pk %}
                                    <a href="{% url 'course_detail' course.pk %}"
                                       id="course_title_link">{{course.title}}</a>
                                {% endif %}
                            {% endblock %}
                        </h1>
                        <div class="clear: right;"></div>
                    </div>
                {% endif %}
            {% endblock %}

            </div><!-- id="header" -->

        {% endblock %}

        <!-- ###### Don't touch this ###### -->
        <div class="visualclear"></div>

        <!-- ###### Page: Sidebars and Content ###### -->
        <div id="pagebody">
            <div id="shieldbox"></div>


            <!-- ###### Page Content ###### -->
            <div>
                {% block pagetitle %}{% endblock %}

                {% block messages %}
                    {% bootstrap_messages %}
                {% endblock %}

                {% block content %}{% endblock %}

                <!-- ###### Don't touch this ###### -->
                <div class="visualclear"></div><!-- id="visualclear" -->
                <div id="clearfooter"></div>
            </div>
        </div><!-- id="pagebody" -->
        {% endblock %}
    </div><!-- id="container" -->

    {% block footer %}
        <!-- ###### Footer ###### -->
        <div id="footer">

            <!-- CTL title/logo -->
            <a id="logo_ctl" href="https://ctl.columbia.edu" target="_blank" title="Columbia Center for Teaching and Learning">
                <img width="160" height="29.6"
                     src="{% static 'img/logo_ctl.png' %}" alt="CTL Logo">
                <span class="sr-only">Visit ctl.columbia.edu</span>
            </a>

           <ol id="footernav">
               <li><a href="https://mediathread.info" target="_blank">About</a></li>
               <li><a href="/contact/">Contact Us</a></li>
               <li><a href="/kb/">Help</a></li>
            </ol>
        </div><!-- id="footer" -->
    {% endblock %}

    {% block collection-modal %}
        {% if request.user.is_authenticated %}
        <!-- Collection Modal -->
        <div id="collection-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Course Collection</h4>
                    </div>
                    <div class="modal-body collection-body">
                        <div class="quick-edit" style="display: none"></div>
                        <div class="collection-view"></div>
                    </div>
                    <div class="next-page-loader" style="display: none">
                        <div>
                            <img alt="Loading..." src='{% static "img/ajax-loader-small.gif" %}'>
                            Loading more items
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {% endif %}
    {% endblock %}

    <script type="text/javascript">
        var STATIC_URL = '{{STATIC_URL}}';

        var lt = String.fromCharCode(60);
        if (window.jQuery) {
            jQuery.noConflict();
        }

        var MediaThread = new (function() {
            this.templates = {};
            {% if request.user.is_authenticated %}
                this.current_user = {{request.user.id}};
                this.current_username = "{{request.user.username}}";
                this.user_full_name = "{% public_name for request.user %}";
            {% endif %}

            {% if course %}
            this.current_course = {{ course.pk }};
            {% endif %}

            {% if the_response %}
            this.current_project = {{ the_response.pk }};
            {% elif project %}
            this.current_project = {{ project.pk }};
            {% endif %}
        })();
    </script>

        <script type="text/javascript" src='{% static "js/lib/json2.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/util.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/ajaxDelete.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/browserdetect.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/mediathread_setup.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/panel.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/shield.js" %}'></script>

        <!--  Asset related -->
        <script type="text/javascript" src='{% static "js/app/assetmgr/asset.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/assetmgr/assetpanel.js" %}'></script>
        <script type="module" src='{% static "js/app/assetmgr/collection.js" %}'></script>

        <!--  Discussion related -->
        <script type="text/javascript" src='{% static "js/app/discussion/discussionpanel.js" %}'></script>

        <!--  Project related -->
        <script type="text/javascript" src='{% static "js/app/projects/projectpanel.js" %}'></script>
        <script type="text/javascript" src='{% static "js/app/projects/projectlist.js" %}'></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {

                // setup some ajax progress indicator
                jQuery("html").ajaxStart(function() {
                   jQuery(this).addClass("busy");
                })
                jQuery("html").ajaxStop(function() {
                   jQuery(this).removeClass("busy");
                });

                /* Select from list: Chrome, Firefox, Safari, MSIE */
                shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 10 });

                jQuery("div.settings_menu").click(function(evt) {
                    evt.stopPropagation();

                    // close all other menus
                    var opening = jQuery(this).hasClass("closed");
                    jQuery("div.settings_submenu").hide();
                    jQuery("div.settings_menu").removeClass("open").addClass("closed");

                    // open this one if needed
                    if (opening) {
                        jQuery(this).removeClass("closed").addClass("open");
                        jQuery(this).nextAll("div.settings_submenu").toggle();
                    }
                });

                jQuery("body").click(function() {
                   jQuery("div.settings_submenu").hide();
                   jQuery("div.settings_menu").removeClass("open").addClass("closed");
                   jQuery("a.switcher-top.menuopen").click();
                });
            });
        </script>

        {% block js %}{% endblock %}

    {% comment %} {% if not debug %} {% endcomment %}
        {% if settings.GOOGLE_ANALYTICS_ID %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{settings.GOOGLE_ANALYTICS_ID}}"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{settings.GOOGLE_ANALYTICS_ID}}', { 'anonymize_ip': true });
            </script>
        {% endif %}
    {% comment %} {% endif %} {% endcomment %}

    {% block uncompressable_js %}{% endblock %}

    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="position: fixed; bottom: 0px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="alert-heading">Warning: Staging Site</h4>
            <p>You are viewing a staging version of this site, not the production site.</p>
            <p>This site was last updated on: <strong>{{STAGING_DEPLOY_TIME}}</strong></p>
        </div>
    {% endif %}

</body>
{% endwith %}
</html>
