{% comment %}
A new base.html without the course context overwritten in the template.
{% endcomment %}

{% load user_projects coursetags compress static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mediathread {% block title %}{% endblock %}</title>

        <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">

        <script src='{% static "jquery/js/jquery-3.5.1.min.js" %}'></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat:bold|Open+Sans|Open+Sans:bold" rel="stylesheet">

        <script src='{% static "jquery/js/jquery-ui.min.js" %}'></script>
        <script src='{% static "jquery/js/jquery.mousewheel.min.js" %}'></script>
        <script src="{% static 'js/mustache/mustache.min.js' %}"></script>
        <script src="{% static 'js/flowplayer/flowplayer.min.js' %}"></script>

        <script src="{% static 'js/lib/sherdjs/lib/OpenLayers-min.js' %}"></script>
        <script src="/jsi18n"></script>

        {% if not debug %}
            <script
                src="https://browser.sentry-cdn.com/5.9.1/bundle.min.js"
                integrity="sha384-/x1aHz0nKRd6zVUazsV6CbQvjJvr6zQL2CHbQZf3yoLkezyEtZUpqUNnOLW9Nt3v"
                crossorigin="anonymous"></script>
            <script>
            Sentry.init({
                dsn: 'https://a22770cb4ac744bbaf2b1ec76281e7ed@sentry.io/102468',
                whitelistUrls: [/mediathread\.stage\.ctl\.columbia\.edu/]
            });
            {% if user.is_anonymous %}
            Sentry.setUser({
                email: 'none',
                id: 'anonymous'
            });
            {% else %}
            Sentry.setUser({
                email: '{{user.email}}',
                id: '{{user.username}}'
            });
            {% endif %}
            </script>
        {% endif %}

        <script src='{% static 'js/app/extension_updater.js' %}'></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'jquery/css/jquery-ui.css' %}" media="screen" />
        <link rel="shortcut icon" href="{% static 'img/mediathread_favicon.ico' %}" type="image/x-icon"/>

        {% compress css %}
        <link rel="stylesheet" href='{% static "css/mediathread_new.css" %}' media="screen" />
        <link rel="stylesheet" href='{% static "css/ol.css" %}' media="screen" />
        {% block css %}{% endblock %}
        {% endcompress %}

        {% block uncompressable_css %}
        {% endblock %}

        <link rel="chrome-webstore-item"
              href="https://chrome.google.com/webstore/detail/gambcgmmppeklfmbahomokogelnaffbi">

        <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
        <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
    </head>

    {% course_role for request.user in request.course as role_in_course %}
    <body class="role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">
        <div id="skip">
            <a href="#pagecontent">Skip to main content</a>
        </div>

        <div id="dialog-confirm" style="display: none"></div>

        {% block masthead %}
            {% include "navbar.html" %}
        {% endblock %}

        {% block container %}
            <main class="container-fluid">
                {% block courseinformation %}
                    {% if not read_only_view %}
                        <h6 id="course-title" class="course-title">
                            {% block coursetitle %}
                                {{request.course.title}}
                            {% endblock %}
                        </h6>
                    {% endif %}
                {% endblock %}

                <!-- ###### Don't touch this ###### -->
                <div class="visualclear"></div>

                <!-- ###### Page: Sidebars and Content ###### -->
                <div id="pagebody">

                    <!-- ###### Page Content ###### -->
                    <div>
                        {% block pagetitle %}{% endblock %}

                        {% block messages %}
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endblock %}

                        <div id="pagecontent">
                            {% block content %}{% endblock %}
                        </div>

                        <!-- ###### Don't touch this ###### -->
                        <div class="visualclear"></div><!-- id="visualclear" -->
                        <div id="clearfooter"></div>
                    </div>
                </div><!-- id="pagebody" -->
            </main><!-- class="container" -->
        {% endblock %}

        {% block footer %}
            <footer class="text-muted bg-light mt-5">
                <ul class="footer-navigation d-print-none">
                    <li><a title="About page" href="/about/">About</a></li>
                    <li><a title="Contact page" href="/contact/">Contact</a></li>
                    <li><a title="Help page" href="http://support.ctl.columbia.edu/knowledgebase/topics/6593-mediathread">Help</a></li>
                    <li><a title="GitHub Repository" href="https://github.com/ccnmtl/mediathread">GitHub</a></li>
                    <li><a id="report-a-bug" title="Report a bug" href="#">Report a bug</a></li>
                </ul>

                <ul class="footer-logo row container mx-auto pt-4 pt-md-4 pt-lg-5">
                    <li class="col-md pb-4 px-0 py-md-0">
                        <a href="https://ctl.columbia.edu" target="_blank">
                            <img src="{{STATIC_URL}}img/logo/logo-footer-ctl-print.svg"
                                class="d-none d-print-block">
                            <img src="{{STATIC_URL}}img/logo/logo-ctl-color.png"
                                alt="Center for Teaching & Learning Logo"
                                class="d-print-none">
                        </a>
                    </li>
                </ul>
            </footer>
        {% endblock %}

            {% block collection-modal %}
                {% if request.user.is_authenticated %}
                    <!-- Collection Modal -->
                    <div id="collection-modal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Course Collection</h4>
                                </div>
                                <div class="modal-body collection-body">
                                    <div class="quick-edit" style="display: none"></div>
                                    <div class="collection-view"></div>
                                </div>
                                <div class="next-page-loader" style="display: none">
                                    <div>
                                        <img alt="Loading..." src='{% static "img/ajax-loader-small.gif" %}'>
                                        Loading more items
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endif %}
            {% endblock %}

            <script>
            var STATIC_URL = '{{STATIC_URL}}';

            var lt = String.fromCharCode(60);
            if (window.jQuery) {
                jQuery.noConflict();
            }

            var MediaThread = new (function() {
                this.templates = {};
                {% if request.user.is_authenticated %}
                this.current_user = {{request.user.id}};
                this.current_username = "{{request.user.username}}";
                this.user_full_name = "{% public_name for request.user %}";
                this.assignments_todo = {{assignments_todo}};
                {% endif %}

                {% if request.course %}
                this.current_course = {{ request.course.pk }};
                {% endif %}

                {% if the_response %}
                this.current_project = {{ the_response.pk }};
                {% elif project %}
                this.current_project = {{ project.pk }};
                {% endif %}

                this.tag_cache = {};
            })();
            </script>

            {% compress js %}
            <script src='{% static "js/lib/json2.js" %}'></script>
            <script src='{% static "js/app/util.js" %}'></script>
            <script src='{% static "js/app/ajaxDelete.js" %}'></script>
            <script src='{% static "js/app/analytics.js" %}'></script>
            <script src='{% static "js/app/mediathread_setup.js" %}'></script>
            <script src='{% static "js/app/panel.js" %}'></script>

            <!--  Asset related -->
            <script src='{% static "js/app/assetmgr/asset.js" %}'></script>
            <script src='{% static "js/app/assetmgr/assetpanel.js" %}'></script>
            <script src='{% static "js/app/assetmgr/collection.js" %}'></script>

            <!--  Discussion related -->
            <script src='{% static "js/app/discussion/discussionpanel.js" %}'></script>

            <!--  Project related -->
            <script src='{% static "js/app/projects/projectpanel.js" %}'></script>
            <script src='{% static "js/app/projects/projectlist.js" %}'></script>

            <script>
            jQuery(document).ready(function() {

                // setup some ajax progress indicator
                jQuery("html").ajaxStart(function() {
                    jQuery(this).addClass("busy");
                })
                jQuery("html").ajaxStop(function() {
                    jQuery(this).removeClass("busy");
                });

                jQuery("div.settings_menu").click(function(evt) {
                    evt.stopPropagation();

                    // close all other menus
                    var opening = jQuery(this).hasClass("closed");
                    jQuery("div.settings_submenu").hide();
                    jQuery("div.settings_menu").removeClass("open").addClass("closed");

                    // open this one if needed
                    if (opening) {
                        jQuery(this).removeClass("closed").addClass("open");
                        jQuery(this).nextAll("div.settings_submenu").toggle();
                    }
                });

                jQuery("body").click(function() {
                    jQuery("div.settings_submenu").hide();
                    jQuery("div.settings_menu").removeClass("open").addClass("closed");
                    jQuery("a.switcher-top.menuopen").click();
                });
            });
            </script>

            {% block js %}{% endblock %}
    {% endcompress %}

    {% if not debug %}
        <script>
        {% if settings.GOOGLE_ANALYTICS_ID %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{settings.GOOGLE_ANALYTICS_ID}}']);
        _gaq.push (['_gat._anonymizeIp']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        var analytics = new MediathreadAnalytics(_gaq);
        {% endif %}
        </script>
    {% endif %}

    {% if settings.JIRA_CONFIGURATION %}
        <script type="text/javascript" src="{{settings.JIRA_CONFIGURATION}}"></script>
        <script>
        window.ATL_JQ_PAGE_PROPS = {
            "triggerFunction": function(showCollectorDialog) {
                jQuery("#report-a-bug").click(function(e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }
         };
        </script>
    {% endif %}



    {% block uncompressable_js %}{% endblock %}

    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="position: fixed; bottom: 0px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="alert-heading">Warning: Staging Site</h4>
            <p>You are viewing a staging version of this site, not the production site.</p>
            <p>This site was last updated on: <strong>{{STAGING_DEPLOY_TIME}}</strong></p>
        </div>
    {% endif %}

    </body>
</html>
