{% load user_projects coursetags static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
<a title="Mediathread" class="navbar-brand" href="/">
  <img src='{% static "img/logo-mediathread-bgdark.svg" %}' height="50" alt="Mediathread" />
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav w-100">

    <!-- Only show if not logged in -->
    {% if not request.user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"
               id="public-navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Learn More
        </a>
        <div class="dropdown-menu" aria-labelledby="public-navbarDropdown">
            <a class="dropdown-item" href="/about/">About Mediathread</a>
            <a class="dropdown-item" href="/testimonials/">Testimonials</a>
            <a class="dropdown-item" href="/history/">Mediathread History</a>
        </div>
        </li>
    {% endif %}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="useMediathread-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Use Mediathread </a>
        <div class="dropdown-menu" aria-labelledby="useMediathread-navbarDropdown">
            <a class="dropdown-item" href="/value/">Pedagogical Value</a>
            <a class="dropdown-item" href="/examples/">Examples</a>
        </div>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="getSupport-navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Get Support </a>
        <div class="dropdown-menu" aria-labelledby="getSupport-navbarDropdown">
            <a class="dropdown-item" href="/faculty/">Faculty</a>
            <a class="dropdown-item" href="/students/">Students</a>
            <a class="dropdown-item" href="http://support.ctl.columbia.edu/knowledgebase/topics/6593-mediathread">Knowledge Base</a>
            <a class="dropdown-item" href="{% url 'contact-us' %}">Contact Us</a>
        </div>
        </li>

    <!-- Only show if not logged in -->
    {% if not request.user.is_authenticated %}
        <li class="nav-item"> <a class="nav-link" href="/getinvolved/"> Get Involved </a> </li>
    {% endif %}

    <!-- Logged in logic -->
    {% if role_in_course == 'instructor' and request.course %}
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'course-settings-general' request.course.pk %}"
               title="Manage Course">
                Manage Course
            </a>
        </li>
    {% endif %}

    {% if user.is_impersonate %}
        <li class="nav-item">
            <a class="btn btn-outline-danger" role="button"
               href="/impersonate/stop/" title="Impersonate Stop">
                Impersonate Stop</a>
        </li>
    {% endif %}

        <li class="nav-item dropdown ml-auto">

          {% if request.user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" id="userMenu"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if role_in_course == "non-member" %}
                    <span class="badge badge-warning">Course Non-member</span>
                {% endif %}

                {% if user.first_name %}
                  Hi, {{ user.first_name }}! ({{ user.username }})
                {% else %}
                  Hi, {{ user.username }}!
                {% endif %}
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'course_list' %}" title="My Courses">
                    My Courses
                </a>

                {% if user.has_usable_password %}
                    <a class="dropdown-item" href="/accounts/password_change/" title="Change Password">
                        Change Password
                    </a>
                {% endif %}

                {% if user.is_staff %}
                    <a class="dropdown-item" href="/admin/" title="Administer">Administer</a>
                {% endif %}

                {% if user.is_superuser %}
                    <a class="dropdown-item" href="/impersonate/search/" title="Impersonate">
                        Impersonate</a>
                {% endif %}
            </div>
          {% endif %}
        </li>

        <li class="nav-item">
            {% if request.user.is_authenticated %}
                <a class="btn btn-outline-light btn-block sign-out" role="button"
                   href="/accounts/logout/?next=/" title="Sign Out">
                    Sign Out
                </a>
            {% else %}
                <a href="/accounts/register/" class="btn btn-outline-secondary" style="margin-right:.25em;">Sign Up</a>
                <a href="/accounts/login/" class="btn btn-outline-light">Sign In</a>
            {% endif %}
        </li>
  </ul>
</div>
</nav>
