{############### OBSCURED: NOT USED ###############}
{% extends "base.html" %}
<title> {% block title %}
Class Analysis > Member Pages
{% endblock %}</title>


{% block content %}
  {{ block.super }}

<h1>Member Pages</h1>

{% load smartif %}
<ul>
{% for member in request.course.members %}
<li>
  <h3><a href="{% url your-space-records member.username %}"
	 >{{member.get_full_name|default:member.username}}</a>
      {% if member in request.course.faculty %}
      (instructor)
      {% endif %}
  </h3>

  {% load user_projects %}
  {% get_projects by member in request.course for request as projects %}
  {% if projects %}
     <h4>Completed Projects</h4>
     <ul>
       {% for project in projects %}
       <li><a href="{% url project-view project.pk %}">{{project.title}}</a>
       {% endfor %}
     </ul>
  {% endif %}
</li>
{% endfor %}

</ul>

{% endblock %}
