{% extends "base.html" %}
{%load user_annotations comments %}

<title> {% block title %}
Course Summary
{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/hs.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
<h1>Instructor Class Report </h1>    
<div class="panel">    
  <div style="float:left;width:35%">
  <div class="panel-column">
    <h2>Student Summary</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Annotations</th>
          <th>Projects</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td><a href="{%url your-space-records student.username %}">
            {{student.get_full_name|default:student.username}}
          </a></td>
          <td>{{student.annotations}}</td>
          <td>{{student.projects}}</td>
          <td>{{student.comments}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  <div style="float:left;width:60%">
  <div class="panel-column">
    <h2>All Recent Class Activity</h2>
    <div class="scroll">
      <ul class="clumper">
	{%for clump in my_feed%}
            {%include "projects/clump.html" %}
	{%endfor%}
      </ul>
    </div>
  </div> 
  </div> 

  <div class="visualclear"></div>
  
</div>

{% endblock %}
