{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects threadedcomments_tags coursetags %}

{% block title %}
{% if is_space_owner %}
    My Compositions > 
    {% if project.title %}{{project.title}}{% else %}New Composition{% endif %}
{% else %}
    Class Analysis > 
    {{space_owner.username}}'s Compositions > 
    {% if project.title %}{{project.title}}{% else %}New Composition{% endif %}
{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/site_media/css/project.css" />
    <script type="text/javascript" src="/jsi18n"></script>
    {{ projectform.media }}

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript/css -->
    {% include "djangosherd/annotator_resources.html" %}

    <script type="text/javascript" src="/site_media/js/project/project.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/mustache/mustache.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/assetmgr/asset.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/hs.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/jquery.colorBlend.js"></script>
    <script type="text/javascript" src="/site_media/js/ajaxDelete.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/panel.js?version={{settings.REVISION}}"></script>
    
    <script type="text/javascript">
        function resizeEditProjectPage() {
            var visible = getVisibleContentHeight();
            jQuery('#essay-space-materials').css('height', visible + "px");
            jQuery('div.scroll').css('height', (visible - 77) + "px");
            jQuery('div.editing').css('height', (visible - 56) + "px");
            
            visible -= jQuery("#project_participants").innerHeight();
            jQuery('#project-content_tbl').css('height', (visible - 150) + "px");
            jQuery('#project-content_ifr').css('height', (visible - 150) + "px");
            //jQuery('#project-content_tbl').css('width', "100%");
        }
      
        jQuery(document).ready(function () {
            ProjectView.initEditing({
                'open_from_hash':false, 
                'project_json':'./json', 
                'project_id': '{{project.id}}',
                'space_owner': '{% ifnotequal role_in_course "non-member" %}{{space_owner.username}}{% endifnotequal %}',
                'view_callback': resizeEditProjectPage,
                'enable_project_selection': false
            }); 

            PanelManager.init();

            jQuery(window).resize(function () {  
                resizeEditProjectPage();
            });
        });
  </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    
<table id="assignment-container">
 
 
<!--BEGIN TOP ROW--> 

       <tr id="top-borders">
            <!--BEGIN ASSIGNMENT PANEL-->   
            
                <td id="assignment-panhandle-topleft" class="panhandle-topleft-container">
                <div class="panhandle-topleft assignment"></div>
                </td>
                
                <td id="assignment-panhandle-stripetop" class="panhandle-stripetop assignment">
                </td>
                
                <td id="assignment-panel-topborder">
                </td>
                
                <td id="assignment-paneltab">
                </td>
                
            <!--END ASSIGNMENT PANEL-->  
            <!--BEGIN COMPOSITION PANEL-->
            
                <td id="composition-panhandle-topleft" class="panhandle-topleft-container">
                <div class="panhandle-topleft composition"></div>
                </td>
                
                <td id="composition-panhandle-stripetop" class="panhandle-stripetop composition">
                </td>
                
                <td id="composition-panel-topborder">
                </td>
                
                <td id="composition-paneltab">
                </td>
                
            
            <!--END COMPOSITION PANEL-->
       </tr>
       

<!--END TOP ROW-->   
<!--BEGIN CONTENT ROW-->
       
       
       <tr id="table-content">
    
    <!--BEGIN ASSIGNMENT PANEL-->   
    
        <td id="assignment-panhandle-left" class="panhandle-left-container">
        <div class="panhandle-left assignment"></div>
        </td>
        
        <td id="assignment-panhandle-stripe" class="panhandle-stripe assignment">
        <div id="assignment-panhandle-label" class="label">Assignment</div>
        </td>
        
        
        <td id="assignment-panel">
        </td>
        
        <td id="assignment-paneltab-spacer">
        </td>
        
    <!--END ASSIGNMENT PANEL-->  
    <!--BEGIN COMPOSITION PANEL-->
    
        <td id="composition-panhandle-left" class="panhandle-left-container">
        <div class="panhandle-left composition"></div>
        </td>
        
        <td id="composition-panhandle-stripe" class="panhandle-stripe composition">
        <div id="composition-panhandle-label" class="label">Composition</div>
        </td>
        
        <td id="composition-panel">
        </td>
        
        <td id="composition-paneltab-spacer">
        </td>
        
    
    <!--END COMPOSITION PANEL-->
    
        </tr>

<!--END CONTENT ROW-->   
<!--BEGIN BOTTOM ROW-->

       <tr id="bottom-borders">
          <!--BEGIN ASSIGNMENT PANEL-->   
    
        <td id="assignment-panhandle-bottomleft" class="panhandle-bottomleft-container">
        <div class="panhandle-bottomleft assignment"></div>
        </td>
        
        <td id="assignment-panhandle-stripebottom" class="panhandle-stripebottom assignment">
        </td>
        
        <td id="assignment-panel-bottomborder">
        </td>
        
        <td id="assignment-paneltab-spacer">
        </td>
        
    <!--END ASSIGNMENT PANEL-->  
    <!--BEGIN COMPOSITION PANEL-->
    
        <td id="composition-panhandle-bottomleft" class="panhandle-bottomleft-container">
        <div class="panhandle-bottomleft composition"></div>
        </td>
        
        <td id="composition-panhandle-stripebottom" class="panhandle-stripebottom composition">
        </td>
        
        <td id="composition-panel-bottomborder">
        </td>
        
        <td id="composition-paneltab-spacer">
        </td>
        
    
    <!--END COMPOSITION PANEL-->
       
       </tr>
   
<!--END BOTTOM ROW-->

</table>
    
    

{% endblock %}
