{% extends "base.html" %}
{% load user_annotations comments collaborations %}

<title> {% block title %}
Home
{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/ajaxDelete.js"></script>
<script type="text/javascript" src="/site_media/js/hs.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
<div class="panel">    



  {%if not display.course %}
  <div class="panel-column">
    <a href="{% url asset-container %}" class="float_right">View All</a>
    <h2>Instructor Activity</h2>
    <div class="scroll">
    </div>
  </div>
  {%endif%}
  <div id="class_activity">
  <h2>Class Activities
   {% if request.user.is_staff %}
     <a class="float_right" href="{%url admin:courseaffils_course_change course_id %}">Staff link: Manage Course</a></span>
   {% endif %}
  </h2>


<div class="panel-column panel-column-stump">
  
  <h2>Top Tags</h2>

  <div class="scroll">
    <ul class="tags">
    {% for tag in tag_cloud %}
    <li>
      <span class="size{{tag.font_size}}">
	<a href="{% url asset-container %}?tag={{tag.name}}">
	  {{tag.name}}</a>
      </span>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>

  <div class="panel-column
	      {%if not display.course %}panel-column-stump{%endif%}
	      ">
    <h2>Updates to My Items <a class="hs-control intro-open" href="#intro-updates">?</a></h2>
    <div class="scroll">
      <ul class="clumper">
        <li id="intro-updates" class="hs-init-{% if my_feed %}hide{% else %}show{% endif %}">
          <div class="intro-text">
            <a class="hs-control control-close" href="#intro-updates">x</a>
            <p>
              MediaThread allows you to Collect Items and Annotate Selections available from <a href="{%url explore %}">Browse Sources</a>. 
              You can then easily embed your Selections into <a href="{% url your-space-records user %}">Compositions.</a>
            </p>
            <p>This space will display updates to: </p>
            <ul class="intro-text">
              <li><a href="{% url your-space-records user %}">Your Collections</a>: new Selections by you or your classmates from Items you have Collected. </li>
              <li><a href="{% url your-space-records user %}">Compositions</a>: Edits by you or one of your collaborators, if any. References in Compositions to Items you have Collected.</li>
            </ul>
          </div>
        </li>
	{%for clump in my_feed%}
            {%include "projects/clump.html" %}
	{%endfor%}
      </ul>
    </div>
 </div> 

 <div class="visualclear"></div>



 

</div>


{% endblock %}
