{% extends "base.html" %}
{% load user_annotations comments collaborations %}

<title> {% block title %}
Home
{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/ajaxDelete.js"></script>
<script type="text/javascript" src="/site_media/js/hs.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
<div class="panel">    
  <div class="panel-light">
  {%if display.instructor or is_faculty %}
  <div class="panel-column">
    <h2>Instructor's Focus</h2>
    <div class="scroll">

    {%if faculty_feed.projects %}
      <h3>START HERE:</h3>
      <ul>
	{%for p in faculty_feed.projects %}
	{% if_permission to "add_child" with p.collaboration for request as can_add_child %}
	{% if can_add_child %}
	<li class="assignment"><a href="{%url project-view p.id %}">{{p.title}}</a> (assignment)</li>
	{% else %}
	<li><a href="{%url project-view p.id %}">{{p.title}}</a></li>
	{% endif %}

	{%endfor%}
      </ul>
    {%endif%}

    {%if faculty_feed.assets %}
     <h3>ITEMS OF INTEREST</h3>
      <ul>
	{%for a in faculty_feed.assets%}
	<li><a href="{{a.get_absolute_url}}">{{a.title}}</a></li>
	{%endfor%}
      </ul>
    {%endif%}

    {%if faculty_feed.tags %}
      <h3>PRIORITY TAGS</h3>
      <ul class="tags">
	{% for tag in faculty_feed.tags %}
	<li>
	  <span class="size{{tag.font_size}}">
	    <a href="{% url asset-container %}?tag={{tag.name}}">
	      {{tag.name}} 
	    </a>
	  </span>
	</li>
	{% endfor %}
      </ul>
    {%endif%}
    {% if is_faculty and not faculty_feed.projects %}
    <div class="intro-text">
      <h3>Instructor projects are posted here.</h3>
      <p>
        For students 'projects' are their assignment submissions. For you, an instructor, 
        submitting a project posts it to the home page here.  Use this for
        intro notes, sample assignments, assignment instructions--even to make a syllabus!
        </p><p>     
        If you do not create and submit any project, this pane will not be 
        visible to students.
        </p><p>     
        We suggest that any assignment instructions should include direction
        on what kinds of assets are acceptable.  In the past, without direction, students, have posted links to YouTube and other miscellaneous web resources when a particular archive was meant to be the focus.
      </p>
    </div>
    {% endif %}

    </div>


  </div>
  {%endif%}{#display.instructor#}



{%if discussions or is_faculty %}
 <!-- start discussion list -->
  <div class="panel-column
	      {%if not display.course %}panel-column-stump{%endif%}
	      ">
    <h2>Class Discussions</h2>
    <div class="scroll">
      <ul>
	    {%for disc in discussions%}
	        <li id="discussion-{{disc.id}}">
                  <div class="actions">
                    {% if is_faculty %}
                      <a onclick="return ajaxDelete(this, 'discussion-{{disc.id}}')"
                         href="{% url discussion-view disc.id %}?delete">
                      <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove this Discussion"  /></a>
                    {% endif %}

                  </div>
	          <div class="asset_title type-collaboration">
	            <a href="/discussion/show/{{disc.id}}" class="title">{%firstof disc.title disc.content_object.title "Untitled" %}</a>
                    {% get_comment_count for disc.content_object as comment_count%}
                    ({{comment_count}})
	          </div>
	        </li>
	    {%endfor%}
            {%if is_faculty %}
    	 <li>
            <form action="/discussion/new/" method="POST">
              <!--h4>Start a New Discussion</h4>
                        <label for="id_comment_html" >Enter Title:</label-->
                        <input type="hidden" name="comment_html" value="Discussion Title" />
                        <input type="hidden" name="app_label" value="courseaffils"/>
                        <input type="hidden" name="model" value="course"/>
                        <input type="hidden" name="obj_pk" value="{{course_id}}"/>
                        <input type="submit" value="Create New Discussion"/>
            </form>
        </li>
        {%endif%} <!--end is_faculty-->
      </ul>
    </div>
 </div>
 
 <!-- end discussion list -->
 {%endif%} <!--end discussions or is_faculty-->

  </div><!--optional left column-->



  {%if not display.course %}
  <div class="panel-column">
    <a href="{% url asset-container %}" class="float_right">View All</a>
    <h2>Instructor Activity</h2>
    <div class="scroll">
    </div>
  </div>
  {%endif%}
  <div id="class_activity">
  <h2>Class Activities
      {% if is_faculty %}
      <a class="panel-title-addendum" href="{%url class-summary %}">Instructor's Class Report</a>
      {% endif %}
  </h2>


<div class="panel-column panel-column-stump">
  
  <h2>Top Tags</h2>

  <div class="scroll">
    <ul class="tags">
    {% for tag in tag_cloud %}
    <li>
      <span class="size{{tag.font_size}}">
	<a href="{% url asset-container %}?tag={{tag.name}}">
	  {{tag.name}}</a>
      </span>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>

  <div class="panel-column
	      {%if not display.course %}panel-column-stump{%endif%}
	      ">
    <h2>Updates to My Items <a class="hs-control hs-nostyle" href="#intro-updates">?</a></h2>
    <div class="scroll">
      <ul class="clumper">
        <li id="intro-updates" class="hs-init-{% if my_feed %}hide{% else %}show{% endif %}">
          <div class="intro-text">
            <p>
              MediaThread allows you to collect and annotate items available from <a href="{%url explore %}">Explore Collections</a>. 
              You can then easily embed your annotations into <a href="{% url your-space-records user %}">projects</a> and (if enabled by your instructor) discussions. 
            </p>
            <p>This space will display updates to: </p>
            <ul class="intro-text">
              <li><a href="{% url your-space-records user %}">Your Saved Items</a>: new annotations by you or your classmates on items you have collected. </li>
              <li><a href="{% url your-space-records user %}">Projects</a>: changes by you or one of your project collaborators, if any. </li>
              <li><b>Discussions</b>: new messages in a discussion you have participated in or that mention items you have collected. </li>
            </ul>
          </div>
        </li>
	{%for clump in my_feed%}
            {%include "projects/clump.html" %}
	{%endfor%}
      </ul>
    </div>
 </div> 

 <div class="visualclear"></div>

</div>

 

</div>


{% endblock %}
