{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects threadedcomments_tags %}

<title> {% block title %}
{% if is_space_owner %}
    My Projects > 
    {% if project.title %}{{project.title}}{% else %}New project{% endif %}
{% else %}
    Class Analysis > 
    {{space_owner.username}}'s Projects > 
    {% if project.title %}{{project.title}}{% else %}New project{% endif %}
{% endif %}
{% endblock %}</title>

{% block css %}
<link rel="stylesheet" href="/site_media/css/project.css" />  
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="/site_media/js/hs.js"></script>
  <script type="text/javascript" src="/site_media/js/vital3/assetwindow.js"></script>

  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}

  <script type="text/javascript">        
    DjangoSherd_Project_Config(/*no_open_from_hash=*/ true);           
  </script>
  <!--END for showing Annotations -->

  <script type="text/javascript" src="/site_media/js/project/project.js"></script>
  <!--script type="text/javascript" src="/site_media/js/project/editor.js"></script-->

{% endblock %}

{% block content %}
  {{ block.super }}
  <table id="top-slider">
    <tbody>
    <tr>
      <td class="slider-cell slider-edge">
	<h2>« <span id="slider-left-edge"></span></h2>
      </td>
      <td class="slider-cell">
        <div id="asset_browse_col" class="asset-table"
             data-ajax="{%url annotations-fragment space_viewer.username%}"
             >
          {# added into ajax #}
          {#% include "assetmgr/asset_table.html" %#}
          Loading Saved Items...
        </div>
      </td>
      <td class="slider-cell">
  <div class="essay-space slider-column">
    <form class="yui-skin-sam" name="editproject" method="POST" action=".">

    <!-- IMPORTANT!!! yui-skin-sam is necessary for YUI editor -->
   
      
	<h2>Title: {{projectform.title}}</h2>
	<div id="essaybox" class="essaytextarea">
          <script type="text/javascript">
            var tinyMCEPreInit = {query:'',suffix:'',base:'/site_media/js/sherdjs/lib/tiny_mce3/jscripts/tiny_mce'};
          </script>
          <script type="text/javascript" src="/site_media/js/sherdjs/lib/tiny_mce3_min.js"></script>
          <script type="text/javascript" src="/site_media/js/vital3/tiny_mce_init3.js"></script>
          <textarea id="project-content" tabindex="0" name="body" 
                    class="mceEditor"
                    mce_editable="true">{{project.body|safe}}</textarea>
	  {#{{projectform.body}}#}
	  <div id="project-template" style="display:none;"></div>
	  <script type="text/javascript">
	    if ($("project-content").innerHTML == "") {
	      if ($("project-template") != null) {
	        $("project-content").innerHTML = $("project-template").innerHTML;
	      }
	    }
	  </script>
	</div><!-- end -->
	
        <div id="project_participants">
          <div id="participant_update" style="display:none">Save the project to save new collaborator list.</div>
          <b>{{projectform.participants.label_tag}}:</b>
          <div id="participants_chosen"
                >{%for part in project.participants.all %}{%if not forloop.first%},{%endif%}
          {{part.get_full_name|default:part.username}}{%endfor%}</div>
          <a class="hs-control hs-control-show plist" href="#participant_list">Edit&nbsp;Collaborators</a>
          <br />
          <div id="participant_list" class="hs-init-hide hs-hide"> 
            <p>{{projectform.participants.help_text }}</p>
            <a id="participants_close" class="hs-control hs-control-show plist float" href="#participant_list" >Change Collaborators</a>
            {{projectform.participants}} 
          </div>
        </div><!-- end id="project_participants" -->
      
      
        <br /> 
        <input type="submit" name="submit" value="Save draft"/>
        <input type="submit" name="submit" value="Preview"/>
        <input type="submit" name="submit" value="Submit"/>
   
    </form>


  </div><!-- end class="essay-space" -->
      </td>
      <td class="slider-cell slider-edge">
	<h2><span id="slider-right-edge"></span> »</h2>
      </td>
    </tr>
    </tbody>
  </table>

{% endblock %}
