{% load user_annotations tagging_tags smartif user_projects %}

{% if not projects %}
 <p class="para">
 {% if editable %}No projects yet.
 {% else %}No (viewable) projects yet.
 {% endif %}
 </p>
{% endif %}
{% if editable %}

   <form class="block project-createnew" method="POST" action="{%url your-space-projects user%}">
     <input type="hidden" name="title" />
     <input class="project-createnew-button" type="submit" value="Create a new project!"/>
   </form>
{% endif %}

  {% for project in projects %}

  <div id="project-{{project.pk}}">

    <div class="projectlist">
      
      <h3>
	
	{% if editable %}
    
	<div class="actions">
	  <a onclick="return ajaxDelete(this, 'project-{{project.pk}}');"
	     href="{%url project-workspace project.id %}?delete"><img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Delete"  /></a>
	</div>
	<a href="{%url project-workspace project.id %}"
	   class="asset_title type-project"
	   >{{project.title|default:"(Untitled)"}}</a>
        {% else %}
	<a href="{%url project-view project.id %}"
	   class="asset_title type-project"
	   >{{project.title|default:"(Untitled)"}}</a>
	{% endif %}
	
      </h3>
    
   
      <div id="project-{{project.pk}}-metadata">
	   <ul>
	     <li>Collaborators: 
	     <!--careful with whitespace here, since we want the comma to hug the previous
		 name-->
	     <span id="participants_chosen">{{project.attribution}}</span>
	     </li>
	     <li>Last modified: {{project.modified|date}}</li>
             <li>Status: {{project.status|safe}}</li>
             {% if project.feedback_discussion %}             
	     <li><a href="{%url show_discussion project.feedback_discussion.pk %}">Feedback</a></li>
             {%endif%}
	   </ul>

	 </div><!-- id=project-pk-metadata -->
       </div><!-- id=projectlist -->
     </div><!-- id=project-pk -->
     {% endfor %}<!--for project in projects -->
