{% load user_annotations tagging_tags smartif user_projects %}

{% if not projects and not assignments %}
 <p class="para">
 {% if editable %}No projects yet.
 {% else %}No (viewable) projects yet.
 {% endif %}
 </p>
{% endif %}
{% if editable %}


   <form class="block project-createnew" method="POST" action="{%url your-space-projects user%}">
     <input type="hidden" name="title" />
     <input class="columnbutton project-createnew-button" type="submit" value="Create a new project!"/>

   </form>
{% endif %}

{% if projects or assignments %}
   <table class="project_list sortable" onclick="sortColumn(event)">
     <thead>
       <tr>
	 <th>Title</th>
	 <th>Authors</th>
	 <th>Last Modified</th>
	 <th>Status</th>
	 <th>Links</th>
	 {% if editable %}
	 <th class="NoSort">Actions</th>
	 {% endif %}
     </thead>
     <tbody>

  {% for assignment in assignments %}
  <tr class="projectlist" id="assignment-{{assignment.pk}}">
    <td>
      <h3>
	<a href="{{assignment.get_readonly_url}}"
	   class="asset_title type-project">
	  {{assignment.title|default:"(Untitled)"}}
	</a>
      </h3>
    </td>
    <td>
      <span class="participants">
        <span class="participants-full">{{assignment.attribution}}</span>
        <span class="participants-short">{{assignment.attribution|truncatewords:4 }}</span>
      </span>
    </td>
    <td>
      {{assignment.modified|date}}
    </td>
    <td>
      {{assignment.status|safe}}
    </td>
    <td>
      <ul>
	<li>
	  <form class="block project-createnew" method="POST" action="{%url your-space-projects user%}">
	    <input type="hidden" name="title" />
	    <input type="hidden" name="parent" value="{{assignment.id}}" />
	    <input class="columnbutton project-createnew-button" type="submit" value="Respond"/>
	  </form>

	</li>
      </ul>
    </td>
    {% if editable %}
    <td></td>
    {% endif %}
  </tr>
  {% endfor %}

  {% for project in projects %}

  <tr class="projectlist" id="project-{{project.pk}}">

      <td>
	<h3>
	  {% if editable %}
	  <a href="{{project.get_absolute_url}}"
	     class="asset_title type-project"
	     >{{project.title|default:"(Untitled)"}}</a>
          {% else %}
	  <a href="{{project.get_readonly_url}}"
	     class="asset_title type-project"
	     >{{project.title|default:"(Untitled)"}}</a>
	  {% endif %}
	</h3>
      </td>
   
      <td>
        <span class="participants">
          <span class="participants-short">{{project.attribution|truncatewords:4 }}</span>
          <span class="participants-full">{{project.attribution}}</span>
        </span>
      </td>

      <td>
	{{project.modified|date}}
      </td>

      <td>
        {{project.status|safe}}
      </td>

      <td>
	<ul>
	{% if project.feedback_discussion %}
	<li>
	  <a href="{%url show_discussion project.feedback_discussion.pk %}">Feedback</a>
	</li>
	{% endif %}
	{% if project.collaboration.get_parent %}
	<li>
	  Response for <a href="{{project.collaboration.get_parent.content_object.get_absolute_url}}">{{project.collaboration.get_parent.title}}</a>
	</li>
	{% endif %}
	</ul>
      </td>

      {% if editable %}
      <td>
	<div class="actions">
	  <a onclick="return ajaxDelete(this, 'project-{{project.pk}}');"
	     href="{%url project-workspace project.id %}?delete"><img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Delete"  /></a>
	</div>
      </td>
      {% endif %}

    </div><!-- id=projectlist -->
    

  </tr><!-- id=project-pk -->
  {% endfor %}<!--for project in projects -->
     </tbody>
   </table>
{% endif %}
