{% load user_annotations tagging_tags smartif user_projects coursetags %}

{% if not projects and not assignments %}
 <p class="para">
 {% if editable %}No Compositions yet.
 {% else %}No (viewable) Compositions yet.
 {% endif %}
 </p>
{% endif %}

{% if projects or assignments %}
<ul id="projects">

  {% for assignment in assignments %}
  <li class="projectlist assignment-listitem" id="assignment-{{assignment.pk}}">
      <h3>
	<a href="{{assignment.get_absolute_url}}"
	   class="asset_title type-assignment">
	  {{assignment.title|default:"(Untitled)"}}
	</a>
      </h3>
      {% ifequal space_owner space_viewer %}
      <form class="block project-createnew" method="POST" action="{%url your-space-projects user%}">
        <input type="hidden" name="title" />
        <input type="hidden" name="parent" value="{{assignment.id}}" />
        <input class="columnbutton project createnew-button" type="submit" value="Respond"/>
      </form>
      {% endifequal %}

      <time datetime="{{assignment.modified|date:"c"}}">{{assignment.modified|date}}</time>
  </li>
  {% endfor %}

    {% for project in projects %}
        <li class="projectlist" id="project-{{project.pk}}">
        	<h3>
        	  <a href="{{project.get_absolute_url}}"
        	     class="asset_title type-project"
        	     >{{project.title|default:"(Untitled)"}}</a>
        	</h3>
            <div class="participants">Author(s):
              <span class="participants-short">{% public_name for project.attribution_list truncate 2 %}</span>
              <span class="participants-full">{% public_name for project.attribution_list %}</span>
            </div>
            <ul>
    	       {% if project.feedback_discussion %}
    	           <li>
    	               <a href="{%url show_discussion project.feedback_discussion.pk %}">Feedback</a>
    	           </li>
    	       {% endif %}
            	{% if project.collaboration.get_parent %}
                	<li>
                	  Response for <a href="{{project.collaboration.get_parent.content_object.get_absolute_url}}">{{project.collaboration.get_parent.title}}</a>
                	</li>
            	{% endif %}
            </ul>
    
            <time datetime="{{project.modified|date:"c"}}">{{project.modified|date}}</time>
    
            <p>
            Status:{{project.status|safe}}
            </p>
    
            {% if editable %}
                <a onclick="return ajaxDelete(this, 'project-{{project.pk}}');"
                    href="{%url project-workspace project.id %}?delete"><img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Delete"  /></a>
            {% endif %}
    
      </li><!-- id=project-pk -->
  {% endfor %}<!--for project in projects -->
</ul>
{% endif %}
