{% extends "base.html" %}
{% load smartif revision %}

{% block title %}
    {% if project.title %}{{project.title}}{% else %}New Composition{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    
    <link rel="stylesheet" href="/site_media/css/project.css?version={%revision%}"  media="screen" />
    <link rel="stylesheet" href="/site_media/css/project.print.css?version={%revision%}"  media="print" />
    <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css?version={%revision%}" />
    
    <script type="text/javascript" src="/jsi18n"></script>
    
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
    
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
    
    <!--  TinyMCE -->
    <script type="text/javascript">
        var tinyMCEPreInit = {query:'',suffix:'',base:'/site_media/js/sherdjs/lib/tiny_mce3/jscripts/tiny_mce'};
    </script>
    <script type="text/javascript" src="/site_media/js/sherdjs/lib/tiny_mce3_min.js"></script>
    <script type="text/javascript" src="/site_media/js/app/tiny_mce_init3.js"></script>
    
    <!--  admin functionality for the select box -->
    <script type="text/javascript" src="/jsi18n"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/media/js/SelectBox.js"></script>
    
    <script src="/site_media/jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
        
    <script type="text/javascript">
        jQuery(document).ready(function () {
            PanelManager.init({ 
                'container': 'sliding-content-container',
                {% if public_url %}
                    'url': '{{ public_url }}'
                {% else %}{% if show_feedback %}
                    'url': MediaThread.urls['project-feedback']({{project.id}})
                {% else %}{% if version %}
                    'url': MediaThread.urls['project-readonly']({{project.id}}, {{version}})
                {% else %}
                    'url': MediaThread.urls['project-view']({{project.id}})
                {% endif %}{% endif %}{% endif %}
            });
        });
  </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    
    <table id="sliding-content-container" class="ajaxLoading">
        <tr id="sliding-content-row" class="sliding-content-row">
            <td id="sliding-content-last-column" class="filler"></td>
        </tr>
    </table>

{% endblock %}    
