{% extends "base.html" %}

{% load smartif collaborations user_projects coursetags revision %}

{% block title %}
    {% if preview_num %}
       Preview {{preview_num}} of
    {% endif %}

    {{project.title|default:"New project"}}
    {% if version_number %}Version {{version_number}}{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/site_media/css/project.css" />
    <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css" />
    
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}  
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/hs.js?version={%revision%}"></script>
    <script type="text/javascript" src="/site_media/js/panel.js?version={%revision%}"></script>
    
    <!--All the annotation javascript/css -->
    {% include "djangosherd/annotator_resources.html" %}
  
    <script type="text/javascript" src="/site_media/js/project/project.js?version={%revision%}"></script>
    <script type="text/javascript" src="/site_media/js/mustache/mustache.js?version={%revision%}"></script>
    <script type="text/javascript" src="/site_media/js/assetmgr/asset.js?version={%revision%}"></script>
    
 
    <script type="text/javascript">    
        function resizePublishedProjectPage() {
            var visible = getVisibleContentHeight();
    
            // Resize the outer table. This takes care of the panhandles & panhandle stripes
            jQuery("#sliding-content-container").css('height', visible + "px");
            jQuery("div.panel").css('height', visible + "px");
        }
    
        jQuery(document).ready(function () { 
            ProjectView.initReadOnly({
                presentation: 'medium',
                view_callback: resizePublishedProjectPage,
                open_from_hash: false, 
                project_json: './json',
                targets: [ { 'parent': 'assignment-essay-space', 'default_target': 'assignment-videoclipbox' }, 
                           { 'parent': 'composition-essay-space', 'default_target': 'composition-videoclipbox'} ]    
            });

            PanelManager.init({ 'container': 'sliding-content-container' });
    
            jQuery(window).resize(function () {  
                resizePublishedProjectPage();
            });    
        });   
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
         
    <table id="sliding-content-container">
        <tr>
            {% if project.assignment %}
                <!--BEGIN ASSIGNMENT PANEL-->   
                <td class="panhandle-left-container">
                    <div class="panhandle-left assignment"></div>
                </td>
                
                <td class="panhandle-stripe assignment">
                    <div class="label">View Assignment</div>
                </td>
        
                <td class="panel-container closed assignment">
                    <div class="panel">
                        <table class="panel-subcontainer">
                            {% with project.assignment as assignment %}
                            <tr>
                                <td colspan="4">        
                                    <div class="assignment-project">
                                    <h1>{{assignment.title}}
                                        {% if is_assignment_owner and assignment.id and not is_preview %}
                                            <a class="edit-pencil" href="{{assignment.get_workspace_url}}">
                                                (edit)
                                            </a>
                                        {% endif %}
                                    </h1>
                                    <h5>by <span id="participants_chosen">{% public_name for project.assignment.attribution_list %}</span></h5>
                                    </div>  
                                </td>
                            </tr>
                            <tr class="fluid">
                                <td class="panel-content fluid assignment">
                                    <div id="assignment-essay-space" class="essay-space">  
                                        {{assignment.body|safe}}
                                    </div>
                                </td>
                                <td class="panel-container media medium closed">
                                    <div class="asset-view-published medium">
                                        <div id="assignment-videoclipbox" class="videoclipbox" style="display: none;">
                                            <div class="create-selection" style="float: right"></div>
                                            <div class="annotation-title publishedCitation" style="margin-left: 8px; margin-top: 5px;"></div>
                                            <div class="asset-title" style="margin-left: 5px; margin-bottom: 8px; min-height: 20px;"></div>
                                            <div class="asset-object" style="border: none; background-color: #ededed;"><!-- width changes here too if video size changes -->
                                                <div class="asset-display"></div>
                                                <div class="clipstrip-display"></div>    
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="panhandle-stripe media">
                                    <div class="label">View Selection</div>
                                </td>
                                <td class="pantab-container">
                                    <div class="pantab media closed"></div>
                                </td>
                                <td class="filler"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="essay-options">
                                        {% if assignment_responses %}
                                            <h3>
                                                <a class="hs-control" href="assignment-response-list"></a>
                                                Responses
                                            </h3>
                                            <div id="assignment-response-list">
                                                <ul>
                                                    {% for response in assignment_responses %}
                                                        <li>
                                                            <a href="{{response.get_absolute_url}}">{{response.title}}</a>
                                                            by {% public_name for response.attribution_list %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        {% if is_space_owner or is_faculty %}
                                            {% if assignment.versions %}
                                                <h3>
                                                  <a class="hs-control" href="#assignment-revision-history"></a>
                                                  Revision History
                                                </h3>
                                                <div  id="assignment-revision-history" {%if not version_number%}class="hs-init-hide"{%endif%} >
                                                    <table>
                                                      <thead>
                                                        <tr>
                                                          <th>Revision</th><th>Modified</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for v in assignment.versions reversed %}
                                                      <tr
                                                          {% ifequal v.version_number version_number %}
                                                          class="revision-selected"
                                                          {% endifequal %}
                                                       ><td>
                                                        {% ifnotequal v.version_number version_number%}
                                                        <a href="{%url project_version_preview v.versioned_id v.version_number %}">
                                                        {% endifnotequal %}
                                                        Revision {{v.version_number}}
                                                        {% ifnotequal v.version_number version_number%}
                                                        </a>
                                                        {% endifnotequal %}
                                                      </td><td>
                                                        {{v.modified|date}} by {%public_name for v.instance.author %}
                                                      </td>
                                                      </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                    </table>
                                                </div>
                                            {% endif %}{# end project.versions #}
                                        {% endif %}{# end is_space_owner or is_faculty #}
                                    </div>                                
                                </td>
                            </tr>
                            
                            {% endwith %}
                        </table>
                    </div>
                </td>
                
                <td class="pantab-container">
                    <div class="pantab assignment closed"></div>
                </td>
                
                <!--END ASSIGNMENT PANEL-->
            {% endif %}
            
        
            <!--  COMPOSITION PANE -->
            {% with project|project_type:request as project_type %}
            <td class="panhandle-left-container">
                <div class="panhandle-left {{project_type}}"></div>
            </td>
        
            <td class="panhandle-stripe {{project_type}}">
                <div class="label">View {% if project|is_assignment:request %}Assignment{%else%}Composition{%endif%}</div>
            </td>
                
            <td class="panel-container {{project_type}} open">
                <div class="panel">
                    <table class="panel-subcontainer">
                        <tr>
                            <td colspan="4" class="meta {{project_type}}">        
                                <div class="{{project_type}}-project">
    
                                    <h1>{% if project|is_assignment:request %}Assignment: {%endif%}{{project.title}}
                                        {% if version_number %}Version {{version_number}}{% endif %}
                                        {% if is_space_owner and project.id and not is_preview %}
                                            <a class="edit-pencil" href="{{project.get_workspace_url}}">
                                                (edit)
                                            </a>
                                        {% endif %}
                                    </h1>
                                    <h5 style="margin: .2em 0 .2em">by <span id="participants_chosen">{% public_name for project.attribution_list %}</span></h5>
                                    {% if project.collaboration %}
                                        <div class="button-form" style="padding: 0px 0px">
                                            {% if role_in_course != 'non-member' and project|is_assignment:request %}
                                                {% if not user_responses %}
                                                    {% if not is_faculty %}
                                                            <form class="block project createnew" method="post"
                                                              action="{%url your-space-projects user%}">
                                                              <input type="hidden" name="title" />
                                                              <input type="hidden" name="parent" value="{{project.id}}" />
                                                              <input class="columnbutton project createnew-button" type="submit" value="Create Assignment Response"/>
                                                            </form>
                                                    {% endif %}
                                                {% else %}
                                                    <h3>
                                                      Your Response: 
                                                      {% for response in user_responses %}
                                                        <a href="{{response.get_absolute_url}}">{{response.title}}</a>{% if not forloop.last %},{% endif %}
                                                      {% endfor %}
                                                    </h3>
                                                {% endif %}
                                            {% else %}
                                                {#need to test it, because the default collaboration created won't have the right perms#}
                                                {% if not project.feedback_discussion %}
                                                    {% if is_faculty and not project|is_assignment:request %}
                                                        <form action="{% url new-discussion %}" method="post">
                                                           <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
                                                           <input type="hidden" name="inherit" value="true" />
                                                           <input type="hidden" name="app_label" value="projects" />
                                                           <input type="hidden" name="model" value="project" />
                                                           <input type="hidden" name="obj_pk" value="{{project.pk}}" />
                                                           <input type="hidden" name="comment_html" value="Composition:{{project.title}}" />
                                                           <input class="columnbutton project createnew-button" type="submit" value="Instructor Feedback" />
                                                        </form>
                                                    {% endif %}
                                                {% else %}
                                                    {% if is_space_owner or is_faculty %}
                                                    <form action="{% url discussion-view project.feedback_discussion.id %}" method="GET">
                                                        <input class="columnbutton project createnew-button" type="submit" value="Instructor Feedback" />
                                                    </form>            
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}{# end project.collaboration #}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="panel-content fluid composition">
                                <div id="composition-essay-space" class="essay-space">  
                                    {{project.body|safe}}
                                </div>
                            </td>   
                            <td class="panel-container media medium closed">
                                <div class="asset-view-published medium">
                                    <div id="composition-videoclipbox" class="videoclipbox" style="display: none;">
                                        {% if project|is_assignment:request %}<div class="create-selection" style="float: right"></div>{% endif %}
                                        <div class="annotation-title publishedCitation" style="margin-left: 8px; margin-top: 5px;"></div>
                                        <div class="asset-title" style="margin-left: 5px; margin-bottom: 8px; min-height: 20px;"></div>
                                        <div class="asset-object" style="border: none; background-color: #ededed;"><!-- width changes here too if video size changes -->
                                            <div class="asset-display"></div>
                                            <div class="clipstrip-display"></div>    
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="panhandle-stripe media">
                                <div class="label">View Selection</div>
                            </td>
                            <td class="pantab-container media">
                                <div class="pantab media closed"></div>
                            </td>
                            <td class="filler"></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="essay-options">
                                    {% if assignment_responses %}
                                        <h3>
                                        <a class="hs-control" href="#response-list"></a>
                                        Responses
                                        </h3>
                                        <div id="response-list" class="hs-init-hide">
                                        <ul>
                                            {% for response in assignment_responses %}
                                                <li>
                                                    <a href="{{response.get_absolute_url}}">{{response.title}}</a>
                                                    by {% public_name for response.attribution_list %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    {% endif %}

                                    {% if is_space_owner or is_faculty %}
                                        {% if project.versions %}
                                            <h3>
                                              <a class="hs-control" href="#project-revision-history"></a>
                                              Revision History
                                            </h3>
                                            <div  id="project-revision-history" {%if not version_number%}class="hs-init-hide"{%endif%} >
                                                <table>
                                                  <thead>
                                                    <tr>
                                                      <th>Revision</th><th>Modified</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                  {% for v in project.versions reversed %}
                                                  <tr
                                                      {% ifequal v.version_number version_number %}
                                                      class="revision-selected"
                                                      {% endifequal %}
                                                   ><td>
                                                    {% ifnotequal v.version_number version_number%}
                                                    <a href="{%url project_version_preview v.versioned_id v.version_number %}">
                                                    {% endifnotequal %}
                                                    Revision {{v.version_number}}
                                                    {% ifnotequal v.version_number version_number%}
                                                    </a>
                                                    {% endifnotequal %}
                                                  </td><td>
                                                    {{v.modified|date}} by {%public_name for v.instance.author %}
                                                  </td>
                                                  </tr>
                                                  {% endfor %}
                                                  </tbody>
                                                </table>
                                            </div>
                                        {% endif %}{# end project.versions #}
                                    {% endif %}{# end is_space_owner or is_faculty #}
                                </div>                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        
            <td class="pantab-container">
                <div class="pantab {{project_type}} open"></div>
            </td>
            {% endwith %}
            <!--  END COMPOSITION PANE -->
            
            {% comment %}
            {% if project.assignment %}
            {% if is_faculty or project.feedback_discussion %}
                <!--BEGIN FEEDBACK OR DISCUSSION PANEL--> 
                <td class="panhandle-left-container">
                    <div class="panhandle-left discussion"></div>
                </td>
                
                <td class="panhandle-stripe discussion">
                    {% if is_faculty %}
                        <div class="label">Edit Feedback</div>
                    {% else %}
                        <div class="label">View Feedback</div>
                    {% endif %}
                </td>
                
                <td class="panel-container closed discussion fixed">
                    <div class="panel">
                        <table>
                            <tr class="fluid">
                                <td class="panel-content fixed">
                                    DISCUSSION GOES HERE
                                </td>
                                <td class="panel-container collection closed">
                                    <div id="collection-materials">
                                        <h2>
                                            <div class="button-form inline">
                                                <a class="columnbutton media browse-button" href="/explore">Source Media</a>
                                            </div>
                                            Collections
                                        </h2>
                                        <div id="collection_table"></div>
                                    </div>
                                </td>
                                <td class="panhandle-stripe collection">
                                    <div class="label">Add Selection</div>
                                </td>
                                <td class="pantab-container">
                                    <div class="pantab collection closed"></div>
                                </td>
                                <td class="filler"></td>
                            </tr>
                        </table>
                    </div>
                </td>
                
                <td class="pantab-container">
                    <div class="pantab discussion closed"></div>
                </td>
                <!--  END FEEDBACK OR DISCUSSION PANE -->
            {% endif %}{% endif %}
            {% endcomment %}
            
            <td class="filler"></td>                          
            
        </tr>
    </table>
{% endblock %}
