{% extends "base.html" %}

{% load smartif collaborations user_projects %}

<title>{% block title %}
{% if preview_num %}
   Preview {{preview_num}} of
{% endif %}

  {{project.title|default:"New project"}}
  {% if version_number %}Version {{version_number}}{% endif %}
{% endblock %}</title>

{% block css %}
  <link rel="stylesheet" href="/site_media/css/vital3.css" />
  <link rel="stylesheet" href="/site_media/css/project.css" />
  <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css" />  
  
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/hs.js"></script>

  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}
 
  <script type="text/javascript">        
    DjangoSherd_Project_Config({open_from_hash: false, project_json:'./json'});           
     {% if user.is_staff %}var is_staff = true;{% endif %}
  </script>
{% endblock %}

{% block content %}
  {{ block.super }}

  <h1>{{project.title}}
  {% if version_number %}Version {{version_number}}{% endif %}
  {% if is_space_owner and project.id %}
  <a href="{%url project-workspace project.id %}">
    <img src="/site_media/img/pencil.gif" alt="Edit Project" />
  </a>
  {% endif %}
  </h1>
  <h2>by <span id="participants_chosen">{{project.attribution}}</span>
  </h2>
  
  {% with project.assignment as assignment %}
  {% if assignment %}
  <div>
    <h3>Response to
      <a href="{{assignment.get_readonly_url}}">
	{{assignment.title}}
      </a>
    </h3>
  </div>
  {% endif %}
  {% endwith %}


  <br />
  <div class="asset-view asset-view-small">
    <div class="annotation-links">
      {% for annotation in project.citations %}      
      <div class="annotation annotation{{annotation.id}}">
	<div class="annotation-title materialCitation"><h2>{{annotation.title}}</h2></div>
	<div class="annotation-data" data-begin="{{annotation.range1}}" data-end="{{annotation.range2}}" data-annotation='{{annotation.annotation_data|default_if_none:"{}"|escape}}'></div>
	<div class="asset-title">from <a href="{{annotation.asset.get_absolute_url}}">{{annotation.asset.title|escape}}</a></div>
	<div class="asset-links">
	  <ul>
            {% with annotation.asset.source_set.all as assets_to_link %}
              {% include "assetmgr/asset_links.html" %}
            {% endwith %}
	  </ul>
	</div>
      </div>
      {% endfor %}
    </div>
    <div id="videoclipbox" style="display:none;">
      <div class="annotation-title materialCitation"></div>
      <div class="asset-title"></div>
      <div class="asset-object" style="width: 322px;"><!-- width changes here too if video size changes -->
        <div id="videoclip" class="asset-display"></div>
	<div id="clipstrip-display" class="clipstrip-display"></div>    
      </div>
    </div>
  </div>
  <div class="essay-space published">   
      <div id="essaybox" class="essaytextarea">
	{{project.body|safe}}
      </div>  
  </div>

<div class="essay-options" style="padding: 1em;">
  <!--
{% if is_preview %}
 <a class="button" href=".">Save and continue editing</a>
{% endif %}
-->

{% if project.collaboration %}
  {#need to test it, because the default collaboration created won't have the right perms#}
  {% if not project.feedback_discussion %}
    {% if is_faculty and not project|is_assignment:request %}
    <form action="{% url new-discussion %}" method="POST">
      <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
      <input type="hidden" name="inherit" value="true" />
      <input type="hidden" name="app_label" value="projects" />
      <input type="hidden" name="model" value="project" />
      <input type="hidden" name="obj_pk" value="{{project.pk}}" />
      <input type="hidden" name="comment_html" value="Project:{{project.title}}" />
      <input type="submit" value="Create Feedback Discussion for Project" />
    </form>
    {% endif %}
  {% endif %}

  {% if_permission to "add_child" with project.collaboration for request as can_add_child %}
  {% if can_add_child %}
    <form class="block project-createnew" method="POST"
	  action="{%url your-space-projects user%}">
      <input type="hidden" name="title" />
      <input type="hidden" name="parent" value="{{project.id}}" />
      <input class="columnbutton project-createnew-button" type="submit" value="Respond"/>
    </form>
  {% endif %}

  {% with project|assignment_responses:request as responses %}
  {% if responses %}
    <h3>Responses</h3>
    <ul>
      {% for response in responses %}
      <li>
        <a href="{{response.get_absolute_url}}">
          {{response.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% with project|discussions:request as responses %}
  {% if responses %}
    <h3>Discussions</h3>
    <ul>
      {% for response in responses %}
      <li>
        <a href="/discussion/show/{{response.id}}">
          {{response.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

{% endif %}{# end project.collaboration #}

{% if is_space_owner or is_faculty %}
{% if project.versions %}
<h3>
  <a class="hs-control" href="#revision-history"></a>
  Revision History
</h3>
<div  id="revision-history" {%if not version_number%}class="hs-init-hide"{%endif%} >
<table>
  <thead>
    <tr>
      <th>Revision</th><th>Modified</th>
    </tr>
  </thead>
  <tbody>
  {% for v in project.versions reversed %}
  <tr
      {% ifequal v.version_number version_number %}
      class="revision-selected"
      {% endifequal %}
   ><td>
    {% ifnotequal v.version_number version_number%}
    <a href="{%url project_version_preview v.versioned_id v.version_number %}">
    {% endifnotequal %}
    Revision {{v.version_number}}
    {% ifnotequal v.version_number version_number%}
    </a>
    {% endifnotequal %}
  </td><td>
    {{v.modified|date}} by {{v.instance.author.get_full_name|default:v.instance.author.username }}
  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}{# end project.versions #}
{% endif %}{# end is_space_owner or is_faculty #}
</div>

{% endblock %}
