{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects helpful_tags coursetags %}

<title> {% block title %}
{% if space_owner == user %}
My Analysis > My Saved Items
{% else %}
Class Analysis > {% public_name for space_owner %}'s Analysis
{% endif %}
{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/hs.js"></script>
<script type="text/javascript" src="/site_media/js/ajaxDelete.js"></script>
<script type="text/javascript" src="/site_media/js/tablesort.js"></script>
  {% if EXPERIMENTAL %}
  <script type="text/javascript" src="/site_media/js/slider.js"></script>
  {% endif %}
{% endblock %}

{% block content %}

  {{ block.super }}

<div id="slider-parent">
  <div class="slider-cell slider-edge">
    <h2><span id="slider-edge-left"></span></h2>
  </div>

  <table id="slider-top" class="slider-top analysis-tab">
    <tbody>
    <tr>
      <td class="slider-cell slider-active" id="slider-cell-asset_column">

<div class="assets_wide_list" >
 {% include "assetmgr/asset_table.html" %}
</div>
      </td>

      <td class="slider-cell slider-active" id="slider-cell-reflection">


        <h1 class="project-title inline">{% public_name for space_owner %}'s Projects</h1>
{% if editable %}

  <div class="button-form inline">
   <form class="block project-createnew inline nofloat" method="POST" action="{%url your-space-projects user%}">
     <input type="hidden" name="title" />
     <input class="columnbutton project-createnew-button" type="submit" value="Create New Project"/>

   </form>
   </div>
{% endif %}



        

        <div id="project_col" class="project-table panel-column panel-light">
  
          {% include "projects/project_list.html" %}
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
