{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects coursetags %}

<title> {% block title %}
{% if space_owner == user %}
My Compositions
{% else %}
Class Compositions
{% endif %}
{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/hs.js"></script>
<script type="text/javascript" src="/site_media/js/ajaxDelete.js"></script>

{% endblock %}

{% block content %}
  {{ block.super }}



<h1>{% if space_owner == user %}
My Compositions
{% else %}
{% public_name for space_owner %}'s Compositions
{% endif %}</h1><br />

{% if not projects %}
 {% if editable %}No Compositions yet. <br /><br />
 {% else %}No (viewable) Compositions yet.
 {% endif %}
{% endif %}
{% if editable %}

   <form class="block project-createnew" method="POST" action=".">
     <input type="hidden" name="title" />
     <input class="project createnew-button" type="submit" value="New Composition"/>
   </form>
{% endif %}


  {% for project in projects %}

  <div id="project-{{project.pk}}">

    <div class="projectlist">
      
      <h2>
	
	{% if editable %}
    
	<div class="actions">
       
    
	  <a onclick="return ajaxDelete(this, 'project-{{project.pk}}');"
	     href="{%url project-workspace project.id %}?delete"><img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Delete"  /></a>
	  <a href="{%url project-workspace project.id %}"><img src="/site_media/img/pencil.gif"  class="edit_icon" alt="Edit"  /></a>
	  
	</div>
	{% endif %}
    
	<a class="hs-control" href="#project-{{project.pk}}-metadata">  </a>
	<a href="{%url project-workspace project.id %}">{{project.title}}</a>
      </h2>
    
   
      <div id="project-{{project.pk}}-metadata"
	   {% ifequal project.pk initially_expanded_project %}
	   class="hs-init-hide"
	   {% endifequal %}
	   >
	   <ul>
	     <li>Collaborators: 
	     <!--careful with whitespace here, since we want the comma to hug the previous
		 name-->
	     <span id="participants_chosen">{%public_name for project.attribution_list %}</span>
	     </li>
	     <li>Last modified: {{project.modified|date}}</li>
	     <li>Status: {{project.status}}</li>

	   </ul>

	 </div><!-- id=project-pk-metadata -->
       </div><!-- id=projectlist -->
     </div><!-- id=project-pk -->
     {% endfor %}

{% endblock %}
