/*--Basic Page Structure--
body.slide-body.fluid
  #page-header
     h1#page-header-project
     div#page-header-mediathread
     ul#page-header-standardnav
     #page-header-primarynav
       .encase#leftside
  #page-body
     #page-body-rel
        #page-body-rel-abs
           #
     .visualclear
  #page-footer
*/

#page-header {
    position:absolute;
    height:100px; /*sync #pagebody{top} */
    top:0;
    overflow:hidden;
}

#page-footer {
    position:absolute;
    height:0px;
    bottom:0px;
}

#page-body {
    position:absolute;
    top:100px; /*should be height of #header */
    bottom:0px; /* sync with #footer{height} */
    overflow:hidden; /* scrolls should be on #pagebody */
    width:100%;
    left:0;
}

#page-body-rel {
    position:relative;
    height:100%;
}

#page-body-rel-abs {
    position:absolute;
    top:10px; 
    bottom:10px;
    overflow:hidden; /* scrolls should be on #pagebody */
}

body.slide-body.test #page-body {
    background-color:red;
}


/*parent of page-body*/
#slide {
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
}

#slide-rel {
    position:relative;
    height:100%;
}

/*
  need to be careful about the widths, since all the way down
*/

#slide .slide-slider {
    position:absolute;
    top:0px;
    bottom:0px;
    border:1px solid black;
    width:100%;
}

#slide #slide-slider1 {
    left:0;
    width:100%;
    background-color:blue;
}


#slide #slide-slider2 {
    left:-500px;
    width:200px;
    background-color:green;
}

#slide .slider-panel {
    float:left;
    position:relative;
    height:100%;
    width:400px;
}

#slide .slider-panel-opentop .small-window {
    display:block;
}
#slide .slider-panel-opentop .asset-list {
    top:300px;
}
#slide .small-window {
    position:absolute;
    top:0px;
    height:300px;
    background-color:grey;
    width:100%;
    display:none;/*default unless parent has .slider-panel-opentop*/
}

#slide .asset-list {
    position:absolute;
    top:0px;
    bottom:10px;
    background-color:white;
    width:100%;
    overflow-y:auto;
}