@import url("./switcher.css");
@import url("./slider.css");

.heading {
  display: block;
  padding: 1em;
  background: #e5e5e5;
  color: #666;
}
  .heading h2 {
    display: inline;
  }
  .heading a {
    color: white;
  }



.indexcard {
  display: block;
  border: 2px solid gray;
}
  
  .indexcard input[type=text],
  .indexcard textarea
 {
    width: 95%;
  }

#id_annotation-body { height: 65px;}

.clipform {
    margin-bottom:0.5em;
}


div.button {
  float: right;
  display: block;
  text-align: center;
  font-size: 1.05em;
  font-weight: bold;
  background-color: gray;
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: #fff;
  text-decoration: none;
  padding: 0.25em;
  margin: 0.5em 4em;
  margin-bottom: 0.75em;
  margin-top: 0;
}
  div.button a   {
    color: black;
    background: white;
    padding: 0.1em 1.5em;
    border: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 30%;
    text-transform: uppercase;
    text-decoration: none;
  }
  
a.breadcrumb
{ text-decoration:none; }

.asset-links ul,
.asset-links li
{ 
	list-style: none;  
  margin:0;
  padding:0;
 }
.asset-links a,
.asset-links img,
.asset-links li /*for IE7*/
{ 
  display:none; 
}

.annotation-links .annotation { display:none; }
/*exception
  sky:we are now using JS to put in the HTML rather than tweak the top
*/
/*.annotation-links div.active-annotation { display:inline; }*/
/*exception to the exception (editing mode)*/
.asset-clips .annotation-links div.active-annotation { display:none; }


table.project-clip-table td {

	max-width: 210px;
	overflow: hidden;
}

#saves, #popular  {
float:left;
width:32%;
margin: 0 1em;
background-color: #ededed;

}



.panel 
{ 

  text-align:center;
  
  }

.panel-column
{ 
  

  float:left;
  margin: 0 1em 1em 1em;
  width: 95%;
  border: 1px solid #ccc;
  text-align:left;


 }
 
 input.columnbutton {
 
 /*	margin: 10px;*/
 }
 
 #class_activity .panel-column
{ 
  
margin-top: 3px;
margin-bottom: 1em;

 }

div.panel-column-stump
{ 
  
  margin-bottom:1em;
 }

div.panel-light .scroll
{ 
  margin: -.6em 0  0 0;
  padding: 0 1em;
 
    overflow: auto;
        position:relative;/*important companion to overflow:auto for IE7*/
  overflow-x: hidden;
 }
 
 
#class_activity .panel-column .scroll
{ 
 margin: -.6em 0  0 0;
  /*max-height: 15em;*/
    overflow: auto;
        position:relative;/*important companion to overflow:auto for IE7*/
  overflow-x: hidden;
 
 }
#class_activity .panel-column-stump .scroll
{ 
   margin: -.6em 0  0 0;
   max-height: 6em;
 }


div.panel-light
{ 
  width: 29%;
  float:left; 

 }
 
 div.panel-light h2
{ 
  color: #DEDEDE;
  padding: 0.2em 0.5em;
 }

#tags {
float:left;
border: 1px solid #ccc;
margin: 0 1em .7em 1em;
width: 26%;
height: 26em;
overflow: auto;
overflow-x: hidden;
}



#classmates {
float:left;
margin: 0 1em;
width: 26%;
text-align: center;

}

  a.button, a.fullrecord_button {
  
    text-align: center;
    font-size: 100%;
    font-weight: normal;
    color: #8d3b2f;
    background: #dedede;
    padding: 0.2em 1.5em .3em 1.5em;
    border: 1px solid #ccc;
    width: 30%;
    text-transform: uppercase;
    text-decoration: none;
  }
  
 a.fullrecord_button
{
    margin-top:-30px;
    float:right;
  right:0;
  z-index:1000;
   width: auto;
   margin-right: 1em;

  }

.float_right, a.float_right {
  
   float: right;
   margin-right: .5em;
   font-size: 90%;
   color: #8d3b2f;
  }

  a.button:hover, a.fullrecord_button:hover {
  

    color: #fff;
    background: #8d3b2f;

  }

.panel-column ul  {	

	list-style: none;
	margin: 1em;	
}

.panel-column li {	

	margin-bottom: 1em;	
	font-size: 85%;
	line-height: 150%;
}

.tags li {

	display: inline;
	margin-right: .5em;
}

.panel  h2 a.panel-title-addendum,
.panel  h2 a.panel-title-addendum:visited
 {
    float:right;
    color:white;
    display:inline-block;
}

#saves h2, #tags h2, #popular h2, #classmates h2, #filter_col h2, #results_col h2, #projectlist h2, #materials h2 ,
.panel-column  h2
{

margin: 0 0 .5em 0;
background-color: #6f6f6f;
padding: .2em .5em .2em .5em;
color: #dedede;
font-weight: normal;
text-align: left;
}


#saves h2 a, #tags h2 a, #popular h2 a, #classmates h2 a, #filter_col h2 a, #results_col h2 a, #projectlist h2 a, #materials h2 a,
.panel-column  h2 a
{

color: #fff;
padding-right: 4px;
}

.asset_title,
#results_col h2.asset_title,
#asset_browse_col h2.asset_title
{
  display:block;
	background-repeat: no-repeat;
	background-position: 3px 1px;
	padding: 2px 5px 4px 24px;
}

#asset_browse_col .asset-view-small {
    margin-bottom:5px;
}

.asset_title {
	margin-top: -3px;
	font-size: 100%;
  }
  
.asset_title.asset-flv,
.asset_title.asset-flv_pseudo,
.asset_title.asset-flv_rtmp,
.asset_title.asset-mp4,
.asset_title.asset-mp4_pseudo,
.asset_title.asset-mp4_rtmp,
.asset_title.asset-youtube,
.asset_title.asset-quicktime,
.asset_title.asset-realplayer,
.asset_title.asset-ogg,
.asset_title.asset-video_pseudo,
.asset_title.asset-video_rtmp,
.asset_title.asset-video
{
	background-image: url(../img/icons/item_video.gif);
}

.asset_title.asset-image,
.asset_title.asset-image_fpx
{
	background-image: url(../img/icons/item_image.gif);
}

.record-image .annotation-timecode {
    display:none;
}

.asset_title.type-assignment {
    /*place-holder for liz to make an icon*/
    background-image: url(../img/icons/item_image.gif);
}


.participants .participants-full,
.participants:hover .participants-short {
    display:none;
}

.participants:hover .participants-full {
    display:inline;
}


.asset_title.type-project
{
	background-image: url(../img/icons/item_project.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
	margin-top: -3px;
}

.asset_title.type-collaboration
{
	background-image: url(../img/icons/item_discussion.png);
}



.asset_title a.title {

	font-weight: bold;
	color: #8d3b2f;
	margin-bottom: .25em;
	font-size: 100%;
}
.asset-title-rest
{ 
  font-size:85%;
  display:inline-block;
 }
.asset-activities
{ 
  padding-top:3px;
  padding-left:25px;
 } 

.asset-view-big {
    /*so youtube 620px's can play on left*/
    

}

.asset-view-big  .asset-object {

    width:60%; 
}

.asset-object {
    /* width:60%; */
  /*  min-width: 356px; */
    border:1px solid #ccc;
    background-color: #dedede;
  /*  margin: 1em auto; */
}

.asset-view-small  .asset-object {
    padding: 1em;
    min-width:0;
}

.sherd-video-wrapper,
.sherd-video-wrapper div
 {
     /*to make the centering work*/
    display:inline-block;
}
.asset-display
 {
text-align:center;
}


  #stats form {
      margin: 15px 5px 0px 5px;
}
  #member_col, #filter_col, #project_col {  
      margin-top:29px;
}
  #project_col {
  border: none;
}
  #member_col p, #filter_col p, #project_col p {  
      margin:7px;
}

  #filter_col {
  
  float:left;
width: 20%;
margin-left: 1em;
margin-right: 1em;
border: 1px solid #ccc;
background-color: #fff;
overflow: hidden;
  
  }
  
  #filterbytag {overflow: hidden;}
  
div.project-table
{ 
  float:right;
  width:27%;
 }

.assets_wide_list #materials 
{
  background-color: #ededed;
}
  
  
.asset-table ul {
	list-style: none;
	margin:0 0 0 10px;
 }
  
.asset-table ul li {
	margin-bottom: .25em;
 }
.asset-table ul.asset-clips 
{ 
  margin:1em 0 0 1em;
  margin-left:0;
 }
.asset-table ul.asset-clips li 
{  
    background-color:#f7f7f7;
  /*border-top:1px solid #6f6f6f;*/
  padding:2px 5px 3px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
} 
.asset-table h3.asset-clips-label
{ 
  margin-top:0.7em;
 }
.asset-table .annotation-metadata-wrapper
{ 
  padding-left:1.4em;
 }
.asset-table .annotation-metadata { 
  margin-top:4px;
 }
.asset-table .annotation-metadata { 
  padding-left:1.4em;
}  

.hs-init-hide {display:none;}

.asset-table .asset-clips .citationTemplate {
  float:right;
}

  #filter_col h3 {
background-color: #d3d3d3;
}
  #filter_col h3 ,
  #project_col h3 {

margin: .5em;
font-size: 100%;
padding: .2em .5em .2em .5em;
color: #666;
font-weight: normal;
}
  #project_col .projectlist h3 
{
  margin:0;
  }
  #project_col .projectlist li 
{ 
  margin-bottom:3px;
 }
  #project_col .projectlist 
{ 
  background-color:transparent;
 }

  #filter_col ul {
list-style-type:none;
margin:0 1em .5em 1em;
width:86%;
}

  #filter_col ul li{

border-bottom: 1px solid #ccc;


}

  #filter_col ul li a{

text-decoration: none;
padding-right: 10px;
display: inline;

}

#subnav {

	width: auto;
	background-color: #ccc;
	height: 2em;
	margin:-2em -0.8em 1em;
	padding: 0.5em .5em 0 1.25em;


}

#subnav a
{
	background-color: #fff;
	border: 1px solid #555554;
	text-decoration: none;
	padding: 2px 5px;
	background-image: url(../img/mybutton_inactive.jpg);
	background-repeat: repeat-x;
}

#subnav a.subnav_active {

	background-color:#fff;
border:1px solid #666;
color:#000;
background-image: url(../img/mybutton_active.jpg);
	background-repeat: repeat-x;

}

.filter {
float:left;
border: 2px solid gray;
padding: 1em;
margin-left: 1em;
margin-right: 1em;
}

input.project-createnew-button {
  /*  margin:10px 0 15px 10px; */
}

.actions {
	float: right;
margin:-2px -0.3em
}

.archive {

   float:left;
   margin: 0 1em 1em 1em;
   background-color: #ededed;
   border: 1px solid #ccc;
   width:94%;
   }
.archive-across {
    width:450px;
}

.archive-gallery {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.manage-archive {
    float:right;
}
	
.archive h2, .tabberlive .tabbertab h2 {

margin: 0 0 1em 0;
font-size: 110%;
background-color: #6f6f6f;
padding: .2em .5em .2em .5em;
color: #dedede;
font-weight: normal;
text-align: left;
}

.archive a.archive-link {
    font-weight:bold;
    line-height:150%;
    text-decoration:none;
    padding:10px 10px;
}
.archive img.archive-link {
    float:left;
    margin:0 10px 10px 10px;
    max-width:190px;
    max-height:82px;
}

div.archive p {
    font-size: 85%;
    text-align: left;
    line-height: 150%;
    margin:0 10px 1em 10px;
}
div.archive p.archive-button {
    clear:both;
    
}

#asset_browse_col {

float:left;
margin:0 10px;
width:340px;

}

#asset_details_col {

float:right;
margin:0 0 0 1em;
width: 35%;
font-size: 94%;

}

#asset_details_col .tabberlive .tabbertab {



}

#annotations-organized {

	background-color: #dedede;
	padding-bottom: 1px;

}

#annotations-organized ul {

	list-style-type: none;
	margin: 4px 0 4px 28px;

}

#annotation-group-sublist ul li {

	padding: 2px;
	margin-left: 20px;

}

.annotation-group h4 {

    background-color: #CCCCCC;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 1px;

}

.color-box {

	display: block;
	height: 20px;
	width: 20px;
	border: 1px solid #333;
	float: left;
	margin-right: 5px;

}



#annotations-organized ul.annotation-group-sublist li {
    /*do not tighten this up to one background: property
      so we can set the background-color for highlighting without
      affecting the image.
     */
	background-image:url("../img/icons/item_clip.png");
        background-repeat: no-repeat; 
        background-position:left center;
	padding: 2px 5px 2px 25px; 
	margin-bottom: 2px;
}

#annotations-organized ul.annotation-group-sublist li.annotation-image {
	background-image:url("../img/icons/item_clip.png"); 
}

#annotations-organized ul.annotation-group-sublist li.highlight {
	background-color:white; 
}

#annotations-organized ul.annotation-group-sublist li.annotation-active {
	border:1px solid black;
}

.metadata-title {
    text-transform: capitalize;
}

dd {
	margin: .5em; 
	padding: 0;
	font-size: 85%;
	color: #666;
}


.delete_icon, .edit_icon {vertical-align: middle;}

.about-to-delete {
    border:1px solid #AA5555;
    opacity:0.7;
}

.record {
    clear:both;
}

.record p {margin: .5em .5em 1.5em .5em;}
.record img.asset-thumb {
  border:1px solid #999999;
float:left;
margin:-1px 5px 5px;
    max-width:100px;
    max-height:100px;
}

.record-metadata {
  padding: 0 1.5em 4px 105px;
}

a.hs-control
{
	display: block;
	height: 15px;
	width: 14px;
	float: left;
	text-decoration: none;
	margin-right: 5px; 
	
	
}

a.hs-control.hs-nostyle {
    float:none;
    display:inline;
}

a.hs-control.hs-nostyle.hs-control-show,
a.hs-control.hs-nostyle.hs-control-hide
{
    background-image:none;
}

a.hs-control.hs-control-show
{

	background-image: url(../img/down_arrow.png);
}

a.hs-control.hs-control-hide
{

	background-image: url(../img/right_arrow.png);
}

a.hs-control.hs-control-show.plist, a.hs-control.hs-control-hide.plist,
a.plist
{

	background-image: none;
	background-color: #dedede;
	border: 1px solid #999;
	display: inline;
	height: auto;
	width: auto;
	float: none;
	text-decoration: none;
	padding: 3px; 
	
}

a.hs-control.hs-control-show.plist.float
{

	background-color: #ccc;
	border: 1px solid #999;
	float: right;
	margin-top: -1.8em;
	
	
}



#classtags h3, #discussion h3, #myitem h3, #annotations h3
{
font-size: 100%;
margin: 0;
}

.projectlist {
background-color:#EDEDED;
margin:0 1em;
padding-bottom: .5em;

}

#project_col table tr.assignment-listitem {
    background-color:#EDEDED;
}

#project-content
{ 
  height:300px;
  width:420px;
 }
 
#project_heading {width: 80%;  height: 1.5em; display: block;}

#title_area {

	margin-right: 3em;
}

#participants_chosen {
    display:inline-block;
    padding-bottom:10px;
}
#project_participants {
	padding-top:8px;
}

a.participants_toggle {
    /*when authors list is multiple lines, we need a bottom margin
      to avoid collision with  #last-version-saved
     */
    display:inline-block;
    margin-bottom:6px;
}

#participant_update {
    color:red;
    padding:0.5em;
}
#participant_list {
	background-color: #dedede;
	border: 1px solid #ccc;
        margin-bottom:1em;
}

#id_participants {*height: 15em;}

body a.control-close {
    /*stolen from sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/window.css:a.mce_editorwindow_closebtn*/
    display:block;
  float:right;
  /*IE7 with float:right makes the parent div width:100% and looks bad
    so we float it left instead.  not perfect, but looks ok.
   */
    *float:left;
  background-image:url(/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/cornerx.png);
  margin-left:10px;
    *margin-right:10px;
    *margin-left:0px;
  width:16px;
  height:16px;
  color:transparent;
  /*for IE 6-8 not supporting transparent text:*/
    overflow:hidden;
    line-height:48px;
}
body a.control-close:hover {
    background-image:url(/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/cornerx_red.png);
}
 
 .preview input#id_annotation-tags,  .preview input#id_annotation-body, .preview input#id_annotation-title {
 
 background-color: #ffffb3;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 }
 
 a.remove { 
 padding: 3px 3px 3px 20px;
 background-image: url(../img/x.png); 
 background-repeat: no-repeat;
 color: #000;
 background-position: 0px 3px;
 line-height: 1.5em;
 }

.helptext,
.sherd-instructions {

color:#666;
display:block;
font-size:80%;
margin:0.4em 0 2em;
text-align:left;

}

p.helptext,
p.sherd-instructions {

color:#666;
display:block;
font-size:80%;
margin:0.4em 0 2em .5em;
text-align:left;

}

#disableform 
{ 
  background-color:#EEEEEE;
 }
 
 #disableform #id_annotation-title, #disableform #id_annotation-tags, #disableform #id_annotation-body
{ 
  background-color:#EEEEEE;
  border: none;
  color: #000;
 }
 
  #disableform .helptext
{ 
display: none;
 }

.active-annotation
{ 
  padding: 2px;
 }
 
 #currtime, #totalcliplength {display: inline; font-size: 80%; }
 
a#EditClip {background-image: url(../img/tabbertab_edit.gif);  }

.size0 {font-size: .9em; line-height: 1.5em;}
.size1, li .size0 {font-size: 1em; line-height: 1.5em;}
.size3, .size4, li .size1 {font-size: 1.1em;  line-height: 1.5em;}
.size5, .size6, li .size2, li .size3 {font-size: 1.2em;  line-height: 1.5em;}
.size7, .size9, li .size4, li .size5 {font-size: 1.3em;  line-height: 1.5em;}
li .size7, li .size9 {font-size: 1.4em;  line-height: 1.5em;}

.top-archive {

border:1px solid #CCCCCC;
float:left;
margin:0 1em;
overflow-x:hidden;
overflow-y:auto;
text-align:left;
width:55%;


}

.top-archive h2 {

margin: 0 0 .5em 0;
background-color: #6f6f6f;
padding: .2em .5em .2em .5em;
color: #dedede;
font-weight: normal;
text-align: left;
}

.top-archive p,
.top-archive h4 {

margin: 1em 2em;


}

#instructor-items {
border:1px solid #CCCCCC;
float:left;
margin:1em 1em;
overflow-x:hidden;
overflow-y:auto;
text-align:left;
width:55%;
}

#class_activity {

border:1px solid #CCCCCC;
float:left;
/*height:29em;*/
margin:0 1em;
overflow-x:hidden;
overflow-y:auto;
text-align:left;
width:62%;

}

#class_activity h2 {

margin: 0 0 .5em 0;
background-color: #6f6f6f;
padding: .2em .5em .2em .5em;
color: #dedede;
font-weight: normal;
text-align: left;

}

#clicktoplay {

    text-align: left;
    font-size: 100%;
    font-weight: bold;
    padding: 0.2em 1.5em .3em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 4em;
}

.revision-selected {
    background-color:#ededed;
}

#import_instructions {

border:1px solid #CCCCCC;
float:left;
margin:0 1em;
overflow-x:hidden;
overflow-y:auto;
text-align:left;
width:30%;
min-width: 335px;

}

#import_instructions p {

	margin: 1em;

}

#import_instructions .import_class {

	margin: 1em;
	background-color: #eee;
	padding-bottom: 1em;

}

#import_instructions .import_class h3 {

margin: 0 0 .5em 0;
background-color: #6f6f6f;
padding: .2em .5em .2em .5em;
color: #dedede;
font-weight: normal;
text-align: left;

}

#import_instructions h4 {

margin: 1.5em 1em .5em 1em;


}

.browser-specific-instructions {

}

.browser-specific-instructions ol {

}

.intro-text p {
    max-width:500px;
}


.resize-height {
    height:350px;
}
.assets_wide_list .resize-height {
    height:auto;
}

ul.clumper {
    list-style:none;
    margin:0;
    padding: 10px;
}

a.bookmarklet {
    display:block;
    margin-top:8px;
    text-decoration:none;
    text-align:center;
    font-weight: bold;    
    padding:5px;
    width:13em;
    background-color:#BBBBBB;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
}

ul.submenu.course-report  {
	list-style-type: none;
		margin: 0;
		height: 26px;
}

ul.submenu.course-report li {
	display: inline;
	float: left;
	background-color: #ccc;
	display: block;
	padding: 5px;
	margin-right: 5px;
	border: 1px solid #999;

}

ul.submenu.course-report li.highlight {
    background-color:#e5e5e5;

	border: 1px solid #999;

}

.highlight {
    background-color:#fff100;
}

.sherd-clipform-play {
    text-align: center; 
    border-top: 2px solid #999; 
    padding: 10px 0px
}

.sherd-clipform-editing input.timecode,
.sherd-clipform-editing input.regButton {
    width:6em;
}

.sherd-clipform-editing td {
    padding:2px;
}

.sherd-clipform-editing td.sherd-clipform-timecodestart {
    border-right: 1px dotted #999;
}

table.project_list th {
    background-color: #CCC;
    white-space:nowrap;
}

table.project_list th.project-titles {
    min-width: 300px;
    width: 100%;
}

table.project_list td {
	font-size: 80%;
}

table.project_list td .participants{
	margin-left: 30px;
}



body.old-assetwindow #asset-details-annotations-list {
    max-height:400px;
    margin: 5px;
    border: 1px solid #ccc;
}

#asset-details-annotations-list {
    overflow-y:auto;
}

.intro-text {
	margin: 10px 20px;
	background-color: #dedede;
	padding: 10px;
	font-size: 95%;
}

.intro-text h4 {
	margin-top: 10px;
}

.intro-text ul li {
	margin-top: 3px;
}

#instructor-actions form {
	display: inline;

}