table#home-columns
 {

	padding: 0;
	border: none;
	
}

table#home-columns td,
table#classwork-sub td{
	border: none;
	border-collapse: collapse;
	vertical-align: top;
	padding: 5px;
	
}

table#home-columns td#instructor {
	width: 40%;
	
}

table#home-columns td#classwork {
	width: 60%;
	
}


table#home-columns td h2 {
	background-color: #333333;
	padding: 5px 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0;
	
}

div.column-container,
table#classwork-sub {
	background-color: #ffffff;
  -moz-box-shadow: 0px 5px 5px #ccc;
  -webkit-box-shadow: 0px 5px 5px #ccc;
  box-shadow: 0px 5px 5px #ccc;


}

div.column-contents,
table#classwork-sub td{
	border: 1px solid #ccc;
	border-top: 0;
	padding-top: 20px;

}

table#classwork-sub div#assets,
table#classwork-sub div#projects {

border: 2px solid red;

}

