h4.instructor,
h4.collection,
h4.composition {

    margin-top: 15px;
}

h4.instructor,
h4.collection,
h4.composition {

font-weight: normal;
}

input {
    border: 1px solid #333333;
    background-repeat: repeat-x;

}

.meta {
    font-size:90%;
    color: #333;
    line-height: 18px;
    font-weight: normal;
}

.meta label {
    font-weight: bold;
}

#instructor .column-container {
    width: 300px;
}

#media .column-container {
    width: 380px;
}

#projects .column-container {
    width: 350px;
}

/*Home Page specific styles*/


table#home-columns
 {

	padding: 0;
	border: none;
}

table#home-columns td,
table#classwork-sub td{
	border: none;
	border-collapse: collapse;
	vertical-align: top;
	padding: 5px;
	
}


table#home-columns td#instructor ul,
table#home-columns td#classwork ul {
	list-style: none;
	
}

div#instructor-column {

	margin: 0px 10px 5px;
	font-weight: normal;
	line-height: 17px;
}

div#instructor-column h4{

	margin: 10px 0;
	font-weight: normal;
	line-height: 17px;
}

div#instructor-column h4.inst-header{

	padding: 0 0 0 20px;
	background-position: top left;
    background-repeat: no-repeat;
}

div#instructor-column h4.inst-header.project{

    background-image: url("../img/icons/item_project.gif");

}

div#instructor-column h4.inst-header.discussion{

 background-image: url("../img/icons/item_discussion.gif");
}

div#instructor-column h4.inst-header.assignment{

 background-image: url("../img/icons/item_assignment.gif");
}




ul.instructor-list {

	margin: 0 20px 0 40px;
}




ul.instructor-list li {

	margin: 5px 0 10px 0;
	font-weight: normal;
	line-height: 17px;
}



table#home-columns td h2 {
	background-color: #333333;
	padding: 5px 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0;
	
}

table#home-columns td#instructor h2 {
	background-color: #006031;
	padding: 5px 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0;
	
}

div.column-contents,
table#classwork-sub {
	background-color: #ffffff;
    -moz-box-shadow: 0px 5px 5px #ccc;
    -webkit-box-shadow: 0px 5px 5px #ccc;
    box-shadow: 0px 5px 5px #ccc;
  	border: 1px solid #ccc;
    border-top: 0;
    overflow: auto;
    height: 95%;
}

div.column-contents {
	padding-top: 10px;
}

table#classwork-sub td {
	padding: 20px;
	width: 50%;
}


table#classwork-sub div#assets,
table#classwork-sub div#projects {

	border: 2px solid green;
	width: 100%;


}

table#classwork-sub td div#assets h3 {

	background-color: yellow;
	margin: 0;
	padding: 5px;
	

}

table#classwork-sub td div#projects h3 {

	background-color: blue;
	margin: 0;
	padding: 5px;
	

}

table#classwork-sub td div#assets div#asset_browse_col {

	width: 100%;
	float: none;
	margin: 0;
 overflow: auto;
	

}

table#classwork-sub td div#projects div.projectlist ul {

list-style-type: none;
	

}

/*Collection Styles*/

.indexcard input.media {
    margin-top: 5px;

}

input.media {
    background-image: url("../img/buttons/collections_button_bg.jpg");
    border-color: #c89345;

}



input.media.newselection-button {
    float: right;
    margin: 4px;
}

.actions input {

    border: none;
    margin: 0;
    }


/*Composition Styles*/

input.project {
    background-image: url("../img/buttons/compositions_button_bg.jpg");
    border-color: #477794;
}


/*Annotation Styles*/

#annotation-body,
div#annotation-body,
div>#annotation-body {
    margin: 0 0 10px;
    padding: 5px 15px 10px;
}