div#activity{

    position: relative;
    background-color: #red;
    top: 0;
    left:  150px;
}

h4.instructor,
h4.collection,
h4.composition {

    margin-top: 15px;
}

h4.instructor,
h4.collection,
h4.composition {

font-weight: normal;
}

input {
    border: 1px solid #333333;
    background-repeat: repeat-x;
}

input.videoplay{
    padding: 2px 2px 4px 22px;
    background-image:url("../img/selection_play.gif");
    background-repeat: no-repeat;
    border: none;

}

.meta,
.record-metadata {
    font-size:90%;
    color: #333;
    line-height: 18px;
    font-weight: normal;
    margin: 0 5px;
}

.record-metadata {
    padding: 0 .5em 4px 0px;
}

.meta label,
.metadata-label {
    font-weight: bold;
}

#instructor .column-container {
    width: 300px;
    margin-top: 14px;
}

#media .column-container {
    width: 370px;
    margin: 5px 3px 5px 6px;
}

#media .column-container h2 {
    background-color: #a88448;
    text-transform: capitalize;
            font-size: 98%;
}

h2.collections-column {
	padding: 5px 12px;
	color: #ffffff;
    background-color: #a88448;
    text-transform: capitalize;
            font-size: 98%;
            	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0;
}

#projects .column-container {
    width: 340px;
    margin: 5px 6px 5px 2px;
}

#projects .column-container h2{
    background-color: #557691;
        text-transform: capitalize;
        font-size: 98%;
}

.default-content {

}

.default-content h4,
#project_table .default-content h4,
#materials .default-content h4 {
    background-color: dedede;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight:: bold;
}


table#home-columns td#instructor .default-content ul, 
table#home-columns td#classwork .default-content ul
{
    list-style-type: disc;
}



/*Home Page specific styles*/


table#home-columns
 {

	padding: 0;
	border: none;
	margin: 0;
}

table#home-columns td {
	border: none;
	border-collapse: collapse;
	vertical-align: top;
	padding: 5px;
}

table#classwork-sub td {
    border: none;
    border-collapse: collapse;
    vertical-align: top;
    padding: 0px;
}

table#home-columns td#instructor ul,
table#home-columns td#classwork ul {
	list-style: none;
	
}

div#instructor-column {

	margin: 0px 10px 5px;
	font-weight: normal;
	line-height: 17px;
}

div#instructor-column h4{

	margin: 10px 0;
	font-weight: normal;
	line-height: 17px;
}

div#instructor-column h4.inst-header{

	padding: 0 0 0 20px;
	background-position: top left;
    background-repeat: no-repeat;
}

div#instructor-column h4.inst-header.project{

    background-image: url("../img/icons/item_project.gif");

}

div#instructor-column h4.inst-header.discussion{

 background-image: url("../img/icons/item_discussion.gif");
}

div#instructor-column h4.inst-header.assignment{

 background-image: url("../img/icons/item_assignment.gif");
}


div#materials
{
    margin: 5px 5px 10px;
    overflow-x: hidden;
    box-shadow: none;
    border: none;
    background-color: #d5cec2;

}

div#materials h4 {
    background-color: #6F6F6F;
    color: #DEDEDE;
    font-weight: normal;
    margin: 0 0 0.5em;
    padding: 0.3em 0.5em;
    text-align: left;
}

div#materials h4 a
{
    color: #fff;
    padding-right: 4px;
    padding-left: 15px;
}

div#materials h4 a.asset-title-link.insert
{

    padding-left: 5px;
}


ul.instructor-list {

	margin: 0 20px 0 40px;
}




ul.instructor-list li {

	margin: 5px 0 10px 0;
	font-weight: normal;
	line-height: 17px;
}



table#home-columns td h2 {
	background-color: #333333;
	padding: 5px 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: 0;
	
}

table#home-columns td#instructor h2 {
	background-color: #006031;
	height: 14px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: normal;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	margin: -14px 0 0 0;
	
}

div.column-contents,
table#classwork-sub {
	background-color: #ffffff;
    -moz-box-shadow: 0px 5px 5px #ccc;
    -webkit-box-shadow: 0px 5px 5px #ccc;
    box-shadow: 0px 5px 5px #ccc;
  	border: 1px solid #ccc;
    border-top: 0;
    overflow: auto;
    height: 95%;
    min-width: 300px;
}

div#classwork_table table {
    border: 1px solid #ccc;
    border-collapse: separate;

}

div.column-contents {
	padding-top: 10px;
}

#media div.column-contents {
    padding-top: 0px;
}

table#classwork-sub td {
	padding: 20px;
	width: 50%;
}


table#classwork-sub div#assets,
table#classwork-sub div#projects {

	border: 2px solid green;
	width: 100%;


}

table#classwork-sub td div#assets h3 {

	background-color: yellow;
	margin: 0;
	padding: 5px;
	

}

table#classwork-sub td div#projects h3 {

	background-color: blue;
	margin: 0;
	padding: 5px;
	

}

#project_table h4 {
    margin: 0 0 5px 0;
    padding: 5px 12px;
    font-size: 98%;

}

table#classwork-sub td div#assets div#asset_browse_col {

	width: 100%;
	float: none;
	margin: 0;
 overflow: auto;
	

}

table#classwork-sub td div#projects div.projectlist ul {

list-style-type: none;
	

}

/*Collection Styles*/

.indexcard input.media {
    margin-top: 5px;

}

input.media {
    background-image: url("../img/buttons/collections_button_bg.jpg");
    border-color: #c89345;

}



input.media.newselection-button {
    float: right;
    margin: 4px;
}

.actions input {

    border: none;
    margin: 0;
    }

ul.record-metadata-list {
	list-style-type: none;
	margin:0;
	padding: 0 5px;
	
 }
 
/*Composition Styles*/

ul#projects h3 {
    margin: 0;
    font-size: 1em;

}

ul#projects h3 .delete_icon,
ul#projects h3 .edit_icon {
    float: right;
}

input.project,
a.project {
    background-image: url("../img/buttons/compositions_button_bg.jpg");
    border-color: #477794;
}

ul#projects .createnew-button {
    margin: 5px;
}


/*Selection Styles*/

#annotation-body,
div#annotation-body,
div>#annotation-body {
    margin: 0 0 10px;
    padding: 5px 15px 10px;
}

html.busy, html.busy * {  
  cursor: wait;  
}

.metadata-selector {
    display: block;
    height: 15px;
    width: 14px;
    float: left;
    text-decoration: none;
    margin-right: 5px; 
}

.metadata-selector-open
{
    background-image: url(../img/down_arrow.png);
}

.metadata-selector-closed
{
    background-image: url(../img/right_arrow.png);
}


/*Instructor Dashboard*/

#dashboard-container {
    padding: 10px;
    margin: 10px 10px 30px 0;
    border: 1px solid #ccc;
    min-height: 45em;


}

#instructor-nav {
    width: 200px;
    float: left;
    background-color: #999;
    margin-right: 35px;
    padding: 10px;

}

#instructor-nav input, #instructor-nav input a
{

    text-align: left;
    margin: 4px 0;
    width: 202px;
    background-repeat: repeat-x;
    border: 1px solid #477794;
    text-transform: capitalize;
    display: block;
    padding: 0px 5px 1px 5px;
    text-decoration: none;
    color: #000;
        background-image: url("../img/buttons/compositions_button_bg.jpg");
        font-size: 85%;
        height: 17px;

}

#instructor-nav a {

    margin: 4px 0;
    width: 190px;
    background-repeat: repeat-x;
    border: 1px solid #477794;
    text-transform: capitalize;
    display: block;
    padding: 0px 5px;
    text-decoration: none;
    color: #000;
        background-image: url("../img/buttons/compositions_button_bg.jpg");
        font-size: 85%;

}

#course-list a.project {

    margin: 4px 0;
    width: 105px;
    background-repeat: repeat-x;
    border: 1px solid #477794;
    text-transform: capitalize;
    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: #000;
        background-image: url("../img/buttons/compositions_button_bg.jpg");
        font-size: 85%;

}

#dashboard-module {
margin-left: 269px;

}

#dashboard-module-body {
    display: block;
}

#instructor-nav h3,
#dashboard-module h3{
    margin: 0 0 13px;

}


#clipStrip
{
	padding-left:0px;
	/*padding-right:35px;*/
	height:7px;
	background-color: #e0e0e0;
	margin: -1px auto;
}
#clipStripLabel
{
	margin:0;
	padding:1px;
	width:33px;
	float:left;
	position:relative;
}
#clipStripTitle
{
	text-align:center;
	float:right;
	width:180px;
}

#clipStripTrack
{
	position:relative;
	height:7px;
	padding:0px;
	margin:0px 0 0 -2px;
	z-index:0;
	background: #777;
}

.clipStripLayer
{
    position:relative;
    height: 14px;
    padding: 0px;
    margin: 0px 0 0 -2px;
    z-index: 0;
    background: #AAAAAA;
    border-bottom: 1px solid #777;
}

.clipStripLayerTitle
{
    position: relative;
    float: left;
    padding-left: 2px;
    width: 95px;
    height: 14px;
    font-size: 85%;
    text-align: right;
}

.clipStripLayer .annotationLayer
{
    background: #3333FF;
    padding:0px;
    margin:0px;
    width:0px;
    height:14px !important; 
    z-index:1000;
    position:absolute;
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    float: left;
    border-left:1px solid black;
    border-right:1px solid white;
}


.clipSlider,.noteStrip
{
	top:0px;
	width:0px;
	height:7px;
	padding:0 0 0 7px;
	margin:0;
	position:absolute;
	background:url('/site_media/img/vital3/bookendleft.gif') top left no-repeat ;
	z-index:0;
}

.clipStripRange {
	top:0px;
	background:#CCE6EF;
	padding:0px;
	margin:0px;
	width:0px;
	height:7px !important; 
	z-index:0;
	position:relative;
}

.noteStripEnd {
	top:0px;
	margin:0;
	width:0px;
	height:7px;
	padding:0 6px 0 0;
	background:url('/site_media/img/vital3/bookendright.gif') top right no-repeat;
	position:absolute;
	z-index:0;
	
}

.noteSelected
{
	top:0;
	width:5px;
	height:7px;
	opacity:0.8;
	padding:0;
	margin:0px;
	position:absolute;
	background-color:#0000ff;
}

/*Toggling inline help text*/


.helptoggle 
{

    display: block;
    float: right;
    height: 18px;
    margin: -3px 5px;
    padding: 4px 0 0 4px;
    width: 19px;
    
}

.helptoggle.on 
{

    background-color: #DEDEDE;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid #DEDEDE;

}

#instructor-nav .helptoggle a, .helptoggle a.togglebutton 
{

    display:block;
    background-image:url('../img/icons/meth_info_icon.png');
    background-repeat: no-repeat;
    width:20px;
    height:18px;
    color:transparent;
    /*for IE 6-8 not supporting transparent text:*/
    overflow:hidden;
    margin: -2px;
    border: none;
}

.helptoggle a.togglebutton:hover, #instructor-nav .helptoggle a.togglebutton:hover 
{
	background-image:url('../img/icons/meth_info_icon_hover.png');
}

, .helptoggle a.togglebutton.open , #instructor-nav .helptoggle a.togglebutton.open 
{
	background-image:url('../img/icons/meth_info_icon_close.png');
}

.helpblock {
	margin: -7px 3px 20px 4px;
	background-color: #dedede;
	padding: 15px;
	font-size: 95%;
    text-transform: none;

}

.helpblock h3 {
	margin: 0 0 10px 0;

}

.helpblock ul,
table#home-columns td#instructor .helpblock ul, 
table#home-columns td#classwork .helpblock ul 
{
    list-style: disc;

}

.helpblock ul li,
table#home-columns td#instructor .helpblock ul li, 
table#home-columns td#classwork .helpblock ul li
{
    margin-bottom: 5px;

}

.helpblock.on {
    display: block;
}

.helpblock.off {
    display: none;
}


.intro-text {
    /*margin 20px on right-and left, squeezes homepage content over [x] */
	margin: 10px;
	background-color: #dedede;
	padding: 10px;
	font-size: 95%;
    max-width:600px;
}

.intro-text h4 {
	margin-top: 10px;
}

.intro-text ul li {
	margin-top: 3px;
}

#instructor-actions form {
	display: inline;
}


/*Assignment Specific styles */

.assignment-project {
    background-color: #dae7e0;
    padding: 5px;
    width: 98%;
}

.assignment-project h1{
 background-image: url("../img/icons/item_assignment.gif");
 background-repeat: no-repeat;
 padding: 2px 0  0 20px;
 height: 20px;

}

.project-view {
    padding: 5px;
}