body
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.8em/120% 'lucida grande', arial, verdana, sans-serif;
	color: #000;
	min-width: 990px;
}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

h1
{
	margin: 0 0 0.7em 0;
	font-size: 120%;
	
}

h2
{
	/*margin: 1.6em 0 0.7em 0;*/
	font-size: 115%;
}

h3
{
	margin: 1.4em 0 0.7em 0;
	font-size: 110%;
}

h4
{
	margin: 1.2em 0 0.7em 0;
	font-size: 105%;

}

h5
{
	margin: 1em 0 0.7em 0;
	font-size: 100%;
}

h6
{
	margin: 1em 0 0.7em 0;
	font-size: 100%;
		font-style: italic;
}

p
{
	display: block;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: .1em .5em .1em .5em;
}

ol, ul
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

ul.intro-text li {
    font-size:100%;
    list-style:disc;
}

/*
li
{
}
*/

a
{
	color: #8c3b2e;
}

a:hover
{
	color: #666;
}

a:visited
{
	color: #660000;
}

img, img a
{
	border: 0;
}

.para {
    padding:10px;
}

/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */

#container
{
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
	border-top: none;
}

/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
    background: #444; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#333)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #656565,  #333); /* for firefox 3.6+ */

}

#header #logo_project
{
	display: block;
	float: left;
	width: 280px;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project a
{
	display: block;
	width: 280px;
	height: 72px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_project.png') left top no-repeat;
  position:absolute;
  z-index:100;
}

#footer #logo_ccnmtl
{
	display: block;
	clear: right;
	float: right;
	width: 119px;
	height: 26px;
	overflow: hidden;
	/* margin: 34px 10px 0 0;*/
	margin: 1px 10px 0 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl.gif') left top no-repeat;
}

#footer #logo_ccnmtl a
{
	display: block;
	width: 119px;
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project span,
#header #logo_ccnmtl span
{
	display: none;
}

/* ---- Standard navigation block elements ---------- */

#mediathread_logo {
	display: block;
  float: right;
  height: 43px;
  	border-bottom: 1px solid #acacac;
  	border-left:  1px solid #acacac;
	background-color: #6f6f6f;
	-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;

}

#standardnav
{
	display: block;
  float: right;
	margin: 0;
	margin-right: -1px;
	padding: 3px 10px 3px 3px;
	border-left: 1px solid #acacac;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #6f6f6f;
	list-style: none;
	background-color: #6f6f6f;
	color: #fff;
}

#footernav
{
	display: block;
	float: left;
	margin: 3px 10px 0 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#standardnav li, #footernav li
{
	display: block;
	float: left;
	margin: 0 0.5em;
	padding:  0 0 0 0.5em;
	border: 0;
	font-size: 0.9em;
}

#standardnav a, #footernav a
{
	text-decoration: none;
	color: #dedede;
}

#standardnav a:hover, #footernav a:hover
{
	color: #e5da14;
	text-decoration: none;
}

/* ---- Primary navigation block elements ---------- */
#primarynav
{
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 110%;
  position:absolute;
  top:52px;
  z-index:100;
}

#primarynav div.encase
{
  margin-top:-10px;
	height: 37px;

}

#primarynav ul
{
	float: left;
	margin: 8px 10px 0 10px;
	padding: 0;
	border: 0;
	list-style: none;

}

#primarynav #leftside ul
{
  float: left;
  margin-left:20px;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	margin: -7px 6px 0 6px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #9d9d9d; 
	border-bottom: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    background-color: #6f6f6f;
}

#primarynav li.active
{
    background-color: #fff;
    color: #333;
	
}
#primarynav ul.non-member:after {
    content:"not in course";
}
#primarynav li a:hover
{
	background-color: #fff;
	color: #660000;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    	border: 1px solid #9d9d9d; 
	border-bottom: none;
	margin: -1px;
}

#primarynav a
{
	text-decoration: none;
	text-align: center;
	display: block;
	padding-right: 8px;
    color:white;
  padding-left:8px;
 
}

#primarynav a:hover
{
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
}

#primarynav li.active a 
{

  color:black;
	text-decoration: none;
	text-align: center;
}
#primarynav li.active a:hover
{ 

 }


#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 950px;
	min-width: 950px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}


/* ---- Sidebar Left block elements ---------- */
#sidebar_left
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_left
{
	display: block;
}

.two_columns_left #sidebar_left
{
	display: block;
}

.two_columns_right #sidebar_left
{
	display: none;
}

.one_column #sidebar_left
{
	display: none;
}

/* ---- Sidebar Right block elements ---------- */
#sidebar_right
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_right
{
	display: block;
}

.two_columns_left #sidebar_right
{
	display: none;
}

.two_columns_right #sidebar_right
{
	display: block;
}

.one_column #sidebar_right
{
	display: none;
}

/* ---- Sidebar block elements ---------- */

.sidebar
{
	padding: 0;
	border: 1px solid #ccc;
	font-size: 92%;
	line-height: 130%;
}

.sidebar h2
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;	
}

.sidebar .content
{
	margin: 0 0.5em 0.7em 0.5em;
	padding: 0;
	border: 0;
}

.sidebar ol
{
	margin: 0 0 0 1.5em;
	padding: 0;
	border: 0;
}

.sidebar li
{
	margin: 0 0 0.4em 0;
	padding: 0;
	border: 0;
}

.sidebar ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar ul li
{
	padding: 0 0 0 1.2em;
	background: url('../img/bullet_blue.gif') left 0.2em no-repeat;
}

.sidebar a
{
	color: #06c;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #69c;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 145px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span
{
	display: none;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 1em 0 0;
	border: 0;
	width: 498px;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.three_columns #content
{
	display: block;
}

.two_columns_left #content,
.two_columns_right #content
{
	display: block;
	width: 699px;
}

.two_columns_right #squish
{
	margin: 0 0 0 10px;
}

.one_column #content
{
	display: block;
	float: none;
	width: 900px;
}

.pageheader
{
	margin-top: 0;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 950px;
		height: 33px;
	min-width: 950px;
	clear: both;
	margin: 0;
	padding: 6px 0 0 0;
	border: 0;
	background-color: #444;
}

/* ########## MT-preserved style definitions ########## */

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

.printonly
{
	display: none;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}




/* ########## FOR FLUID WIDTH CSS ############### */
/* ########## Blocks style definitions ########## */

body.fluid #container
{
	margin: 0 5px;
	width: auto;
}

/* ---- Header block elements ---------- */
body.fluid #header
{
	width: 100%;
	min-width: 1000px;
}


/* ---- Delta block elements ---------- */
body.fluid #primarynav,
body.fluid #primarynav div.encase
{
	width: auto;
	left: 5px;
	right: 5px;
	min-width: 840px;
}

/* ---- Pagebody block elements ---------- */
body.fluid #pagebody
{
	width: 100%;
}

/* ---- Footer block elements ---------- */
body.fluid #footer
{
	width: 100%;
	background-color: #444;
}

/* ---- Content block elements ---------- */
body.fluid #content
{
	margin: 0 -205px;
	width: 100%;
}

.three_columns.fluid #squish
{
	margin: 0 210px;
}

.two_columns_left.fluid #content,
.two_columns_right.fluid #content
{
	display: block;
	width: 100%;
}

.two_columns_left.fluid #content
{
	margin-right: 0;
}

.two_columns_left.fluid #squish
{
	margin: 0 0 0 210px;
}

.two_columns_right.fluid #content
{
	margin-left: 0;
}

.two_columns_right.fluid #squish
{
	margin: 0 210px 0 10px;
}

.one_column.fluid #content
{
	display: block;
	float: none;
	width: 100%;
	margin: 0;
}

.one_column.fluid #squish
{
	margin: 0 0 1em 10px;
	padding: 0;
	border: 0;
}

#course_title
{
    z-index:9999;
	float: left;
	font-size: 1.8em;
        line-height:1.8em;
	text-transform: capitalize;
	margin-left: .5em;
	margin-top: -26px;
  white-space:nowrap;
  font-family: "Trebuchet MS", "Avenir LT std", Helvetica, Arial, sans-serif;
  font-style: italic;
  *font-style: none;/*IE doesn't anti-alias italics well*/
  color: #e6e6e6;
}

table.course-choices {
    padding:5px;
}

td.course-choice {
    max-width:500px;
    min-width:400px;
    list-style-type:none;
    padding:5px;
}

td.manage-course {
    text-align:center;
}


table.course-choices tr.course-choices-other-years td {
    padding:10px;
    text-align:center;
}

.float-right {float: right;}

