/* ########## Standard elements ########## */

body
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.8em/120% 'lucida grande', arial, verdana, sans-serif;
	color: #000;
	/*min-width: 990px;*/
}


h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

h1
{
	font-size: 120%;
	font-weight: normal;
	
}

h2
{
	font-size: 115%;
}

h3
{
	margin: 1.4em 0 0.7em 0;
	font-size: 110%;
}

h4
{
	margin: 1.2em 0 0.7em 0;
	font-size: 105%;

}

h5
{
	margin: 0.3em 0 0.5em 0;
	font-size: 100%;
}

h6
{
	font-size: 100%;
		font-style: italic;
}

p
{
	display: block;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
		padding: .1em .5em .1em .5em;
		text-align: left;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: .1em .5em .1em .5em;
	text-align: left;
}

ol, ul
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

a
{
	color: #8c3b2e;
}

a:hover
{
	color: #666;
}

a:visited
{
	color: #660000;
}


/* ---- block elements ---------- */

#container
{
	margin: 0 auto;
	width: auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
	border-top: none;
}

/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 1085px;
    background: #444; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ccc); /* for firefox 3.6+ */

}

/* ---- Primary navigation block elements ---------- */

#primarynav
{

	width: auto;
	left: 5px;
	right: 5px;
	min-width: 1085px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 110%;
    position:absolute;
    top:52px;
    z-index:100;
}

#primarynav div.encase
{
	width: auto;
	left: 5px;
	right: 5px;
	min-width: 1085px;
	margin-top:-10px;
	height: 37px;

}

#primarynav ul
{
	float: left;
	margin: 0 9px;
	padding: 0;
	border: 0;
	list-style: none;

}

#primarynav #leftside ul
{
  float: left;

}

#primarynav #rightside ul
{
	float: right;
}

#primarynav a
{
	text-decoration: none;
	/*text-align: center;*/
	display: block;
	padding-right: 6px;
    padding-left:6px;
 
}

#primarynav a:hover
{
	text-decoration: none;
}


#primarynav li
{
	display: block;
	float: left;
	margin: 0px 4px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #9d9d9d; 
    background-color: #ddd;
}

#primarynav li a
{
	color: #666;
}

#primarynav li a:hover
{
	background-color: #fff;
	color: #660000;
	border: 1px solid #9d9d9d; 
	margin: -1px;
}

#primarynav li.active
{
    background-color: #fff;
    color: #333;
	
}
#primarynav ul.non-member:after {
    content:"You are not a class member!";
    margin-left: 25px;
    /*background-image:url('../img/icons/meth_info_icon.png');*/
    /*background-repeat: no-repeat;*/
    background-color: #8C3B2E;
    color: #fff;
    padding: 3px 8px;
}

#primarynav li.home a
{
	padding-left: 27px;
	background-image: url('../img/icons/meth_home_icon.png');
	background-repeat: no-repeat;
}


#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
}

#primarynav li.active a 
{

    color:black;
	text-decoration: none;
	text-align: center;
}


#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
 
#pagebody
{
	display: block;
	width: 100%;
	min-width: 1085px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}


/* ---- Content block elements ---------- */

#content
{
	float: none;
	margin: 0;
	padding: 1em 0 0;
	border: 0;
}

#squish
{
	margin: 0 0 .25em 10px;
	padding: 0;
	border: 0;
}


.pageheader
{
	margin-top: 0;
}




ul.intro-text li {
    font-size:100%;
    list-style:disc;
}

.intro-text h3 {
    margin-top:0px;
}


img, img a
{
	border: 0;
}

.para {
    padding:10px;
}

.scroll {
    overflow: auto;
    border: 1px solid #ccc;
}

/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */



#header #logo_project
{
	display: block;
	float: left;
	width: 280px;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project a
{
	display: block;
	width: 280px;
	height: 72px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_project.png') left top no-repeat;
  position:absolute;
  z-index:100;
}

#footer #logo_ccnmtl
{
	display: block;
	clear: right;
	float: right;
	width: 119px;
	height: 26px;
	overflow: hidden;
	/* margin: 34px 10px 0 0;*/
	margin: 1px 10px 0 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl.gif') left top no-repeat;
}

#footer #logo_ccnmtl a
{
	display: block;
	width: 119px;
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project span,
#header #logo_ccnmtl span
{
	display: none;
}

/* ---- Standard navigation block elements ---------- */

#mediathread_logo {
	display: block;
  float: right;
  height: 43px;
  	border-bottom: 1px solid #acacac;
  	border-left:  1px solid #acacac;
	background-color: #6f6f6f;
	-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;

}

#standardnav
{
	display: block;
  float: right;
	margin: 0;
	margin-right: -1px;
	padding: 3px 10px 3px 3px;
	border-left: 1px solid #acacac;
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #6f6f6f;
	list-style: none;
	background-color: #6f6f6f;
	color: #fff;
}

#footernav
{
	display: block;
	float: left;
	margin: 3px 10px 0 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#standardnav li, #footernav li
{
	display: block;
	float: left;
	margin: 0 0.5em;
	padding:  0 0 0 0.5em;
	border: 0;
	font-size: 0.9em;
}

#standardnav a
{
	text-decoration: none;
	color: #dedede;
}

#footernav a
{
	text-decoration: none;
	color: #333;
}

#standardnav a:hover
{
	color: #e5da14;
	text-decoration: none;
}



/* ---- Sidebar Left block elements ---------- */
#sidebar_left
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_left
{
	display: block;
}

.two_columns_left #sidebar_left
{
	display: block;
}

.two_columns_right #sidebar_left
{
	display: none;
}

.one_column #sidebar_left
{
	display: none;
}

/* ---- Sidebar Right block elements ---------- */
#sidebar_right
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_right
{
	display: block;
}

.two_columns_left #sidebar_right
{
	display: none;
}

.two_columns_right #sidebar_right
{
	display: block;
}

.one_column #sidebar_right
{
	display: none;
}

/* ---- Sidebar block elements ---------- */

.sidebar
{
	padding: 0;
	border: 1px solid #ccc;
	font-size: 92%;
	line-height: 130%;
}

.sidebar h2
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;	
}

.sidebar .content
{
	margin: 0 0.5em 0.7em 0.5em;
	padding: 0;
	border: 0;
}

.sidebar ol
{
	margin: 0 0 0 1.5em;
	padding: 0;
	border: 0;
}

.sidebar li
{
	margin: 0 0 0.4em 0;
	padding: 0;
	border: 0;
}

.sidebar ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar ul li
{
	padding: 0 0 0 1.2em;
	background: url('../img/bullet_blue.gif') left 0.2em no-repeat;
}

.sidebar a
{
	color: #06c;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #69c;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 145px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span
{
	display: none;
}



/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 100%;
		height: 33px;
	min-width: 1085px;
	clear: both;
	margin: 0;
	padding: 6px 0 0 0;
	border: 0;
	background-color: #cdcdcd;
}

/* ########## MT-preserved style definitions ########## */

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

.printonly
{
	display: none;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}






#course_title
{
    z-index:9999;
	float: left;
	font-size: 1.7em;
        line-height:1.2em;
	text-transform: capitalize;
	margin-left: 5px;
	padding: 0;
	margin-top: -37px;
  /*white-space:nowrap;*/
  font-family: "Trebuchet MS", "Avenir LT std", Helvetica, Arial, sans-serif;
  font-style: italic;
  *font-style: none;/*IE doesn't anti-alias italics well*/
  color: #333;
  max-height: 65px;
  overflow: hidden;
}

#course_title a
{
  color: #333;
  
}

#coursefilter {
    float: right;
    width: 325px;
    background-color: #dedede;
    padding: 8px 10px;
    display: block;
    margin: 5px 10px 10px;

}


table.course-choices {
    padding:5px;
    margin-left: 10px;
    width: 960px;
}

td.course-choice {
    max-width:500px;
    min-width:400px;
    list-style-type:none;
    padding:5px;
}

td.manage-course {
    text-align:center;
}


table.course-choices tr.course-choices-other-years td {
    padding:10px;
    text-align:center;
}

.float-right {float: right;}

div.button-container {

	width: 450px;
	margin: -50px 0 0 15px;
	float: left;
}

div.button-form {

	display: block;
	height: 28px;
	padding: 10px 0;
}

.inline,
div.button-form.inline {

	display: inline;


}


div.button-form form, div.button-form.inline form{

	float: right;
}
div.button-form form, div.button-form.inline form.nofloat{

	float: none;
}

/* LOGIN PAGE */
#introduction {
    text-align: center; 
    height: 315px; 
    background-color: #ccc; 
    border: 1px solid #ccc;
    padding: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    border:1px solid #CCCCCC;
    overflow-x:hidden;
    overflow-y:hidden;
}

#introduction h2 {
    background-color: #666;
    margin: 0 0 .5em 0;
    background-color: #6f6f6f;
    padding: 5px 12px;
    color: #fff;
    font-weight: normal;
    text-align: left;
    
}


/*SLIDING ASSIGNMENT TABLE*/

table#sliding-content-container, table#sliding-content-container tr {
    margin: 0;
    width: 99%;
    border: none;
    max-width: 1085px;
}

table#sliding-content-container tr, table#sliding-content-container tr td {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

table#sliding-content-container tr td.panhandle-left-container {
    width: 10px;
    height: 100%;
}

table#sliding-content-container tr td.panhandle-left-container div.panhandle-left {
    width: 10px;
    height: 100%;
    min-height: 600px;
    border-radius: 10px 0px 0px 10px; 
    -moz-border-radius: 10px 0px 0px 10px; 
    -webkit-border-radius: 10px 0px 0px 10px; 
    -moz-box-shadow: -1px 0px 6px #ccc;
    -webkit-box-shadow: -1px 0px 6px #ccc;
    box-shadow: -1px 0px 6px #ccc;
    background-color: #fff;

}

table#sliding-content-container tr td.panhandle-stripe {
    width: 17px;
    padding-top: 7px;
    height: 100%;
}

table#sliding-content-container tr td.panhandle-stripe div.label {
    color: #fff;
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	font-size:12px;
	font-weight:normal;
	text-transform: uppercase;
	padding: 1px 0 3px;
	width: 17px;
}

table#sliding-content-container tr td.panel-container div.panel {
    border: 1px solid #ccc;
    margin: 0;
    padding: 10px 0 8px 10px;
    border-left: none;
    min-height: 180px;
    height: 100%;
}

table#sliding-content-container tr td.panel-container div.panel form {
    height: 100%;
}

table#sliding-content-container tr td.pantab-container {
    vertical-align: top;
    text-align: left;
    width: 20px;
    padding-right: 10px;
}

div.pantab {
    width: 15px;
    height: 19px;
    border-radius: 0px 5px 5px 0px; 
    -moz-border-radius: 0px 5px 5px 0px; 
    -webkit-border-radius: 0px 5px 5px 0px;
    background-repeat: no-repeat;
    border-left: none;
    background-position: left center;
    margin: 0;
    float: left;
}

div.pantab.open {
    background-image:url('../img/panels/closer_bg.png');
}

div.pantab.closed {
     background-image:url('../img/panels/opener_bg.png');
}


table.panel-subcontainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    min-height: 200px;
    vertical-align: top;
}

table.panel-subcontainer tbody {
    vertical-align: top;
}

table.panel-subcontainer tr.fluid {
    height: 100%;
}

table.panel-subcontainer tr td {
    margin: 0;
    padding: 0;
    border: none;
}

td.filler {
    width: 2000px;
}

td.panel-container.collection {
    min-width: 380px;
}

td.panel-container.assignment {
    background-color: #DAE7E0;
    width: 100%;
    min-width: 330px;
}

td.panel-container.composition {
    background-color: #f0f5fa;
    min-width: 330px;
    width: 100%;
}

td.panel-container.discussion {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-width: 330px;
}

td.panel-container.closed {
    display: none;
}

td.panel-container.open {
    display: table-cell;
}

td.panel-container.media {
    height: 100%;
    background-color: #ededed;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.medium {
    width: 540px !important;
}

.small {
    width: 350px !important;
}


td.panel-content.fixed {
    width: 380px;
}

td.panel-content.fluid {
    width: 100%;
}

td.panel-content.fluid.composition {
    min-width: 390px;
    max-width: 600px;
}

td.panel-content.fluid.assignment {
    min-width: 380px;
    max-width: 600px;    
}
    

div.pantab.assignment,
div.panhandle-left.assignment,
td.panhandle-stripe.assignment {
    background-color: #175d35 !important;
}

div.pantab.media,
td.panhandle-stripe.media {
    background-color: #666;
}

div.pantab.composition,
div.panhandle-left.composition,
td.panhandle-stripe.composition {
    background-color: #3a84bf !important;
}

div.pantab.collection,
td.panhandle-stripe.collection {
    background-color: #A88448;
}

div.pantab.discussion,
div.panhandle-left.discussion,
td.panhandle-stripe.discussion {
    background-color: #000 !important;
}

div#collection-materials h2 {
    border-radius: 0;
    -moz-border-radius: 0; 
    -webkit-border-radius: 0;
}

div#collection-materials h2 a.browse-button {
    float: right;
    width: 75px;
    background-repeat: repeat-x;
    border: 1px solid #c89345;
    text-transform: capitalize;
    display: block;
    padding: 1px 6px 3px;
    text-decoration: none;
    color: black;
    background-image: url("../img/buttons/collections_button_bg.jpg");
    font-size: 85%;
    border-image: initial;
}
