body
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.8em/120% 'lucida grande', arial, verdana, sans-serif;
	color: #000;
}

/* ########## Standard elements ########## */

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

h1
{
	margin: 0 0 0.7em 0;
	font-size: 120%;
	
}

h2
{
	/*margin: 1.6em 0 0.7em 0;*/
	font-size: 115%;
}

h3
{
	margin: 1.4em 0 0.7em 0;
	font-size: 110%;
}

h4
{
	margin: 1.2em 0 0.7em 0;
	font-size: 105%;

}

h5
{
	margin: 1em 0 0.7em 0;
	font-size: 100%;
}

h6
{
	margin: 1em 0 0.7em 0;
	font-size: 100%;
		font-style: italic;
}

p
{
	display: block;
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: .1em .5em .1em .5em;
}

ol, ul
{
	display: block;
	margin: 0 4em 0.7em 4em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

/*
li
{
}
*/

a
{
	color: #8c3b2e;
}

a:hover
{
	color: #666;
}

a:visited
{
	color: #660000;
}

img, img a
{
	border: 0;
}

/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block
{
	display: block;
	margin: 0 10px .8em 10px;
	padding: 0;
	border: 0;
}

/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}


/* ########## Blocks style definitions ########## */

#container
{
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
	border-top: none;
}

/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	height: 84px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background: #dcdcdc;
	background: transparent url('../img/header_gradient.jpg') left center repeat-x;
}

#header #logo_project
{
	display: block;
	float: left;
	width: 280px;
	height: 70px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project a
{
	display: block;
	width: 280px;
	height: 84px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_project.png') left top no-repeat;
  position:absolute;
  z-index:100;
}

#footer #logo_ccnmtl
{
	display: block;
	clear: right;
	float: right;
	width: 119px;
	height: 26px;
	overflow: hidden;
	/* margin: 34px 10px 0 0;*/
	margin: 1px 10px 0 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl.gif') left top no-repeat;
}

#footer #logo_ccnmtl a
{
	display: block;
	width: 119px;
	height: 26px;
	margin: 0;
	padding: 0;
	border: 0;
}

#header #logo_project span,
#header #logo_ccnmtl span
{
	display: none;
}

/* ---- Standard navigation block elements ---------- */
#standardnav
{
	display: block;
  position:absolute;
  right:0px;
	margin: 0 10px 10px 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#footernav
{
	display: block;
	float: left;
	margin: 3px 10px 0 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#standardnav li, #footernav li
{
	display: block;
	float: left;
	margin: 0 0 0 0.5em;
	padding:  0 0 0 0.5em;
	border: 0;
	font-size: 0.9em;
}

#standardnav a, #footernav a
{
	text-decoration: none;
	color: #666;
}

#standardnav a:hover, #footernav a:hover
{
	color: #8d3b2f;
	text-decoration: none;
}

/* ---- Primary navigation block elements ---------- */
#primarynav
{
	width: 100%;
	clear: both;
	margin: -7px 0 0px 0;
	padding: 0;
	border: 0;
	font-size: 110%;
  position:absolute;
  top:52px;
  border-bottom:2px solid black;
  background: transparent url('../img/header_gradient.jpg') left center repeat-x;
}

#primarynav div.encase
{
  margin-top:-10px;
	height: 37px;

}

#primarynav ul
{
	float: left;
	margin: 8px 10px 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
  border-top:2px solid black;
}

#primarynav #leftside ul
{
  float: left;
  margin-left:80px;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	margin: -7px 6px 0 6px;
  border-left: 2px solid black;
  border-right: 2px solid black;
	line-height: 30px;
	text-align: center;
}

#primarynav li.active
{

	
}


#primarynav li a:hover
{
	background-color: #fff;
	color: #660000;
}

#primarynav a
{
	text-decoration: none;
	text-align: center;
	display: block;
	padding-right: 8px;
  background-color:#dddddd;
  color:black;
  padding-left:8px;
  margin-top:7px;
}

#primarynav a:hover
{
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #usernav li a
{
	color: #fc6;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
}

#primarynav li.active a 
{
  background-color:yellow;
	/*color: #8c3b2e;*/
  color:black;
	text-decoration: none;
	text-align: center;
}
#primarynav li.active a:hover
{ 
  background-color:#ffff62;
 }


#usernav
{
	background: transparent;
	font-weight: bold;
	color: #fc6;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 900px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
	background-color: #fff;
}


/* ---- Sidebar Left block elements ---------- */
#sidebar_left
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_left
{
	display: block;
}

.two_columns_left #sidebar_left
{
	display: block;
}

.two_columns_right #sidebar_left
{
	display: none;
}

.one_column #sidebar_left
{
	display: none;
}

/* ---- Sidebar Right block elements ---------- */
#sidebar_right
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
}

.three_columns #sidebar_right
{
	display: block;
}

.two_columns_left #sidebar_right
{
	display: none;
}

.two_columns_right #sidebar_right
{
	display: block;
}

.one_column #sidebar_right
{
	display: none;
}

/* ---- Sidebar block elements ---------- */

.sidebar
{
	padding: 0;
	border: 1px solid #ccc;
	font-size: 92%;
	line-height: 130%;
}

.sidebar h2
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;	
}

.sidebar .content
{
	margin: 0 0.5em 0.7em 0.5em;
	padding: 0;
	border: 0;
}

.sidebar ol
{
	margin: 0 0 0 1.5em;
	padding: 0;
	border: 0;
}

.sidebar li
{
	margin: 0 0 0.4em 0;
	padding: 0;
	border: 0;
}

.sidebar ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar ul li
{
	padding: 0 0 0 1.2em;
	background: url('../img/bullet_blue.gif') left 0.2em no-repeat;
}

.sidebar a
{
	color: #06c;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #69c;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 145px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span
{
	display: none;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 1em 0;
	border: 0;
	width: 498px;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.three_columns #content
{
	display: block;
}

.two_columns_left #content,
.two_columns_right #content
{
	display: block;
	width: 699px;
}

.two_columns_right #squish
{
	margin: 0 0 0 10px;
}

.one_column #content
{
	display: block;
	float: none;
	width: 900px;
}

.pageheader
{
	margin-top: 0;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 900px;
		height: 33px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 6px 0 0 0;
	border: 0;
	background-color: #fff;
}

/* ########## MT-preserved style definitions ########## */

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

.printonly
{
	display: none;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}




/* ########## FOR FLUID WIDTH CSS ############### */
/* ########## Blocks style definitions ########## */

body.fluid #container
{
	margin: 0 0 0 5px;
	width: auto;
}

/* ---- Header block elements ---------- */
body.fluid #header
{
	width: 100%;
}


/* ---- Delta block elements ---------- */
body.fluid #primarynav,
body.fluid #primarynav div.encase
{
	width: 100%;
}

/* ---- Pagebody block elements ---------- */
body.fluid #pagebody
{
	width: 100%;
}

/* ---- Footer block elements ---------- */
body.fluid #footer
{
	width: 100%;
	background-color: #ddd;
}

/* ---- Content block elements ---------- */
body.fluid #content
{
	margin: 0 -205px;
	width: 100%;
}

.three_columns.fluid #squish
{
	margin: 0 210px;
}

.two_columns_left.fluid #content,
.two_columns_right.fluid #content
{
	display: block;
	width: 100%;
}

.two_columns_left.fluid #content
{
	margin-right: 0;
}

.two_columns_left.fluid #squish
{
	margin: 0 0 0 210px;
}

.two_columns_right.fluid #content
{
	margin-left: 0;
}

.two_columns_right.fluid #squish
{
	margin: 0 210px 0 10px;
}

.one_column.fluid #content
{
	display: block;
	float: none;
	width: 100%;
	margin: 0;
}

.one_column.fluid #squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

#course_title
{
	float: left;
	font-size: 1.2em;
	text-transform: capitalize;
	margin: 20px .5em 0 112px;
  white-space:nowrap;
}

