table.panel {
    border: none;
    margin: 0;
    width: 100%;
}

td.filler {
    width: 100%;
}

td.panhandle {
    width: 26px;
    min-width: 26px;
    padding: 0px;
    border: none;
}

td.panel {
    vertical-align: top;
    text-align: left;
    padding: 0px;
    border: none;
}

td.panhandle.assignment {
    background-color: #006031;
}

td.panhandle.composition {
    background-color: #557691;
}

td.panhandle.collection {
    background-color: #A88448;
}

td.panel.fixed.assignment {
    min-width: 330px;
    max-width: 330px;
    width: 330px;
}

td.panel.fixed.collection {
    min-width: 330px;
    max-width: 330px;
    width: 330px;
}

td.panel.fluid {
    width: 100%;
}

td.panel.fluid.composition {
    min-width: 330px;
}

td.panel.closed {
    display: none;
}

td.panel.open {
    display: block;
}