#discussion-container .accordion>.card,
#project-container .accordion>.card {
    overflow: unset;
}

a.active-annotation.materialCitation {
    background-color: #ffc107;
}

.active-annotation {
    background-color: none;
    padding: 0;
}

.annotation-embedding img.materialCitation {
    display:block;
}


.editing {
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

h1.project-title {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 0 0;
    line-height: 1.2em;
    max-width: 450px;
}

.essay-space { 
  min-height: 300px;
  overflow: auto;
  position:relative;/*important companion to overflow:auto for IE7*/
  background-color:white;
}

img.materialCitation {
    cursor:pointer;
    float:left;
    margin:1px 0 0 5px;
}

h4 img.materialCitation {
    margin: -4px -4px;
    width: 25px;
    height: 25px;
    border: none;
}

body.mce-content-body {
    /**overrides tinyMCE's default 10px which will not correspond
      to styled as published (and 10px is too small for the image-annotation
      icon)
    **/
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.mce-btn {
    background-color: #f8f9fa!important;
}

.mce-panel {
    background-color: #f8f9fa!important;
    border-color: rgba(0,0,0,.125)!important;
}

div.mce_editorwindow {
    min-width: 324px;
    margin-top: 5px;
}

div.mce_editorwindow .asset-object {
    background-color: white;
    border: 0;
}

div.mce_editorwindow .mce_top {
    background-color: #343a40;
}

div.mce_editorwindow .mce_editorwindow_closebtn {
    float: right;
    margin: 5px;
}

div.mce_editorwindow .mce_content {
    clear: both;
}

div.mce_editorwindow .mce_editorwindow_closebtn:hover {
  background-image: none;
}

.defaultSkin table.mceLayout {
    border-top: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.essay-space-container {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}

.main-view.asset-view-published {
    margin-top: 83px;
}

.main-view.asset-view-published .videoclipbox {
    border-top: 40px solid #343a40;
}

.main-view.collection-materials {
    margin-top: 62px;
}

#feedback-accordion .collection-materials,
#discussion-workspace .collection-materials {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    overscroll-behavior: contain;
    height: 100vh;
    overflow: hidden;
    transform: translateZ(0);
    vertical-align: top;
    white-space: normal;
}

#feedback-accordion .collection_table,
#discussion-workspace .collection_table {
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

.essay-space-container .mceLayout {
    width: 100% !important;
}

.project-content { 
    width: 100% !important;
    border: 1px solid #ccc;
}
 
#id_participants {*height: 15em;}

div.save-publish-status {
    text-align: left;
}

div.save-publish-status ul {
    margin-left: .25em;
    margin-right: .25em;
}

div.save-publish-status li {
    list-style-type: none;
}

.save-publish-status #id_response_view_policy label,
.save-publish-status #id_publish label {
    font-weight: normal;
}

.save-publish-status .well {
    padding: 15px;
    padding-bottom: 0;
}

.save-publish-status .right.small {
    margin: -10px -5px 0 0;
}

/* ---- Quick Edit -- */

.discussion .quick-edit #asset-view-header h3,
.composition .quick-edit #asset-view-header h3 {
    margin-top: 55px;
    text-align: center;
    padding-top: 1rem!important;
}

.discussion .quick-edit .asset-view-published,
.composition .quick-edit .asset-view-published {
    margin: 0;
    margin-top: 0;
    float: none;
    width: 100%;
    min-width: 100%;
    min-height: auto;
    height: auto;
    position: relative;
    padding: 0;
}

.discussion .quick-edit .original-annotation-title,
.composition .quick-edit .original-annotation-title {
    margin-top: 1.5rem;
}

.discussion .quick-edit .asset-view-tabs,
.discussion .quick-edit .asset-view-container,
.composition .quick-edit .asset-view-tabs,
.composition .quick-edit .asset-view-container {
    width: 385px;
    margin: auto;
}

.original-annotation-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* ---- Selection & Sequence Assignments ------- */
/* Selection Assignment */
.selection-assignment .annotation-ajaxloader {
    margin-top: 25px;
    height: 150px;    
    width: 90%;
}

.selection-assignment #sliding-content-container {
    margin-top: 20px;
}

.project-response-form ul,
.selection-assignment .page ul,
.sequence-assignment .page ul {
    margin:  .4em 0em 0.7em 2em;
}

.selection-assignment input[name='copy-selection-icon'],
.selection-assignment #asset-global-annotation {
    display: none !important;
}

.sequence-assignment .radio {
    margin-top: 0;
}

.sequence-assignment #id_publish,
.selection-assignment #id_response_view_policy,
.selection-assignment #id_publish {
    margin: 0 4em 0.7em .7em;
    list-style-type: none;
    width: 100%;
}

.selection-assignment #id_response_view_policy li,
.sequence-assignment #id_response_view_policy li {
    list-style-type: none;
}

.sequence-assignment #id_response_view_policy label,
.sequence-assignment #id_publish label,
.selection-assignment #id_response_view_policy label,
.selection-assignment #id_publish label {
    font-weight: normal;
}

.selection-assignment .asset-view-tabs {
    padding-left: 15px !important;
    width: 32% !important;
}

.selection-assignment .asset-view-published {
    border: 0;
}

.selection-assignment h3.annotation-header a {
    font-size: .9em;
}

.selection-assignment .annotation-header:not(.ui-state-active) .annotation-listitem-icon {
    display: none;
}

.sequence,
.sequence-assignment {
    min-width: 970px;
    width: 100%;
}

.sequence .col-half,
.sequence-assignment .col-half {
    width: 49%;
}

.sequence .title-container,
.sequence-assignment .title-container {
    width: 40%;
}

.sequence .tabs-container,
.sequence-assignment .tabs-container {
    width: 59%;
}

.sequence-assignment .assignment-response-title {
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

.sequence-assignment .assignment-response-author {
    margin-top: 10px;
    font-size: 110%;
}
.sequence-assignment input[name='title'] {
    display: inline;
    width: 72%;
}

.sequence-assignment .panel-title a {
    color: #383838;
    font-size: 14px;
}

.sequence .btn-tab,
.sequence-assignment .btn-tab {
    line-height: 1;
    border-radius: 3px;
    margin-left: 5px;
    padding: 7px 9px;
    margin-top: 5px;
}

.sequence-assignment .btn-primary:hover,
.sequence-assignment .btn-primary:active,
.sequence-assignment .btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.sequence-assignment .tab-content {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: -1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.sequence-assignment textarea[name='comment'] {
    height: 200px;
}
.sequence-assignment textarea[name='body'] {
    height: 200px;
}

.sequence-assignment .alert-success {
    padding: 5px;
    margin-right: 10px;
}

form[name="sequence-assignment-edit"] p {
    margin-top: 0;
}

form[name="sequence-assignment-edit"] input[type=checkbox], 
form[name="sequence-assignment-edit"] input[type=radio] {
    margin: 0 0 0 -20px;
}

.selection-assignment h1 {
    font-size: 2rem;
}

.selection-assignment h2 {
    font-size: 1.5rem;
}

.selection-assignment .mceLayout,
.selection-assignment textarea {
    width: 100% !important;
    height: 100%;
}

.selection-assignment .gallery-item-overlay {
    position: absolute;
    background: rgba(119,119,119,.70);
    text-align: center;
    vertical-align: middle;
    opacity:0.70;
    -moz-opacity:0.70;
    filter:alpha(opacity=70);
    font-weight: 900;
    color: white;
    font-size: 48px;
    z-index: 1000;
    cursor: pointer;
}

.selection-assignment .gallery-item-overlay div {
    margin-top: 40%;
    outline: 0;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

.selection-assignment .selected-item .meta {
    display: none;
}

.selection-assignment .filter-selections {
    display: none;
}

.selection-assignment .selected-item .gallery-item {
    margin-top: 30px;
    float: none;
}

.selection-assignment .clipstrip-display {
    display: none;
}

/* ---- Threaded comments ---------- */

.threaded_comment_author {
    font-size: 1.5rem;
}

.comment-highlight {
    background-color: #fff7df;
}

form.threaded_comments_form h3 {
    margin-top: 5px;
}

form.threaded_comments_form table.threaded_comments_form_table {
    width: 100%;
}

form.threaded_comments_form table, 
form.threaded_comments_form table tr, 
form.threaded_comments_form table tr td {
    border: none;
}

form.threaded_comments_form table th,
form.threaded_comments_form table tr td input[name="name"],
form.threaded_comments_form table tr td input[name="email"],
form.threaded_comments_form table tr td input[name="url"],
form.threaded_comments_form table tr td input[name="title"],
form.threaded_comments_form table tr td input[name="honeypot"]
{
    display:none;
}

form.threaded_comments_form input[type="submit"],
form.threaded_comments_form input[type="button"] {
    float: right;
    margin-right: 5px;
}

form.threaded_comments_form table tr td input[name="title"] {
    width: 50%;
    font-size: 110%;
    margin: 8px 0px;
    padding: 2px;
}

ul.comment-thread {
    margin: 0px; /*no left indent on first comment*/
    padding-left: 0;
}

li > ul.comment-thread {
    margin:0px 0px 0 2em; /*indent each subsequent thread level*/
    padding: 0px;
    border-left: 1px solid #dee2e6;
    padding-left: 1.25rem!important;
}

.edit_prompt,
.respond_prompt {
    padding-top: .15rem;
}

.text-separator {
    display: inline-block;
    margin: -2px .67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
}

li.comment-thread {
    list-style: none;
}

/* ---- End threaded comments ---------- */

/* Revision dialog */
.revision-list, .response-list {
    text-align: left;
}

.revision-list div, .response-list div {
    padding-bottom: 5px;
}

.revision-list select, .response-list select {
    height: 75%;
    width: 99%;
}


/* ---- Participant Selector Widget ------------ */

div.selector h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}

div.selector div.selector-chosen select {
    height: 240px;
}

div.selector h2 img.help-tooltip {
    float: right;
    margin-top: 1px;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
