a.active-annotation.materialCitation {
    background-color:#fff100;
}

a.edit-pencil {
    text-decoration:none;
}


.active-annotation {
    background-color: none;
    padding: 0;
}

.annotation-embedding img.materialCitation {
    display:block;
}

.asset-view-small .asset-object {
    margin: 6px;
}

.asset-view {
    width: 370px;
    height: 370px;
    background-color: #dedede;
    border: 1px solid #ccc;
    float: left;
}

.asset-view-published {
    background: url('../img/media-Bkgd.gif') no-repeat center center;
    padding-top: 3px;
    margin-left: 5px;
    background-color: #ededed;
    float: left;
    width: 57%;
    height: 450px;
}

.asset-view-small {
    background: url('../img/media-Bkgd.gif') no-repeat;
    width: 363px;
    min-height: 324px;
    padding-top: 3px;
}

.asset-title {
    margin-left: 10px;
}

.annotation-title.materialCitation {
    background-image: url('../img/icons/item_video.gif') left no-repeat;
    border: 0;
    color: #660000;
    width:auto;
    overflow:visible; /* IE 5-6 hack */
}

.annotation-title.materialCitation h2 {
    background: #969696 url('../img/icons/item_video.gif') 5px 3px no-repeat;
    color:#DEDEDE;
    font-weight:normal;
    margin:0 0 0.5em;
    padding:0.2em 0.5em .2em 1.8em;
    text-align:left;
}

.editing {
    border: 1px solid #ccc;
    padding: 20px;
}

.essay-options
{ 
    padding:1em;
    clear:both;
}

.essay-space-container {
    float: left; 
    width: 42%;
}

.essay-space-feedback
{ 
  height: 89%;
  overflow: auto;
  position:relative;/*important companion to overflow:auto for IE7*/
  margin-left: 5px;
  border: 1px solid #ccc;
  padding: 0 10px 10px 10px;
  background-color:white;
  max-width:550px;
}

.essay-space
{ 
  height: 442px;
  overflow: auto;
  position:relative;/*important companion to overflow:auto for IE7*/
  margin-left: 5px;
  border: 1px solid #ccc;
  padding: 0 10px 10px 10px;
  background-color:white;
}

.essay-space h2 input {
    padding:0 3px;
}

#essay-space-materials {
    float: left;
    width: 40%;
    margin-left: 20px;
}

#discussion-space-materials h2,
#essay-space-materials h2 {
    background-color: #a88448;
    text-transform: capitalize;
    font-size: 98%;
    padding: 5px 12px;
    text-transform: capitalize;
    font-size: 98%;
    font-weight: normal;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    color: white
}

img.materialCitation {
    cursor:pointer;
    float:left;
    margin:1px 0 0 5px;
}

input.materialCitation {
    background: #fff url('../img/icons/item_video.gif') left no-repeat;
    margin: 2px 0px 2px 4px;
    padding: 1px;
    border: 0;
    padding-left: 14px;
    font-size:12px;
    color: #369;
    cursor:pointer;
    display:inline;
    width:auto;
    overflow:visible; /* IE 5-6 hack */
    text-decoration: underline;
    font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

input.materialCitation:hover
{
    background-color: #efefef;
}

#last-version-public {
    padding-left:10px;
}

#last-version-saved {

   float: right;
   padding: 3px;
   margin: 5px 1px 1px 0;
}


body.mceContentBody {
    /*overrides tinyMCE's default 10px which will not correspond
      to styled as published (and 10px is too small for the image-annotation
      icon)
     */
    font:0.8em/120% 'lucida grande',arial,verdana,sans-serif;
}

.mceContentBodyCursor {
    width:10px;
    background-color:red;
    position:absolute;
    padding: none;
    margin: none;
    font:1em/100% 'lucida grande',arial,verdana,sans-serif;
    font-weight: bold;
}

div.mce_editorwindow {
    min-width: 324px;
}

#project-container {
    background-color: #ccc;
    margin: 0;
    padding: 0 5px;
}

#project-content {
    width: 100%;
}

.project-form-title input#id_title {
    width:250px;
    font-size: 100%;
    padding-left: 5px;
}


#project-form-buttons {
    margin-top:5px;
}

#project_participants {
    font-size: 90%;
    max-width: 451px;
    padding-top: 4px;
    margin: 2px;
}

span.project-dropdown {
    margin-right:10px;
    *margin: -23px 45px 0 0;
}

input.project-savebutton,
span.project-dropdown {
    float:right;
}


/* ---- Threaded comments ---------- */

#threadedcomments {
    overflow-y:auto;
    padding: 0px 5px 0 0px;
    float: left;
    width: 50%;
    border:1px solid #CCCCCC;
}

#discussion-space-materials {
    float: left;
    width: 30%;
    margin-left: 20px;
}


form.threaded_comments_form ul li {
 background: #AAA;
 list-style-type: none;
}

.comment_action {
    background-color:#EEEEEE;
    border:1px solid #CCCCCC;
    color:#992222;
    cursor:pointer;
    float:left;
    font-size:80%;
    margin:0 4px 0 0;
    padding:1px 3px;
    text-decoration:none;
}

.comment_form_space ul {
    margin: 0 0 0 0;
}

.respond_to_comment_form_div .control-open {
    padding-right:20px;
    background:#eeeeee url("/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/cornerx.png") 97% 45% no-repeat;
    font-weight:bold;
    
}

.comment-manage, .comment_actions a.comment-manage {
	
	color:#992222;
	cursor:pointer;
	padding:1px 3px;
	text-decoration:underline;
	font-size: 90%;
}

.comment-date {

	font-size: 80%;
}



.invisible { display: none; }


/***
doesn't work in WebKit OR IE?!!?
,
form.threaded_comments_form input[name=url],
form.threaded_comments_form input[name=honeypot],
form.threaded_comments_form input[name=name],
form.threaded_comments_form input[name=email],
form.threaded_comments_form input[name=title],
form.threaded_comments_form label[for=id_url],
form.threaded_comments_form label[for=id_honeypot],
form.threaded_comments_form label[for=id_name],
form.threaded_comments_form label[for=id_email],
form.threaded_comments_form label[for=id_title] 
***/
form.threaded_comments_form,
form.threaded_comments_form .formtitle {
    display:none;
}

.threaded_comment_title {
    display:none;
}

ul.comment-thread {
    margin: 0px; /*no left indent on first comment*/


}


ul.comment-thread > li.comment-thread > ul.comment-thread > li.comment-thread {

border-left:1px solid #CCCCCC;
margin-top: 3px;

}



ul.comment-thread li.comment-thread.last {
border: none;
margin-bottom: none;


}


li > ul.comment-thread {
    margin:0px 0px 0 1.5em; /*indent each subsequent thread level*/
    padding: 0px;
    
}

li > ul.comment-thread.last {

    background-color: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    
}

li > ul.comment-thread div.comment {
    background-color: #fff;

}

li > ul.comment-thread div.comment.new-comment {

	padding-bottom: 33px;

}



li.comment-thread {
    list-style:none;
    padding-bottom: 4px;


}

/*TinyMCE adds _tbl to the #id_comment id for the table where the editor is dynamically created. */

#id_comment {
    width: 96%;
}

table#id_comment_tbl {
    clear:both;
    margin-left:10px;
}

/*comment that someone has linked to
  This MUST be shown in some way, so it's clear what comment
  just created.
*/
li.comment-thread:target > .comment {
    border:2px solid black;
}

li.comment-thread:target > .comment .threaded_comment_header {
    /*background-color:#DDDDDD;*/
}

.threaded_comment_header {
    background-color:#CCCCCC;
    padding: 1px 2px 1px 5px;
    width: 100%;
}

.threaded_comment_text {
    padding: 1px 2px 1px 5px;
    width: 100%;
}

.comment-actions {
    float:right;

}
/* ---- End threaded comments ---------- */


/* ---- Participant Selector Widget ------------ */

/*for FilteredSelectMultiple*/
.selector {
width: 450px;
float: left;
}

.selector select {
width: 205px;
height: 8em;
}

.selector img, .selector img a {
    vertical-align: middle;
}

.selector-available, .selector-chosen {
float: left;
width: 205px;
text-align: center;
margin-bottom: 5px;
}

.selector-available h2, .selector-chosen h2 {
border: 1px solid #ccc;
font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
font-size:11px;
}

.selector .selector-available h2 {

background-color: #ccc;
color: black;
}
.selector .selector-chosen h2 {
background: #A29A63 url(/media/img/admin/default-bg.gif) repeat-x scroll left top;
color: black;
}


.selector .selector-filter {
background: white;
border: 1px solid #ccc;
border-width: 0 1px;
padding: 3px;
color: #999;
font-size: 10px;
margin: 0;
text-align: left;
}

.selector .selector-chosen .selector-filter {
padding: 4px 5px;
}

.selector .selector-available input {
width: 170px;
}

.selector ul.selector-chooser {
float: left;
width: 22px;
height: 50px;
background: url(/admin/chooser-bg.gif) top center no-repeat;
margin: 8em 3px 0 3px;
padding: 0;
}

.selector-chooser li {
margin: 0;
padding: 3px;
list-style-type: none;
}

.selector select {
margin-bottom: 5px;
margin-top: 0;
}

.selector-add, .selector-remove {
width: 16px;
height: 16px;
display: block;
text-indent: -3000px;
}

.selector-add {
background: url(/media/img/admin/selector-add.gif) top center no-repeat;
margin-bottom: 2px;
}

.selector-remove {
background: url(/media/img/admin/selector-remove.gif) top center no-repeat;
}

a.selector-chooseall, a.selector-clearall {
display: block;
width: 6em;
text-align: left;
margin-left: auto;
margin-right: auto;
font-weight: bold;
color: #666;
padding: 3px 0 3px 18px;
}

a.selector-chooseall:hover, a.selector-clearall:hover {
color: #036;
}

a.selector-chooseall {
width: 7em;
background: url(/media/img/admin/selector-addall.gif) left center no-repeat;
}

a.selector-clearall {
background: url(/media/img/admin/selector-removeall.gif) left center no-repeat;
}

.selector select {
font-family:"Lucida Grande",Verdana,Arial,sans-serif;
font-size:11px;
font-weight:normal;
}
.selector h2 {
margin-bottom:0; /*override dojo style*/
}


.item-level-info {

    display: block;
    width: auto;
}

.metadata-container {
    display: block;
    float: left;
    margin-left: 8px;
    width: 93%;
}

.annotation-thumb {
    float: left;
}
