a.active-annotation.materialCitation {
    background-color:#fff100;
}

.active-annotation {
    background-color: none;
    padding: 0;
}

.annotation-embedding img.materialCitation {
    display:block;
}


.editing {
    border: 1px solid #ccc;
    padding: 20px;
}

h1.project-title {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 0 0;
    line-height: 1.2em;
    max-width: 450px;
}

.essay-space { 
  min-height: 300px;
  overflow: auto;
  position:relative;/*important companion to overflow:auto for IE7*/
  padding: 0 10px 10px 10px;
  background-color:white;
  border: 1px solid #ccc;
}

img.materialCitation {
    cursor:pointer;
    float:left;
    margin:1px 0 0 5px;
}

h4 img.materialCitation {
    margin: -4px -4px;
    width: 25px;
    height: 25px;
    border: none;
}

body.mceContentBody {
    /**overrides tinyMCE's default 10px which will not correspond
      to styled as published (and 10px is too small for the image-annotation
      icon)
    **/
    font: 0.8em/120% 'lucida grande',arial,verdana,sans-serif;
}

.mceContentBodyCursor {
    width:10px;
    background-color:red;
    position:absolute;
    padding: none;
    margin: none;
    font:1em/100% 'lucida grande',arial,verdana,sans-serif;
    font-weight: bold;
}


div.mce_editorwindow {
    min-width: 324px;
}

.defaultSkin table.mceLayout {
    border-top: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.project-content { 
    width: 100%;
    border: 1px solid #ccc;
}
 
input.participants_toggle {
    margin: 0px 10px 5px 0px;
    font-size: .8em;
}

tr.project-participant-row h5 {
    font-weight: normal;
}

#id_participants {*height: 15em;}

div.save-publish-status {
    text-align: left;
}

div.save-publish-status div.due-date {
    margin-left: 30px;
    margin-top: 3px;
}

div.save-publish-status div.due-date input#id_due_date {
    width: 215px;
}

div.save-publish-status ul {
    margin-left: .25em;
    margin-right: .25em;
}

div.save-publish-status li {
    list-style-type: none;
}

.panel-subcontainer-title {
    text-align: left;
    margin: 5px;
}

.panel-subcontainer-title label {
    margin-bottom: 2px;
}

div.panel input.btn-primary {
    padding: 4px 8px;
}


/* ---- Threaded comments ---------- */

.comment_action {
    margin: 4px 2px 0 0;
    background-repeat: repeat-x;
    border: 1px solid #477794;
    text-transform: capitalize;
    padding: 2px 5px;
    text-decoration: none;
    color: black;
    background-image: url("../img/buttons/compositions_button_bg.jpg");
    font-size: 85%;
    cursor: pointer;
}

div.threadedcomments-container {
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #bbb;
    position: relative;
    background-color: white;
}

form.threaded_comments_form {
    margin: 10px 10px 30px 10px;
    background-color: #ccc;
    padding: 10px;
}

form.threaded_comments_form h3 {
    margin-top: 5px;
}

form.threaded_comments_form div.save_and_cancel {
    height: 20px;
    width: 100%;
    background-color: #ccc;
}

form.threaded_comments_form table.threaded_comments_form_table {
    width: 100%;
}

form.threaded_comments_form table, 
form.threaded_comments_form table tr, 
form.threaded_comments_form table tr td {
    border: none;
}

form.threaded_comments_form table th,
form.threaded_comments_form table tr td input[name="name"],
form.threaded_comments_form table tr td input[name="email"],
form.threaded_comments_form table tr td input[name="url"],
form.threaded_comments_form table tr td input[name="title"],
form.threaded_comments_form table tr td input[name="honeypot"]
{
    display:none;
}

form.threaded_comments_form input[type="submit"],
form.threaded_comments_form input[type="button"] {
    float: right;
    margin-right: 5px;
}

form.threaded_comments_form table tr td input[name="title"] {
    width: 50%;
    font-size: 110%;
    margin: 8px 0px;
    padding: 2px;
}

.threaded_comment_title {
    display:none;
}

ul.comment-thread {
    margin: 0px; /*no left indent on first comment*/
}


ul.comment-thread > li.comment-thread > ul.comment-thread > li.comment-thread {
    border-left:1px solid #CCCCCC;
    margin-top: 3px;
}

li > ul.comment-thread {
    margin:0px 0px 0 1.5em; /*indent each subsequent thread level*/
    padding: 0px;
}

li > ul.comment-thread.last {
    background-color: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
}

li > ul.comment-thread div.comment {
    background-color: #fff;
}

li.comment-thread {
    list-style:none;
    padding-bottom: 4px;
}

.threaded_comment_header {
    background-color:#CCCCCC;
    padding: 2px 0px 4px 0px;
    width: 100%;
    height: 35px;
}

.threaded_comment_text {
    padding: 1px 2px 1px 5px;
    margin-right: 5px;
    width: 99%;
}

.threaded_comment_author {
    padding-top: 4px;
    padding-left: 5px;
    font-weight: bold;
}

div.comment-date {
    clear: both;
    font-size: 80%;
    margin-left: 5px;
    margin-top: 6px;
}

.respond_to_comment_form_div {
    float: right;
    margin-right: 0px;
    margin-top: 4px;
}


/* ---- End threaded comments ---------- */

/* Revision dialog */
.revision-list, .response-list {
    text-align: left;
}

.revision-list div, .response-list div {
    padding-bottom: 5px;
}

.revision-list select, .response-list select {
    height: 75%;
    width: 99%;
}


/* ---- Participant Selector Widget ------------ */

div.selector h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}

div.selector div.selector-chosen select {
    height: 240px;
}

div.selector h2 img.help-tooltip {
    float: right;
    margin-top: 1px;
}