img.materialCitation {
    cursor:pointer;
    display:none;
}

.annotation-embedding img.materialCitation {
    display:block;
}

input.materialCitation {
	background: #fff url('../img/icons/item_video.png') left no-repeat;
	margin: 2px 0px 2px 4px;
	padding: 1px;
	border: 0;
	padding-left: 14px;
	font-size:12px;
	color: #660000;
	cursor:pointer;
	display:inline;
	width:auto;
	overflow:visible; /* IE 5-6 hack */
	text-decoration: underline;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

input.materialCitation:hover
{
	background-color: #efefef;
}


#materials {


	border: 1px solid #ccc;
	min-height: 350px;
	height: 350px;
	overflow: auto;
        position:relative;/*important companion to overflow:auto for IE7*/
	background-color: #ededed;

}

.essay-options
{ 
  padding:1em;
  clear:both;
 }

.essay-space h2 input {
    padding:0 3px;
}
#essaybox {
    margin-top:-4px;
}
.essay-space {
left:0;
position:absolute;
margin-top:-3px;
margin-left:380px;
max-width:650px;
width:60%;
}

.essay-space.published
{ 
  width:50%;
  max-width:650px;
  height: 29em;
  overflow: auto;
        position:relative;/*important companion to overflow:auto for IE7*/
  margin-right: 2em;
  border: 1px solid #ccc;
  padding: 10px;

  background-color:white;
 }
 
 .asset-view {

width: 370px;
height: 370px;
background-color: #EDEDED;
border: 1px solid #ccc;
float: left;
}

.annotation-links {

	

}

.annotation-title.materialCitation {

	background-image: url('../img/icons/item_video.gif') left no-repeat;
	border: 0;
	color: #660000;
	width:auto;
	overflow:visible; /* IE 5-6 hack */


}

.annotation-title.materialCitation h2 {
	background: #969696 url('../img/icons/item_video.gif') 5px 3px no-repeat;
	color:#DEDEDE;
	font-weight:normal;
	margin:0 0 0.5em;
	padding:0.2em 0.5em .2em 1.8em;
	text-align:left;
}

.active-annotation {
	background-color: none;
	padding: 0;
	
	}
	
.asset-title {margin-left: 10px;}

.capabilities {
    position:absolute;
    left:0px;
    top:-1.5em;

}


/* ---- Threaded comments ---------- */

div.comment {

	padding: 5px;


}

#threadedcomments {
    overflow-y:auto;
    border: 1px solid #ccc;
    padding: 0px 5px 0 0px;
    margin-top:16px;
}

form.threaded_comments_form ul li {
 background: #AAA;
 list-style-type: none;
}

.comment_action {
    background-color:#EEEEEE;
    border:1px solid #CCCCCC;
    color:#992222;
    cursor:pointer;
    float:left;
    font-size:80%;
    margin:0 4px 0 0;
    padding:1px 3px;
    text-decoration:none;
}

.respond_to_comment_form_div .control-open {
    padding-right:20px;
    background:#eeeeee url("/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/cornerx.png") 97% 45% no-repeat;

    
}

.comment-manage, .comment_actions a.comment-manage {
	
	color:#992222;
	cursor:pointer;
	padding:1px 3px;
	text-decoration:underline;
	font-size: 90%;
}

.comment-date {

	font-size: 80%;
}

.threaded_comment_text {
    margin-bottom:10px;
}
/*
div.respond_to_comment_form_div ul{
    display:none;
}
*/

.invisible { display: none; }


/***
doesn't work in WebKit OR IE?!!?
,
form.threaded_comments_form input[name=url],
form.threaded_comments_form input[name=honeypot],
form.threaded_comments_form input[name=name],
form.threaded_comments_form input[name=email],
form.threaded_comments_form input[name=title],
form.threaded_comments_form label[for=id_url],
form.threaded_comments_form label[for=id_honeypot],
form.threaded_comments_form label[for=id_name],
form.threaded_comments_form label[for=id_email],
form.threaded_comments_form label[for=id_title] 
***/
form.threaded_comments_form,
form.threaded_comments_form .formtitle {
    display:none;
}

.threaded_comment_title {
    display:none;
}

ul.comment-thread {
    margin: 0px; /*no left indent on first comment*/


}


ul.comment-thread > li.comment-thread > ul.comment-thread > li.comment-thread {

border-left:1px solid #CCCCCC;
margin-top: 3px;

}



ul.comment-thread li.comment-thread.last {
border: none;
margin-bottom: none;


}


li > ul.comment-thread {
    margin:0px 0px 0 1.5em; /*indent each subsequent thread level*/
    padding: 0px;
    
}

li > ul.comment-thread.last {

    background-color: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    
}

li > ul.comment-thread div.comment {
    background-color: #fff;

}

li > ul.comment-thread div.comment.new-comment {

	padding-bottom: 33px;

}



li.comment-thread {
    list-style:none;
    padding-bottom: 4px;


}

/*comment that someone has linked to
  This MUST be shown in some way, so it's clear what comment
  just created.
*/
li.comment-thread:target > .comment {
    border:2px solid black;
}

li.comment-thread:target > .comment .threaded_comment_header {
    /*background-color:#DDDDDD;*/
}

.threaded_comment_header {
    margin: -5px -10px 5px -5px;
    padding: 1px 2px 1px 5px;
    background-color:#CCCCCC;
}

.comment-actions {
    float:right;

}
/* ---- End threaded comments ---------- */


#last-version-saved {
    margin-top:-1em;
    margin-bottom:-3px;
    width:100%;
    display:none;
}