#discussion-container .accordion>.card,
#project-container .accordion>.card {
    overflow: unset;
}

.threaded_comments_form {
    position: sticky;
}

a.active-annotation.materialCitation {
    background-color: #ffc107;
}

.active-annotation {
    background-color: none;
    padding: 0;
}

.annotation-embedding img.materialCitation {
    display:block;
}


.editing {
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

h1.project-title {
    font-size: 160%;
    font-weight: bold;
    margin: 0 0 0 0;
    line-height: 1.2em;
    max-width: 450px;
}

.essay-space { 
  min-height: 300px;
  overflow: auto;
  position:relative;/*important companion to overflow:auto for IE7*/
  padding: 0 10px 10px 10px;
  background-color:white;
}

img.materialCitation {
    cursor:pointer;
    float:left;
    margin:1px 0 0 5px;
}

h4 img.materialCitation {
    margin: -4px -4px;
    width: 25px;
    height: 25px;
    border: none;
}

body.mce-content-body {
    /**overrides tinyMCE's default 10px which will not correspond
      to styled as published (and 10px is too small for the image-annotation
      icon)
    **/
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.mce-btn {
    background-color: #f8f9fa!important;
}

.mce-panel {
    background-color: #f8f9fa!important;
    border-color: rgba(0,0,0,.125)!important;
}

div.mce_editorwindow {
    min-width: 324px;
}

.defaultSkin table.mceLayout {
    border-top: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
}

.essay-space-container {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
}

#project-workspace .asset-view-published {
    margin-top: 83px;
}
#project-workspace .collection-materials {
    margin-top: 62px;
}

.essay-space-container .mceLayout {
    width: 100% !important;
}

.project-content { 
    width: 100% !important;
    border: 1px solid #ccc;
}
 
#id_participants {*height: 15em;}

div.save-publish-status {
    text-align: left;
}

div.save-publish-status ul {
    margin-left: .25em;
    margin-right: .25em;
}

div.save-publish-status li {
    list-style-type: none;
}

.save-publish-status #id_response_view_policy label,
.save-publish-status #id_publish label {
    font-weight: normal;
}

.save-publish-status .well {
    padding: 15px;
    padding-bottom: 0;
}

.save-publish-status .right.small {
    margin: -10px -5px 0 0;
}

/* ---- Threaded comments ---------- */

form.threaded_comments_form h3 {
    margin-top: 5px;
}

form.threaded_comments_form table.threaded_comments_form_table {
    width: 100%;
}

form.threaded_comments_form table, 
form.threaded_comments_form table tr, 
form.threaded_comments_form table tr td {
    border: none;
}

form.threaded_comments_form table th,
form.threaded_comments_form table tr td input[name="name"],
form.threaded_comments_form table tr td input[name="email"],
form.threaded_comments_form table tr td input[name="url"],
form.threaded_comments_form table tr td input[name="title"],
form.threaded_comments_form table tr td input[name="honeypot"]
{
    display:none;
}

form.threaded_comments_form input[type="submit"],
form.threaded_comments_form input[type="button"] {
    float: right;
    margin-right: 5px;
}

form.threaded_comments_form table tr td input[name="title"] {
    width: 50%;
    font-size: 110%;
    margin: 8px 0px;
    padding: 2px;
}

.threaded_comment_title {
    display:none;
}

ul.comment-thread {
    margin: 0px; /*no left indent on first comment*/
    padding-left: 0;
}


li > ul.comment-thread {
    margin:0px 0px 0 1.5em; /*indent each subsequent thread level*/
    padding: 0px;
}

li > ul.comment-thread.last {
    background-color: none;
    padding: 0px;
    border-bottom: 1px solid #ccc;
}

li > ul.comment-thread div.comment {
    background-color: #fff;
}

li.comment-thread {
    list-style:none;
    padding-bottom: 4px;
}

.threaded_comment_text {
    padding: 1px 2px 1px 5px;
    margin-right: 5px;
    width: 99%;
}

.threaded_comment_author {
    padding-top: 4px;
    padding-left: 5px;
    font-weight: bold;
}

div.comment-date {
    clear: both;
    font-size: 80%;
    margin-left: 5px;
    margin-top: 6px;
}

/* ---- End threaded comments ---------- */

/* Revision dialog */
.revision-list, .response-list {
    text-align: left;
}

.revision-list div, .response-list div {
    padding-bottom: 5px;
}

.revision-list select, .response-list select {
    height: 75%;
    width: 99%;
}


/* ---- Participant Selector Widget ------------ */

div.selector h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
    color: white;
}

div.selector div.selector-chosen select {
    height: 240px;
}

div.selector h2 img.help-tooltip {
    float: right;
    margin-top: 1px;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
