#content .slider-column {

}

#content .slider-column h2 {

font-size: 95%;
padding:0 0 10px;
}



#slider-parent table.slider-top td.slider-empty {
    width:0px;
    padding:0;
    display:none;
}

#slider-parent {
    position:relative;
    margin-top:-5px;
    overflow:hidden;/*then when we set width to the window's overflow will not give a horiz-scroll */
    /*mediathread.css: min-windth for #pagebody  is 900px */
}

table.slider-top {
    /*-10px from .block in mondrian.css */
    /*margin:-30px -10px 0 -10px;  /*.block in mondrian.css*/
    border:none;
    min-height:600px;
    margin-top:10px;
}

.slider-top div#member_col, 
.slider-top div#project_col 
{  
  width:510px;
  }
.slider-top div#filter_col
{ 
    width:180px; 
}

.slider-top #asset_browse_col {
    /*do not set width: should stay 380px*/
      /*changed width to auto to fill in space from hidden filter column     width:auto;*/
    /*do not set width: should stay 380px
      1: The slider needs a fixed width to rely upon
      2: width + 620px asset (or even 640?! for video) must work along side asset
      3: width:auto has issues as switching between users in project/discussion disruptively changes the width, because 'auto' changes the width based on the inner content (one set of assets will have more/less content)
     */
    width:380px;
    float:none;
   }
   

.slider-top #filter_col,
.slider-top #member_col,
.slider-top #project_col {
   width:100%;
    float:none;
   }
.slider-top .essay-space,
.slider-top #threadedcomments {
    position:relative;
    float:none;
    margin-left:10px;
    width:auto;                       
}

table.slider-top .slider-cell
{ 
  padding-top:14px;
  border:none;
 }

table.slider-top td.slider-edge 
{ 
  width:10px!important;
 }

.slider-edge h2
{ 
  /*  display:none;*/
  position:absolute;
  white-space:nowrap;
  cursor:pointer;
  display:none;
 }

.slider-edge h2:hover 
{
    color:#660000;
}

.slider-edge-right h2
{
    right:10px;
}

table.slider-top td.slider-cell
{
  border:none;
    vertical-align:top;
    width:auto;                       
}


/*
#top-slider-rail table {
    position:absolute;
}

#top-slider-rail > table > tbody > tr > td > div {
    width:100%;
}

#top-slider-rail table,
#top-slider-rail td
 {
    border:none;
}
#top-slider-rail .slider-panel {
    padding:0;
    vertical-align: top;
    position:relative;
    width:100%;
}

tr.slider-titles,
tr.slider-titles td
 {
     border-top:2px solid black;
     border-bottom:2px solid black;
}

.slider-panel-title,
.slider-panel-link
 {
    line-height:30px;
    font-size:120%;
    padding-left:1.34em;
}
span.slider-panel-link {
    padding-left:0.5em;
}

span.slider-panel-link-right {
    float:right;
}

form {
    display:inline;
}

#top-slider-rail div#asset_details_col
{
    position:absolute;
    width:91%;
    height:400px;
    background-color:blue;
    top:200px;
    min-width:350px;
}
*/