#content .slider-column {

}

#slider-parent table#top-slider td.slider-empty {
    width:0px;
    padding:0;
}

#slider-parent {
    position:relative;
    margin-top:-5px;
    overflow:hidden;/*then when we set width to the window's overflow will not give a horiz-scroll */
    /*mediathread.css: min-windth for #pagebody  is 900px */
}

#top-slider div#member_col, 
#top-slider div#project_col 
{  
  width:250px;
  }
#top-slider div#filter_col
{ 
    width:180px; 
}

#top-slider #asset_browse_col {
    /*do not set width: should stay 380px*/
      /*changed width to auto to fill in space from hidden filter column*/
    width:auto;
    float:none;
   }
   

#top-slider #filter_col,
#top-slider #member_col,
#top-slider #project_col {
   width:100%;
    float:none;
   }
#top-slider .essay-space,
#top-slider #threadedcomments {
    position:relative;
    float:none;
    margin-left:10px;
    width:auto;                       
}

table#top-slider .slider-cell
{ 
  padding-top:14px;
 }

table#top-slider td.slider-edge 
{ 
  width:10px!important;
 }

.slider-edge h2
{ 
    display:none;
  position:absolute;
  white-space:nowrap;
 }

.slider-edge-right h2
{
    right:0px;
}

table#top-slider td.slider-cell
{
  border:none;
    vertical-align:top;
    width:100%;                       
}

table#top-slider {
    /*-10px from .block in mondrian.css */
    /*margin:-30px -10px 0 -10px;  /*.block in mondrian.css*/
       border:none;
    position:relative;
    min-height:600px;
    margin-top:10px;
}
/*
#top-slider-rail table {
    position:absolute;
}

#top-slider-rail > table > tbody > tr > td > div {
    width:100%;
}

#top-slider-rail table,
#top-slider-rail td
 {
    border:none;
}
#top-slider-rail .slider-panel {
    padding:0;
    vertical-align: top;
    position:relative;
    width:100%;
}

tr.slider-titles,
tr.slider-titles td
 {
     border-top:2px solid black;
     border-bottom:2px solid black;
}

.slider-panel-title,
.slider-panel-link
 {
    line-height:30px;
    font-size:120%;
    padding-left:1.34em;
}
span.slider-panel-link {
    padding-left:0.5em;
}

span.slider-panel-link-right {
    float:right;
}

form {
    display:inline;
}

#top-slider-rail div#asset_details_col
{
    position:absolute;
    width:91%;
    height:400px;
    background-color:blue;
    top:200px;
    min-width:350px;
}
*/