.filter-widget {
    /*margin-bottom here causes a firefox bug to push down the top instead
      so put the margin-bottom on div.switcher
     */
    margin-bottom:0px;
    position:relative;
}

.switcher {
    float:left;
    position:relative;
    z-index:9999;/*IE z-index bug workaround*/
    margin-bottom:8px;
    outline:none;

}

div.collection-filter {
    float:right;
    position:relative;
    width:80px;
}

h2.switcher-extraneous-title {
    display:none;
}

table.analysis-tab h2.switcher-extraneous-title {
    position:absolute;
    left:0;
    top:6px;
    display:block;
}


div.collection-chooser {
    /*must update with this below: div.collection-filter ul.switcher-options */
    width:235px;
}
/* 
--- We decided against switching the asset_list with projects on Items&Projects page---
table.analysis-tab div.collection-chooser 
{
  margin-left:-285px;
  margin-top:-22px;
  width:280px;
  }

table.analysis-tab div.collection-chooser ul.switcher-options 
{  
    width:278px;
}
*/
span.switcher-prefix {
    float:left;
    line-height:20px;
    padding-right:4px;
}

div.collection-chooser a.switcher-top,
div.collection-chooser:focus a.switcher-top {
    font-size: 15px; 
    font-weight:bold;
}

div a.switcher-top {
    white-space:nowrap;
    overflow:hidden;
}

div.collection-filter ul.switcher-options {  
    width:350px; /*width -2px for border */ 
    right:0px;
    left:auto;
    
}
div.collection-chooser ul.switcher-options {  
    width:233px; /*width -2px for border plus whatever the switcher-prefix adds */ 
}

.switcher ul.switcher-options h3 {
    margin:0 0 6px 0;
    color:#DEDEDE;
}

.switcher ul.switcher-options > li {
    padding-top:10px;
}

.switcher ul.switcher-options {
    position:absolute;
    display:none;
    background-color:#6f6f6f;
    z-index:9999;
    width:inherit;
    left:-10px;
    border-left:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    border-bottom:1px solid rgb(204, 204, 204);
    padding-bottom:10px;
    -moz-border-radius-bottomleft: 10px; 
    -moz-border-radius-bottomright: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 

    -moz-border-radius-topleft: 10px; 
    border-top-left-radius: 10px 10px; 
}
.switcher ul.switcher-options ul {
    margin:0;
}
.switcher ul.switcher-options li {
    margin:0 10px;
    line-height:16px;
    
}
.switcher ul.switcher-options p.switcher-sub {
    padding:10px;
    /*font-size:14px;*/
    background-color: #f7f7f7;
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    margin:0;
    max-height:350px;
    overflow-y:auto;

}
.switcher ul.switcher-options .switcher-sub li {
    line-height:20px
}
.switcher ul.switcher-options .switcher-sub {
    background-color: #f7f7f7;
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    padding:5px 5px;
}
.switcher ul.switcher-options ul.scroll {
    max-height:300px;
    overflow-y:auto;
    
}

.switcher ul.switcher-options a {
    text-decoration:none;
    padding-right:4px;
    display:inline-block;
}
.switcher ul.switcher-options .switcher-sub a:hover {
    /*color:white;*/
    text-decoration:underline;
    color:black;
    
}

.switcher ul.switcher-options h4 {
    margin:0.5em 0;
}

.switcher ul.switcher-options h4 a {
    color:black
}
.switcher ul.switcher-options a:hover {
    color:white;
}


.switcher:focus ul.switcher-options,
.switcher ul.switcher-options:hover,
.switcher.open ul.switcher-options { 
    display:block;
}

.switcher a.closed {
    /*firefox*/
    border: 1px solid rgb(204, 204, 204); 
    padding: 3px 3px 3px 8px; 
    /*rgb(238, 238, 238) url(http://jqueryui.com/themeroller/themeswitchertool/images/buttonbg.png)*/
    background: #DEDEDE  repeat-x scroll 50% 50%; 
    /*font-family: Trebuchet MS,Verdana,sans-serif; */
    font-size: 11px; 
    color: rgb(102, 102, 102); 
    -moz-background-clip: border; 
    -moz-background-origin: padding; 
    -moz-background-inline-policy: continuous; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    text-decoration: none; 
    /*width: 139px; */
    width:auto;
    display: block; 
    height: 14px; 
    outline-color: -moz-use-text-color; 
    outline-style: none; 
    outline-width: 0pt; 
    cursor: pointer;
    

    /*webkit*/
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-left-radius: 10px 10px; 
    border-top-right-radius: 10px 10px; 
    border-bottom-right-radius: 10px 10px; 
    border-bottom-left-radius: 10px 10px; 
    text-decoration: none; 
    padding-top: 3px; 
    padding-right: 3px; 
    padding-bottom: 3px; 
    padding-left: 8px; 
    display: block; 
    height: 14px; 
    outline-width: 0px; 
    outline-style: initial; 
    outline-color: initial; 
    border-top-color: rgb(187, 187, 187); 
    border-right-color: rgb(187, 187, 187); 
    border-bottom-color: rgb(187, 187, 187); 
    border-left-color: rgb(187, 187, 187); 
    background-image: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(240, 240, 240); 
    cursor: pointer; 
    color: rgb(68, 68, 68); 
    background-position: initial initial; 
    background-repeat: initial initial; 

}

.switcher a.open,
.switcher:focus a.closed
 {
    /*firefox*/
    pointer-events:none;
    border-style: solid solid none; 
    
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; 

    border-width: 1px 1px 0px; 
    padding: 3px 3px 3px 8px; 
    background: #6f6f6f none repeat scroll 0% 0%; 
    color: white; 
    -moz-background-clip: border; 
    -moz-background-origin: padding; 
    -moz-background-inline-policy: continuous; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    text-decoration: none; 
    display: block; 
    height: 14px; 
    outline-color: -moz-use-text-color; 
    outline-style: none; 
    outline-width: 0pt; 
    cursor: pointer;

    /*webkit*/
    border-top-left-radius: 10px 10px; 
    border-top-right-radius: 10px 10px; 
    text-decoration: none; 
    padding-top: 3px; 
    padding-right: 3px; 
    padding-bottom: 4px; 
    padding-left: 8px; 
    display: block; 
    height: 14px; 
    cursor: pointer; 
    background-image: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(204, 204, 204); 
    border-right-color: rgb(204, 204, 204); 
    border-left-color: rgb(204, 204, 204); 
    border-bottom-width: 0px; 
    border-bottom-style: initial; 
    border-bottom-color: initial; 
    border-bottom-left-radius: 0px 0px; 
    border-bottom-right-radius: 0px 0px; 
    outline-width: 0px; 
    outline-style: initial; 
    outline-color: initial; 
    background-position: initial initial; 
    background-repeat: initial initial;
}

span.down-arrow {
    background: transparent url(../img/switcher/icon_color_arrow.gif) no-repeat scroll 100% 50%; 
    position:absolute;
    right:10px;
    width: 5px; 
    height: 16px; 
    -moz-background-clip: border; 
    -moz-background-origin: padding; 
    -moz-background-inline-policy: continuous;
    pointer-events:none;
}

span.down-arrow:focus {
    outline:none;
}

.switcher:focus span.down-arrow {
    width:100%;
    pointer-events:auto;
}