
table.ml-list th.clips-col,
.clips-col
{
	width: 80px !important;
}

table.ml-list td
{
	padding: 5px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	color: #000;
	text-align: left;
	vertical-align: top;
}

table.ml-list th.navOut
{
	cursor: pointer;
}

table.ml-list th.navOut:hover
{
	text-decoration: underline;
	cursor: pointer;
}

thead .arrow
{
	margin-left: 10px;
	padding: 0;
	overflow: hidden;
}

table.ml-list th.TableSortSelected {
   background-color: #6cf;
}
table.ml-list th.TableSortUnselected {
    background-color: #999;
}



/* -------------------------------------------------------- */















/*
input
{
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	visibility: visible;
	border: 1px solid #999;
	color: #000;
	background-color: white;
	vertical-align: middle;
}
*/

input.loginButton
{
	margin-bottom: 1px !important;
	font-size: 11px;
	cursor: pointer;
	padding: 1px;
	text-transform: capitalize;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}





/* -- Manage My Notes  ------------------------------------------------- */

/* Headers: Note Information, Note Content, Add for Manage my Notes */
.divbox-mng_notes td.col1,
.divbox-mng_notes td.col2,
.divbox-mng_notes td.col3,
.divbox-mng_notes td.col4,
.divbox-mng_notes td.col5,
.divbox-mng_notes td.col6,
.divbox-mng_notes td.col7
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #fff !important;
	line-height: 2em;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999 !important;
	background: #069 url('../images/bg-tableth.jpg') top left repeat-x !important;
}

.divbox-mng_notes td.col1
{
	width: 25px !important;
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col2
{
	width: 140px !important;
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col3
{
	width: 110px !important;
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col4
{
	width: 140px !important;
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col5
{
	width: 140px !important;
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col6
{
	background: url('../images/grey-line.gif') right repeat-y;
}

.divbox-mng_notes td.col7
{
	width: 140px !important;
	border-right: 0 !important;
}

.collapsable_box
{
	height: 1.4em;
	line-height: 1.2em;
	overflow: hidden;
}




/* -- All Assignments CSS  ------------------------------------------------- */

#binderbox
{
	margin: 0;
	padding: 0;
	border: 0;
}

#tapemeasure
{
	clear: both;
}

#noteside
{
	/* Defines the area for notes, materials, on the left of the page */
	display: block;
	float: left;
	width: 45%;
	min-width: 420px !important;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
}

.fc_feedback,
.a_instructions
{
	height: 1.5em;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.3em;
	color: #000;
	margin-bottom: 7px;
}

.fc_feedback
{
	border-top: 1px solid #999;
	padding-top: 7px;
	margin-bottom: 15px;
}

#assign_instr,
#faculty_feedback
{
	height: auto;
	overflow: hidden;
}

.fc_comment
{
	padding: 2px 0;
	border: 0;
	border-bottom: 1px dotted #999;
}

.fc_comment_content
{
	margin: 0 0 0 10px;
	padding: 2px 0;
	border: 0;
}

.ellips
{
	display: none;
	visibility: hidden;
	font-weight: bold;
	color: #999;
	letter-spacing: 3px;
}

/* don't need this
a#ainstr:link,
a#ainstr:active,
a#ainstr:hover,
a#ainstr:visited
{
	display: inline !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 5px 0 !important;
	font-weight: normal !important;
	font-size: 12px !important;
	color: #069 !important;
	text-decoration: underline;
}
*/

.glv_notesidetables,
#notesidetables
{
	/* Defines the area for notes, materials, on the left of the page */
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-bottom: 0;
	background: url('../images/bg-notesidetables-mid.jpg') top repeat-x;
}

#notesidetables
{
	min-width: 420px !important;
}

.glv_notesidetables div.notetabscontainer,
#notesidetables div.notetabscontainer
{
	display: block;
	height: 37px;
	margin: -1px 0 0 -1px;
	padding: 0;
	border: 0;
	background: url('../images/bg-notesidetables-left.jpg') top left no-repeat;
}

ul.notesidetabs
{
	/* Defines the main three tabs area */
	display: block;
	margin: 0 -1px 0 1px;
	padding: 12px 0 0 0;
	border: 0;
	list-style: none;
	white-space: nowrap;
	background: url('../images/bg-notesidetables-right.jpg') top right no-repeat;
}

ul.notesidetabs li.tab-1,
ul.notesidetabs li.tab-2,
ul.notesidetabs li.tab-3,
ul.notesidetabs li.tab-4
{
	/* Defines the tabs: Assignment Materials, Unit Materials, My Notes */
	float: left;
	height: 25px;
	margin: 0;
	border: 0;
	text-align: center;
	line-height: 25px;
	white-space: nowrap;
}

ul.notesidetabs li.tab-2,
ul.notesidetabs li.tab-3
ul.notesidetabs li.tab-4
{
	margin-left: -1px;
}

ul.notesidetabs li.tab-1 div,
ul.notesidetabs li.tab-2 div,
ul.notesidetabs li.tab-3 div
ul.notesidetabs li.tab-4 div
{
	height: 25px;
	background: url('../images/bg_tab_rightedge_off.gif') right top no-repeat;
}

ul.notesidetabs li.tab-1
{
	width: 160px;
}

ul.notesidetabs li.tab-2
{
	width: 122px;
}

ul.notesidetabs li.tab-3
{
	width: 122px;
}
ul.notesidetabs li.tab-4
{
	width: 122px;
}


ul.notesidetabs li.active 
{
	background: url('../images/bg-notesidetabs-a-left.jpg') top left no-repeat;
}

ul.notesidetabs li.active div
{
	height: 25px;
	background: url('../images/bg-notesidetabs-a-right.jpg') top right no-repeat;
}

ul.notesidetabs a:link,
ul.notesidetabs a:visited,
ul.notesidetabs a:active,
ul.notesidetabs a:hover
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: inherit;
	font-weight: bold;
	color: #069;
	text-decoration: none;
}

ul.notesidetabs a:hover
{
	text-decoration: underline;
}

ul.notesidetabs li.active a:link,
ul.notesidetabs li.active a:visited,
ul.notesidetabs li.active a:active,
ul.notesidetabs li.active a:hover
{
	color: #fff;
	text-decoration: none;
}

/* Headers: Thumbnails, Title, Notes? */
td.col1,
td.col2,
td.col3,
td.feedbackcol
{
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #069;
	line-height: 2em;
	background-color: #b2d3e8;
}
td.feedbackcol
{
	width: 100%;
	background: #b2d3e8 url('../images/grey-line.gif') right repeat-y;
}


td.col1
{
	width: 77px;
	background: #b2d3e8 url('../images/grey-line.gif') right repeat-y;
}

td.col2
{
	background: #b2d3e8 url('../images/grey-line.gif') right repeat-y;
}

td.col3
{
	width: 77px;
	background: #b2d3e8;
}

/* Content: Thumbnails, Title, Notes? */
td.col_thumbnail
{
	width: 77px;
	background: #fff url('../images/grey-line.gif') right repeat-y;
	border-bottom: 1px solid #999;
	font-size: 11px;
	line-height: 1.2em;
	text-align: center !important;
	vertical-align: top !important;
	padding: 5px 0;
}

td.col_title
{
	background: #fff url('../images/grey-line.gif') right repeat-y;
	border-bottom: 1px solid #999;
	font-size: 11px;
	line-height: 1.2em;
	vertical-align: top !important;
}

td.col_notes
{
	width: 77px;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #999;
	font-size: 11px;
	line-height: 1.2em;
	vertical-align: top !important;
	padding: 4px 0 0 0;
}

td.col_thumbnail img
{
	border: 1px solid #999;
	margin: 2px;
	text-align: center;
}

td.col_title h2
{
	display: block;
	margin: 0;
	padding: 2px 0 1px 5px;
	border: 0;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.8em;
	color: #069;
}

td.col_title h2 a:link,
td.col_title h2 a:active,
td.col_title h2 a:hover,
td.col_title h2 a:visited
{
	display: inline;
	margin: 0;
	border: 0;
	padding: 5px 0;
	font-weight: normal;
	font-size: 11px;
	color: #069 !important;
	text-decoration: underline;
	line-height: 1.8em;
}

td.col_title h2 a:hover
{
	text-decoration: none;
}

.details
{
	margin: 0 0 0 22px;
}

.divbox-1,
.divbox-2,
.divbox-3,
.divbox-4
{
	clear: both;
	display: none;
	visibility: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #fff;
}

.divbox-1 div.divboxcontent,
.divbox-2 div.divboxcontent,
.divbox-3 div.divboxcontent,
.divbox-4 div.divboxcontent
{
	width: 100%;
	padding: 0;
	border: 0;
	background-color: #fff;
	overflow: auto;
	overflow-x: hidden;
}



.divbox-1 div.divboxcontent table,
.divbox-2 div.divboxcontent table,
.divbox-3 div.divboxcontent table,
.divbox-4 div.divboxcontent table
{
	width: 100%;
}

.divbox-4 div.divboxcontent table
{
	width: 100%;
}

.divbox-1 div.divboxcontent,
.divbox-2 div.divboxcontent
{
	height: 305px;
	
}

.divbox-3 div.divboxcontent
{
	height: 274px;
	
}

div.notebinder
{
	margin: 0;
	padding: 0;
	border: 0;	
}

div#pullmenu
{
	clear: both;
	display: block;
	height: 30px !important;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #649ac6;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}

div.pullmenustyle
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: #fff !important;
	color: #000 !important;
	font-size: 12px !important;
}

div#pullmenu table
{
	margin: 0 0 0 0;
	padding-top: 7px;
}

div#pullmenu .viewmenu
{
	width: 130px;
	padding: 0;
	border: 1px solid #999;
	margin: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

/* Headers: Note Information, Note Content, Add */
#divbox-3_header
{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #668cb1;
}

#divbox-3_header td.col1,
#divbox-3_header td.col2,
#divbox-3_header td.col3
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #069;
	line-height: 2em;
	background-color: #b2d3e8;
	border-bottom: 1px solid #999;
}

#divbox-3_header td.col1
{
	width: 170px;
	background: #b2d3e8 url('../images/grey-line.gif') right repeat-y;
}

#divbox-3_header td.col2
{
	background: #b2d3e8 url('../images/grey-line.gif') right repeat-y;
}

#divbox-3_header td.col3
{
	width: 85px;
	background-color: #b2d3e8;
}

.noteGrouping, /* noteGrouping is the div encompasing the source material */
.notesInGroup, /* notesInGroup is the div around all clips belonging to the parent */
.noteclip /* noteclip is the div around the info, content and add */
{
	clear: both;
	/*width: 100%;*/
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

.notesInGroup, /* notesInGroup is the div around all clips belonging to the parent */
.noteclip /* noteclip is the div around the info, content and add */
{
	width: 100%;
}

h2.noteGrouping
{
	clear: both;
	display: block;
	margin: 0;
	padding: 1px 0 1px 5px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.8em;
	color: #069;
}

h2.noteGrouping a:link,
h2.noteGrouping a:active,
h2.noteGrouping a:hover,
h2.noteGrouping a:visited
{
	display: inline !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 5px 0 !important;
	font-weight: normal !important;
	font-size: 11px !important;
	color: #069 !important;
	text-decoration: underline;
	line-height: 1.8em;
}

.notesInGroup,
.noteclip
{
	overflow-x: hidden !important;
}

.notesInGroup
{
	border-bottom: 1px solid #999;
	overflow-x: hidden !important;
}

.noteclip
{
	height: 1.5em;
	border-bottom: 1px solid #999;
	overflow: hidden;
	line-height: 1.2em;
}

.noteclip a:link,
.noteclip a:active,
.noteclip a:hover,
.noteclip a:visited
{
	display: inline !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 5px 0 !important;
	font-weight: normal !important;
	font-size: 11px !important;
	color: #069 !important;
	text-decoration: underline;
}

.noteclip a:hover
{
	text-decoration: none;
}

.noteclip table
{
	width: 100% !important;
}

.noteclip table td.nc_info,
.noteclip table td.nc_content,
.noteclip table td.nc_info div,
.noteclip table td.nc_content div,
.noteclip table td.nc_info div p,
.noteclip table td.nc_content div p,
.noteclip table td.nc_add
{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: left;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	vertical-align: top;
}

.noteclip table td.nc_info
{
	width: 170px;
	background: #fff url('/site_media/img/vital3/grey-line.gif') right repeat-y;
}

.noteclip table td.nc_info div
{
	margin: 2px 2px 2px 10px;
	padding: 0;
	border: 0;
}

.noteclip table td.nc_info div p
{
	margin: 5px 0 0 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.2em;
	color: #000;
}

.noteclip table td.nc_content
{
	background: #fff url('/site_media/img/vital3/grey-line.gif') right repeat-y;
}

.noteclip table td.nc_content div
{
	margin: 2px;
	padding: 0;
	border: 0;
}

.noteclip table td.nc_add
{
	width: 85px;
	background: #fff;
	text-align: center;
}

.noteclip table td.nc_add div
{
	margin: 2px;
	padding: 0;
	border: 0;
}


/* hide and show layers */
.hs-control-show,
.ex_show
{
	/*background: url('../images/expanded.gif') left center no-repeat;*/
	display: inline;
	margin: 0;
	padding: 0;
	padding-left: 0px;
	border: 0;
}

.hs-control-hide,
.ex_hide
{
	/*background: url('../images/collapsed.gif') left center no-repeat;*/
	display: inline;
	margin: 0;
	padding: 0;
	padding-left: 0px;
	border: 0;
}

.hs-show { display: block; }
.hs-hide { display: none; }

.greyedout
{
	font-weight: bold;
	color: #999;
}

p.no_content
{
	padding: 5px;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#wrkspcside
{
	/* Defines the area for workspace, the form are on the right of the page */
	display: block;
/*
	height: 450px;
*/
	margin: 0 0 0 45%; 
	padding: 0;
	border: 0;
}

#wrkspcside h2
{
	display: block;
	margin: 0 0 0 20px !important;
	padding: 0;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.txtboxarea
{
	display: block;
	margin: 10px 0 0 20px;
	padding: 0;
	border: 0;
}

.txtboxarea_new
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

.wrkspcsidetable
{
	width: 460px !important;
	padding: 0 0 5px 0 !important;
	border: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.wrkspcsidetable label
{
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.wrkspcsidetable select
{
	width: 150px;
	padding: 0;
	border: 1px solid #999;
	margin: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.feedback_view
{
	clear: both;
	margin: 10px 0;
	padding: 5px 10px;
	border: 0;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;	
}

.feedback_view h3
{
	margin: 0 0 5px 0 !important; 
	padding: 0 !important;
	border: 0 !important;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;	
}

.feedback_view textarea
{
	width: 98% !important;
	height: 100px !important;
}

.essay_view
{
	height: 345px;
	overflow: auto;
	margin: 0;
	padding: 5px 10px;
	border: 0;
	border: 1px solid #999;
	background-color: #f5f5f5;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;	
}

.essay_view_h2
{
	margin: 0 0 10px 0 !important; 
	padding: 0 !important;
	border: 0 !important;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;	
}

.essay_view a
{
	background-color: transparent;
	color: #069;
	text-decoration: underline;
}

.essay_view img
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}

.essay_view p
{
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	font: normal 12px/15px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.essay_view p img
{
	margin: 0;
	border: 0;
}

.essaytextarea
{
	padding: 0px !important;
	border: 0;
}

.essaytextarea textarea
{
	width: 450px !important;
	height: 350px !important;
}

/* -- Guided Lesson CSS  ------------------------------------------------- */

.glprog
{
	margin: 15px 0 10px 0;
	border: 0;
	padding: 0;
}

.glprogbar
{
	margin: 0 0 0 10px;
	border: 0;
	padding: 0;
	height: 10px;
	/*width: 600px;*/
	border: 1px solid #999;
}

.glprogbar_complete,
.glprogbar_current,
.glprogbar_incomplete
{
	display: block;
	float: left;
	height: 10px;
	margin: 0;
	padding: 0;
	border: 0;
}

.glprogbar_complete
{
	background-color: #336699;
}

.glprogbar_current
{
	background: #ccc url('../images/bg_glcurrent.gif') top left repeat-x;
}

.glprogbar_incomplete
{
	background-color: #b2d3e8;
}

.glq_instructions
{
	font-weight: normal;
	font-size: 12px;
	line-height: 1.3em;
	color: #000;
	margin-bottom: 7px;
}

.divbox-glv,
.divbox-gl
{
	display: block;
	visibility: visible;
}

td.col2gl
{
	background: #b2d3e8 url(none) right repeat-y;
}

td.col_title_gl
{
	background: #fff url(none) right repeat-y;
}

.gltextarea
{
	padding: 0px !important;
	border: 0;
}

.gltextarea textarea
{
	width: 450px !important;
	height: 311px !important;
}

.discussiontextarea textarea
{
	width: 450px !important;
	height: 250px !important;
}

.glv_material_answer_box
{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
}

.glv_material_box
{
	float: left;
	width: 400px;
	margin: 0;
	padding: 0;
	border: 0;
}

.glv_answer_box
{
	margin: 0 0 0 420px;
	padding: 0;
	border: 0;
}

.divbox-glv div.divboxcontent
{
	height: 200px;
	padding-bottom: 10px;
	
}

.glv_answer_box h2
{
	display: block;
	margin: 0 0 10px 0 !important;
	padding: 0;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}


/* -- Video Viewer CSS  ------------------------------------------------- */

.vv-top
{
	/* Header and personal tools wrapper, present at all time */
	height: 30px;
	margin: 0 5px;
	padding: 0;
	border: 0;
	background: transparent url('../images/bg-vv-top.jpg') bottom repeat-x;
}

.vv-top-shadeL
{
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../images/bg-vvheader-left.jpg') bottom left no-repeat;
}

.vv-top-shadeR
{
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../images/bg-vvheader-right.jpg') bottom right no-repeat;
}

.vv-top h1
{
	margin: 0;
	padding: 3px 0 0 10px;
	border: 0;
	font: bold 14px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.vv-top h1 a
{
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #069 !important;
	text-decoration: none;
}

.vv-top h1 a:hover
{
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #069;
	text-decoration: underline;
}

/* Pop-up windows */
#notes_boxarea
{
	position: absolute;
	left: 467px;
	top: 33px;
	margin: 0;
	padding: 0;
	border: 0;
	width: 520px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
}

#notes_boxarea h2
{
	
	height: 16px !important;
}

#notesetbox
{
	margin: 0;
	padding: 0;
	border: 0;
	/*width: 360px;*/
	height: 300px;
	overflow: auto;
}

.notebindervv
{
	margin: 0;
	padding: 0;
	border: 0;
	/*width: 360px;*/
	height: 607px !important;
	overflow: auto;
}

.notebindervv .noteGrouping
{
	width: 515px !important;
}

h3.noteGrouping
{
	clear: both;
	display: block;
	margin: 0;
	padding: 1px 0 1px 5px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #bbd5ef;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.8em;
	color: #369;
}

h3.noteGrouping a:link,
h3.noteGrouping a:active,
h3.noteGrouping a:hover,
h3.noteGrouping a:visited
{
	display: inline !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 5px 0 !important;
	font-weight: normal !important;
	font-size: 11px !important;
	color: #369 !important;
	text-decoration: underline;
	line-height: 1.8em;
}

#notes_boxarea h2
{
	margin: 0 0 0 0;
	padding: 5px 5px;
	border: 0;
	border-bottom: 1px solid #999;
	background: url('../images/bg-popup-h2.jpg') top repeat-x;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#notes_boxarea #expandcollapse
{
	float: right;
	display: inline;
	margin: 0;
	padding: 5px 5px;
	border: 0;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#notes_boxarea #dropdownmenu
{
	clear: both;
	display: block;
	height: 30px !important;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #016799;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}

#notes_boxarea #dropdownmenu form
{
	margin: 0;
	padding: 0;
	border: 0;
}


#notes_boxarea #dropdownmenu table
{
	padding: 6px 0 0 0;
}

#notes_boxarea #dropdownmenu .viewmenu
{
	width: 130px;
	padding: 0;
	border: 1px solid #999;
	margin: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#notes_boxarea select
{
	width: 200px;
	padding: 0;
	border: 1px solid #999;
	margin: 2px 0px 2px 5px;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}


/* Container for notes in video viewer */
#notes_boxarea .noteset
{
	margin: 0;
	padding: 5px 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #fff;
}

#notes_boxarea .noteset,
#notes_boxarea .noteset p
{
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#notes_boxarea .noteset h3
{
	margin: 0 0 0 5px;
	padding: 0;
	border: 0;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#notes_boxarea .noteset h3 a
{
	padding: 2px 0 2px 0;
}


#notes_boxarea .noteset h3 .moddate
{
	font-weight: normal;
}

.selectedNoteSet {
	background:#deeff9 !important;
}

#notes_boxarea .noteset .actionicons
{
	float: right;
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
	width: 40%;
	white-space: nowrap;
}

.deleteicon
{
	margin: 0 7px 0 0;
	padding: 0;
	border: 0;
	height: 18px;
	display: block;
	width: 18px;
	cursor: pointer;
	background: url('../images/delete_off.gif') center center no-repeat;
	float: right;
}

.deleteicon:hover
{
	background: url('../images/delete_on.gif') center center no-repeat;
}

.editicon
{
	margin: 0 7px 0 0;
	padding: 0;
	border: 0;
	height: 18px;
	display: block;
	width: 18px;
	cursor: pointer;
	background: url('../images/edit_off.gif') center center no-repeat;
	float: right;
}

.editicon:hover
{
	background: url('../images/edit_on.gif') center center no-repeat;
}


#notes_boxarea .noteset .note-details
{
	padding: 10px 0 2px 25px;
}

#video_boxarea
{
	position: absolute;
	top: 33px;
	left: 10px;
	width: 455px;
	height: 324px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-bottom: 0px;
	background-color: #fff;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#video_boxarea a
{
	display: block;
	border: 0;
	margin: 0;
	text-decoration: none;
}

/*
#video_boxarea h2
{
	margin: 0 0 5px 0;
	padding: 5px 5px;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}
*/

.vv_action_view
{
	height: 27px;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	background: #016799 url('../images/vv_action_view.gif') center left no-repeat;
}

.vv_action_view h2
{
	margin: 0;
	padding: 7px 0 0 32px;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}

.vv_action_create
{
	height: 27px;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	background: #016799 url('../images/vv_action_create.gif') center left no-repeat;
}

.vv_action_create h2
{
	margin: 0;
	padding: 7px 0 0 32px;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}

.vv_action_edit
{
	height: 27px;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	background: #b2d3e8 url('../images/vv_action_edit.gif') center left no-repeat;
}

.vv_action_edit h2
{
	margin: 0;
	padding: 7px 0 0 32px;
	border: 0;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
}

#vv-video-dprompt
{
	position: absolute;
	top: 305px;
	left: 310px;
	border: 0;
	z-index: 100;
	white-space: nowrap;
}

#vv-video-dprompt a
{
	color: #069;
	text-decoration: underline;
}

#vv-video-dprompt a:hover
{
	text-decoration: none;
}

#vv-video-detail
{
	position: absolute;
	top: 231px;
	left: 420px;
	width: 280px;
	height: 150px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #999;
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
	border-left: 1px solid #999;
	background-color: #fff;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	z-index: 1000;
	display: none;
	visibility: hidden;
}

#vv-video-detail h2
{
	margin: 0;
	padding: 5px 0 5px 5px;
	border: 0;
	background-color: #016799;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}


#vv-video-detail_content
{
	margin: 0;
	margin-bottom: 5px;
	padding: 10px 5px;
	padding-bottom: 0;
	border: 0;
	height: 80px;
	overflow: auto;
}



#video_boxarea #videoclipbox 
{
	display: block;
	margin: auto;
	padding: 0;
	border: 0;
}

#video_boxarea #videoclip
{
	width: 320px;
	display: block;
	margin: auto;
	padding: 0;
	border: 0;
	border: 1px solid #999;
	border-bottom: 0;
	background-color: #e0e0e0;
}

#clipStrip
{
	padding-left:0px;
	/*padding-right:35px;*/
	height:7px;
	width:283px;
	border: 0;
	border: 1px solid #999;
	background-color: #e0e0e0;
	position:relative;
	margin: -1px 0px 2px 0px;
}
#clipStripLabel
{
	margin:0;
	padding:1px;
	width:33px;
	float:left;
	position:relative;
}
#clipStripTitle
{
	text-align:center;
	float:right;
	width:180px;
}

#clipStripTrack
{
	position:absolute;
	left:38px;
	height:7px;
	padding:0px;
	margin:0px;
	z-index:0;
	width: 100%;
	background: #AAAAAA;
}


.clipSlider,.noteStrip
{
	top:0px;
	width:0px;
	height:7px;
	padding:0 0 0 7px;
	margin:0;
	position:absolute;
	background:url('/site_media/img/vital3/bookendleft.gif') top left no-repeat ;
	z-index:0;
}

.clipStripRange {
	top:0px;
	background:#CCE6EF;
	padding:0px;
	margin:0px;
	width:0px;
	height:7px !important; 
	z-index:0;
	position:relative;
}

.noteStripEnd {
	top:0px;
	margin:0;
	width:0px;
	height:7px;
	padding:0 6px 0 0;
	background:url('/site_media/img/vital3/bookendright.gif') top right no-repeat;
	position:absolute;
	z-index:0;
	
}

.noteSelected
{
	top:0;
	width:5px;
	height:7px;
	opacity:0.8;
	padding:0;
	margin:0px;
	position:absolute;
	background-color:#0000ff;
}

#video_boxarea #videotimecode 
{
	width: 320px;
	display: block;
	margin: auto;
	padding: 1px 0 0 0;
	border: 0;
	border: 1px solid #999;
	border-top: 0;
	text-align: left;
	height: 20px;
	background-color: #efefef;
}

input.jstimecode
{
	width: 50px;
	margin: 0;
	padding: 1px;
	border: 0;
	background-color: #fff;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	background-color: #efefef;
}

#video_boxarea #videotimecode div#text
{
	padding: 1px 0 0 2px;
	background-color: transparent;
}

#video_boxarea #videotimecode #advancedcontrols
{
	margin: 0;
	padding: 3px 0 0 0;
	height: 17px;
	font-size: 11px;
	border: 0;
	border-left: 1px solid #999;
	display: block;
	float: right;
	line-height: normal;
	text-align: center;
	background-color: #efefef;
}

#video_boxarea #videotimecode #playzero,
#video_boxarea #videotimecode #doublespeed,
#video_boxarea #videotimecode #halfspeed
{
	display:none;
	margin: 0;
	padding: 3px 0 0 0;
	height: 17px;
	font-size: 11px;
	border: 0;
	border-left: 1px solid #999;
	display: block;
	float: right;
	line-height: normal;
	text-align: center;
	background-color: #efefef;
}

#speedselect ul
{
	width: 320px;
	height: 20px;
	margin: auto;
	padding: 0;
	border: 0;
	list-style-image: none;
	list-style-type: none;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

#speedselect ul li
{
	margin: 0;
	padding: 3px 0 0 0;
	width: 159px;
	height: 18px;
	font-size: 11px;
	border: 0;
	display: block;
	float: left;
	line-height: normal;
	text-align: center;
	background-color: #e0e0e0;
}

#speedselect ul li a
{
	display: block;
	border: 0;
	margin: 0;
	text-decoration: none;
}




/* Clipping Area */
#clipping_boxarea
{
	position: absolute;
	top: 358px;
	left: 10px;
	width: 455px;
	height: 340px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-bottom: 0;
	border-top: 0;
}

#clipping_boxarea h2
{
	margin: 0 0 0 0;
	padding: 5px 5px;
	border: 0;
	border-bottom: 1px solid #999;
	background: url('../images/bg-popup-h2.jpg') top repeat-x;
	font: bold 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#clipping_boxarea #clippingtype
{
	float: right;
	display: inline;
	margin: 0 150px 0 0;
	padding: 4px 5px;
	border: 0;
	border-left: 1px solid #999;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#clipping_boxarea #clippingtype table
{
	padding: 0;
	border: 0;
	margin: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#clipping_boxarea #clipcontrols
{
	padding: 0 5px 5px 5px;
	border: 0;
	font: 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.clippingtable
{
	margin-left: 0;
}

.cliptimebox
{
	width: 380px;
	padding: 5px 0;
	border: 1px solid #999;
	background-color: #efefef;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	text-align: center;
	vertical-align: top;
}

.cliptimeboxtable
{
	margin: auto;
	padding: 0;
  /*	border: 1px solid #999;
	border-top: 1px solid #fff;
	background-color: #efefef;*/
}
.cliptimeboxtable td
{ 
  border:0px;
 }
#clipcontrols
{ 
  text-align:left;
 }
.timecode
{
	width: 70px;
	padding: 1px;
	margin: 0;
	border: 1px solid #999;
	font-size: 11px;
}

.notetakingform
{
	margin-top: 5px;
}


.notetakingform th
{
	width: 40px;
	margin: 0;
	padding: 0 0 5px 0;
	border: 0;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	text-align: left;
	vertical-align: top;
}

.notetakingform td
{
	width: 400px;
	padding: 0 0 5px 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	text-align: left;
	vertical-align: top;
}

input.titlefield
{
	width: 390px;
	margin: 0;
	padding: 1px;
	border: 1px solid #999;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.notetakingform td #htmlarea
{
	width: 350px;
	height: 30px;
	margin: 0;
	padding: 1px;
	border: 1px solid #069;
	border-bottom: 0px;
	background-color: #999;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.notetakingform td textarea
{
	width: 390px !important;
	height: 150px !important;
	margin: 0;
	padding: 1px;
	border: 1px solid #999;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.cliptextarea
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
}

.cliptextarea textarea
{
	margin: 0 !important;
	padding: 1px !important;
	width: 390px !important;
	height: 150px !important;
}

/*
.notetakingform td input[type="submit"]
{
	margin-bottom: 1px !important;
	font-size: 11px;
	cursor: pointer;
	padding: 1px;
	text-transform: capitalize;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
	border: 1px solid #069;
	background-color: #fff;
}

.notetakingform td input[type="submit"]:hover
{
	background-color: #efefef;
}


*/
input.savebutton
{
	margin-bottom: 1px !important;
	font-size: 11px;
	cursor: pointer;
	padding: 1px;
	text-transform: capitalize;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
	border: 1px solid #069;
	background-color: #fff;
}

input.savebutton:hover
{
	background-color: #efefef;
}

.visualClear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
}

.statusalert
{
	display: inline;
	padding: 0 10px 0 0;
	color: #069;
	font-weight: bold;
	visibility: hidden;
}

img.materialCitation {
	cursor:pointer;
	float:right;
    margin-top:1px;
}

input.materialCitation {
	background: #fff url('/site_media/img/vital3/icon_video.gif') left no-repeat;
	margin: 2px 0px 2px 4px;
	padding: 1px;
	border: 0;
	padding-left: 14px;
	font-size:12px;
	color: #369;
	cursor:pointer;
	display:inline;
	width:auto;
	overflow:visible; /* IE 5-6 hack */
	text-decoration: underline;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

input.materialCitation:hover
{
	background-color: #efefef;
}

/* Printmode for essays */

body.printmode
{
	margin: 5px;
	padding: 0;
	border: 0;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	background-color: #fff;
}

body.printmode .vitallogo
{
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #999;
    font: bold 30px Helvetica, Arial, sans-serif;
}

body.printmode .documentContentMain
{
    margin: 0;
    padding: 10px 0 !important;
    border: 0;
}

body.printmode .portal-coursename
{
	margin: 0;
	padding: 0;
	border: 0;
	font: bold 14px/25px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
}

body.printmode .assignment-materials
{
	display: block;
	margin: 0;
	padding: 0 0 20px 0;
	border: 0;
}

body.printmode .assignment-materials .materials_area
{
	/*
	height: 80px;
	overflow: auto;
	border: 1px solid #ccc;
	*/
	margin: 0;
	padding: 0;
	border: 0;
}

body.printmode .assignment-materials .materials_area ul
{
	width: 99%;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-image: none;
	list-style-type: none;
}

body.printmode .assignment-materials .materials_area ul li
{
	margin: 5px 10px 15px 5px;
	padding: 0;
	width: 23%;
	height: 50px;
	font-size: 11px;
	border: 0; border: 1px solid #fff;
	display: block;
	float: left;
	line-height: normal;
}

body.printmode .assignment-materials .materials_area ul li a
{
	display: block;
	border: 0;
	margin: 5px 0 0 75px;
}

body.printmode .assignment-materials .materials_area ul li a.thumbnail
{
	display: block;
	float: left;
	width: 63px;
	height: 47px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	background: #fff url('../images/shim.gif') no-repeat center center;
}

body.printmode img.materialCitation {
	cursor:pointer;
}

body.printmode input.materialCitation {
	background: #fff url(none);
	margin: 0 2px !important;
	padding: 0 !important;
	border: 0;
	border-bottom: 1px solid #069;
	padding-left:  0 !important;
	font-size:12px;
	color: #369;
	cursor:pointer;
	display:inline;
	width:auto;
	overflow:visible; /* IE 5-6 hack */
	text-decoration: underline;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

body.printmode input.materialCitation:hover
{
	background-color: #efefef;
}

.r-e_table
{
	/* Report error table */
	margin: 10px 0 0 0;
	border: 0;
	padding: 0;
}

.r-e_table td
{
	/* Report error table */
	margin: 0;
	border: 0;
	border-bottom: 1px dotted #ccc;
	padding: 5px 10px 5px 0;
}

input.errortxt
{
	width: 320px;
	margin: 0;
	border: 1px solid #999;
	padding: 3px;
	background-color: #f6f6f6;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

.errortxtarea
{
	width: 320px;
	height: 130px;
	margin: 0;
	border: 1px solid #999;
	padding: 3px;
	background-color: #f6f6f6;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}


/* Forgot password */

table.forgotpswd
{
	width: 270px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
}

table.forgotpswd th
{
	margin: 0;
	padding: 5px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #f0f0f0;
	text-align: left;
}

table.forgotpswd td
{
	height: 80px;
	margin: 0;
	padding: 5px 5px 10px 5px;
	border: 0;
	background-color: #fff;
	text-align: left;
	vertical-align: top;
}

td.pwdform
{
	height: 35px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	background-color: #fff;
	text-align: left;
	vertical-align: middle !important;
}

input.forgotpswdemail
{
	width: 150px;
	margin: 0 5px 0 0;
	padding: 2px;
	border: 1px solid #999;
	background-color: white;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	vertical-align: middle;
}


/* ADMIN */

#admincontent
{
	width: 730px;
	background: url('../images/grey-line.gif') top left repeat-y;	
}

#admincontent-inner
{
	background: url('../images/grey-line.gif') top right repeat-y;
}

#admincontent-top
{
	background: url('../images/grey-line.gif') top repeat-x;	
}

#admincontent-top-inner
{
	background: url('../images/bg-adminform-tl.gif') top left no-repeat;	
}

#admincontent-top-body
{
	background: url('../images/bg-adminform-tr.gif') top right no-repeat;
	height: 10px;
}

#admincontent-bottom
{
	background: url('../images/grey-line.gif') bottom repeat-x;	
}

#admincontent-bottom-inner
{
	background: url('../images/bg-adminform-bl.gif') bottom left no-repeat;	
}

#admincontent-bottom-body
{
	background: url('../images/bg-adminform-br.gif') bottom right no-repeat;
	height: 10px;
}

#adminformtable td,
#adminformtable th
{
	margin: 0;
	padding: 5px;
	border: 0;
	border-bottom: 1px dotted #999;
}

#pleasewait
{
	visibility: hidden;
	font: bold 11px "trebuchet ms", verdana, arial, helvetica, sans-serif;
	color: #C00;
}

#importorigin
{
	display: block;
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	border: 0;
}

#importdest
{
	display: block;
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	border: 0;
}

.importheaderCell
{
	font-size: 14px !important;
	font-weight: bold;
	color: #069 !important;
	background: #bbd5ef url(none) !important;
}

.importUnitHeader
{
	font-weight: bold;
	background: #e0e0e0 url(none) !important;
	vertical-align: middle;
}

.importItemsCell
{
	padding-left: 55px !important;
}

/* What's hidden in screen, but visible in print */
.print_ccnmtl
{
	display: none;
	visibility: hidden;
}

/* Later additions */

.mycourseslisting

{
	margin: 20px 0 -21px 0;
	padding: 5px;
	border: 1px solid #999;
	border-bottom: 0;
	font-weight: bold;
	background-color: #efefef;
}

/* Later additions, Discussion assignment */

#response_tinymce_textarea_div
{
	margin: 0 0 0 20px;
	padding: 0;
	border: 0;
}

#response_tinymce_textarea_div_title
{
	margin: 20px 0 5px 0;
	padding: 0;
	border: 0;
	font-weight: bold;
}

#response_tinymce_textarea_div #wordcount
{
	font-size: 11px;
	color: #369;
}

#wordcounter
{
	font-weight: bold;
}

#discuss_notes_boxarea
{
	margin: 0 0 0 20px;
	padding: 0;
	border: 0;
}

#discuss_notes_boxarea h2
{
	
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	height: 16px !important;
}

#discuss_notes_boxarea h2
{
	
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	height: 16px !important;
}

#discuss_notes_boxarea #listing_summary
{
	
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	height: 20px !important;
	line-height: 20px;
	overflow: hidden;
	color: #666;
	font-size: 11px;
}

#discuss_notes_boxarea #num_entries
{
	
	float: right;
	margin: 0;
	padding: 0 5px;
	border: 0;
	border-right: 1px solid #000;
}

#discuss_notes_boxarea #recent_entries
{
	
	float: right;
	margin: 0;
	padding: 0 5px;
	border: 0;
}

#most_recent_responder, #number_of_entries
{
	font-weight: bold;
	color: #369;
}

#discuss_notes_boxarea #dropdownmenu
{
	display: block;
	height: 30px !important;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #016799;
	font: bold 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
}

#discuss_notes_boxarea #dropdownmenu form
{
	margin: 0;
	padding: 0;
	border: 0;
}

#discuss_notes_boxarea #dropdownmenu table
{
	padding: 6px 0 0 0;
}

#discuss_notes_boxarea #dropdownmenu .viewmenu
{
	width: 130px;
	padding: 0;
	border: 1px solid #999;
	margin: 0;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#discussion_entries_div
{
	margin: 0;
	padding: 0;
	border: 0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 620px;
	overflow: auto;
}

#discussion_entries_div h3
{
	display: block;
	margin: 0;
	padding: 1px 0 1px 5px;
	border: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #bbd5ef;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.8em;
	color: #369;
}

#discussion_entries_div .note-details
{
	margin: 0;
	padding: 5px;
	border: 0;
	border-bottom: 1px solid #999;
}

#discussion_entries_div .discussion_grouping
{
	margin: 0 0 2px 0;
	padding: 0;
	border: 0;
}

.author_and_date
{
	margin: 0 0 1em 0;
	padding: 2px 5px;
	border: 0;
	background-color: #efefef;
	line-height: 20px;
}

.fake_entry_name
{
	font-weight: bold;
	color: #369;
}