
<h1>Welcome to Mediathread!</h1>
<br />
<h2>MediaThread is a platform for independent and collaborative analysis and composition of multimedia content for classes at Columbia University.</h2>
<br />
<!--<p>Mediathread supports deep exploration, close analysis, individual organization and purposeful employment of individual web-based multimedia items.</p>


<h4 class="instructor">Get the Big Picture</h4>
<p>If you are using Mediathread in a course, your instructor may give you materials to review or assignments to complete within the Mediathread environment.</p>-->
<h4 class="collection">Source Media, Collect Items for Analysis</h4>
<h4 class="collection">Create and Annotate Selections</h4>
<!--<p>Images and videos from YouTube, Flickr, library databases, course libraries and numerous other online sources can be imported into the Mediathread analysis environment. </p>
<p>Once in Mediathread, media items can be excerpted, annotated and organized.</p>-->
<h4 class="composition">Embed Selections into your Compositions</li>
      </h4>
<!--<p>Items and Selections can also be embedded into Compositions (discussions, essays, and other written analyses).</p>-->
<br />
<p><strong><a href="http://ccnmtl.columbia.edu/portfolio/custom_software_applications_and_tools/mediathread.html" target="blank">Learn more ...</a></strong></p>
<p>&nbsp;</p>
