[submodule "media/js/mochikit"]
	path = media/js/mochikit
	url = git://github.com/ccnmtl/mochikit-mirror.git
[submodule "djangosherd/media/js/sherdjs"]
	path = djangosherd/media/js/sherdjs
	url = git://github.com/ccnmtl/SherdJS.git
[submodule "django_courseaffils"]
	path = django_courseaffils
	url = git://github.com/ccnmtl/django_courseaffils.git
[submodule "django-modelversions"]
	path = django-modelversions
	url = git://github.com/ccnmtl/django-modelversions.git
[submodule "django-threadedcomments"]
	path = django-threadedcomments
	url = git://github.com/ccnmtl/django-threadedcomments.git
[submodule "media/js/protovis"]
	path = media/js/protovis
	url = git://github.com/mbostock/protovis.git
