[submodule "djangosherd/media/js/sherdjs"]
	path = djangosherd/media/js/sherdjs
	url = git://github.com/ccnmtl/SherdJS.git
[submodule "django_courseaffils"]
	path = django_courseaffils
	url = git://github.com/ccnmtl/django_courseaffils.git
