Django==1.11.20 # pyup: <2.0
psycopg2==2.8.2
#for MySQL: MySQL-python==1.2.5
statsd==3.3.0
pep8==1.7.1
pyflakes==2.1.1
mccabe==0.6.1
pycodestyle==2.5.0
enum34==1.1.6; python_version < '3.4'
configparser==3.7.4
flake8==3.7.7
lxml==4.3.3
fuzzywuzzy==0.17.0  # lettuce
mock==2.0.0  # sure
sure==1.4.11  # lettuce
extras==1.0.0
linecache2==1.0.0  # traceback2
traceback2==1.4.0  # testtools
fixtures==3.0.0
testtools==2.3.0  # python-subunit
pbr>=0.11
testscenarios==0.5.0  # python-subunit
python-subunit==1.3.0  # lettuce
requirements/src/lettuce-0.2.25.ccnmtl-py2.py3-none-any.whl
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0  # django-debug-toolbar
python-mimeparse==1.6.0  # tastypie
python-dateutil==2.8.0  # tastypie
defusedxml==0.6.0  # tastypie
django-tastypie==0.14.2
coverage==4.5.3
logilab-common==1.4.2
lazy-object-proxy==1.3.1
wrapt==1.11.1
unicodecsv==0.14.1

editdistance==0.5.3

pylint==1.9.4 # pyup: <2.0.0

astroid==1.6.6 # pyup: <2.0.0  # pylint

pyasn1==0.4.5
ndg-httpsclient==0.5.1

chardet==3.0.4

# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2
idna==2.8
urllib3==1.24.1
certifi==2019.3.9
cryptography==2.6.1
pyOpenSSL==19.0.0
asn1crypto==0.24.0  # for pyOpenSSL
cffi==1.12.2  # for pyOpenSSL

requests==2.21.0
contextlib2==0.5.5
rcssmin==1.0.6
rjsmin==1.0.12

djangowind==1.2.1
django-tagging==0.4.6
django-reversion==3.0.3
requirements/src/djangohelpers-0.20-py2.py3-none-any.whl
django-contrib-comments==1.9.1
django-threadedcomments==1.2
django-courseaffils==2.1.15
django-statsd-mozilla==0.4.0
raven==6.10.0
django-appconf==1.0.3  # django_compressor
django-compressor==2.2
django-jenkins==0.110.0
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-smoketest==1.1.0
django-debug-toolbar==1.11
django-markwhat==1.6.1
ipaddress==1.0.22
text-unidecode==1.2  # for faker
Faker==1.0.5
factory_boy==2.11.1
django-impersonate==1.4
django-registration-redux==2.6
django-waffle==0.16.0
django-cors-headers==2.5.2
httplib2==0.12.1
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==3.0.1
pylti==0.7.0
nameparser==1.0.2
django-bootstrap3==11.0.0
ua_parser==0.8.0
user_agents==1.1.0
django_user_agents==0.3.2
gunicorn==19.9.0
traitlets==4.3.2
ipython_genutils==0.2.0
path.py==11.5.2 # pyup: <12
backports.shutil_get_terminal_size==1.0.0
decorator==4.4.0
pexpect==4.7.0
ptyprocess==0.6.0
pickleshare==0.7.5
simplegeneric==0.8.1
scandir==1.10.0
pathlib2==2.3.3
wcwidth==0.1.7
prompt_toolkit==2.0.9
pygments==2.3.1
ipython==5.8.0 # pyup: <6.0.0
ipdb==0.12
freezegun==0.3.11
django-smtp-ssl==1.0
djangorestframework==3.7.7  # pyup: <3.8

ccnmtlsettings==1.3.0 # pyup: <1.4.0
django-extensions==2.1.6
typing==3.6.6 # needed for django-extensions

boto==2.49.0

functools32==3.2.3-2
entrypoints==0.3
django-storages==1.7.1
django-cacheds3storage==0.1.2

requests-toolbelt==0.9.1
pytz==2019.1
isodate==0.6.0
cached-property==1.5.1
zeep==2.5.0 # pyup: <3.0.0

stevedore==1.30.1
pyyaml==5.1
bandit==1.5.1
funcsigs==1.0.2 
mock==2.0.0
pypanopto==0.0.6
functools32==3.2.3-2
entrypoints==0.3
