{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block content %}

<div style="padding: 20px; margin: 0px 30px 0px 5px; width: 285px; border: black solid 1px; float: left;">

<h1>Log In</h1>

<div style="background-color: #CCCCCC; font-size: 85%; font-weight: bold; padding-left: 5px;">
    {% if form.username.errors %}
        <p>Please enter your username.</p>
    {% else %}    
        {% if form.password.errors %}
            <p>Please enter your password.</p>
        {% else %}                
            {% if form.errors %}
                <p>Please enter a correct username and password. Note that both fields are case-sensitive.</p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

<form name="login_local" method="post" action=".">
  {% csrf_token %}
    <table>
        <tr><td style="border: hidden"><label for="id_username">Username:</label></td><td style="border: hidden">{{ form.username }}</td></tr>
        <tr><td style="border: hidden"><label for="id_password">Password:</label></td><td style="border: hidden">{{ form.password }}</td></tr>
    </table>
    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next|urlencode }}" />
</form>

</div>

{% include "registration/description.html" %}

{% endblock %}
