{% extends "base.html" %}
{% load smartif revision %}

{% block title %}
    {% if discussion.title %}{{discussion.title}}{% else %}New Discussion{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/site_media/css/project.css?version={%revision%}" />
    <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css?version={%revision%}" />
    
    <script type="text/javascript" src="/jsi18n"></script>
    
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
    
    <!--  TinyMCE -->
    <script type="text/javascript">
        var tinyMCEPreInit = { query: '', suffix: '', base:'/site_media/js/sherdjs/lib/tiny_mce3/jscripts/tiny_mce' };
    </script>
    <script type="text/javascript" src="/site_media/js/sherdjs/lib/tiny_mce3_min.js"></script>
    <script type="text/javascript" src="/site_media/js/app/tiny_mce_init3.js"></script>
        
    <script type="text/javascript">
        jQuery(document).ready(function () {            
            PanelManager.init({ 
                'container': 'sliding-content-container',
                'url': MediaThread.urls['discussion-view']({{discussion.id}})
            });
        });
  </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    
    <table id="sliding-content-container" class="ajaxLoading">
        <tr id="sliding-content-row" class="sliding-content-row">
            <td id="sliding-content-last-column" class="filler"></td>
        </tr>
    </table>

{% endblock %}    
