{% extends "base.html" %}
{% load collaborations user_annotations tagging_tags smartif user_projects threadedcomments_tags coursetags %}

{% block title %}
Instructor Feedback for {{root_comment.content_object.title}}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/site_media/css/panels.css" />  
    <link rel="stylesheet" href="/site_media/css/project.css" />  
    <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css" />  
    <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/window.css" />  
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var tinyMCEPreInit = {query:'',suffix:'',base:'/site_media/js/sherdjs/lib/tiny_mce3/jscripts/tiny_mce'};
    </script>
    <script type="text/javascript" src="/site_media/js/sherdjs/lib/tiny_mce3_min.js"></script>
    <script type="text/javascript" src="/site_media/js/tiny_mce_init3.js"></script>
    
    <script type="text/javascript" src="/site_media/js/panels.js?version={{settings.REVISION}}"></script>
    
    <!--All the annotation javascript/css -->
    {% include "djangosherd/annotator_resources.html" %}
    <script type="text/javascript" src="/site_media/js/mustache/mustache.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/assetmgr/asset.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/discussion.js?version={{settings.REVISION}}"></script>
    <script type="text/javascript" src="/site_media/js/hs.js?version={{settings.REVISION}}"></script>
    
    <script type="text/javascript">
        function resizeFeedbackPage() {
            var visible = getVisibleContentHeight() - 25;
            jQuery('.sliding-panel-container').css('height', visible + "px");
            jQuery('.sliding-panel-content').css('height', (visible - 25) + "px");
            jQuery('div.scroll').css('height', (visible - 65) + "px");
        }

        function postProcessingFeedback() {
            if (tinyMCE.activeEditor) {
                var new_assets = jQuery('#asset_table').get(0);
                
                tinyMCE.activeEditor.plugins.citation.decorateCitationAdders(new_assets);
                jQuery(new_assets.parentNode).addClass('annotation-embedding');
            }

            resizeFeedbackPage();
        }

        jQuery(document).ready(function() {     
            DjangoSherd_Project_Config({ open_from_hash:true });
    
            CollectionList.init({
                'space_owner': '{% ifnotequal role_in_course "non-member" %}{{space_owner.username}}{% endifnotequal %}',
                'template': 'collection',
                'template_label': 'collection_table',
                'view_callback': postProcessingFeedback,
                'create_annotation_thumbs': true
             });
            
             jQuery(window).resize(function () {  
                 resizeFeedbackPage();
             });
        });   
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% with target.content_object as project %}
    
     <!--  Where the media is shown. Displays as an overlay next to the clip -->
     <div id="videoclipbox" class="asset-view-small" style="display:none; position: absolute; z-index: 1000;">
          <a id="close-clipbox" class="mce_editorwindow_closebtn" href="#close_viewer" onmousedown="jQuery('#videoclipbox').hide(); return false;">x</a>
          <div class="annotation-title"></div>
          <div class="asset-title"></div>
          <div class="asset-object" style="width: 322px;"><!-- width changes here too if video size changes -->
            <div class="asset-display"></div>
            <div id="clipstrip-display" class="clipstrip-display"></div>    
          </div>
    </div>
    
    <h2>Instructor Feedback</h2>
  
    <div class="sliding-panel-container"> <!--  container for project on left, discussion in middle, collection on right -->
        <div class="sliding-panel panel-published-composition sliding-panel-open">
            <h2><a href="{{target.content_object.get_absolute_url}}">
            <span id="discussion-subject-title">{{project.title}} Composition</span>
        </a></h2>
            <div class="sliding-panel-content">
                <h5 style="margin: .2em 0 .2em">by <span id="participants_chosen">{% public_name for project.attribution_list %}</span></h5>
                {% with project.assignment as assignment %}
                {% if assignment %}
                    <h6 style="margin: .2em 0 1em">Response to
                      <a href="{{assignment.get_absolute_url}}">
                    {{assignment.title}}
                      </a>
                    </h6>
                {% endif %}
                {% endwith %} 
                <div class="essay-space-feedback">  
                   {{project.body|safe}}
                </div>
            </div>
        </div>
        
        <div class="sliding-panel panel-feedback sliding-panel-open">
            <h2>Feedback / Discussion</h2>
            <div class="sliding-panel-content sliding-panel-scroll">
                {%get_comment_list for root_comment.content_object as comment_list%}
                {% for current_comment in comment_list|fill_tree|annotate_tree %}
                    <!-- starting comment: >{{ current_comment.id }}-->
                    {% ifchanged current_comment.parent_id %}
                    {% else %}
                        </li>
                    {% endifchanged %}
                    {% if not current_comment.open and not current_comment.close %}
                        </li>
                    {% endif %}
                    {% if current_comment.open %}
                        <ul class="comment-thread">
                    {% endif %}
                    <li id="comment-{{current_comment.id}}"
                        class="comment-thread {% if current_comment.last %}last{% endif %}"
                        >
                      <div class="comment">
                        <div class="threaded_comment_header">
                        <span class="comment-actions">
                            {% if space_viewer.is_staff %}
                              <a class="comment-manage" 
                                 href="{%url admin:threadedcomments_threadedcomment_change current_comment.id %}">Manage</a>
                              {% ifequal current_comment root_comment%}
                              <a class="comment-manage"
                                 href="{%url admin:structuredcollaboration_collaboration_change root_comment.content_object.id %}">Title/Access</a>
                              {% endifequal %}
                            {% endif %}
                          </span>
                       
                       <span class="threaded_comment_author">{{current_comment.name}}</span>
                          <a class="comment-anchor" href="#comment-{{current_comment.id}}">said:</a>
                          <span class="comment-date">
                            (
                            {%ifequal current_comment.submit_date.now.date current_comment.submit_date.date %}
                            {{current_comment.submit_date|timesince_approx}} ago, {{current_comment.submit_date|date:"g:ma"}}
                            {%else %}                    
                            {{current_comment.submit_date|date:"D M d Y, g:ma"}}
                            {%endifequal%}
                          )</span>
                         
                        </div>
                        <!-- ( #{{current_comment.id}}): -->
                        <div class="threaded_comment_title">{{current_comment.title}}</div>
                        <div class="threaded_comment_text">{{current_comment.comment|safe}}</div>
                        
                        <div class="respond_to_comment_form_div" id="respond_to_comment_form_div_id_{{current_comment.id}}">
                            <span class="respond_prompt comment_action" data-comment="{{current_comment.id}}" title="Click to show or hide the reply form">
                                Respond<!-- to comment {{ current_comment.id }}: -->
                            </span>
                            {% if current_comment.user == space_viewer or edit_comment_permission %}
                               <span class="edit_prompt comment_action" data-comment="{{current_comment.id}}" title="Click to show or hide the edit comment form">Edit</span>
                            {% endif %}
                            <div class="comment_form_space"></div>
                        </div>
                      </div><br /><br />
                      {% if current_comment.added_path %} <span class="new-comment">ADDED</span> {% endif %}
                      {% for close in current_comment.close %}
                    </li>
                        </ul>
                    {% endfor %}
                    
                {% endfor %}        
        
                {% get_comment_form for root_comment.content_object as current_comment_form with root_comment.id %}
                <form id="comment-form" method="POST" action="/comments/post/" class="threaded_comments_form" data-maxlength="{{COMMENT_MAX_LENGTH}}">
                  <input type="hidden" id="comment-edit-id" name="edit-id" />
                  <ul>
                    <li><!-- instead of current_comment_form.as_ul since that has all the field labels of fields we don't care about -->
                      {% for field in current_comment_form %}
                        {% if field.is_hidden %}
                          {{ field }}
                        {% else %}
                          {#SWITCH#}
                          {% ifequal field.name "comment" %}
                            {{ field }}
                             {% else %}
                          {% ifequal field.name "title" %}
                            <span class="formtitle"><label for="title">Title:</label> {{ field }}</span>
                            {% else %}
                          {% ifequal field.name "email" %}
                             <input type="hidden" name="email" value="{{field.value|default:'null@example.com'}}" />
                          {% else %}
                              <input type="hidden" name="{{field.html_name}}" value="{{field.value}}" />
                          {% endifequal %}{% endifequal %}{% endifequal %}
                        {% endif %}
                      {% endfor %}
                    </li>
                    <li><input class="project" id="comment-form-submit" type="submit" value="Save Comment" /></li>
                  </ul>
                </form>
            </div>        
        </div> <!--  end threaded comments -->
    
    
        <div class="sliding-panel panel-collection sliding-panel-closed">
            <h2>
                <div class="button-form inline">
                    <form class="block media-browse hinline" method="POST" action="/explore/">
                        <input type="hidden" name="title" />
                        <input class="columnbutton media browse-button" type="submit" value="Source Media"/>
                    </form>
                </div>
                Collections
            </h2>
            <div id="collection_table" class="sliding-panel-content"></div> <!--  replaced by mustache -->
        </div>    
                
    </div> <!--  end container -->

    {% endwith %}            
{% endblock %}
