{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects threadedcomments_tags %}

<title> 
  {% block title %}
  Discussion of {{root_comment.comment.title}}
  {% endblock %}
</title>

{% block css %}
  <link rel="stylesheet" href="/site_media/css/project.css" />  
  <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css" />  
  <link rel="stylesheet" href="/site_media/js/sherdjs/lib/mcePlugin_editorwindow/skins/minimalist/window.css" />  
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="/site_media/js/hs.js"></script>
  <script type="text/javascript" src="/site_media/js/tablesort.js"></script>
  <script type="text/javascript" src="/site_media/js/vital3/assetwindow.js"></script>
  <script type="text/javascript" src="/site_media/js/sherdjs/lib/tiny_mce3/jscripts/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="/site_media/js/vital3/tiny_mce_init3.js"></script>
  
  
  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}

  <script type="text/javascript">        
    DjangoSherd_Project_Config(/*no_open_from_hash=*/ false);   
  </script>
  <!--END for showing Annotations -->
  <script type="text/javascript" src="/site_media/js/project/project.js"></script>
  <script type="text/javascript" src="/site_media/js/discussion.js"></script>

  
{% endblock %}

{% block content %}
{{ block.super }}
  
 <div id="asset_browse_col" class="asset-table">
  <h2>Your Saved Items</h2>
    <div id="videoclipbox" class="asset-view-small" style="display:none;">
      <a id="close-clipbox" class="mce_editorwindow_closebtn" href="#close_viewer" onmousedown="hideElement('videoclipbox');updateVerticalHeight(null,{'materials':0});return false;">x</a>
      <div class="annotation-title"></div>
      <div class="asset-title"></div>
      <div class="asset-object" style="width: 322px;"><!-- width changes here too if video size changes -->
        <div class="asset-display"></div>
	<div id="clipstrip-display" class="clipstrip-display"></div>    
      </div>
    </div>
  
  <div id="materials" class="resize-height">
    {% include "assetmgr/asset_table.html" %}
  </div>
</div>
  <div class="essay-space">
	<h2>Discussion of {{root_comment.comment.title}}</h2>
	  <div id="threadedcomments" class="resize-height">
        {%get_comment_list for root_comment.content_object as comment_list%}
        {% for current_comment in comment_list|fill_tree|annotate_tree %}
            <!-- starting comment: >{{ current_comment.id }}-->
            {% ifchanged current_comment.parent_id %}
            {% else %}
                </li>
            {% endifchanged %}
            {% if not current_comment.open and not current_comment.close %}
                </li>
            {% endif %}
            {% if current_comment.open %}
                <ul class="comment-thread">
            {% endif %}
            <li id="comment-{{current_comment.id}}"
                class="comment-thread {% if current_comment.last %}last{% endif %}"
                >
              <div class="comment">
                <div class="threaded_comment_header">
                  <span class="threaded_comment_author">{{current_comment.name}} </span>
                  <a class="comment-anchor" href="#comment-{{current_comment.id}}">said:</a>
                  <span class="comment-date">
                    (
                    {%ifequal current_comment.submit_date.now.date current_comment.submit_date.date %}
                    {{current_comment.submit_date|timesince}} ago
                    {%else %}                    
                    {{current_comment.submit_date|date:"D M d Y, g:ma"}}
                    {%endifequal%}
                  )</span>
                  <span class="comment-actions">
                    {% if space_viewer.is_staff %}
                    <a class="comment-manage" 
                       href="{%url admin:threadedcomments_threadedcomment_change current_comment.id %}">
                      Manage 
                    </a>
                    {% endif %}
                  </span>
                </div>
                <!-- ( #{{current_comment.id}}): -->
                <div class="threaded_comment_text">
                  {{current_comment.comment|safe}}
                </div>
                <div class="respond_to_comment_form_div" id="respond_to_comment_form_div_id_{{current_comment.id}}">
                  <span class="respond_prompt comment_action" data-comment="{{current_comment.id}}" title="Click to show or hide the reply form">
                    Respond<!-- to comment {{ current_comment.id }}: -->
                    </span><div class="comment_form_space"></div><!-- must be neighbor-->
                    {% if edit_comment_permission %}
                    <span class="edit_prompt comment_action" data-comment="{{current_comment.id}}" title="Click to show or hide the edit comment form">Edit</span><div class="comment_form_space"></div><!-- must be neighbor-->
                    {% endif %}
                </div>
              </div>
              {% if current_comment.added_path %} <span class="new-comment">ADDED</span> {% endif %}
              {% for close in current_comment.close %}
            </li>
                </ul>
            {% endfor %}
            
        {% endfor %}        

        {% get_comment_form for root_comment.content_object as current_comment_form with root_comment.id %}
        <form id="comment-form" method="POST" action="/comments/post/" class="threaded_comments_form">
          <input type="hidden" id="comment-edit-id" name="edit-id" />
          <ul>
            {{ current_comment_form.as_ul }}

            <li><input id="comment-form-submit" type="submit" value="Save Comment" /></li>
          </ul>
        </form>
        
   </div>


                    
      </div>

{% endblock %}
