  <!---JUST IMAGE-->
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/lib/sherdjs/lib/openlayers/openlayers/theme/default/style.css" />
  <style type="text/css">
    img.olImageLoadError {
       /*override to fix bug where olImageLoadError style lingers past the image load*/
       opacity:1.0;
       /*IE: so we don't see stupid broken-image icons*/
       *display:none;
    }
    div.olControlDrawFeatureSquareItemInactive {
       background-image:url({{STATIC_URL}}js/lib/sherdjs/media/images/square_tool.png);
       background-repeat: no-repeat;
       height:23px;
       width:25px;
    }

    div.olControlDrawFeatureSquareItemActive {
       background-image:url({{STATIC_URL}}js/lib/sherdjs/media/images/square_tool.png);
       background-repeat: no-repeat;
       background-position: 0px -23px;
       height:23px;
       width:25px;
    }
  </style>
  <link rel="stylesheet" href="{{STATIC_URL}}flowplayer/skin.css">
