{% extends "dashboard/base_dashboard.html" %}
{% load compress %}

{% block title %}Course Vocabulary Workspace{% endblock %}

{% block js %}
    <script type="text/javascript">
        function addTerm(elt, id, display_name, description) {
            var new_term = jQuery(".term-template").clone();
            jQuery(new_term).toggleClass("term-template term");
            jQuery(new_term).attr('id', 'term-' + id)
            jQuery(new_term).find('.term-id').attr('value', id);
            jQuery(new_term).find('.name').html(display_name);
            jQuery(new_term).find('.description').html(description);
            
            jQuery(new_term).find('input[name=display_name]').attr('value', display_name);
            jQuery(new_term).find('input[name=description]').attr('value', description);
            
            var href = jQuery(new_term).find('a.delete-term').attr('href');
            jQuery(new_term).find('a.delete-term').attr('href', href + id + '/');
            
            href = jQuery(new_term).find('a.edit-term').attr('href');
            jQuery(new_term).find('a.edit-term').attr('href', href + id + '/');
            
            jQuery(elt).find(".term-set").append(new_term);
            jQuery(new_term).show();
        }
        
        jQuery(document).ready(function () {
            {% for v in vocabularies %}
                {% for term in v.term_set.all %}
                    addTerm(jQuery('#vocabulary-{{v.id}}'), "{{term.id}}", "{{term.display_name}}", "{{term.description}}");
                {% endfor %}
            {% endfor %}

            jQuery("a.delete-vocabulary").click(function() {
                var msg = "Are you sure you want to delete this course vocabulary?" +
                    " Deleting this vocabulary will remove all terms from all items throughout the course."; 
                
                return ajaxDelete(this, 'vocabulary-{{v.id}}', {
                    'msg': msg,
                    'success': function() { document.location.reload(true); }
                });
            });
            
            jQuery("a.delete-term").click(function(evt) {
                evt.stopPropagation();
                var srcElement = evt.srcElement || evt.target || evt.originalTarget;
                var term = jQuery(srcElement).parents("div.term")[0];
                
                var msg = "Are you sure you want to delete this term?" +
                    " This term will be removed from all items throughout the course."; 
                
                var containerId = 'term-' + jQuery(term).find('input.term-id').attr('value');
                return ajaxDelete(this, containerId, {
                    'msg': msg,
                    'success': function() {
                        jQuery(term).fadeOut(function() {
                            jQuery(term).remove();    
                        });                        
                     }
                });
            });     
            
            jQuery("input[type=submit].update-vocabulary").click(function(evt) {
                evt.stopPropagation();
                var srcElement = evt.srcElement || evt.target || evt.originalTarget;
                var frm = jQuery(srcElement).parent()[0];
    
                jQuery.ajax({
                    type: 'POST',
                    url: frm.action,
                    data: jQuery(frm).serializeArray(),
                    dataType: 'json',
                    error: function () {
                        showMessage('There was an error updating the vocabulary.');
                    },
                    success: function (json, textStatus, xhr) {
                        if (json.status === 'error') {
                            jQuery(frm).children('ul.errorlist').show();
                        } else {
                            showMessage("Your changes have been saved.");
                        }
                    }
                });
                return false;
            });
            
            jQuery("input[type=submit].create-term").click(function(evt) {
                evt.stopPropagation();
                var srcElement = evt.srcElement || evt.target || evt.originalTarget;
                var frm = jQuery(srcElement).parent()[0];
                
                jQuery.ajax({
                    type: 'POST',
                    url: frm.action,
                    data: jQuery(frm).serializeArray(),
                    dataType: 'json',
                    error: function () {
                        showMessage('There was an error adding this term.');
                    },
                    success: function (json, textStatus, xhr) {
                        if (json.status === 'error') {
                            jQuery(frm).children('ul.errorlist').show();
                        } else {
                            var elt = jQuery(frm).parents("div.vocabulary");
                            addTerm(elt, json.term.id, json.term.display_name, json.term.description);
                            jQuery('#create-term input[name="display_name"]').attr("value", "");
                            jQuery('#create-term input[name="description"]').attr("value", "");
                        }
                    }
                });
                return false;
                
            });
        });
    </script>
 onclick=")
{% endblock %}

{% block switchcourse %}{% endblock %}

{% block dashboard_module_header %}
    {% with "help_taxonomy" as help_id %}
    {% with help_taxonomy as default_help_state %}

    <h2>Course Vocabulary <div class="actions">{% include "help/help_button.html" %}</div></h2>    
    
    {% endwith %}{% endwith %}
{% endblock %}

{% block dashboard_module %}
    {% with "help_taxonomy" as help_id %}
    {% with help_taxonomy as default_help_state %}
            
    {% include "help/help_contentarea.html" %}
    
    {% ifequal role_in_course "non-member" %}
        <div id="no-materials-to-migrate">
            You are not a class member. Please add yourself to this course via the admin console before attempting to create taxonomies.
        </div>
    {% else %}{% if vocabularies %}
        {% for v in vocabularies %}
            <div class="vocabulary" id="vocabulary-{{v.id}}">
                <h3>
                    {{v.display_name}}
                    <a class="icon-link" onclick="return jQuery('#update-vocabulary-{{v.id}}').toggle('fast');"
                        href="#">                                                     
                        <img src="/site_media/img/icons/meth_edit.png" class="edit_icon" alt="Edit this vocabulary"  />
                    </a>
                    <a class="icon-link delete-vocabulary"
                        href="/taxonomy/delete/{{v.id}}/">                                                
                        <img src="/site_media/img/icons/meth_delete.png" class="delete_icon" alt="Delete this vocabulary"  />
                    </a>
                </h3>
                <form id="update-vocabulary-{{v.id}}"
                    action="/taxonomy/save/{{v.id}}/"
                    method="post" class="taxonomy"
                    style="display: none">
                    <ul class="errorlist" style="display: none"><li>This field is required.</li></ul>
                        {{ v.form.as_p }}
                    <input class="update-vocabulary" type="submit" value="Update Vocabulary" />                
                </form>
                <h4>Terms</h4>
                <div class="terms">
                    <div class="terms-header">
                        <div class="name">Name</div>
                        <div class="description">Description</div>                        
                    </div>
                    <div class="visualclear"></div>
                    
                    <div>
                        <form id="create-term"
                            action="/taxonomy/term/create/{{v.id}}/"
                            method="post"
                            class="term">
                                <ul class="errorlist" style="display: none"><li>The name field is required.</li></ul>                                
                                <div><input id="id_display_name" type="text" name="display_name" maxlength="50"></div>
                                <div><input id="id_description" type="text" name="description" maxlength="256"></div>
                            <input class="create-term" type="submit" value="Add Term" />
                        </form>
                    </div>                    
                                        
                    <div class="term-set">
                    </div>
                    <div class="term-template" style="display: none">
                        <input type="hidden" class="term-id" value=""></input>
                        <div class="name"></div>
                        <input class="edit" type="text" name="display_name" maxlength="50" style="display: none">
                        <div class="description"></div>                   
                        <input class="edit" type="text" name="description" maxlength="256" style="display: none">     
                        <div class="actions">
                            <a class="icon-link" onclick="" href="/taxonomy/term/edit/">                                                     
                                <img src="/site_media/img/icons/meth_edit.png" class="edit_icon" alt="Edit this term"  />
                            </a>
                            <a class="icon-link delete-term" href="/taxonomy/term/delete/">                                                
                                <img src="/site_media/img/icons/meth_delete.png" class="delete_icon" alt="Delete this term"  />
                            </a>                                    
                        </div>
                        <input class="edit" type="submit" value="Save" style="display: none"></input>
                        <div class="visualclear"></div>
                    </div>
                </div>
            </div>
        {% endfor %}    
    {% else %}
        <p>
            Explain & Create
        </p>
        <form action="/taxonomy/create/" method="post" class="taxonomy">
            {{ vocabulary_form.as_p }}
                            
            <p><input type="submit" value="Create Vocabulary" /></p>
        </form> 
    {% endif %}{% endifequal %}
    
{% endwith %}{% endwith %}
{% endblock %}



