{% extends 'dashboard/base_course_dashboard.html' %}

{% block title %}{{block.super}}&mdash; Course Vocabulary Workspace{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>

    <script type="text/template" id="vocabulary-template">
        <div class="vocabularies">
            <ul>
                <% for (var i=0; i < vocabularies.length; i++) { %>
                    <li class="vocabulary-wrapper" id="vocabulary-wrapper-<%=vocabularies[i].id%>" data-id="<%=vocabularies[i].id%>">
                        <div class="arrow"></div>
                        <div class="vocabulary-display">
                            <a class="display-name" href="#vocabulary-<%=vocabularies[i].id%>">
                                <% if (vocabularies[i].onomy_url && vocabularies[i].onomy_url.length > 0) { %>
                                    <img align="middle" src="{{STATIC_URL}}img/onomy_logo.png" />&nbsp;
                                <% } %>

                                <%=vocabularies[i].display_name%>
                            </a>

                          <div class="actions">
                                <a class="icon-link edit-vocabulary-open" href="#">
                                    <img src="{{STATIC_URL}}img/icons/meth_edit.png" class="edit_icon" alt="Edit vocabulary"  />
                                </a>
                                <a class="icon-link delete-vocabulary"
                                    href="<%=vocabularies[i].id%>">
                                    <img src="{{STATIC_URL}}img/icons/meth_delete.png" class="delete_icon" alt="Delete vocabulary"  />
                                </a>
                            </div>
                        </div>
                        <div class="vocabulary-edit" style="display: none">
                            <input class="form-control float-left" id="id_display_name" type="text" name="display_name"
                                maxlength="50" value="<%=vocabularies[i].display_name%>"></input>
                            <input type="hidden" name="vocabulary_id" value="<%=vocabularies[i].id%>"/>
                            <a class="btn btn-light btn-sm edit-vocabulary-close float-right" href="#">
                                <span aria-hidden="true">x</span>
                            </a>
                            <a class="btn btn-light btn-sm edit-vocabulary-submit float-right" href="#">
                                <span aria-hidden="true">ok</span>
                            </a>
                        </div>
                    </li>
                <% } %>

                <% if (vocabularies.length < 100) { %>
                    <li class="create-vocabulary">
                        <div class="vocabulary-display">
                            <a href="#new-vocabulary" class="icon-link create-vocabulary-open">
                                Create Concept
                                <img src="{{STATIC_URL}}img/icons/meth_addselection.png" alt="Create term" />
                            </a>
                        </div>
                        <div class="vocabulary-create" style="display: none">
                            <input class="create-vocabulary-name form-control float-left"
                                id="id_display_name" type="text" name="display_name"
                                maxlength="50" placeholder="Concept name">
                            <input type="hidden" name="object_id" value="<%=course_id%>"/>
                            <a class="btn btn-light btn-sm float-right create-vocabulary-close" href="#">
                                <span aria-hidden="true">x</span>
                            </a>
                            <a class="btn btn-light btn-sm float-right create-vocabulary-submit" href="#">
                                <span aria-hidden="true">ok</span>
                            </a>
                        </div>
                    </li>
                <% } %>
            </ul>
            <% for (var i=0; i < vocabularies.length; i++) { %>
                <div class="vocabulary-container" id="vocabulary-<%=vocabularies[i].id%>" data-id="<%=vocabularies[i].id%>">
                    <h2>
                        <div class="card-body">
                        <%=vocabularies[i].display_name%> Concept
                        <% if (!vocabularies[i].onomy_url || vocabularies[i].onomy_url.length < 1) { %>
                            <a href="#" class="btn btn-light btn-sm onomy import-vocabulary-open float-right">
                                <img src="{{STATIC_URL}}img/onomy_logo.png" />&nbsp;<span>Import</span>
                            </a>
                        <% } else if (vocabularies[i].onomy_url && vocabularies[i].onomy_url.length > 0 && vocabularies[i].onomy_url !== 'child') { %>
                            <a href="#" class="btn btn-light btn-sm onomy import-vocabulary-open float-right">
                                <img src="{{STATIC_URL}}img/onomy_logo.png" />&nbsp;<span>Edit</span>
                            </a>
                            <a class="btn btn-light btn-sm onomy refresh-onomy float-right" href="#">
                                <img src="{{STATIC_URL}}img/onomy_logo.png" />&nbsp;<span>Refresh</span>
                            </a>

                        <% } %>
                        </div>
                    </h2>
                    <div class="visualclear"></div>
                    <div class="vocabulary-import card bg-light mb-3" style="display: none">
                        <div class="card-body">
                        <p>
                            <a href="http://onomy.org">onomy.org</a> is a site where you can create and share taxonomies,
                            folksonomies, and other forms of controlled vocabularies for use on the semantic web. Visit
                            <a href="http://onomy.org">onomy.org</a> now to build your own taxonomies.
                        </p>
                        <label><b>Published Onomy Urls</b> <i>JSON format, separated by commas</i></label>
                        <input class="form-control float-left" type="text" name="onomy_url" id="onomy_url" value="<%=vocabularies[i].onomy_url%>"></input>
                        <input type="hidden" name="object_id" value="<%=course_id%>"/>
                        <a class="btn btn-light btn-sm float-right import-vocabulary-close" href="#">
                           <span aria-hidden="true">x</span>
                        </a>
                        <a class="btn btn-light btn-sm float-right import-vocabulary-submit" id="import-vocabulary-btn" href="#">
                            <span aria-hidden="true">ok</span>
                        </a>
                        </div>
                        <div class="visualclear"></div>

                    </div>
                    <div class="visualclear"></div>
                    <div class="terms card bg-light mb-3">
                        <div class="card-body">
                        <h3>Terms</h3>
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" name="term_name" class="form-control float-left" placeholder="Type new term name here"/>
                                <a class="btn btn-light create-term-submit float-left" href="#">
                                    <img src="{{STATIC_URL}}img/icons/meth_addselection.png" alt="Create term" />
                                </a>
                                </div>
                            </div>

                        <% if (vocabularies[i].term_set.length > 0) { %>
                            <div class="term-container">
                            <% for (var j=0; j < vocabularies[i].term_set.length; j++) { %>
                                <div class="term <% if (j%2 === 0) { %>even<% } else { %>odd<% } %>">
                                    <div class="term-display">
                                        <h5 data-id="<%= vocabularies[i].term_set[j].display_name %>">
                                            <%= vocabularies[i].term_set[j].display_name %>
                                        </h5>

                                        <div class="term-actions">
                                            <a class="icon-link edit-term-open" href="#">
                                                <img src="{{STATIC_URL}}img/icons/meth_edit.png" class="edit_icon" alt="Edit term"  />
                                            </a>
                                            <a class="icon-link delete-term"
                                                href="<%=vocabularies[i].term_set[j].id%>">
                                                <img src="{{STATIC_URL}}img/icons/meth_delete.png" class="delete_icon" alt="Delete term"  />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="term-edit" style="display: none">
                                        <input class="form-control float-left" id="id_display_name" type="text" name="term_name"
                                            maxlength="50" value="<%=vocabularies[i].term_set[j].display_name%>">
                                        <a class="btn btn-light btn-sm float-right edit-term-close" href="#">
                                            <span aria-hidden="true">x</span>
                                        </a>
                                        <a class="btn btn-light btn-sm float-right edit-term-submit" href="#" data-id="<%=vocabularies[i].term_set[j].id%>">
                                            <span aria-hidden="true">ok</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            <% } %>
                            </div>
                        <% } %>
                        </div>
                    </div>
                </div>
            <% } %>

            <% if (vocabularies.length < 100) { %>
                <div id="new-vocabulary"></div>
            <% } %>
        </div>
        <div id="loaded"></div>
    </script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/app/taxonomy/taxonomy.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-tastypie.js"></script>
{% endblock %}

{% block uncompressable_js %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new VocabularyListView({
                el: jQuery("#taxonomy"),
                course_id: "{{course.id}}",
            });
        });
    </script>
{% endblock %}

{% block dashboard_content %}

    <div class="row">
        <div class="col">
            <h4>Course Vocabulary</h4>
            <div class="float-right">
                {% include "help/help_taxonomy.html" %}
            </div>
        </div>
    </div>

    <div id="taxonomy">
    </div>

{% endblock %}
