{% verbatim %}
<script type="text/x-template" id="asset_workspace-template">

    <td id="asset-workspace-panel-container" class="panel-container open asset-workspace parent">
        <div class="column-container parent-column-container">
            <div class="mediathread-panel asset-workspace">
                <table class="panel-subcontainer">
                    <tr class="asset-workspace-title-row">
                        <td class="collection-view-header">
                            <div class="actions">
                                <input id="collection-help-button"
                                    type="image" title="Help"
                                    alt="Help"
                                    class="help-button"
                                    src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_help.png" />
                            </div>
                            <h2><a href="/asset">Collection</a></h2>
                        </td>
                        <td />
                        <td />
                        <td class="asset-view-header">
                            <div class="actions">
                                <input id="asset-view-help-button" type="image" title="Help"
                                    class="help-button"
                                     onclick="return annotationList.showHelp();"
                                     alt="Help" src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_help.png" />
                            </div>

                            <div class="asset-view-header">
                                <h2>Item
                                    <span class="asset-view-title">
                                        {{#asset-current}}
                                             {{title}}
                                        {{/asset-current}}
                                     </span>
                                </h2>
                            </div>
                        </td>
                    </tr>
                    <tr class="asset-workspace-content-row">
                        <td class="panel-container collection subpanel">
                            <div class="ajaxloader">
                                <div class="message">
                                <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
                                <br /><br />
                                <div>Refreshing the collection</div>
                                </div>
                            </div>
                            <div id="media_gallery" class="media_gallery"></div>
                        </td>

                        <td class="panhandle-stripe collection">
                            <div class="label">Collection</div>
                        </td>

                        <td class="pantab-container maximized">
                            <div class="pantab collection maximized"></div>
                        </td>

                        <td class="panel-container closed asset subpanel fixed alwaysopen">
                            <div class="visualclear"></div>
                            <div class="asset-view-container">
                                <div class="asset-view-published">
                                    <div id="asset-workspace-videoclipbox" class="videoclipbox" style="display: none;">
                                        <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                        {{#context.allow_item_download}}
                                            <span class="sherd-flowplayer-download-btn"></span>
                                        {{/context.allow_item_download}}
                                        <div class="asset-display"></div>
                                        <div class="clipstrip-display"></div>
                                    </div>
                                </div>

                                <div class="annotation-ajaxloader">
                                    <div class="message">
                                    <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
                                    <br /><br />
                                    <div>Retrieving selections</div>
                                    </div>
                                </div>

                                <div class="tabs asset-view-tabs" style="display: none">
                                    <div id="asset-view-help"></div>

                                    <ul>
                                        <li><a href="#tabs-1">Item</a></li>
                                        <li><a href="#tabs-2">Source</a></li>
                                        <li><a href="#tabs-3">References</a></li>
                                    </ul>

                                    <div id="tabs-1">
                                        <div id="asset-view-details" class="asset-view-details"></div>
                                    </div>


                                    <div id="tabs-2" class="ui-tab-asset-sources">
                                      <div id="asset-sources"></div>
                                      <br />
                                    </div>

                                    <div id="tabs-3" class="ui-tab-asset-references">
                                      <div id="asset-references"></div>
                                    </div> {{! end tabs-3 references }}

                                </div> {{! end tabs }}
                            </div> {{! end asset-view-container }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="asset-loaded"></div>
    </td>

    <td class="pantab-container"></td>
</script>
{% endverbatim %}