{% verbatim %}
<script type="text/x-template" id="asset_quick_edit-template">
<div class="row">
    <div class="col" style="display: none">
        <div id="asset-workspace-panel-container" class="mediathread-panel asset-workspace-dialog">
            <table class="panel-subcontainer">
                <tr class="asset-workspace-content-row">
                    <td class="panel-container open asset subpanel fixed" style="display: block">
                      <div id="asset-view-header">
                        <h3 class="asset-view-title">{{title}}</h3>
                      </div>
                        <div class="asset-view-container">
                            <div class="asset-view-published asset-view-dialog">
                                <div id="asset-workspace-videoclipbox" class="videoclipbox">
                                    <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                    <div class="asset-display"></div>
                                    <div class="clipstrip-display"></div>
                                </div>
                            </div>

                            <div class="asset-view-tabs">
                              <div id="asset-view-details-quick-edit"
                                class="asset-view-details">
                              </div>
                            </div>
                        </div> {{! end asset-view-container }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</script>
{% endverbatim %}