{% verbatim %}
<script type="text/x-template" id="asset_view_details_quick_edit-template">

<div id="asset-global-annotation-quick-edit"
  {{#annotation.editing}}
    style="display: none"
  {{/annotation.editing}}>
</div>

<div id="annotation-current">
  <div id="asset-details-annotations-current"

    {{#annotation.editing}}
      style="display: block"
    {{/annotation.editing}}

    {{^annotation.editing}}
      style="display: none"
    {{/annotation.editing}}
    >
    {{#annotation}}
      <div id="original-annotation" class="annotation-data"
        data-begin="{{range1}}"
        data-end="{{range2}}"
        {{#annotation_data}}
          data-annotation="{{annotation_data}}"
        {{/annotation_data}}
        {{^annotation_data}}
          data-annotation="{}"
        {{/annotation_data}}>
      </div>

      <div class="original-annotation-title">
        {{#id}}
          Edit Selection
        {{/id}}
        {{^id}}
          {{#copying}}
            Copy Selection
          {{/copying}}
          {{^copying}}
            Create Selection
          {{/copying}}
        {{/id}}
      </div>
        {{/annotation}}

        <form id="edit-annotation-form" name="edit-annotation-form" onsubmit="return false;">
          <div class="asset-annotator">
            <div class="sherd-instructions"></div>
            <div id="clipform-display"></div>
          </div>
          <div id="annotation-body">
            <label for="annotation-title">Title:</label>
            <div>
              <input data-label="Title" type="text" class="w-100 mb-3" id="annotation-title"
              name="annotation-title" value="{{annotation.metadata.title}}"/>
            </div>

          {{#vocabulary.length}}
            <div class="vocabulary">
              <label for="annotation-vocabulary">Course Vocabulary</label>
              <select class="vocabulary" class="w-100" id="annotation-vocabulary"
                data-placeholder="select {{display_name?lower()}}"
                name="vocabulary" multiple="multiple">

                {{#vocabulary}}
                    <optgroup data-id="vocabulary-{{id}}" label="{{display_name}}">
                    {{#term_set}}
                      <option value="{{id}}">{{display_name}}</option>
                    {{/term_set}}
                    </optgroup>
                {{/vocabulary}}
              </select>
            </div>
          {{/vocabulary.length}}
          <br />
            {{#annotation}}
              <label for="annotation-tags">Tags</label>
              <div>
                  <input data-label="Selection Tags" type="text"
                  name="annotation-tags" data-placeholder="select or create tags"
                  value="{{#metadata.tags}}{{name}}{{^last}}, {{/last}}{{/metadata.tags}}" />
              </div>
              <div class="helptext">
                  Use commas to separate tags. Example: tag 1, tag 2, tag 3
              </div>

              <label for="annotation_body">Notes</label>
              <textarea data-label="Selection Notes" rows="7" cols="44" id="annotation_body"
                  name="annotation-body">{{metadata.body}}</textarea>

              <input type="hidden" name="annotation-range1" value="{{range1}}" />
              <input type="hidden" name="annotation-range2" value="{{range2}}" />
              <input type="hidden" name="annotation-annotation_data" value="{{annotation_data}}" />

              {{#id}} <!-- Editing existing annotation -->
                  <input type="hidden" name="annotation-id" value="{{id}}" />
              {{/id}}

              <div class="row no-gutters">
                  <div class="col text-right">
                      <input class="btn btn-secondary" type="button" name="Cancel" value="Cancel"
                      onclick="javascript:annotationList.cancelAnnotation()" />
                      <input class="btn btn-primary" type="button" name="Save" value="Save Selection"
                      onclick="javascript:annotationList.saveAnnotation(this)" />
                  </div>
              </div>
            {{/annotation}}
          </div>
        </form>
  </div>
</div>
</script>
{% endverbatim %}
