{% verbatim %}
<script type="text/x-template" id="asset_annotation_current-template">

<div id="asset-details-annotations-current"
  {{#annotation.editing}}
    style="display: block"
  {{/annotation.editing}}

  {{^annotation.editing}}
    style="display: none"
  {{/annotation.editing}}
  >

  {{#annotation}}
    <div id="original-annotation" class="annotation-data"
      data-begin="{{range1}}"
      data-end="{{range2}}"
      {{#annotation_data}}
        data-annotation="{{annotation_data}}"
      {{/annotation_data}}
      {{^annotation_data}}
        data-annotation="{}"
      {{/annotation_data}}>
    </div>

    <div class="actions">
      <input id="annotation-view-help-button" type="image" title="Help"
      onclick="return jQuery('#instructions').toggle();"
      alt="Help" src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_help.png" />
    </div>

    <h2>
      {{#id}}
        Edit Selection
      {{/id}}
      {{^id}}
        {{#copying}}
          Copy Selection
        {{/copying}}
        {{^copying}}
          Create Selection
        {{/copying}}
      {{/id}}
    </h2>
      {{/annotation}}

      <form id="edit-annotation-form" name="edit-annotation-form" onsubmit="return false;">
        {{#project}}
            <input type="hidden" name="project" value="{{.}}" />
        {{/project}}
        <div class="asset-annotator">
          <div id="clipform-display"></div>
        </div>
        <div id="annotation-body">
          {{#annotation}}
            <label for="id_annotation-title">Title</label>
            <div><input class="w-100 mb-3" type="text" id="id_annotation-title" name="annotation-title" value="{{metadata.title}}"/></div>
          {{/annotation}}

          {{#vocabulary.length}}
            <div class="vocabulary">
              <label>Terms</label>
              <select class="vocabulary"
                data-placeholder="select {{display_name?lower()}}"
                name="vocabulary"
                multiple="multiple">
                {{#vocabulary}}
                    <optgroup data-id="vocabulary-{{id}}" label="{{display_name}}">
                    {{#term_set}}
                      <option value="{{id}}">{{display_name}}</option>
                    {{/term_set}}
                    </optgroup>
                {{/vocabulary}}
              </select>
            </div>
          {{/vocabulary.length}}
          <br />
          {{#annotation}}
            <label for="annotation-tags">Tags</label>
            <div>
              <input type="text"
              class="annotation-tags"
              name="annotation-tags"
              data-placeholder="select or create tags"
              value="{{#metadata.tags}}{{name}}{{^last}}, {{/last}}{{/metadata.tags}}"/>
            </div>
            <div class="helptext">Use commas to separate tags. Example: tag 1, tag 2, tag 3</div>

            <label for="annotation-body">Notes</label>
            <textarea rows="7" cols="51" id="annotation-body-textarea" name="annotation-body">{{metadata.body}}</textarea>
            <input type="hidden" name="annotation-range1" value="{{range1}}" />
            <input type="hidden" name="annotation-range2" value="{{range2}}" />
            <input type="hidden" name="annotation-annotation_data" value="{{annotation_data}}" />

            <input class="btn btn-primary float-right" type="button" name="Save" value="Save Selection"
            onclick="javascript:annotationList.saveAnnotation(this)" />

            <input class="btn btn-primary float-right" type="button" name="Cancel" value="Cancel"
            onclick="javascript:annotationList.cancelAnnotation()" />

            {{#id}} <!-- Editing existing annotation -->
              <input type="hidden" name="annotation-id" value="{{id}}" />
            {{/id}}
          {{/annotation}}

          <div class="visualclear"></div>
        </div>
      </form>
</div>
</script>
{% endverbatim %}
