{% verbatim %}
<script type="text/x-template" id="asset_feedback-template">

<div>
    <span data-username="{{username}}" class="group-title">{{title}}</span>

    {{#comment}}
        {{#isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small float-right" id="editFeedback"
                data-target="annotation-feedback-{{username}}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg> edit feedback
             </a>
        {{/isFaculty}}
        {{^isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small float-right" id="readFeedback"
                data-target="annotation-feedback-{{username}}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                </svg> read feedback
             </a>
        {{/isFaculty}}
    {{/comment}}
    {{^comment}}
        {{#isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small float-right" id="addFeedback"
                data-target="annotation-feedback-{{username}}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                </svg> add feedback
             </a>
        {{/isFaculty}}
    {{/comment}}
</div>

<div id="annotation-feedback-{{username}}" class="annotation-feedback"
    {{^showFeedback}}
    style="display: none"
    {{/showFeedback}}>

    {{#isFaculty}}
    <form method="post" data-username="{{username}}"
        action="{{#comment}}/discussion/comment/{{comment.id}}/{{/comment}}
                {{^comment}}/discussion/create/{{/comment}}">
    {{/isFaculty}}

        <textarea name="comment" class="form-control"
            {{^isFaculty}}readonly{{/isFaculty}}
            {{#isFaculty}}placeholder="Offer feedback on this student's work"{{/isFaculty}}>{{#comment}}{{comment.content}}{{/comment}}</textarea>

            {{#isFaculty}}
                {{^comment}}
                    <input type="hidden" name="comment_html" value="{{title}} feedback" />
                    <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
                    <input type="hidden" name="inherit" value="true" />
                    <input type="hidden" name="app_label" value="projects" />
                    <input type="hidden" name="model" value="project" />
                    <input type="hidden" name="obj_pk" value="{{responseId}}" />
                    <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
                {{/comment}}
                <button class="btn btn-primary btn-sm float-right save-feedback">Save Feedback</button>
                <button class="btn btn-secondary btn-sm float-right toggle-feedback"
                    data-target="annotation-feedback-{{username}}">Cancel</button>
            {{/isFaculty}}

            {{^isFaculty}}
                <button class="btn btn-secondary btn-sm float-right toggle-feedback"
                    data-target="annotation-feedback-{{username}}">Close</button>
            {{/isFaculty}}
            <div class="clearfix"></div>

    {{#isFaculty}}
    </form>
    {{/isFaculty}}
</div>
</script>
{% endverbatim %}
