{% verbatim %}
<script type="text/x-template" id="collectionwidget_assets-template">
{{^assets}}
    <div class="p-4">
        {{^active_filter_count}}
            {{#showing_my_items}}
                <h5 class="mb-4">You have not collected any materials.</h5>
                <strong>What is a collection?</strong>
                <div class="mb-3">
                    A collection is a set of images, video and/or audio brought into Mediathread that
                    can be annotated, organized, and embedded into essays and other written analysis.
                </div>
                <strong>How do I build my collection?</strong>
                <div>
                    <ul class="ml-0">
                        {{#is_faculty}}
                            <li class="mb-3"><strong>Import</strong>: Build your collection by
                            collecting items from sites such as YouTube or Flickr using the extension.
                            To install the extension into your browser, visit the
                            <a href="/course/{{getCourseId}}/">course homepage</a>, click the Add To Collection button on the upper right-hand side and follow directions.
                            <strong>Recommend Sites</strong> to students via <strong>Tools</strong> menu / <strong>Manage Sources</strong>
                            </li>
                            <li>
                                <strong>Upload</strong>: Video and audio files may be uploaded
                                into Mediathread when you enable this feature in <strong>Tools</strong> menu / <strong>Manage Sources</strong>.
                                An <strong>Upload Media</strong> section and directions then appears on the Add To Collection drop down located on the <a href="/course/{{getCourseId}}/">course homepage</a>.
                            </li>
                        {{/is_faculty}}
                        {{^is_faculty}}
                            <li class="mb-3"><strong>Import</strong>: Build your collection
                            by collecting items from sites such as YouTube or Flickr using the extension.
                            To install the extension into your browser, visit the <a href="/course/{{getCourseId}}/">course homepage</a> where you can click the Add To Collection button
                            on the upper right-hand side and follow directions. Your instructor also may list recommended sites.</li>
                            <li><strong>Upload</strong>: If this feature is enabled,
                            you may upload video and audio files from your computer. Visit the <a href="/course/{{getCourseId}}/">course homepage</a> where you can click the Add To Collection button
                            on the upper right hand side and follow directions.</li>
                        {{/is_faculty}}
                    </ul>
                </div>
            {{/showing_my_items}}
            {{^showing_my_items}}
                <h5>{{space_owner.public_name}} has not collected any materials.</h5>
                Please select another owner.</center>
            {{/showing_my_items}}
        {{/active_filter_count}}
        {{#active_filter_count}}
            <h5>No items matched your search. Please try again.</h5>
        {{/active_filter_count}}
    </div>
{{/assets}}
{{#assets}}
    <div class="materials column-contents">
        <div id="record-{{id}}" class="record record-{{primary_type}} gallery-item-project">
            <input type="hidden" class="record" value="{{id}}" name="record-id" />
            <div class="card-thumbnail">
                <div class="media-type">
                    <span class="badge badge-secondary">
                        {{media_type_label}}
                    </span>
                </div>
                {{#thumb}}
                <div class="image-overlay">
                    <img class="mx-auto d-block img-fluid" alt="Item Thumbnail" src="{{thumb}}" style="max-width: 100%;" />
                </div>
                {{/thumb}}
                {{^thumb}}
                    {{#image}}
                        <div class="image-overlay">
                            <img class="mx-auto d-block img-fluid" alt="Item Thumbnail" src="{{image}}" style="max-width: 100%;" />
                        </div>
                    {{/image}}
                    {{^image}}
                        {{#pdf}}
                            <div id="pdf-container-{{id}}" class="pdf-container">
                                <canvas class="mx-auto d-block"></canvas>
                            </div>
                        {{/pdf}}
                    {{/image}}
                {{/thumb}}
            </div>
            <div class="px-3 {{^thumb}}{{^image}}pt-5{{/image}}{{/thumb}}">
                <h5 id="asset-item-{{id}}" class="asset_title mt-3">
                    <a class="asset-title-link insert"
                        {{#title}}
                            title="{{title}}"
                        {{/title}}
                        {{^title}}
                            title="-Untitled-"
                        {{/title}}
                        target="_blank" href="{{local_url}}">
                        {{#title}}
                            {{#ellipsis35}}{{title}}{{/ellipsis35}}
                        {{/title}}
                        {{^title}}
                            -Untitled-
                        {{/title}}
                    </a>
                </h5>
                <hr />
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="m-0 mt-1">Selections</h6>
                    <a class="btn btn-sm btn-link collection-choice create-annotation"
                        class="create_annotation_icon"
                        data-type="{{primary_type}}"
                        id="create-annotation-icon" href="{{id}}"
                        title="Create selection on this item">
                        Create selection
                    </a>
                </div>
                <div id="record-{{id}}-metadata" class="record-metadata">
                {{^annotation_count}}
                    <p class="text-muted">None</p>
                {{/annotation_count}}
                {{#annotation_count}}
                    <div class="accordion mb-3" id="selectionsAccordion-{{id}}">
                        {{#annotations}}
                            {{^is_null}}
                                <div class="card" id="annotation-{{id}}">
                                    <div class="card-header p-0">
                                        <button class="btn btn-link btn-block text-left collapsed selection-citation-title"
                                            type="button" data-toggle="collapse"
                                            data-target="#selectionCollapse-{{id}}"
                                            aria-expanded="false">
                                            {{#metadata.title}}
                                                {{{metadata.title}}}
                                            {{/metadata.title}}
                                            {{^metadata.title}}
                                                -Untitled-
                                            {{/metadata.title}}
                                        </button>
                                    </div>
                                    <div id="selectionCollapse-{{id}}" class="collapse"
                                        data-title="{{#metadata.title}}{{{metadata.title}}}{{/metadata.title}}{{^metadata.title}}-Untitled-{{/metadata.title}}"
                                        data-selectionid="{{id}}"
                                        data-parent="#selectionsAccordion-{{asset_id}}">
                                        <div class="card-body">
                                            <div class="row">
                                                {{#thumbable}}
                                                <div class="col-md-auto">
                                                    <div class="annotation-thumb-{{id}}"></div>
                                                </div>
                                                {{/thumbable}}
                                                <div class="col-md-auto">
                                                    <p class="card-text">
                                                        <span class="metadata-label">Author:</span>
                                                        <span class="metadata-value">{{author.public_name}}</span>
                                                    </p>
                                                    {{#metadata}}
                                                        {{#timecode}}
                                                            <p class="card-text">
                                                                <span class="metadata-label">Time code:</span>
                                                                <span class="metadata-value">{{timecode}}</span>
                                                            </p>
                                                        {{/timecode}}
                                                    {{/metadata}}
                                                    <div>
                                                        {{#citable}}
                                                            <button class="btn btn-sm btn-warning materialCitation clickableCitation d-inline"
                                                                data-annotation-id="{{id}}" data-asset-id="{{asset_id}}"
                                                                {{#editable}}
                                                                data-editable=1
                                                                {{/editable}}
                                                                name="{{url}}" data-type="{{metadata.primary_type}}" data-range="{{range1}}"
                                                                title="Add selection to the composition"
                                                                id="insert-selection">
                                                                Insert
                                                            </button>
                                                        {{/citable}}
                                                        {{#editable}}
                                                            <a class="btn btn-sm btn-info collection-choice edit-annotation edit_icon edit-selection-icon" href="{{id}}" title="Edit selection attributes">
                                                                Edit Selection
                                                            </a>
                                                        {{/editable}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!--  end card-body -->
                                    </div>
                                </div>
                            {{/is_null}} {{! annotation is not null }}
                        {{/annotations}} {{! iterate annotations }}
                    </div> {{! class="asset-clips" }}
                {{/annotation_count}} {{! annotations exist }}
                </div> {{! end record metadata }}
            </div>
        </div> {{! end id="record-id" }}
    </div> {{! end class="materials column-contents scroll" }}
{{/assets}}
</script>
{% endverbatim %}
