{% verbatim %}
<script type="text/x-template" id="collectionwidget-template">

<div class="collection_table collection-widget">
    <div class="ajaxloader">
        <div class="message">
        <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
        <br /><br />
        <div>Refreshing the collection</div>
        </div>
    </div>
    <div class="media-column">
        <div class="filter-widget" style="display: none">
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="switcher-tool switcher-search-text input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control" name="search-text"
                            value="{{active_filters.search_text}}" placeholder="Search"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-search-text" type="button">Go</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="collection-chooser-container"></div>
                </div>
                <div class="col-xs-3">
                    <div class="switcher collection-media-filter switcher-tool
                     {{#disable_media_type}}disabled{{/disable_media_type}}">
                        <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                            <span class="switcher-prefix">Type </span>
                            <span class="down-arrow"></span>

                            {{#active_filters.media_type}}
                                <span class="title">{{active_filters.media_type}}</span>
                            {{/active_filters.media_type}}

                            {{^active_filters.media_type}}
                                <span class="title">all</span>
                            {{/active_filters.media_type}}
                        </a>
                        <ul class="switcher-options">
                            <li><a class="switcher-choice filterbymedia" href="all">all</a></li>
                            <li><a class="switcher-choice filterbymedia" href="audio">audio</a></li>
                            <li><a class="switcher-choice filterbymedia" href="image">image</a></li>
                            <li><a class="switcher-choice filterbymedia" href="video">video</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="switcher-tool">
                        <span class="course-tags-prefix">Tags </span>
                        <select class="course-tags"
                            data-placeholder="Select tags" 
                            multiple="multiple">
                            {{#active_tags}}
                                <option value="{{name}}">{{name}}</option>
                            {{/active_tags}}
                        </select>
                    </div>
               </div>

               <div class="col-xs-5">
                    <div class="switcher-tool">
                        <span class="concept-prefix" title="{{Terms}}">Terms</span>
                        <select class="vocabulary"
                            data-placeholder="Select {{#lower}}{{display_name}}{{/lower}}"
                            multiple="multiple">

                            {{#active_vocabulary}}
                            <optgroup data-id="vocabulary-{{id}}" label="{{display_name}}">
                                {{#term_set}}
                                    <option value="{{id}}">
                                        {{display_name}} ({{count}})
                                    </option>
                                {{/term_set}}
                            </optgroup>
                            {{/active_vocabulary}}
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="switcher collection-date-filter switcher-tool">
                        <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                            <span class="switcher-prefix">Date </span>
                            <span class="down-arrow"></span>

                            {{#active_filters.modified}}
                                <span class="title">{{active_filters.modified}}</span>
                            {{/active_filters.modified}}

                            {{^active_filters.modified}}
                                <span class="title">all</span>
                            {{/active_filters.modified}}
                        </a>
                        <ul class="switcher-options">
                            <li><a class="switcher-choice filterbydate" href="all">all</a></li>
                            <li><a class="switcher-choice filterbydate" href="today">today</a></li>
                            <li><a class="switcher-choice filterbydate" href="yesterday">yesterday</a></li>
                            <li><a class="switcher-choice filterbydate" href="lastweek">within the last week</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  {{! end filter widget }}
        <div class="clearfix"></div>

        <div class="collection-assets scroll annotation-embedding">
            <div id="asset_table" class="asset-table"></div>
        </div>

    </div>  {{! end media column }}
</div>
</script>
{% endverbatim %}