{% verbatim %}
<script type="text/x-template" id="collectionwidget_assets-template">

{{^assets}}
    <div class="default-content intro-text">
        {{^active_filter_count}}
            {{#showing_my_items}}
                You have not collected any materials.<br /><br />
                <strong>What is a collection?</strong>
                <div class="feature-help-instructions">
                    A collection is a set of images, video and/or audio brought into Mediathread that
                    can be annotated, organized, and embedded into essays and other written analysis.
                </div>

                <strong>How do I build my collection?</strong><br />
                <div class="feature-help-instructions">
                    <ul>
                        {{#is_faculty}}
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by
                            bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> link
                            on the <a href="/">home</a> page and follow directions. <b>Recommend Sites</b> to students via <b>Tools</b> menu / <b>Manage Sources</b>
                            </li>

                            <li style="margin-bottom: 4px">
                                <b>Upload</b>: Video and audio files may be uploaded
                                into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                                An <b>Upload from Computer</b> link and directions then appear on the home page.
                            </li>
                        {{/is_faculty}}
                        {{^is_faculty}}
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection
                            by bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b>
                            on the <a href="/">home</a> page and follow directions. Your instructor also may list
                            recommended sites on the home page.</li>
                            <li><b>Upload</b>: If this feature is enabled,
                            you may upload video and audio files from your computer. Click the
                            <b>Upload from Computer</b> on the <a href="/">home</a> page and
                            follow directions.</li>
                        {{/is_faculty}}
                    </ul>
                </div>
            {{/showing_my_items}}
            {{^showing_my_items}}
                <br /><br />
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">{{space_owner.public_name}} has not collected any materials.<br /><br />Please select another owner.</div>
                    </div>
                </div>
            {{/showing_my_items}}
            {{/active_filter_count}}
            {{#active_filter_count}}
                <br /><br />
                <div class="card">
                <div class="card-body">
                    <h5 class="text-center">No items matched your search</h5>
                    <p>Suggestions:</p>
                    <p>1. Use the filter options above to change or broaden the search.</p>
                    <p>2. Or, build the course collection by importing or uploading materials. Visit the <a href="/">homepage</a> to learn more.</p>
                </div>
                </div>
            {{/active_filter_count}}
    </div>
{{/assets}}
{{#assets}}
    <div class="materials column-contents">
        <div id="record-{{id}}" class="record record-{{primary_type}} gallery-item-project">
            <input type="hidden" class="record" value="{{id}}" name="record-id" />
            <div class="actions">
                <a class="btn btn-sm btn-default collection-choice create-annotation" href="{{id}}" title="Create selection on this item">
                    <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_addselection.png" class="create_annotation_icon" alt="Create selection" />
                    Create selection
                </a>
            </div>
            <div class="record-asset-properties pull-left">
                {{#citable}}
                    <span class="citationTemplate">
                        <img class="materialCitation clickableCitation" alt=""
                         data-asset-id="{{id}}"
                         {{#global_annotation}}
                            data-annotation-id="{{id}}"
                            data-editable=1
                         {{/global_annotation}}
                         src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_insert_{{media_type_label}}.png#annotation={{local_url}}&title={{title}}&type={{primary_type}}&range1=0"
                        title="Add item to the composition"
                        name="{{local_url}}"/>
                    </span>
                {{/citable}}
                <h5 id="asset-item-{{id}}" class="asset_title">
                    {{#title}}
                        {{#ellipsis35}}{{title}}{{/ellipsis35}}
                    {{/title}}
                    {{^title}}
                        -Untitled-
                    {{/title}}
                </h5>
                <div class="clearfix"></div>
                <table class="item-level-info">
                    <tr>
                        <td class="item-thumb">
                            {{#thumb}}
                                <img class="asset-thumb" src="{{thumb}}" alt="Item Thumbnail" />
                            {{/thumb}}
                        </td>
                    </tr>
                    <tr>
                        <td class="item-meta">
                            {{#global_annotation}}
                                <ul class="record-metadata-list">
                                    {{#vocabulary}}
                                        <li class="annotation-global-body meta">
                                            <span class="metadata-label">{{display_name}}: </span>
                                            <span class="metadata-value">
                                                {{#terms}}
                                                    {{display_name}}
                                                {{/terms}}
                                            </span>
                                        </li>
                                    {{/vocabulary}}

                                    {{#metadata.tags.length}}
                                        <li class="annotation-global-tags meta">
                                            <span class="metadata-label">Item Tags:</span>
                                            <span class="metadata-value">
                                                {{#metadata.tags}}
                                                    {{name}}&nbsp;
                                                {{/metadata.tags}}
                                            </span>
                                        </li>
                                    {{/metadata.tags.length}}

                                    {{#metadata.body}}
                                        <li class="annotation-global-body meta">
                                            <span class="metadata-label">Item Note:</span> <span class="metadata-value">{{metadata.body}}</span>
                                        </li>
                                    {{/metadata.body}}
                                </ul>
                            {{/global_annotation}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
            <div id="record-{{id}}-metadata" class="record-metadata">
                {{#annotation_count}}
                    <div class="asset-clips">
                        {{#annotations}}
                            {{^is_null}}
                                <div id="annotation-{{id}}" class="selection-level-info">
                                    {{#editable}}
                                        <div class="actions">
                                            <a class="btn btn-sm btn-default collection-choice edit-annotation" href="{{id}}" title="Edit selection attributes">
                                                <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_edit.png" class="edit_icon edit-selection-icon" alt="Edit selection attributes" />
                                                Edit Selection
                                            </a>
                                        </div>
                                    {{/editable}}
                                    <div class="selection-citation">
                                        <div>
                                            {{#citable}}
                                                <img class="materialCitation clickableCitation" alt=""
                                                    data-annotation-id="{{id}}" data-asset-id="{{asset_id}}"
                                                    {{#editable}}
                                                    data-editable=1
                                                    {{/editable}}
                                                    src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_insert_selection.png#annotation={{url}}&title={{metadata.title}}&type={{metadata.primary_type}}&range1={{range1}}"
                                                    title="Add selection to the composition"
                                                    name="{{url}}"/>
                                            {{/citable}}
                                            <div class="selection-citation-title">
                                                {{#metadata.title}}
                                                    {{{metadata.title}}}
                                                {{/metadata.title}}
                                                {{^metadata.title}}
                                                    -Untitled-
                                                {{/metadata.title}}
                                            </div>
                                        </div>
                                        <div class="annotation-thumb-{{id}}"></div>
                                        <div class="metadata-container">
                                            <div class="meta">
                                                <span class="metadata-label">Author:</span>
                                                <span class="metadata-value">{{author.public_name}}</span>
                                            </div>
                                        </div>
                                        {{#metadata}}
                                            {{#timecode}}
                                                <div class="annotation-timecode meta">
                                                    <span class="metadata-label">Time code:</span>
                                                    <span class="metadata-value">{{timecode}}</span>
                                                </div>
                                            {{/timecode}}
                                        {{/metadata}}
                                        <div id="annotation-body-{{id}}" class="meta">
                                            {{#vocabulary}}
                                                <div>
                                                    <span class="metadata-label">{{display_name}}: </span>
                                                    <span class="metadata-value">
                                                        {{#terms}}
                                                            {{display_name}}
                                                        {{/terms}}
                                                    </span>
                                                </div>
                                            {{/vocabulary}}

                                            {{#metadata}}
                                                {{#tags.length}}
                                                    <div><span class="metadata-label">Tags:</span>
                                                    <span class="metadata-value">
                                                        {{#tags}}
                                                            {{name}}&nbsp;
                                                        {{/tags}}
                                                    </span>
                                                    </div>
                                                {{/tags.length}}
                                                {{#body}}
                                                    <div>
                                                        <span class="metadata-label">Note:</span>
                                                        <span class="metadata-value">{{body}}</span>
                                                    </div>
                                                {{/body}}
                                            {{/metadata}}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            {{/is_null}} {{! annotation is not null }}
                        {{/annotations}} {{! iterate annotations }}
                    </div>{{! class="asset-clips" }}
                {{/annotation_count}}
            {{! annotations exist }}
        </div> {{! end record metadata }}
    </div> {{! end id="record-id" }}
    </div> {{! end class="materials column-contents scroll" }}
{{/assets}}
</script>
{% endverbatim %}
