{% verbatim %}
<script type="text/x-template" id="collectionwidget-template">

<div class="collection_table collection-widget">
    <div class="media-column">
        <div class="filter-widget bg-light" style="display: none">
            <div class="row px-3">
                <div class="col-md-6">
                    <label for="search-text-owner">Title</label>
                    <div class="switcher-tool switcher-search-text input-group">
                        <span class="input-group-addon"></span>
                        <input id="search-text-owner" type="text" class="form-control form-control-sm" name="search-text" aria-label="search-text"
                            value="{{active_filters.search_text}}" placeholder="Title"/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-sm btn-search-text" type="button">Go</button>
                        </span>
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="switcher-owner">Owner</label>
                    <div class="collection-chooser-container"></div>
                </div>
                <div class="col-md-3">
                    <label>Type</label>
                    <div class="switcher collection-media-filter switcher-tool
                     {{#disable_media_type}}disabled{{/disable_media_type}}">
                        <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                            <span class="down-arrow"></span>

                            {{#active_filters.media_type}}
                                <span class="title">{{active_filters.media_type}}</span>
                            {{/active_filters.media_type}}

                            {{^active_filters.media_type}}
                                <span class="title">all</span>
                            {{/active_filters.media_type}}
                        </a>
                        <ul class="switcher-options">
                            <li><a class="switcher-choice filterbymedia" href="all">all</a></li>
                            <li><a class="switcher-choice filterbymedia" href="audio">audio</a></li>
                            <li><a class="switcher-choice filterbymedia" href="image">image</a></li>
                            <li><a class="switcher-choice filterbymedia" href="video">video</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-5">
                    <label for="switcher-tags">Tags</label>
                    <div class="switcher-tool">
                        <select class="course-tags w-100" id="switcher-tags"
                            data-placeholder="Select tags"
                            multiple="multiple">
                            {{#active_tags}}
                                <option value="{{name}}">{{name}}</option>
                            {{/active_tags}}
                        </select>
                    </div>
               </div>

               <div class="col-md-5">
                    <div class="switcher-tool">
                        <label for="switcher-terms">Terms</label><br />
                        <select class="vocabulary w-100"
                            data-placeholder="Select {{#lower}}{{display_name}}{{/lower}}"
                            multiple="multiple">

                            {{#active_vocabulary}}
                            <optgroup data-id="vocabulary-{{id}}" label="{{display_name}}">
                                {{#term_set}}
                                    <option value="{{id}}">
                                        {{display_name}} ({{count}})
                                    </option>
                                {{/term_set}}
                            </optgroup>
                            {{/active_vocabulary}}
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="switcher collection-date-filter switcher-tool">
                        <label for="switcher-date">Date</label>
                        <a class="switcher-top menuclosed" href="#" onclick="return switcher(event, this);">
                            <span class="down-arrow"></span>

                            {{#active_filters.modified}}
                                <span class="title">{{active_filters.modified}}</span>
                            {{/active_filters.modified}}

                            {{^active_filters.modified}}
                                <span class="title">all</span>
                            {{/active_filters.modified}}
                        </a>
                        <ul class="switcher-options">
                            <li><a class="switcher-choice filterbydate" href="all">all</a></li>
                            <li><a class="switcher-choice filterbydate" href="today">today</a></li>
                            <li><a class="switcher-choice filterbydate" href="yesterday">yesterday</a></li>
                            <li><a class="switcher-choice filterbydate" href="lastweek">within the last week</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  {{! end filter widget }}
    <div class="clearfix"></div>

    <div class="collection-assets annotation-embedding">
        <div id="asset_table" class="asset-table"></div>
    </div>

    {{#paginator}}
        {{#numPages}}
            <ul class="pagination nav justify-content-end btn-sm mt-2" style="padding: 0px;">
                <li class="page-item {{^hasPrev}}disabled{{/hasPrev}}">
                    <a class="page-link"
                        href="#" data-page-number="{{prevPage}}" aria-label="Previous">
                        Previous
                    </a>
                </li>
                <li class="page-item active">
                    <div class="page-link">
                        {{currentPage}} of {{numPages}}<span class="sr-only">(current)</span>
                    </div>
                </li>
                <li class="page-item {{^hasNext}}disabled{{/hasNext}}">
                    <a class="page-link "
                        data-page-number="{{nextPage}}" href="#" aria-label="Next">
                        Next
                    </a>
                </li>
            </ul>
        {{/numPages}}
    {{/paginator}}

</div>  {{! end media column }}

</script>
{% endverbatim %}
