{% verbatim %}
<script type="text/x-template" id="collection_chooser-template">
<div class="switcher_collection_chooser switcher collection-chooser switcher-tool">
    <a class="switcher-top menuclosed" href="#"
        onclick="return switcher(event, this);">
        <span class="down-arrow"></span>
        <span class="title">
            {{#ellipsis18}}{{selected_label}}{{/ellipsis18}}
        </span>
    </a>

    <ul class="switcher-options">
        {{#display_switcher_extras}}
            {{^showing_my_items}}
            <li class="choice_my_items">
                <a class="switcher-choice owner"
                    href="{{space_viewer.username}}"
                    style="font-weight: bold">Me</a>
            </li>
            {{/showing_my_items}}

            {{#project.participants}}
                {{^is_viewer}}
                    <li>
                        <a class="switcher-choice owner"
                            href="{{username}}"
                            style="font-weight: bold">{{public_name}}</a>
                    </li>
                {{/is_viewer}}
            {{/project.participants}}
        {{/display_switcher_extras}}
        {{^showing_all_items}}
            <li class="choice_all_items">
                <a class="switcher-choice owner"
                    href="all-class-members"
                    style="font-weight: bold">All Class Members</a>
            </li>
        {{/showing_all_items}}
        {{#owners}}
            <li>
                <a class="switcher-choice owner"
                    href="{{username}}">{{public_name}}</a>
            </li>
        {{/owners}}
    </ul>
</div>
</script>
{% endverbatim %}
