{% verbatim %}
<script type="text/x-template" id="discussion-template">
<div class="panel-subcontainer discussion">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="threadedcomments-container pr-2">
                {{#context.discussion.thread.length}}
                    {{#context.discussion.thread}}
                        {{^open}}
                            {{^close}}
                                </li>
                            {{/close}}
                        {{/open}}
                        {{#open}}
                            <ul class="comment-thread border-left pl-2">
                        {{/open}}
                        <li id="comment-{{id}}" class="comment-thread">
                            <div class="comment mb-5 pl-2" data-author-id="{{author_username}}">
                                <div class="threaded_comment_header">
                                    <div class="threaded_comment_author">
                                        {{author}}
                                    </div>
                                </div>
                                <div class="threaded_comment_text mt-3">
                                    {{{content}}}
                                </div>
                                <div class="respond_to_comment_form_div">
                                    <span class="comment-date text-muted">{{submit_date}}</span>
                                    <span class="text-separator"></span>
                                    {{#can_edit}}
                                        <button class="edit_prompt comment_action btn btn-link pl-0"
                                            data-comment="{{id}}"
                                            title="Click to edit this comment">
                                            Edit
                                        </button>
                                        <span class="text-separator"></span>
                                    {{/can_edit}}
                                    <button class="respond_prompt comment_action btn btn-link pl-0"
                                        data-comment="{{id}}" title="Click to respond to this comment">
                                        Reply
                                    </button>
                                </div>
                            </div>
                            {{#close}}
                                    </li>
                                </ul>
                            {{/close}}
                    {{/context.discussion.thread}}
                {{/context.discussion.thread.length}}
                <form novalidate style="display: none" method="POST" action="/comments/post/"
                    class="threaded_comments_form" data-maxlength="{{context.discussion.max_length}}">
                    <h3 style="display: none">Respond</h3>
                    <input type="hidden" id="comment-edit-id" name="edit-id" />
                    <table class="threaded_comments_form_table">
                        {{{context.form}}}
                    </table>
                    <div class="save_and_cancel text-right">
                        <button class="project cancel btn btn-secondary btn-sm"
                            style="display: none" type="button">
                            Cancel
                        </button>
                        <button class="project btn btn-primary btn-sm"
                            id="comment-form-submit" type="submit">
                            Save Comment
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            {{! Media Display Window and or a Collections box }}
            {{#context.can_edit}}
            <div class="quick-edit px-3 bg-light" style="display: none">
                <div id="asset-workspace-panel-container">
                    <div id="asset-view-header">
                        <h3 class="asset-view-title">{{title}}</h3>
                    </div>
                    <div class="asset-view-container">
                        <div class="asset-view-published asset-view-dialog">
                            <div id="asset-workspace-videoclipbox" class="videoclipbox">
                                <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                <div class="asset-display"></div>
                                <div class="clipstrip-display"></div>
                            </div>
                        </div>
                    </div>
                    <div class="asset-view-tabs">
                        <div id="asset-view-details-quick-edit" class="asset-view-details"></div>
                    </div>
                </div>
            </div>
            {{/context.can_edit}}
            <div class="main-view collection-materials bg-light"
                style="display:{{#context.editing}}block{{/context.editing}}{{^context.editing}}none{{/context.editing}}">
                <div class="ajaxloader">
                    <div class="message">
                    <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
                    <br /><br />
                    <div>Refreshing the collection</div>
                    </div>
                </div>
                <div id="{{context.discussion.id}}-collection_table" class="collection_table"></div>
            </div>
            <div class="main-view asset-view-published"
                style="display: {{#context.editing}}none{{/context.editing}}{{^context.editing}}block{{/context.editing}}">
                <div id="{{context.discussion.id}}-videoclipbox" class="videoclipbox" style="display: none;">
                    <div class="asset-object" style="border: none; background-color: #ededed;"></div><!-- width changes here too if video size changes -->
                    <div class="asset-display"></div>
                    <div class="clipstrip-display"></div>
                    <blockquote class="blockquote text-center mt-2">
                        <div class="annotation-title publishedCitation text-center"></div>
                        <div class="asset-title text-center"></div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
{% endverbatim %}