{% verbatim %}
<script type="text/x-template" id="project-template">
<div class="panel-subcontainer {{context.project.type}}">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="col-md-6 pl-0">
            <h1 class="page-title" {{#context.can_edit}}contenteditable="true"{{/context.can_edit}}>
                {{context.project.title}}
            </h1>
            <input name="title" value="{{context.project.title}}" type="hidden" />
        </div>
        <div class="col-md-6 text-right pr-0">
            {{#context.can_edit}}
                <button class="project-authorsbutton btn btn-outline-secondary btn-sm"
                    data-toggle="modal" data-target="#authors-modal" data-keyboard="false">
                    Authors
                </button>
                <div id="authors-modal" class="add-authors modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Authors</h5>
                            </div>
                            <div class="modal-body">
                                <p class="text-left">Select additional authors</p>
                                {{{context.form.participants}}}
                                <div class="invalid-feedback">
                                    Please specify one or more authors, including yourself.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-save-authors">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="project-revisionbutton btn btn-outline-secondary btn-sm"
                    href="{{project_revisions_url}}" title="View project revisions" />
                    Revisions
                </a>
            {{/context.can_edit}}

            <a class="project-export btn btn-outline-secondary btn-sm"
                href="/course/{{context.project.course_id}}/project/export/msword/{{context.project.id}}/">
                Export to Word
            </a>

            <a class="project-print btn btn-outline-secondary btn-sm"
                href="/course/{{context.project.course_id}}/project/print/{{context.project.id}}/" target="_blank">
                Print
            </a>

            {{#context.can_edit}}
                <button class="project-savebutton btn btn-info btn-sm" type="button">
                    Save
                </button>
                <button class="project-submitbutton btn btn-primary btn-sm" type="button">
                    Share
                </button>
                <div class="save-publish-status modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Share</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-10">
                                        <p>Select who can see your work.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{{context.form.publish}}}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-save-project">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/context.can_edit}}
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="participant-container">
            <h5>by <span class="participants_chosen">
                {{#context.project.participants}}
                    {{public_name}}{{^last}}, {{/last}}
                {{/context.project.participants}}
                </span>
            </h5>
        </div>
        <div>
            <h5 class="project-visibility-description d-inline">
                {{context.project.visibility}}
            </h5>
            <h5 class="d-inline">
                <a class="last-version-public"
                    style="display: {{#context.project.public_url}}inline{{/context.project.public_url}}{{^context.project.public_url}}none{{/context.project.public_url}}"
                    href="{{context.project.public_url}}">(permalink)</a>
            </h5>
        </div>
    </div>
    <div class="row no-gutters">
        {{! Media Display Window and or a Collections box or a QuickEdit View }}
        <div class="col-md-6 order-md-2">
            {{#context.can_edit}}
            <div class="quick-edit px-3 bg-light" style="display: none">
                <div id="asset-workspace-panel-container">
                    <div id="asset-view-header">
                        <h3 class="asset-view-title">{{title}}</h3>
                    </div>
                    <div class="asset-view-container">
                        <div class="asset-view-published asset-view-dialog">
                            <div id="asset-workspace-videoclipbox" class="videoclipbox">
                                <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                <div class="asset-display"></div>
                                <div class="clipstrip-display"></div>
                            </div>
                        </div>
                    </div>
                    <div class="asset-view-tabs">
                        <div id="asset-view-details-quick-edit" class="asset-view-details"></div>
                    </div>
                </div>
            </div>
            {{/context.can_edit}}
            <div class="main-view collection-materials"
                style="display:{{^context.editing}}none{{/context.editing}}">
                <div class="ajaxloader">
                    <div class="message">
                    <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
                    <br /><br />
                    <div>Refreshing the collection</div>
                    </div>
                </div>
                <div id="{{context.project.id}}-collection_table" class="collection_table"></div>
            </div>
            <div class="main-view asset-view-published"
                style="{{#context.editing}}display: none{{/context.editing}}">
                <div class="clearfix">
                <nav aria-label="Annotation navigation" class="float-right">
                    <ul class="pagination btn-sm selection-spinner border-1 mb-0">
                        <li class="page-item pt-2 mr-2">
                            <span>
                                Scroll Selections
                            </span>
                        </li>
                        <li class="page-item">
                            <button id="previous-selection" class="page-link btn-sm"
                                title="Previous Selection"
                                aria-label="Previous Selection">
                                <span aria-hidden="true">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li class="page-item">
                            <button id="next-selection" class="page-link btn-sm" title="Next Selection"
                                aria-label="Next Selection">
                                <span aria-hidden="true">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </nav>
                </div>
                <div id="{{context.project.id}}-videoclipbox" class="videoclipbox px-5" style="display: none;">
                    <div class="asset-display"></div>
                    <div class="clipstrip-display"></div>
                    <blockquote class="blockquote text-center mt-2">
                        <div class="annotation-title publishedCitation text-center"></div>
                        <div class="asset-title text-center"></div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="essay-space-container">
                <div class="row mt-4 mb-2 write-preview">
                    <div class="col">
                        {{#context.can_edit}}
                        <div id="view-toggle" class="btn-group" role="group" aria-label="View Toggle">
                            <button class="btn btn-outline-primary btn-sm project-editbutton {{#context.editing}}active{{/context.editing}}">
                                Edit
                            </button>
                            <button class="btn btn-outline-primary btn-sm project-previewbutton {{^context.editing}}active{{/context.editing}}">
                                Preview
                            </button>
                        </div>
                        {{/context.can_edit}}
                    </div>
                </div>

                {{#context.can_edit}}
                    <textarea id="{{context.project.id}}-project-content"
                        tabindex="0" name="body"
                        class="mceEditor project-content"
                        style="display: none;">
                        {{{context.project.body}}}
                    </textarea>
                {{/context.can_edit}}
                <div id="{{context.project.id}}-essay-space" class="essay-space mt-4" 
                    style="display:{{#context.editing}}none{{/context.editing}}{{^context.editing}}block{{/context.editing}}">  
                    {{{context.project.body}}}
                </div>
            </div>
        </div>
    </div>
    <div id="loaded"></div>
</div>
</script>
{% endverbatim %}