{% extends "base.html" %}

{% block title %}Invite Students{% endblock title %}

{% block content %}
    <div class="invite-students-form">
        <h2 class="title">Invite students to your course</h2>
        <p>Invite students to your course, enter the email addresses
        in separate lines.</p>
        <form action="." method="post" id="invite-students-form">{% csrf_token %}
            <div>
                {{ form.email_from.errors }}
                {{ form.email_from.label_tag }}
            </div>
            <div>
                <input id="id_email_from" type="text" name="email_from" value="{{ request.user.email }}">
            </div>
            <div>
                {{ form.student_emails.errors }}
                {{ form.student_emails.label_tag }}
            </div>
            <div>
                {{ form.student_emails }}
            </div>
            <div>
                {{ form.message.errors }}
                {{ form.message.label_tag }}
            </div>
            <div>
                <textarea id="id_message" name="message" cols="80" rows="20">Dear students,

It's my pleasure to invite you to the {{ course_name }} class.

If you're new to Mediathread, you'll find an activation link at the bottom of this email, otherwise you can just log in using your existing username and password.

Thanks,
{{ request.user.get_full_name }}
                </textarea>
            </div>
            <input type="submit" value="Invite students"/>
        </form>
    </div>
{% endblock content %}
