{% extends "base.html" %}

{% block title %}Set your password{% endblock title %}

{% block content %}
    <div class="invite-students-form">
        <h2 class="title">Set your password</h2>
        <p>Once you set your new password, you'll be able to start
        using Mediathread.</p>
        <form action="." method="post" id="invite-students-form">
            <div>
                {{ form.new_password1.errors }}
                {{ form.new_password1.label_tag }}
            </div>
            <div>
                {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.errors }}
                {{ form.new_password2.label_tag }}
            </div>
            <div>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Set password"/>
        </form>
    </div>
{% endblock content %}
