{% extends 'dashboard/base_course_dashboard.html' %}
{% load bootstrap4 %}

{% block title %}{{block.super}}&mdash; Manage Course{% endblock %}

{% block dashboard_content %}
    {{ form.media }}
    <form action="" method="post">{% csrf_token %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h3 class="card-title">Course Title</h3>
                {% bootstrap_field form.title label_class='card-subtitle font-weight-bold mb-2' %}
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h3 class="card-title">Composition Visibility</h3>
                {% bootstrap_field form.publish_to_world form_group_class='font-weight-bold mb-2' %}
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h3 class="card-title">Item &amp; Selection Visibility</h3>
                {% bootstrap_field form.see_eachothers_items form_group_class='font-weight-bold mb-2' %}
                {% bootstrap_field form.see_eachothers_selections form_group_class='font-weight-bold mb-2' %}
                <p class="card-text small">
                    Turning off item or selection visibility hides
                    individual items or selections from all collections
                    views. Students can still view an item or selection
                    embedded in a visible composition. Faculty always can
                    view all items and selections. These are both on by
                    default.
                </p>
            </div>
        </div>
        {% if user.is_staff %}
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3 class="card-title">Item Download</h3>
                    {% bootstrap_field form.allow_item_download form_group_class='font-weight-bold mb-2' %}
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3 class="card-title">Allow Roster Management</h3>
                    {% bootstrap_field form.allow_roster_changes form_group_class='font-weight-bold mb-2' %}
                </div>
            </div>
        {% endif %}
        <div class="form-group float-right">
            <a href="." class="btn btn-secondary" role="button">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
            {% if not has_student_activity %}
                <button class="btn" type="submit" name="reset" value="true">
                    Reset to default
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
