{% load methtags %}

<tr>
    <td class="course-choice">
        {% if course.is_course %}
        <a class="choose-course"
           href="?set_course={{course.group.name|urlencode}}{{next_redirect}}"
        >{{course.title}}</a>
        {% else %}
        {{course.coursedirectory_name}}
        <a href="{% url 'affil_activate' course.pk %}"
           class="btn btn-primary btn-xs">Activate</a>
        {% endif %}

    </td>
    <td>
        {% if course.info.termyear %}
            {{course.info.termyear}}
        {% elif course.to_dict %}
            {{course.to_dict.term|int_to_term}} {{course.to_dict.year}}
        {% endif %}
    </td>
    <td>
        {% if course.details.instructor %}
            {{course.details.instructor.value}}
        {% elif course.to_dict %}
            {% firstof request.user.get_full_name request.user.username %}
        {% endif %}
    </td>
    <td>
        {% if course in as_instructor %}
            Instructor
        {% elif course in as_student %}
            Student
        {% elif not course.is_course %}
            Instructor
        {% else %}
            Non-member
        {% endif %}
    </td>
    {% if add_privilege %}
        <td class="manage-course">
            <a class="project"
               href="{% url 'admin:courseaffils_course_change' course.id %}"
            >manage</a>
        </td>
    {% endif %}
</tr>
