{% extends "base_new.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block masthead %}
    {% include "navbar.html" %}
    <div class="alert alert-dark react-loading-msg" role="alert">
        <span class="spinner-border spinner-border-sm text-dark"
              role="status" aria-hidden="true"></span>
        <strong>Hang on.</strong> Mediathread is currently loading.
    </div>
{% endblock %}

{% block uncompressable_js %}
    <script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% with active='collection' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="mt-2 d-flex justify-content-between align-items-center flex-wrap">
                <h1 class="page-title">Collection</h1>
                <div class="bg-light" id="headingOne">
                       <button class="btn btn-primary float-right"
                           type="button" data-toggle="collapse"
                           data-target="#collapseOne"
                           aria-expanded="{% if assets_exist %}false{% else %}true{% endif %}
                           aria-controls="collapseOne">
                               Add to collection
                       </button>
                </div>
            </div>
            {% include 'main/collection_add.html' %}
        </div>
    </div>

    <div class="course-collection" id="react-container"></div>
{% endblock %}
