{% load methtags %}

<tr {% if new_course == course.pk %}
        class="info"
    {% endif %}>
    <td class="course-choice">
        {% if course.is_course %}
            <a class="choose-course"
               href="{% url 'course_detail' course.pk %}">{{course.title}}</a>
        {% else %}
            {{course.coursedirectory_name}}
            <a href="{% url 'affil_activate' course.pk %}"
               class="btn btn-primary btn-xs">Activate</a>
        {% endif %}
    </td>
    <td>
        {% if course.info.termyear %}
            {{course.info.termyear}}
        {% elif course.to_dict %}
            {{course.to_dict.term|int_to_term}} {{course.to_dict.year}}
        {% endif %}
    </td>
    <td>
        {% for user in course.faculty_group.user_set.all %}
        {% firstof user.get_full_name user.username %},
            {% with exceptions='swav,swinstructor' %}
                {% if not user.is_staff and not user.username in exceptions %}
                    {% firstof user.get_full_name user.username %},
                {% endif %}
            {% endwith %}
        {% endfor %}
    </td>
    <td>
        {% if course in as_instructor %}
            Instructor
        {% elif course in as_student %}
            Student
        {% elif not course.is_course %}
            Instructor
        {% else %}
            Non-member
        {% endif %}
    </td>
    {% if add_privilege %}
        <td class="manage-course">
            <a class="project"
               href="{% url 'admin:courseaffils_course_change' course.id %}"
            >manage</a>
        </td>
    {% endif %}
</tr>
