{% extends 'dashboard/base_course_dashboard.html' %}
{% load bootstrap3 %}

{% block title %}{{block.super}}&mdash; Course Settings{% endblock %}

{% block dashboard_content %}
    {{ form.media }}
    <form action="" method="post">{% csrf_token %}
        <div class="well">
            <h3>Course Title</h3>
            {% bootstrap_field form.title form_group_class='form-group' %}
        </div>
        <div class="well">
            <h3>Homepage</h3>
            {% bootstrap_field form.homepage_title form_group_class='form-group' %}
        </div>
        <div class="well">
            <h3>Composition Visibility</h3>
            {% bootstrap_field form.publish_to_world form_group_class='form-group' %}
        </div>
        <div class="well">
            <h3>Item &amp; Selection Visibility</h3>
            {% bootstrap_field form.see_eachothers_items %}
            {% bootstrap_field form.see_eachothers_selections %}
            <span class="help-block">
                Turning off item or selection visibility hides
                individual items or selections from all collections
                views. Students can still view an item or selection
                embedded in a visible composition. Faculty always can
                view all items and selections. These are both on by
                default.
            </span>
        </div>
        {% if user.is_staff%}
        <div class="well">
            <h3>Item Download</h3>
            {% bootstrap_field form.allow_item_download %}
            <span class="help-block">
                Allow instructors to see a download link on the Item View page.
                This option is off by default.
            </span>
        </div>
        {% endif %}
        <div class="well">
            <h3>LTI</h3>
            {% bootstrap_field form.lti_integration %}
            {% if lti_context and lti_context.enable %}
                <h5>Instructions</h5>
                <ol>
                    <li>Unique Course Identifier: {{lti_context.uuid}}</li>
                    <li><a href="https://github.com/ccnmtl/mediathread/wiki/LTI-Integration">Read full configuration instructions</a></li>
                </ol>
            {% endif %}
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="." class="btn btn-default" role="button">Cancel</a>
            {% if not has_student_activity %}
                <button class="btn" type="submit" name="reset" value="true">
                    Reset to default
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
