{% extends "base_new.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block masthead %}
    {% include "navbar.html" %}
    <div class="alert alert-dark react-loading-msg" role="alert">
        <span class="spinner-border spinner-border-sm text-dark"
              role="status" aria-hidden="true"></span>
        <strong>Hang on.</strong> Mediathread is currently loading.
    </div>
{% endblock %}

{% block uncompressable_js %}
    <script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'main/collection_add.html' %}
    <div class="course-collection" id="react-container"></div>
{% endblock %}
