button.jux-play {
    background-color: #bbb;
    float: left;
    border: 0;
    height: 50px;
    width: 35px;
    outline: none;
}

button.jux-play span.glyphicon {
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

#jux-container {
    width: 970px;
    margin: 0 auto; 
}

.react-grid-item {
    cursor: move;
    position: absolute;
    display: flex;
    text-align: center;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.react-grid-item .jux-media-item-middle {
    flex-grow: 1;
}

.react-grid-item img.jux-media-item-middle {
    max-width: 100%;
    max-height: 100%;
}

.react-grid-item video.jux-media-item-middle {
    width: 80%;
}

.jux-flex-horiz {
    display: flex;
}

.jux-global-annotation {
    width: 100%;
    display: none;
}

#jux-spine-video,
.jux-media-video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#jux-spine-video {
    margin-right: 3px;
}

.jux-media-video {
    margin-left: 3px;
}

.vid-container {
    display: flex;
    border: 1px solid #ddd;
}

.jux-time {
    background-color: #bbb;
    line-height: 30px;
    width: 100%;
    padding: 0 10px;
    font-size: 1.3em;
}

.jux-track-container .track-icon {
    width: 55px;
    height: 50px;
    background-color: #ddd;
    float: left;
    border: 1px solid #ccc;
}

.jux-track-container.txt .track-icon:before {
    content: "T";
    font-family: "Georgia, serif";
    margin: 34% 28%;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

.jux-track-container.media {
    margin-top: 0;
}

.jux-track-container.media .track-icon:before {
    content:"\e009";
    font-family:"Glyphicons Halflings";
    line-height: 1;
    display:inline-block;
    font-size: 28px;
    margin: 20% 25%;
}

.jux-track-container.media .react-grid-item {
    background-color: #ccc;
}

.jux-track-container.txt .react-grid-item {
    background-color: #ddd;
}

.jux-track {
    border: 1px solid #ddd;
    height: 50px;
    cursor: pointer;
    margin-left: 55px;
    background-color: #f5f5f5
}

.jux-track>.react-grid-layout {
    float: left;
}

.jux-track .jux-snap-column {
    width: 10px;
    height: 100%;
    background-color: transparent;
    display: inline-block;
}

.jux-track .jux-snap-column:hover {
    background-color: yellow;
}

.jux-spine-display {
    background-color: #bbb;
    border-right: 10px solid black;
    height: 360px;
    width: 490px;
    text-align: center;
}

.jux-spine-display .jux-spine-revise {
    display: none;
}

.jux-spine-display:hover .jux-spine-revise {
    display: block;
}

.jux-spine-display .help-text {
    width: 80%;
    margin: 29% auto;
}

.jux-spine-display h1 {
    color: white;
    float: left;
}

.jux-spine-display button.add-spine {
    background-color: #bbb;
    border: 0;
    outline: 0;
    float: left;
    margin-right: 15px;
}

.jux-spine-display button.add-spine:before {
    content:"\e081";
    font-family:"Glyphicons Halflings";
    line-height: 1;
    display:inline-block;
    font-size: 50px;
    margin: 20% 25%;
}

.jux-media-display {
    background-color: #ddd;
    height: 360px;
    width: 480px;
    text-align: center;
}

.jux-spine-display video,
.jux-spine-display img,
.jux-media-display video,
.jux-media-display img {
    max-height: 360px;
    max-width: 480px;
}

.jux-text-display-container {
    background-color: #f5f5f5;
    border: 1px solid  #ddd;
    margin-bottom: 5px;
    height: 90px;
    padding: 10px 0;
}

.jux-text-display {
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 500px;
    height: 70px;
}

.jux-track-element-manager {
    margin-top: 10px;
    padding: 10px;
    border: dashed 1px green;
    background-color: lightyellow;
}

.jux-track-element-manager h2 {
    font-weight: normal;
}

.jux-track-element-manager textarea {
    width: 100%;
}

.jux-remove-track-element {
    position: relative;
    float: right;
}

.jux-popup-close {
    position: relative;
    float: right;
}

.jux-add-item-popup {
    padding: 0;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 70;
    position: absolute;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -100px;
    border-radius: 4px;
}

.jux-add-item-popup h2 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 0;
}

.jux-add-item-popup form {
    padding: 10px;
}

.jux-add-item-popup textarea {
    height: 90px;
    margin-bottom: 10px;
}

.jux-add-item-popup.jux-collection-popup {
    width: 240px;
    height: 300px;
}

.jux-collection-scroll-area {
    height: 200px;
    overflow-y: scroll;
}

.jux-collection-item {
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 4px;
    margin-right: 5px;
}

.jux-collection-item img {
    max-height: 80px;
}

.jux-item-active {
    background-color: yellow;
}

/* TimelineRuler */
.jux-timeline {

}

.jux-timeline-ruler {
    height: 21px;
    position: relative;
    margin-left: 55px;
}

.jux-timeline-hline {
    height: 1px;
    top: 20px;
    position: relative;
    border-bottom: 1px solid #000;
}

.jux-timeline-tick,
.jux-timeline-ticklabel {
    position: absolute;
}

.jux-timeline-ticklabel {
    display: inline;
    width: 46px;
    text-align: center;
    font-size: 12px;
    margin-left: -23px;
}

.jux-timeline-tick {
    display: inline-block;
    top: 20px;
    width: 2px;
    height: 9px;
    background-color: #000;
 }

.jux-time-controls {
    margin-left: 5px;
}

.jux-vid-item-thumb {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.jux-save-button {
    margin-top: 5px;
}

.jux-collection {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    z-index: 51;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}