button.jux-rewind,
button.jux-play {
    background-color: #bbb;
    border: 0;
    height: 30px;
    width: 35px;
    outline: none;
}

button.jux-rewind.disabled {
    color: #888;
}

.form-group {
    margin-bottom: 15px;
}

#jux-container {
    width: 970px;
    min-height: 600px;
    margin: 0 auto;
    opacity: 0;
    border-collapse: collapse;
    border-right-width: 0;
}

.react-grid-item {
    cursor: move;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.react-grid-item .jux-media-item-middle {
    flex-grow: 1;
}

.react-grid-item img.jux-media-item-middle {
    max-width: 100%;
    max-height: 100%;
}

.react-grid-item video.jux-media-item-middle {
    width: 80%;
}

.jux-flex-horiz {
    display: -webkit-flex; /* For Safari 8 */
    display: flex;
}

#jux-spine-video,
.jux-media-video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#jux-spine-video {
    margin-right: 3px;
}

.jux-media-video {
    margin-left: 3px;
}

.jux-vid-container {
    display: -webkit-flex;
    display: flex;
    border: 1px solid #ddd;
}

.jux-media-separator {
    width: 10px;
    background-color: black;
}

.jux-time-display {
    background-color: #bbb;
    line-height: 30px;
    width: 100%;
    padding: 0 10px;
    font-size: 1.3em;
}

.jux-track-container .track-icon {
    width: 55px;
    height: 50px;
    background-color: #ddd;
    float: left;
    border: 1px solid #ccc;
    border-left-width: 0;
    border-bottom-width: 0;
}

.jux-media-display .text-track-icon:before,
.jux-track-container.jux-txt .track-icon:before {
    content: "T";
    font-family: "Georgia, serif";
    margin: 34% 28%;
    font-size: 36px;
    font-weight: bold;
}

.jux-track-container.jux-media {
    margin-top: -106px;
}

.jux-media-display .media-track-icon:before,
.jux-track-container.jux-media .track-icon:before {
    content: "M";
    font-family: "Georgia, serif";
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}



.jux-media-display .media-track-icon:before {
    font-size: 16px;
    margin: 0 5px 0 0;
}
.jux-media-display .text-track-icon:before {
    font-size: 20px;
    margin: 0 5px;
}

.jux-track-container.jux-media .react-grid-item {
    background-color: #ccc;
}

.jux-track-container.jux-txt .react-grid-item {
    background-color: #ddd;
}

.jux-track-container.jux-media .react-grid-item.jux-item-active,
.jux-track-container.jux-txt .react-grid-item.jux-item-active {
    background-color: lightyellow;
}

.jux-track {
    border: 1px solid #ddd;
    height: 50px;
    cursor: pointer;
    margin-left: 55px;
    background-color: #f5f5f5;
    position: relative;
    border-bottom-width: 0;
}

.jux-track-instructions {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #aaa;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    z-index: 0;
}

.jux-track .jux-snap-column {
    position: relative;
    width: 10px;
    height: 100%;
    display: inline-block;
    z-index: 1;
}

.jux-track .jux-snap-column:hover {
    background-color: yellow;
}

.jux-track>.react-grid-layout {
    position: relative;
    bottom: 52px;
    z-index: 2;
}
@-moz-document url-prefix() {
    .jux-track>.react-grid-layout {
        bottom: 50px;
    }
}

.jux-spine-display {
    background-color: #bbb;
    height: 360px;
    width: 480px;
    margin: 0 auto;
}

.jux-spine-controls {
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    bottom: 33px;
    color: white;
}

.jux-spine-controls .jux-spine-edit,
.jux-spine-controls .jux-spine-revise,
.jux-spine-controls .jux-spine-vol-display,
.jux-spine-controls .jux-spine-vol-input {
    display: inline-block;
    position: relative;
}

.jux-spine-display .jux-spine-controls {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}
.jux-spine-display:hover .jux-spine-controls {
    visibility: visible;
    opacity: 1;
}

.jux-spine-display .jux-spine-controls button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.jux-spine-display .jux-spine-controls button:focus {
    color: inherit;
    background-color: inherit;
}

.jux-spine-controls button.jux-spine-vol-display {
    font-size: 18px;
    line-height: 0.5;
}
.jux-spine-controls .jux-spine-vol-input {
    top: 6px;
    margin-left: 5px;
    width: 100px;
}

@supports (-ms-ime-align:auto) {
    .jux-spine-display iframe {
        pointer-events: none;
    }
}

.jux-spine-display .instructions,
.jux-media-display .instructions {
    font-size: 1em;
    clear: both;
    line-height: 1.4em;
    text-align: center;
}

.jux-spine-display .jux-spine-edit,
.jux-spine-display .jux-spine-revise {
    width: 35px;
}

.jux-media-display .help-text {
    width: 80%;
    margin: 18% auto;
}

.jux-spine-display .help-text {
    width: 80%;
    margin: 18% auto;
}

.jux-spine-display h1 {
    color: white;
    float: left;
}

.jux-media-display h1 {
    color: #777;
}

.jux-spine-display button.add-spine {
    background-color: #bbb;
    border: 0;
    outline: 0;
    float: left;
    margin-right: 0px;
}

.jux-media-display {
    background-color: #ddd;
    height: 360px;
    width: 480px;
    text-align: center;
}

.jux-media-display .image-player {
    height: 360px;
    width: 480px;
}

.jux-spine-display video,
.jux-spine-display img,
.jux-media-display video,
.jux-media-display img {
    max-height: 360px;
    max-width: 480px;
}

.jux-text-display-container {
    background-color: #f5f5f5;
    border: 1px solid  #ddd;
    margin-bottom: 5px;
    height: 90px;
    padding: 10px 0;
}

.jux-text-display {
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 500px;
    height: 70px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.3em;
}

.jux-updated-text {
    display: none;
    margin-top: 4px;
    color: #666;
}

.jux-track-element-manager {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: lightyellow;
}

.jux-track-container.jux-track-element-manager .track-icon {
    border: 0;
    height: auto;
    background-color: lightyellow;
}

.jux-track-element-manager .track-icon:before {
    content:"\e140";
    font-family:"Glyphicons Halflings";
    line-height: 1;
    display:inline-block;
    font-size: 26px;
    margin: 18% 6%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jux-track-element-manager .form-group {
    margin-right: 30px;
    vertical-align: top;
}

.jux-track-element-manager textarea {
    width: 400px !important;
    height: 72px;
}

/* TimelineRuler */

.jux-timeline {
    border: 1px solid #ccc;
    border-right-width: 0;
}

.jux-timeline-ruler {
    height: 8px;
    position: relative;
    margin-left: 55px;
    z-index: 0;
}

.jux-timeline-ruler.hover {
    font-weight: bold;
}

.jux-timeline-hline {
    height: 1px;
    position: relative;
    border-bottom: 1px solid #000;
}

.jux-timeline-tick,
.jux-timeline-ticklabel {
    position: absolute;
}

.jux-timeline-ticklabel {
    top: 10px;
    display: inline;
    width: 46px;
    text-align: center;
    font-size: 12px;
    margin-left: -23px;
}

.jux-timeline-tick {
    display: inline-block;
    width: 2px;
    height: 9px;
    background-color: #000;
 }

.jux-time-controls {
    margin-left: 5px;
}

.jux-vid-item-thumb {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.jux-collection {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    z-index: 51;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.jux-timecode-editor input {
    width: 60px;
}

/* loader.css styles */
#sequence .loader {
    text-align: center;
    position: relative;
    top: 100px;
}

#sequence .loader>.ball-pulse>div {
    background-color: #555;
}
