<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>edu.columbia.safari.mediathread</string>
       <key>Developer Identifier</key>
       <string>N4GV9R3SDD</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.1.1</string>
       <key>URL</key>
       <string>https://github.com/ccnmtl/mediathread-safari/releases/download/0.1.1/Mediathread.safariextz</string>
       <key>Update From Gallery</key>
       <true/>
     </dict>
   </array>
</dict>
</plist>
