/* Splash page css */

#identity
{
	background-image: url(../../img/promo/tails-up.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}

#audience {
	background-image: url(../../img/promo/tails-right.svg);
	background-size: 1920px;
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #666;
}

#features
{
	background-image: url(../../img/promo/tails-left.svg);
	background-size: 1920px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #fff;
}
