{% extends "base.html" %}

{% block title %}Add to My Collection{% endblock %}

{% block js %}
    {{ block.super }}
    
        
    {% ifequal msg "upload" %}
        <script type="text/javascript"> 
            jQuery(document).ready(function() {
                var msg = "Your media file submission is being processed.\nYou will receive an e-mail when it is ready."
                alert(msg);
            });
        </script>
    {% endifequal %}
    
{% endblock %}

{% block content %}
{{ block.super }}

{% with "help_browse_sources" as help_id %}
{% with help_browse_sources as default_help_state %}
                 
    <div id="external-archives" class="top-archive">
        <h2>Add to My Collection{% include "help/help_button.html" %}
            {% if is_faculty %}
                <div id="managesources">
                    <a href="{% url class-add-source %}" class="columnbutton media browse-button">Manage Sources</a>
                </div>
             {% endif %}
        </h2>
        {% include "help/help_contentarea.html" %}
        
                    
        {% if can_upload %}
           {% if upload_archive %}
               <div id="upload_container">
                    <h2>Upload Video</h2>
                    
                    {% ifequal role_in_course "non-member" %}
                        <div class="instructions">
                            You must be a course member to upload media files.
                        </div>
                    {% else %}
                        <div class="instructions">
                            This tool supports direct uploading of videos from your desktop into Mediathread.<br />
                            {% comment %}
                            Having problems? Please visit the <a href="http://support.ccnmtl.columbia.edu/knowledgebase/topics/6593-mediathread">Mediathread Helpdesk</a><br />
                            
                            Still having problems? <a href="/contact/">Contact us to report an issue or request help.</a>
                            {% endcomment %}
                        </div>
                        
                        <form action="redirect/" method="POST">
                            {% if owners %}
                                <div><b>For:</b>&nbsp;
                                <select id="video_owners" name="as"> 
                                {% for owner in owners %}                                
                                    <option value="{{owner.username}}" {% ifequal owner.username user.username %} selected="selected"{% endifequal %}>{{owner.public_name}}</option>
                                {% endfor %}
                                </select>
                                </div>
                            {% endif %}
                            <input type="hidden" name="url" value="{{upload_archive.archive.url}}"></input>
                            <input id="uploader" type="submit" value="Upload a video" />
                        </form>
                    {% endifequal %}            
                    <div class="visualclear"></div>
                </div>
                
                {% if space_viewer.is_staff %}
                <div id="audio_upload_container">
                    <h2>Upload Audio</h2>
                    {% ifequal role_in_course "non-member" %}
                        <div class="instructions">
                            You must be a course member to upload media files.
                        </div>
                    {% else %}            
                        <div class="instructions">
                            This tool supports direct uploading of audio files from your desktop into Mediathread.
                        </div>
                
                        <form action="redirect/" method="POST">
                            {% if owners %}
                                <div><b>For:</b>&nbsp;
                                <select name="as"> 
                                {% for owner in owners %}                                
                                    <option value="{{owner.username}}" {% ifequal owner.username user.username %} selected="selected"{% endifequal %}>{{owner.public_name}}</option>
                                {% endfor %}
                                </select>
                                </div>
                            {% endif %}
                            <input type="hidden" name="url" value="{{upload_archive.archive.url}}"></input>
                            <input type="hidden" name="audio" value="mp3"></input>
                            <input id="uploader" type="submit" value="Upload audio file" />
                        </form>
                    {% endifequal %}            
                    <div class="visualclear"></div>
                </div>  
                {% endif %}                           
            {% endif %}
        {% endif %}
         
        {% if archives %}
            <div id="archive_container" class="column-container media-column-container">  
                <h2>Instructor Recommendations
                    
                </h2>
                {% for archive in archives %}
                    <div id="archive-{{archive.id}}" class="archive">
                        {% if space_viewer.is_staff %}
                            <div class="manage-archive">
                                <a class="manage-archive-link" href="{%url admin:assetmgr_asset_change archive.id %}">Manage</a>
                            </div>
                        {% endif %}
                
                        <a href="redirect/?url={{archive.archive.url|urlencode}}" class="archive-link">{{archive.title}}</a>
                        <br />
                        {% if archive.thumb %}
                           <a href="redirect/?url={{archive.archive.url|urlencode}}"><img src="{{archive.thumb.url}}" alt="thumbnail image" class="archive-link" />
                           </a>
                        {% endif %}
                        <div>
                            {{archive.metadata|urlize|linebreaks}}
                        </div>
                    </div>
                {%endfor%}
                <br class="visualclear" />
            </div>
        {% else %}
            <div id="archive_container" class="column-container media-column-container">  
                <h2>Instructor Recommendations</h2>
                {% if is_faculty %}
                    <p>This page lists sources of videos and/or images that you designate for class analysis.<br /> <br />You can add sources to this page via the  <a href="{% url class-add-source %}">Manage Sources</a> page in the <a href="{% url dashboard-home %}">Instructor Dashboard</a>.
                {% endif %}
            </div>                
        {% endif %}

{% endwith %}
{% endwith %}
{% endblock %}
