{% extends "base.html" %}
<title> {% block title %}
Class Analysis > Class Saved Items
{% endblock %}</title>

{% block content %}
    {{ block.super }}

{% load smartif user_projects helpful_tags %}
<div id="slider-parent">
  <div class="slider-cell slider-edge">
    <h2><span id="slider-edge-left">Analysis</span></h2>
  </div>

  <table id="slider-top" class="slider-top analysis-tab">
    <tbody>
    <tr>
      <td class="slider-cell">
<div id="member_col" class="project-table panel-column panel-light">
  <h2>Shared Projects</h2>
  {% if is_faculty %}
  <p><a href="{%url class-listing %}">Projects by member</a></p>
  {% endif %}
  {% load user_projects %}
  <ul>
    {% get_course_projects in request.course for request as projects %}
    {% for project in projects %}
    <li> 
      <a href="{%url project-view project.pk %}">{{project.title}}</a>
      <br />
      by {{project.attribution}}
    </li>
    {% endfor %}
  </ul>  
</div>

      </td>
      <td class="slider-cell">

<div class="assets_wide_list" >
 {% include "assetmgr/asset_table.html" %}
</div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}
