{% extends "base.html" %}

{% block content %}
    {{ block.super }}

{% if adding %}
    <form method="POST" action="{% url asset-save %}">
      {% for key, value in asset_request.items %}
        <input type="hidden" name="{{key}}" value="{{value}}" />
      {% endfor %}
      <input type="submit" value="Really Save" />
    </form>
{% else %}

    <h1>Supported Collections</h1>
       <h2>YouTube</h2>
       <form action="{% url asset-save %}" method="POST">
         Collection Title: <input type="text" name="title" value="YouTube"/>
         <br/>
         Collection URL: <input type="text" name="archive" value="http://www.youtube.com/"/>
         <br/>
         Collection URL (yes, again): <input type="text" name="url" value="http://www.youtube.com/"/>
         <br/>
         Description:
         <textarea cols="55" rows="5" 
                   name="metadata-description"
                   >The largest collection of video on the web, where you can also upload video yourself.</textarea>
         <br/>
         Thumb URL: <input type="text" name="thumb" value="http://mondrian.ccnmtl.columbia.edu/site_media/img/youtube_logo.jpg"/>
         <br/>
	
	<input type="submit" value="Add to Class Collections"/>
       </form>



       <h2>Vietnam War Archive</h2>
       <form action="{% url asset-save %}" method="POST">
         Collection Title: <input type="text" name="title" value="Vietnam: A Television Archive"/>
         <br/>
         Collection URL: <input type="text" name="archive" value="http://vietnamwararchive.ccnmtl.columbia.edu/"/>
         <br/>
         Collection URL (yes, again): <input type="text" name="url" value="http://vietnamwararchive.ccnmtl.columbia.edu/"/>
         <br/>
         Description:
         <textarea cols="55" rows="5" 
                   name="metadata-description"
                   >In 1983, public television station WGBH produced a 13-hour documentary on the Vietnam War. Through this digital archive, full-length interviews and select stock footage from the production are being made available to select classes at Columbia University. </textarea>
         <br/>
         Thumb URL: <input type="text" name="thumb" value="http://projectvietnam.ccnmtl.columbia.edu/site_media/img/bvault_bug.jpg"/>
         "Analyze This" button: <input type="text" name="bookmarklet_button" value="http://vietnamwararchive.ccnmtl.columbia.edu/images/analyze_this.png"/>
         <br/>
	
	<input type="submit" value="Add to Class Collections"/>
       </form>
       <h2>Digital Tibet</h2>
       <form action="{% url asset-save %}" method="POST">
         Collection Title: <input type="text" name="title" value="Engaging Digital Tibet"/>
         <br/>
         Collection URL: <input type="text" name="archive" value="http://digitaltibet.ccnmtl.columbia.edu/"/>
         <br/>
         Collection URL (yes, again): <input type="text" name="url" value="http://digitaltibet.ccnmtl.columbia.edu/"/>
         <br/>
         Description:
         <textarea cols="55" rows="5" 
                   name="metadata-description"
                   >Engaging Digital Tibet contains an advanced, searchable repository of Tibetan objects from several collections including the Rubin Museum, Himalayan Art Resources, and the Starr East Asian Library.</textarea>
         <br/>
         Thumb URL: <input type="text" name="thumb" value="http://digitaltibet.ccnmtl.columbia.edu/sites/digitaltibet.ccnmtl.columbia.edu/themes/tibetan/ccnmtl_images/portfolio_image.jpg"/>
         "Analyze This" button: <input type="text" name="bookmarklet_button" value="http://mondrian.ccnmtl.columbia.edu/site_media/img/analyze_button.jpg"/>
         <br/>
	
	<input type="submit" value="Add to Class Collections"/>
       </form>
       
       <h2>The Tibetan &amp; Himalayan Library</h2>
       <form action="{% url asset-save %}" method="POST">
         Collection Title: <input type="text" name="title" value="The Tibetan &amp; Himalayan Library"/>
         <br/>
         Collection URL: <input type="text" name="archive" value="http://thlib.org/places/monasteries/meru-nyingpa/murals/"/>
         <br/>
         Collection URL (yes, again): <input type="text" name="url" value="http://thlib.org/places/monasteries/meru-nyingpa/murals/"/>
         <br/>
         Description:
         <textarea cols="55" rows="5" 
                   name="metadata-description"
                   >Includes murals from the Meru Nyingpa (rme ru rnying pa) Monastery which is located in the Barkor (bar skor) area at the heart of the old city of Lhasa (lha sa), just east of the famed Jokhang (jo khang) Temple.</textarea>
         <br/>
         Thumb URL: <input type="text" name="thumb" value="http://thlib.org/places/monasteries/meru-nyingpa/murals/preview/mnmural01.jpg"/>
         <br/>
	
	<input type="submit" value="Add to Class Collections"/>
       </form>

    
      <h2>Add a collection</h2>
      <form action="{% url asset-save %}" method="POST">
	Collection Title: <input type="text" name="title" value=""/>
	<br/>
	Collection URL: <input type="text" name="archive" value=""/>
	<br/>
	Collection URL (yes, again): <input type="text" name="url" value=""/>
	<br/>
	Description:
	<textarea cols="55" rows="5" 
		  name="metadata-description"
		  ></textarea>
	<br/>
	Thumb URL: <input type="text" name="thumb" value=""/>
	<br/>
	
	<input type="submit" value="Submit Collection"/>
      </form>

      <h2>A website</h2>
      <form action="{% url asset-save %}" method="GET">
	Asset URL: <input type="text" name="url" value="http://slashdot.org"></input>
	<br/>
	Asset Title: <input type="text" name="title" value="SlashDot"></input>
	<br/>
	<input type="submit"/>
      </form>

      <h2>Local Quicktime Streaming Video</h2>
      <form action="{% url asset-save %}" method="GET">
	<!--Asset URL: <input type="text" name="url" value=""></input>
	<br/>
	-->
	Asset QT Stream: <input type="text" name="quicktime" value="" />
	<br/>
	Asset Title: <input type="text" name="title" value=""></input>
	<br/>
	<input type="submit"/>
      </form>
      
    <h2>YouTube Video</h2>
      <form action="{% url asset-save %}" method="GET">
          YouTube View (Watch) URL: <input type="text" name="url" value=""></input> (example: http://www.youtube.com/watch?v=MjdEEwzskck)
          <br/>
          YouTube Video URL: <input type="text" name="youtube" value="" /> (example: http://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1)
          <br/>
          YouTube Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
      
    <h2>Flash Video (.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          Flash Video View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
      
     <h2>Flash Video Pseudo Streaming(.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          Flash Video View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          QueryString: <input type="text" name="querystring" value=""></input>
          <br />
          <input type="submit"/>
      </form>
    <h2>MP4 (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
    <h2>MP4 Pseudo Streaming (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          QueryString: <input type="text" name="querystring" value=""></input>
          <br />
          <input type="submit"/>
      </form>
    <h2>RTMP (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
    <h2>RTMP (.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="flv_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
            
    
      
    {% if debug %}
      <h1>Try out assetmgr</h1>
      
      <h2>A Streaming Video</h2>
      <form action="{% url asset-save %}" method="GET">
	Asset URL: <input type="text" name="url" value=""></input>
	<br/>
	Asset Stream: <input type="text" name="quicktime" value="" />
	<br/>
	Direct Stream:
	<input type="text" name="quicktime_directstream" value="" />
	<br/>
	Asset Title: <input type="text" name="title" value=""></input>
	<br/>
	<input type="submit"/>
      </form>

    {% endif %}

     {% if debug %}
     {% endif %}
{% endif %}

{% endblock %}
