{% extends "base.html" %}
{% load smartif %}
{% block title %}"{{asset.title|striptags|safe}}"{% endblock %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" media="screen" href="/site_media/css/tabber.css" />

{% endblock %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>

  <script type="text/javascript" src="/site_media/js/tabber.js"></script>
  <script type="text/javascript" src="/site_media/js/hs.js"></script>
  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}

  <script type="text/javascript">         DjangoSherd_Asset_Config();             </script>

  <script type="text/javascript" src="/site_media/js/assetmgr/asset.js"></script>

{% endblock %}

{% block extra_body_class %}{% if mock %}preview{% endif %}{% endblock %}

{% block content %}
  {{ block.super }}
<h1>Analyzing {{asset.title|striptags|safe}}</h1> 
{%if asset.html_source.url %}
  <a class="fullrecord_button" href="{{asset.html_source.url}}">View complete record in archive</a>
{%endif%}
  
{% if mock %}
<p>Create tags, notes or clips to add this item to Your Analysis.</p>
{% endif %}<!-- if mock-->

  <div id="workspace">
  <div class="asset-view asset-view-big">
<div id="asset_details_col">
  <div class="tabber">

    <div class="tabbertab" title="Summary">
      <div class="asset-info">
	{% for name, values in asset.metadata.items %}
	<dl>
	  <dt><h2 class="metadata-title">{{name}}</h2></dt>
          {# is values a list or string? #}
          {% if not values.lower %}
            {% for v in values %}
            <dd id="metadata-{{name}}">{{v}}</dd>
            {% endfor %}
          {% else %}
	  <dd id="metadata-{{name}}">{{values}}</dd>
          {% endif %}
	</dl>
	{% endfor %}
      </div>
    </div>
    
    {% if request.GET.c %}
    <div id="stats" class="indexcard tabbertab tabbertabdefault" title="Analyze">
    {% else %}
    <!-- temporarily put analysis tab as default until we can get metadata again -->
    <div id="stats" class="indexcard tabbertab tabbertabdefault" title="Analyze">
    {% endif %}<!--end request.GET.c -->
    
    {% if annotation and readonly %}
        <h2><a class="hs-control" href="#ItemAnalysis" id="disableform"></a>Item Analysis</h2>
    {% else %}
        <h2><a class="hs-control" href="#ItemAnalysis"></a>My Item Analysis</h2>
    {% endif %}

    <div id="ItemAnalysis" class="sub-control">
    
        <div class="clipform">
              <!--  MOCHI -->
              <input type="radio" name="clipType" autocomplete="off" value="Whole" onclick="jQuery('#portion-asset-form').hide();jQuery('#whole-asset-form').show(); " />Whole
              <input type="radio" name="clipType" autocomplete="off" value="Portion" checked onclick="jQuery('#whole-asset-form').hide();jQuery('#portion-asset-form').show();" />Portion
        </div>
        
        {% if annotation %}
            <div id="original-annotation" class="annotation-data" 
             data-begin="{{annotation.range1}}" 
             data-end="{{annotation.range2}}" 
             data-annotation='{{annotation.annotation_data|default_if_none:"{}"|escape}}'>
            </div>
        {% endif %}   
     
        <div id="whole-asset-form" class="sub-control" style="display: none">
            <form class="tabber_form" name="not-clip-form" method="POST" action="{% if mock %}{% url asset-save %}{% else %}{% url annotation-form asset.pk global_annotation.pk %}{% endif %}">
                <div id="Item" class="sub-control">
                    {{ global_annotation_form.as_p }}
    
                    {% if mock %}
                         {% for k,v in request.GET.items %}
                           <input type="hidden" name="{{k}}" value="{{v}}" />
                         {% endfor %}
                    {% endif %}
                    {% if request.user in request.course.members %}
                       <input type="submit" name="save-global-annotation" value="Save Asset"/>
                    {% else %}
                       <b class="warning">Cannot save clips because you are not a member of this course.</b>
                    {% endif %}
                    to My Items
                </div>
                <br />
            </form>
        </div> 
    
        <div id="portion-asset-form" class="sub-control" style="display: block">
	    <!--keep id/name for now for vital-support-->
            <center>
	           <div id="clipform-display" name="clipform-display"></div>
            </center>

            <div id="Clip" class="sub-control">
               {% if annotation and not readonly %}
                   <form name="clip-form" id="clip-form" method="POST" action="{% if mock %}{% url asset-save %}{% else %}{% url annotation-form asset.pk annotation.pk %}{% endif %}">
               {% else %}
        	       <form name="clip-form" id="clip-form" method="POST" action="{% if mock %}{% url asset-save %}{% else %}{% url annotation-form asset.pk %}{% endif %}">
               {% endif %}<!--end if annotation and not readonly-->
                  
               {{ annotation_form.as_p }}
        
        	   {% if mock %}
        	       {% for k,v in request.GET.items %}
        	           <input type="hidden" name="{{k}}" value="{{v}}" />
        	       {% endfor %}
        	   {% endif %}<!--end if mock-->
                   {% if request.user in request.course.members %}
                     <input type="submit" name="save-clip-annotation" value="Save Clip" />
                   {% else %}
                     <b class="warning">Cannot save clips because you are not a member of this course.</b>
                   {% endif %}
        	   {% if annotation %}
                  <input type="button" value="New Clip" onclick="document.location='{% url asset-view asset.id %}'"/>	  
        	   {% endif %}
        	   </form>
            </div> <!--id="Clip"-->
            <br /><br />    
        </div>
    </div>
    
      {% if not mock %}
      <h2> <a class="hs-control" href="#annotations"></a>My Clips of This Item</h2>
      <div id="annotations" class="sub-control">
	<ul>
	  {% load user_annotations %}
	  {% get_annotations on asset by space_viewer as annotations %}
	  {% for ann in annotations %}
	  {% if not ann.is_null %}
	  <li
	   {% ifequal ann annotation %}
	    class="active-annotation"
	   {% endifequal %}
	   >
	   <a href="{{ann.get_absolute_url}}"
	    >
	   {% if ann.title %}
	   {{ann.title}}
	   {% else %}
	   Annotation
	   {% endif %}
	   </a>
	 </li>
	 {% endif %}
	 {% endfor %}
       </ul>
     </div><!-- end "annotations"  -->


     <h2> <a class="hs-control" href="#other_people_annotations"></a>Other People's  Clips of This Item</h2>
     <div id="other_people_annotations" class="sub-control">
	  <ul>
            {% get_all_annotations on asset as annotations %}
            {% for ann in annotations %}
                {% if not ann.is_null%}
                     {% ifnotequal ann.author space_viewer %}
                          <li 
			      {% ifequal ann annotation %}
			      class="active-annotation" 
			      {%endifequal%}
			      >
                            <a href="{{ann.get_absolute_url}}">{{ann.title}}</a> by <a href="{% url your-space-records ann.author.username %}">{{ann.author.get_full_name|default:ann.author}}</a>
                          </li>
		     {% endifnotequal %}
                {% endif %}
            {% endfor %}
	  </ul>
      </div><!--end id="other_people_annotations" -->
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      {% endif %}<!--end if not mock -->
   </div> <!-- end "analysis" tab -->

   {% if not mock %}
    <div class="tabbertab indexcard" title="Class Activity">
   
      <h2><a class="hs-control" href="#classtags"></a>Class Item Analysis</h2>

      <div id="classtags" class="sub-control">
	<h3>Tags:</h3>
	{% for tag in tags %}
	<span class="size{{tag.font_size}}">
	  <a href="{% url asset-container %}?tag={{tag.name}}">
	  {{tag.name}} ({{tag.count}})</a>
	</span>&nbsp;
	{% endfor %}
      </div>
 
      <br />
    
      <h2><a class="hs-control" href="#discussion"></a>Class Discussions Referencing this Item</h2>
      
         <div id="discussions" class="sub-control">
	    {%if discussions%}
	    <ul class="clumper">
              {%for clump in discussions%}
                 {%include "projects/clump.html" %}
              {%endfor%}
            </ul>
	    {%endif%}{#end if discussions #}
            <!-- NEW STYLE CREATE DISCUSSION 
            <form action="/discussion/new/" method="POST">
                    <div>
                        <label for="id_comment_html" >New discussion:</label>
                        <input type="text" name="comment_html" id="comment_html" />
                        <input type="hidden" name="app_label" id="app_label" value="assetmgr"/>
                        <input type="hidden" name="model" id="model" value="asset"/>
                        <input type="hidden" name="obj_pk" id="obj_pk" value="{{asset.pk}}"/>
                    </div>
                    <div><input type="submit" value="Start Discussion"/></div>
            </form>
            -->
          </div><!--end id="discussions" -->


      <div id="discussion" class="sub-control">
	{% load comments %}
        {# {% if comments.10 %}  {% render_comment_form for asset %}{% endif %} #}
	{% for comment in comments %}
	<p>
	  <strong>{{comment.user.get_full_name|default:comment.user}}</strong> at {{comment.submit_date|date}}
	  <br/>
	  {{comment.comment}}
	</p>
	{% endfor %}
        <!-- OLD STYLE DISCUSSION FORM
	{# {% if not comments %}	No discussion yet {% endif %} #}
	{# {% render_comment_form for asset %} #}
        -->
      </div>
    </div><!-- title="Class Activity" -->
   {% endif %}<!--end if not mock-->

  </div> <!-- end tabber -->

 
</div><!-- end right_col -->
    <div class="asset-links">
      <ul>
        {% with asset.source_set.all as assets_to_link %}
          {% include "assetmgr/asset_links.html" %}
        {% endwith %}
      </ul>
    </div>
    <div class="asset-object">
      <div class="clipbox"><!-- width changes here too if video size changes -->
	  <div id="asset-display" class="asset-display"></div>
      <div id="clipstrip-display"></div>
	
      </div><!--class="clipbox"-->
    </div><!--class="asset-object"-->
  </div><!--class="asset-view"-->

  </div><!--id="workspace"-->

{% endblock %}
