{% load user_annotations tagging_tags helpful_tags %}
<div id="asset_browse_col" class="asset-table slider-column">
    <div id="videoclipbox" class="asset-view-small" style="display:none;">
      <a id="close-clipbox" class="mce_editorwindow_closebtn" href="#close_viewer" onmousedown="hideElement('videoclipbox');updateVerticalHeight(null,{'materials':0});return false;">x</a>
      <div class="annotation-title"></div>
      <div class="asset-title"></div>
      <div class="asset-object" style="width: 322px;"><!-- width changes here too if video size changes -->
        <div class="asset-display"></div>
	<div id="clipstrip-display" class="clipstrip-display"></div>    
      </div>
    </div>
  

  <div class="filter-widget">
    <div class="switcher collection-chooser">
      <a class="switcher-top closed">
        <span class="down-arrow"></span>
        <span class="title">
          {%if space_owner %}
            {% ifequal space_owner user %}
              Your Saved Items
            {% else %}
              {{space_owner.get_full_name|default:space_owner.username}}
            {% endifequal %}   
          {% else %}
            Class Items
          {% endif %} 
        </span>
      </a>
      <ul class="switcher-options">
        <li>
          <ul class="switcher-sub" id="switcher-extras"
            {%ifnotequal space_viewer space_owner%}
            >
            <li class="choice_my_items">
              <a href="{%url your-space space_viewer.username%}" 
                 data-ajax="{%url annotations-fragment space_viewer.username%}"
                 >Your Saved Items</a></li>
            {%else%}
            style="display:none;">
            {%endifnotequal%}
          </ul>
        </li>
        <li><h3>Course Members' Pages</h3>
          <ul class="scroll switcher-sub">
            {%if space_owner %}
            <li class="choice_class_items">
              <a href="{%url asset-container %}" 
                 data-ajax="{%url all-annotations-fragment %}"
                 ><b>All Class Items</b></a></li>
            {%endif%}
            {%for m in request.course.members%}
            <li><a href="{%url your-space m.username%}"
                   data-ajax="{%url annotations-fragment m.username%}"
                   >{{m.get_full_name|default:m.username}}</a></li>
            {%endfor%}
          </ul>
        </li>
      </ul>
    </div>
    <div class="switcher collection-filter">
      <a class="switcher-top closed">
        <span class="down-arrow"></span>
        <span class="title">Filter:
          {%if active_filters %}
            <span class="filter-on">ON</span>
          {%endif%}
        </span>
      </a>
      <ul class="switcher-options">
        {%if active_filters %}
        <li><ul>
          <li><a class="remove" href="?">Clear All Filters</a></li>
          {% for filter, value in active_filters.items %}
          <li>
            {% ifequal filter "tag" %}
              {{filter}}: {{value}}
            {% else %}
              {{filter}}: {{dates|dictify|getitem:value}}
            {% endifequal %}

            {% replace_value of filter with '' in request.GET as querystring %}
            <a class="remove" href="{{querystring|qsify}}">&nbsp;</a>
          </li>
          {% endfor %}

        </ul></li>
        {%endif%}
        {%if dates %}
        <li><h3>Date Modified</h3>
          <p class="switcher-sub">
              {% for date, label in dates %}
              
                {% ifequal date request.GET.modified %}
                   {{label}}
                {% else %}
                   {% replace_value of 'modified' with date in request.GET as querystring %}
                   <a href="{{querystring|qsify}}">{{label}}</a>
                {% endifequal %}
              {% endfor %}
          </p>
        </li>
        {%endif%}
        <li><h3>Tags</h3>
          <p class="switcher-sub">
            {%if not tags %}No tags{%endif%}
            {%for tag in tags %}
            {% replace_value of 'tag' with tag in request.GET as querystring %}
            <a href="{{querystring|qsify}}" class="size{{tag.font_size}}">{{tag}}</a>
            {%endfor%}
          </p>
        </li>
      </ul>
    </div>
    <div class="visualclear"></div>
  </div>

<div id="materials" class="resize-height">
 {% for asset in assets %}
 <div id="record-{{asset.pk}}" class="record record-{{asset.primary.label}}">
  {% get_global_annotation on asset by space_owner or space_viewer as gannotation %}
  

  <h2 class="asset_title asset-{{asset.primary.label}}">
    <div class="actions">
    {% if editable %}
      <a onclick="return ajaxDelete(this, 'record-{{asset.pk}}')"
	 href="{% url my-asset-notes space_viewer.username asset.pk %}?delete">
       <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove Asset and Clips from My Analysis"  /></a>
    {% endif %}
      {%if space_viewer.is_staff and not space_owner %}<a class="manage-asset" href="{%url admin:assetmgr_asset_change asset.id %}">Manage</a>{%endif%}
    </div>
   
    <!--a class="hs-control" href="#record-{{asset.pk}}-metadata"></a-->
    
    {% if page_in_edit_mode %}
	  <span class="citationTemplate"><img 
	      class="materialCitation" alt="" 
	      src="/site_media/img/icons/insert_asset.png#annotation={{asset.get_absolute_url}}{% if gannotation %}annotations/{{gannotation.id}}/{% endif %}&title={{asset.title}}&type={{asset.primary.label}}&range1=0" 
	      width="24" height="15" border="0" 
	      onclick="addMaterialCitation(event)" 
	      title="{{asset.title}}" 
	      name="{{asset.get_absolute_url}}"
	      draggable="true" ondragstart='event.dataTransfer.setData("Text", (event.target||event.srcElement).src);'
	      /></span>
	{% endif %}
    <a {% if page_in_edit_mode %}target="_blank"{% endif %}
       href="{{asset.get_absolute_url}}">{{asset.title|striptags|safe|default:"(Untitled)"}}</a>

	
  </h2>

  {%if asset.sources.thumb %}
  <img class="asset-thumb" src="{{asset.sources.thumb.url}}" />
  {% endif %}

  <div id="record-{{asset.pk}}-metadata" class="record-metadata">
    <ul class="record-metadata-list">
      <!--li><strong>Date added:</strong> {{asset.added|date}}</li-->
     <!-- <li>Last modified: {{asset.modified|date}}</li>-->
     {%if gannotation and gannotation.tags_split %}
      <li class="annotation-global-tags"><strong>My Tags:</strong>
       {% for tag in gannotation.tags_split %}
        {% if not page_in_edit_mode %}
         {% replace_value of 'tag' with tag.name in request.GET as querystring %}
          <a href="{{querystring|qsify}}">{{tag}}</a>&nbsp;
         {% else %}
          {{tag}}
         {% endif %}
       {% endfor %}
       {% if editable %} 
	 <a href="/asset/{{asset.pk}}/">  <img src="/site_media/img/pencil.gif"  class="edit_icon" alt="Edit Tags"  /></a>
       {% endif %}
      </li><!--asset tags-->
      {%else%}
        {%if not space_owner and asset.tags %}
           <p>
           <strong>Tags:</strong>
           {% for tag in asset.tags %}
             {% replace_value of 'tag' with tag.name in request.GET as querystring %}
             <a href="{{querystring|qsify}}">
                {{tag.name}}
             </a>&nbsp;
           {% endfor %}</p>
        {% endif %}        
      {% endif %}
      {% if gannotation.body %} 
      <li class="annotation-global-body">
	<strong>Note:</strong> {{gannotation.body}} 
	{% if editable %}  <a href="/asset/{{asset.pk}}/"><img src="/site_media/img/pencil.gif"  class="edit_icon" alt="Edit Note"  /></a> {% endif %}
      </li><!--asset tags-->
      {% endif %}


      {% get_annotations on asset by space_owner filter active_filters as annotations %}

    {% if annotations.1 %}
    <li>
    <ul class="asset-clips">
    {% for annotation in annotations %}
      {% if not annotation.is_null %}
      <li id="annotation-{{annotation.pk}}">
	{%if annotation.body or annotation.tags %}
	<a class="hs-control" href="#annotation-body-{{annotation.pk}}"></a>
	{%endif%}
        <div class="actions">
	{% if page_in_edit_mode %}
	  <span class="citationTemplate"><img 
	      class="materialCitation" alt="" 
	      src="/site_media/img/icons/insert_clip.png#annotation={{annotation.get_absolute_url}}&title={{annotation.title}}&type={{asset.primary.label}}&range1={{annotation.range1}}" 
	      width="24" height="15" border="0" 
	      onclick="addMaterialCitation(event)" 
	      title="{{annotation.title}}" 
	      name="{{annotation.get_absolute_url}}"
	      draggable="true" ondragstart='event.dataTransfer.setData("Text", (event.target||event.srcElement).src);'
	      /></span>
	{% endif %}
        {% if editable %}
          <a onclick="return ajaxDelete(this, 'annotation-{{annotation.pk}}')"
             href="{% url annotation-form asset.pk annotation.pk %}?delete">
            <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove Annotation from My Analysis"  /></a>
        {% endif %}
        </div><!-- class="actions" -->
	<a {% if page_in_edit_mode %}target="_blank"{% endif %}
	  title="Last modified on {{annotation.modified|date}} by {{annotation.author.get_full_name|default:annotation.author}}"
	  href="{{annotation.get_absolute_url}}">{{annotation.title}}</a> 	    

	<span class="annotation-timecode">{{annotation.range_as_timecode}}</span>


	{%if annotation.body or annotation.tags %}	
	<div id="annotation-body-{{annotation.pk}}" class="hs-init-hide annotation-metadata-wrapper" >
	  {% if annotation.tags %} 	  
	  <div class="annotation-metadata-tags annotation-metadata"><strong>Tags:</strong>
	    {% for tag in annotation.tags_split %}
	      {% if not page_in_edit_mode %}
	        {% replace_value of 'tag' with tag in request.GET as querystring %}
	        <a href="{{querystring|qsify}}">{{tag}}</a>&nbsp;
              {% else %}
                  {{tag}}
	      {% endif %}
	    {% endfor %}
	  </div>
	  {% endif %}<!-- annotation.tags-->
	  {% if annotation.body %} 
	  <div class="annotation-metadata-body annotation-metadata"><strong>Note:</strong>
	    {{annotation.body}} 
	  </div>
	  {% endif %}<!--annotation.body -->
	</div>
	{% endif %}<!-- annotation.body or annotation.tags -->
	    <!--Crazy overloading of this table cell to include all metadata!!!-->
	    <!--currently only used for creating thumbnails (which we could do
		from the json instead.
	    -->
	    <div class="annotation-links">
	      <div class="annotation annotation{{annotation.id}}">
		<div class="annotation-title materialCitation"><h2>{{annotation.title}}</h2></div>
		<div class="annotation-data" data-begin="{{annotation.range1}}" data-end="{{annotation.range2}}" data-annotation='{{annotation.annotation_data|default_if_none:"{}"|escape}}'></div>
		<div class="asset-title">from <a href="{{annotation.asset.get_absolute_url}}">{{annotation.asset.title|escape}}</a></div>
		<div class="asset-links">
		  <ul>
                    {% with annotation.asset.source_set.all as assets_to_link %}
                      {% include "assetmgr/asset_links.html" %}
                    {% endwith %}
		  </ul>
		</div>
	      </div>
	    </div><!--end class="annotation-links" -->

      </li>
      {% endif %}
    {% endfor %}
    </ul><!--class="asset-clips"-->
    </li>
    {% endif %}<!--if annotations.1-->

      
</ul><!-- class="record-metadata-list" -->

  </div>
  <div class="visualclear"></div>
 </div>
{% endfor %}

</div>
