{% extends "base.html" %}

{% block title %}Save Page
{% endblock %}

{% block content %}
    {{ block.super }}

{% if adding %}
    <form method="POST" action="{% url asset-save %}">
      {% for key, value in asset_request.items %}
        <input type="hidden" name="{{key}}" value="{{value}}" />
      {% endfor %}
      <input type="submit" value="Really Save" />
    </form>
{% else %}
<p class="intro-text">
  This 'Save Page' allows you to add archives or other assets explicitly to appear on the Explore Collections page.
  Each item is a form, though for the archive forms, only edit the values if you know what you're doing.
  <ul>
    <li><a href="#archives">Add supported archives</a></li>
    <li><a href="#custom_archive">Add your own archive</a></li>
    <li><a href="#specific">Add single media assets</a></li>
    <li><a href="#advanced">Advanced Documentation</a></li>
  </ul>
</p>
    <h1 id="archives">Supported Archives</h1>
    <ul class="archive-gallery">
      {%for archive in supported_archives %}
      <li class="archive archive-across">
        <a href="{{archive.sources.archive.url}}" class="archive-link">{{archive.title}}</a>
        <br />
         {%if archive.sources.thumb%}
           <a href="{{archive.sources.archive.url}}"><img src="{{archive.sources.thumb.url}}" alt="thumbnail image" class="archive-link" />
         </a>
         {% endif %}
         <p>
           {{archive.metadata.description}}
         </p>
         <form action="{% url asset-save %}" method="POST">
           <input type="hidden" name="title" value="{{archive.title}}"/>
           <input type="hidden" name="metadata-description" value="{{archive.metadata.description}}"/>
           {%for lbl,src in archive.sources.items %}
             <input type="hidden" name="{{src.label}}" value="{{src.url}}"/>
           {%endfor%}
           <input type="submit" value="Add to Class"/>
         </form>
      </li>
      {%endfor%}
    </ul>
    <br style="clear:both" />
    
      <h2 id="custom_archive">Add your own archive</h2>
      <p>
        You may want to copy the links from above (including the thumbnail URL) and just change the description or link to a sub-section of the site.
      </p>
      <form action="{% url asset-save %}" method="POST">
	Collection Title: <input type="text" name="title" value=""/>
	<br/>
	Collection URL: <input type="text" name="archive" value=""/>
	<br/>
	Collection URL (yes, again): <input type="text" name="url" value=""/>
	<br/>
	Description:
	<textarea cols="55" rows="5" 
		  name="metadata-description"
		  ></textarea>
	<br/>
	Thumb URL: <input type="text" name="thumb" value=""/>
	<br/>
	
	<input type="submit" value="Add Archive to Class"/>
      </form>

      <h1 id="specific">Specific Internet Resources</h1>

      <h2>Local Quicktime Streaming Video</h2>
      <form action="{% url asset-save %}" method="GET">
	<!--Asset URL: <input type="text" name="url" value=""></input>
	<br/>
	-->
	Asset QT Stream: <input type="text" name="quicktime" value="" />
	<br/>
	Asset Title: <input type="text" name="title" value=""></input>
	<br/>
	Dimensions: <input type="text" name="quicktime-metadata" value="w480h360"></input> (as w{width}h{height} do not include controller height)
	<br/>
	Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
	<br/>
	<input type="submit"/>
      </form>
      
    <h2>YouTube Video</h2>
      <form action="{% url asset-save %}" method="GET">
          YouTube View (Watch) URL: <input type="text" name="url" value=""></input> (example: http://www.youtube.com/watch?v=MjdEEwzskck)
          <br/>
          YouTube Video URL: <input type="text" name="youtube" value="" /> (example: http://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1)
          <br/>
          YouTube Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
      
    <h2>Flash Video (.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          Flash Video View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
      
     <h2>Flash Video Pseudo Streaming(.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          Flash Video View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
	Dimensions: <input type="text" name="flv_pseudo-metadata" value="w480h360"></input> (as w{width}h{height} do not include controller height)
	<br/>
          QueryString: <input type="text" name="querystring" value=""></input>
	<br/>
	Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
          <br />
          <input type="submit"/>
      </form>
    <h2>MP4 (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
    <h2>MP4 Pseudo Streaming (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          QueryString: <input type="text" name="querystring" value=""></input>
          <br />
          <input type="submit"/>
      </form>
    <h2>RTMP (.mp4)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
    <h2>RTMP (.flv)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="flv_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
    <h2>RealPlayer (.rm)</h2>
      <form action="{% url asset-save %}" method="GET">
          View (Watch) URL: <input type="text" name="url" value=""></input> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="realplayer" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value=""></input>
          <br/>
          <input type="submit"/>
      </form>
      <h2>A website</h2>
      <form action="{% url asset-save %}" method="GET">
	Asset URL: <input type="text" name="url" value="http://slashdot.org"></input>
	<br/>
	Asset Title: <input type="text" name="title" value="SlashDot"></input>
	<br/>
	<input type="submit"/>
      </form>

            
      <p class="intro-text">
        <h1 id="advanced">Advanced Documentation on How Assets are Saved</h1>    

        <p>
          Mediathread does not store any assets directly, but instead embeds them from the site
          they originally came from.  This has advantages and disadvantages.
        </p>
        <h2>Currently supported <a href="/save">/save</a>? query arguments</h2>
        <p>If the browser does a GET url, the asset will not automatically save until they visit the page again.  The advantage of a GET request is that it survives through login and course-selection.  A POST request will automatically create the asset.  The advantage of using POST is that it can accept much larger data, so POSTs with metadata (e.g. with long descriptions) should make sure the user is logged in, and then POST.</p>
        <dl>
          <dt>url</dt><dd>The URL the asset can be viewed at on the originating site.  This is used to link back to the site.</dd>
          <dt>title</dt><dd>The human-readable title of the asset</dd>

          <dt>archive</dt><dd>The URL to the top-level archive the asset is from.  This will generally be the homepage for the <b>url</b> argument.</dd>
          <dt>metadata-*</dt><dd>Besides "title" all other metadata can be conveyed by a general-purpose metadata-&gt;name&lt; argument.  So if you wanted to specify author, you would add an argument <code>metadata-author=Mark+Twain</code>.  Note that some browsers have maximum URL lengths, so it's unwise to include a whole description in a metadata argument.  These values will appear in the summary section of the asset.</dd>

          <dt>thumb</dt><dd>A URL to a thumbnail representing the image/video resource.  Generally, this should be an image that fits within 100 pixels x 100 pixels.  (but will be displayed shrunken if you provide a larger image--though that will increase page load-time)</dd>
          <dt>image</dt><dd>A URL to a simple image.  If you do not provide other supported image links which can query parts of a large image efficiently, then the larger the image, the longer the page will take to load.  However, this should be acceptable for any image that's 1000 pixels x 1000 pixels or less.</dd>
          <dt>*-metadata</dt>
          <dd>
            A string to specify the width,height and optionally mime-type of a url.  For example "thumb-metadata=w100h20" means the image available at the "thumb=" url is 100 pixels wide and 20 pixels high.
          </dd>
          <dt>quicktime</dt><dd></dd>
          <dt>realplayer</dt><dd></dd>
          <dt>video{_pseudo,_rtmp}</dt><dd></dd>
          <dt>mp4</dt><dd></dd>
          <dt>flv_pseudo</dt><dd></dd>
          <dt>ogg</dt><dd></dd>
          <dt>image_fpx</dt><dd></dd>
          <dt></dt><dd></dd>
          <dt></dt><dd></dd>

        </dl>
      </p>
{% endif %}

{% endblock %}
