{% load assetlinks %}
<!--<div class="asset-links">
      <ul> -->
	{% for link in assets_to_link %}
	  <li><a class="assetsource assetlabel-{{link.label}}{%if link.primary %} asset-primary{%endif%}" 
		 {%if link.width %}  data-metadata="w{{link.width}}h{{link.height}}"{%endif%}
		 href="{{link|source_url:request }}"
                 {%ifequal link.label "url" %} title="{{link.asset.title|escape}}" {%endifequal%}
                 >
                 {%ifequal link.label "url" %}
                   View Complete Record in Archive
                 {%else%}
                   {{link.label}}
                 {%endifequal%}
               </a>
	     {%ifequal link.label "poster" %}
	     <img class="assetimage assetlabel-{{link.label}} assetimage-{{link.label}}" 
		  src="{{link|source_url:request }}" 
		  {%if link.width %}  width="{{link.width}}"   {%endif%}
		  {%if link.height %} height="{{link.height}}" {%endif%}
		  />
	     {%endifequal%}
	  </li>
	{% endfor %}
<!--   </ul>
    </div> -->
