{% load user_annotations tagging_tags helpful_tags %}

 {% for asset in assets %}
 <div id="record-{{asset.pk}}" class="record record-{{asset.primary.label}}">
  {% get_global_annotation on asset by space_viewer as annotation %}
  {% tags_for_object annotation as user_asset_tags %}

  <h2 class="asset_title asset-{{asset.primary.label}}">
    {% if editable %}
    <div class="actions">
      <a onclick="return ajaxDelete(this, 'record-{{asset.pk}}')"
	 href="{% url my-asset-notes space_viewer.username asset.pk %}?delete">
       <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove Asset and Clips from My Analysis"  />
      </a>
    </div>
    {% endif %}
   
    <!--a class="hs-control" href="#record-{{asset.pk}}-metadata"></a-->
    <a {% if page_in_edit_mode %}target="_blank"{% endif %}
       href="{{asset.get_absolute_url}}">{{asset.title}}</a>

	{% if page_in_edit_mode %}
	  <span class="citationTemplate"><img 
	      class="materialCitation" alt="" 
	      src="/site_media/img/vital3/icon_clipping.gif#annotation={{annotation.get_absolute_url}}annotations/{{annotation.id}}/&title={{asset.title}}&type={{asset.primary.label}}" 
	      width="24" height="15" border="0" 
	      onclick="addMaterialCitation(event)" 
	      title="{{asset.title}}" 
	      name="{{annotation.get_absolute_url}}"
	      {# draggable="true" ondragstart='event.dataTransfer.setData("Text", (event.target||event.srcElement).src);' #}
	      /></span>
	{% endif %}
  </h2>

  {%if asset.sources.thumb %}
  <img class="asset-thumb" src="{{asset.sources.thumb.url}}" />
  {% endif %}

  <div id="record-{{asset.pk}}-metadata" class="record-metadata">
    <ul class="record-metadata-list">
      <!--li><strong>Date added:</strong> {{asset.added|date}}</li-->
     <!-- <li>Last modified: {{asset.modified|date}}</li>-->
     {%if user_asset_tags %}
      <li class="annotation-global-tags"><strong>Personal Tags:</strong>
       {% for tag in user_asset_tags %}
        {% if not page_in_edit_mode %}
         {% replace_value of 'tag' with tag.name in request.GET as querystring %}
          <a href="{{querystring|qsify}}">{{tag}}</a>&nbsp;
         {% else %}
          {{tag}}
         {% endif %}
       {% endfor %}
       {% if editable %} 
	 <a href="/asset/{{asset.pk}}/">  <img src="/site_media/img/pencil.gif"  class="edit_icon" alt="Edit Tags"  /></a>
       {% endif %}
      </li><!--asset tags-->
      {% endif %}
      {% if annotation.body %} 
      <li class="annotation-global-body">
	<strong>Note:</strong> {{annotation.body}} 
	{% if editable %}  <a href="/asset/{{asset.pk}}/"><img src="/site_media/img/pencil.gif"  class="edit_icon" alt="Edit Note"  /></a> {% endif %}
      </li><!--asset tags-->
      {% endif %}


      {% get_annotations on asset by space_viewer as annotations %}

    {% if annotations.1 %}
    <li>
    <ul class="asset-clips">
    {% for annotation in annotations %}
      {% if not annotation.is_null %}
      <li>
	{%if annotation.body or annotation.tags %}
	<a class="hs-control" href="#annotation-{{annotation.pk}}"></a>
	{%endif%}

	{% if page_in_edit_mode %}
	  <span class="citationTemplate"><img 
	      class="materialCitation" alt="" 
	      src="/site_media/img/vital3/icon_clipping.gif#annotation={{annotation.get_absolute_url}}&title={{annotation.title}}&type={{asset.primary.label}}" 
	      width="24" height="15" border="0" 
	      onclick="addMaterialCitation(event)" 
	      title="{{annotation.title}}" 
	      name="{{annotation.get_absolute_url}}"
	      {# draggable="true" ondragstart='event.dataTransfer.setData("Text", (event.target||event.srcElement).src);' #}
	      /></span>
	{% endif %}

	<a {% if page_in_edit_mode %}target="_blank"{% endif %}
	  title="Last modified on {{annotation.modified|date}}"
	  href="{{annotation.get_absolute_url}}">{{annotation.title}}</a> 	    

	<span class="annotation-timecode">{{annotation.range_as_timecode}}</span>


	{%if annotation.body or annotation.tags %}	
	<div id="annotation-{{annotation.pk}}" class="hs-init-hide annotation-metadata-wrapper" >
	  {% if annotation.tags %} 	  
	  <div class="annotation-metadata-tags annotation-metadata"><strong>Tags:</strong>
	    {% for tag in annotation.tags_split %}
	      {% if not page_in_edit_mode %}
	        {% replace_value of 'tag' with tag in request.GET as querystring %}
	        <a href="{{querystring|qsify}}">{{tag}}</a>&nbsp;
              {% else %}
                  {{tag}}
	      {% endif %}
	    {% endfor %}
	  </div>
	  {% endif %}<!-- annotation.tags-->
	  {% if annotation.body %} 
	  <div class="annotation-metadata-body annotation-metadata"><strong>Note:</strong>
	    {{annotation.body}} 
	  </div>
	  {% endif %}<!--annotation.body -->
	</div>
	{% endif %}<!-- annotation.body or annotation.tags -->
	    <!--Crazy overloading of this table cell to include all metadata!!!-->
	    <div class="annotation-links">
	      <div class="annotation annotation{{annotation.id}}">
		<div class="annotation-title materialCitation"><h2>{{annotation.title}}</h2></div>
		<div class="annotation-data" data-begin="{{annotation.range1}}" data-end="{{annotation.range2}}" data-annotation='{{annotation.annotation_data|default_if_none:"{}"|escape}}'></div>
		<div class="asset-title">from <a href="{{annotation.asset.get_absolute_url}}">{{annotation.asset.title|escape}}</a></div>
		<div class="asset-links">
		  <ul>
                    {% with annotation.asset.source_set.all as assets_to_link %}
                      {% include "assetmgr/asset_links.html" %}
                    {% endwith %}
		  </ul>
		</div>
	      </div>
	    </div><!--end class="annotation-links" -->

      </li>
      {% endif %}
    {% endfor %}
    </ul><!--class="asset-clips"-->
    {% endif %}<!--if annotations.1-->

      
  </li>
</ul><!-- class="record-metadata-list" -->

  </div>



 </div>
{% endfor %}
