{% extends "base.html" %}

{% block title %} Source Media {% endblock %}

{% block js %}
    {{ block.super }}
      
    {% if newsrc %}
        <script type="text/javascript"> 
            jQuery(document).ready(function() {
                var msg = "The {{newsrc|escapejs}} source has been added to your course collection.";
                alert(msg);
            });
        </script>
    {% endif %}
    
{% endblock %}

{% block content %}
{{ block.super }}

{% with "help_browse_sources" as help_id %}
{% with "on" as default_help_state %}
                 
    <div id="external-archives" class="top-archive">
        <h2>Media Sources {% include "help/help_button.html" %}</h2>
        {% include "help/help_contentarea.html" %}
        
                    
          {% if can_upload %}
           
           <div id="upload_container">
            {% if upload_archive %}
            <div id="uploader">
            <a href="redirect/?url={{upload_archive.archive.url|urlencode}}" class="columnbutton media browse-button">{{upload_archive.title}}</a>
            </div>
            {% endif %}

            <h2>Upload Video</h2>            
            <p>To upload your own video for analysis, use the Mediathread Video Uploader.</p>
            
            </div>
         {% endif %}
         
        {% if archives %}
        <div id="archive_container" class="column-container media-column-container">  
        <h2>Instructor Recommendations</h2>
        {% for archive in archives %}
         <div id="archive-{{archive.id}}" class="archive">
                {% if space_viewer.is_staff %}
                    <div class="manage-archive">
                        <a class="manage-archive-link" href="{%url admin:assetmgr_asset_change archive.id %}">Manage</a>
                    </div>
                {% endif %}
     
                <a href="redirect/?url={{archive.archive.url|urlencode}}" class="archive-link">{{archive.title}}</a>
                <br />
                {% if archive.thumb %}
                   <a href="redirect/?url={{archive.archive.url|urlencode}}"><img src="{{archive.thumb.url}}" alt="thumbnail image" class="archive-link" />
                   </a>
                {% endif %}
                <div>
                    {{archive.metadata|urlize|linebreaks}}
                </div>
            </div>
        {%endfor%}
        <br class="visualclear" />
        </div>
         {% endif %}

{% endwith %}
{% endwith %}
{% endblock %}
