{% extends "base.html" %}

{% block title %} Source Media {% endblock %}

{% block js %}
    {{ block.super }}
      
    {% if newsrc %}
        <script type="text/javascript"> 
            jQuery(document).ready(function() {
                var msg = "The {{newsrc|escapejs}} source has been added to your course collection.";
                alert(msg);
            });
        </script>
    {% endif %}
    
{% endblock %}

{% block content %}
<h1>Source Media</h1>

        {%if is_faculty%}
           
                <h4>Instructor:</h4>
                <p>You can add suggested Media Sources to this page, as well as allow students to upload their own videos here, both through the <a href="/dashboard/">Instructor Dashboard</a>.  If you do not add any Sources, students will see only the Bookmarklet instructions.
            </p>
            
        {% endif %}
        
            <h4>On this page, your instructor has recommended Media Sources for use in this class.</h4>  
    {{ block.super }}
    
{%if archives or is_faculty %}



    <div id="import_instructions" class="top-archive">
     
    <h2>
    <!--
    <a class="metadata-selector metadata-selector-open" href="#instructions-body" onclick="jQuery(this).toggleClass('metadata-selector-closed metadata-selector-open'); jQuery('#instructions-body').toggle(); return false;"></a>-->
    
    Instructions</h2>
    
    <div id="instructions-body">
    
            <div class="import_class bookmarklet_instructions">
            {% with "help_bookmarklet" as help_id %}
            {% with "off" as default_help_state %}
            <h4>Bookmarklet Installation <!--{% include "help/help_button.html" %}--></h4>
          {% include "help/help_contentarea.html" %}
            
            <div id="browser-instructions" class="browser-specific-instructions">
                <ol id="firefox" class="browser-instruction"><h5>Firefox:</h5>
                  <li>In the <b>View</b> menu, show the "Bookmarks"  toolbar.</li><br />
                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
                </ol>
                <ol id="ie" class="browser-instruction">
                  <h5> Internet Explorer:</h5>
                  <li>Right-click on this link:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li><br />
                  <li>and choose <b>Add to Favorites</b></li>
                </ol>
                <ol id="safari" class="browser-instruction">
                  <h5>Safari:</h5>
                  <li>In the <b>View</b> menu, show the "Bookmarks Bar".</li><br />
                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
                </ol>
                <ol id="chrome" class="browser-instruction">
                  <h5>Google Chrome:</h5>
                  <li>Under the <b>Tools</b> menu (the Wrench), show the "Bookmarks bar".</li><br />
                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
                  {% if EXPERIMENTAL %}
                  <li>EXPERIMENTAL: Alternatively, you can try our <a href="/uploads/mediathread.crx">Google Chrome MediaThread Extension</a></li>
                  {% endif %}
                </ol>
                <script type="text/javascript">
                    var u = navigator.userAgent;
                    var i = jQuery('browser-instructions');
                    if (/Chrome/.test(u)) {
                        jQuery('.browser-instruction').hide();
                        jQuery('#chrome').show();
                    } else if (/Safari/.test(u)) {
                        jQuery('.browser-instruction').hide();
                        jQuery('#safari').show();
                    } else if (/MSIE/.test(u)) {
                        jQuery('.browser-instruction').hide();
                        jQuery('#ie').show();
                    } else if (/Gecko/.test(u)) {
                        jQuery('.browser-instruction').hide();
                        jQuery('#firefox').show();
                    } 
                </script>

            </div>
            {% endwith %}{% endwith %}
        </div>
        
            <ol><h5><li>Install the Mediathread Bookmarklet</h5>
            <p>The Mediathread Bookmarklet is a button you add to your browser's Bookmarks Toolbar to allow you to easily import items for analysis in Mediathread.</p></li>
            <h5><li>Click the Bookmarklet to Import Media</h5>
            <p>Once installed, clicking the Bookmarklet imports media from any web page containing Mediathread-friendly items.</p>
            </li>
            </ol>         
     </div>     
          
   </div>
    </div>
    
 
    

        
    
    <div id="external-archives" class="top-archive">
        <h2>Media Sources</h2>
        
          {% if can_upload %}
           
           <div id="upload_container">
            {% if upload_archive %}
            <div id="uploader">
            <a href="redirect/?url={{upload_archive.archive.url|urlencode}}" class="columnbutton media browse-button">{{upload_archive.title}}</a>
            </div>
            {% endif %}

            <h2>Upload Video</h2>            
            <p>To upload your own video for analysis, use the Mediathread Video Uploader.</p>
            
            </div>
         {% endif %}
         
        {% if archives %}
        <div id="archive_container" class="column-container media-column-container">  
        <h2>Instructor Recommendations</h2>
        {% for archive in archives %}
         <div id="archive-{{archive.id}}" class="archive">
                {% if space_viewer.is_staff %}
                    <div class="manage-archive">
                        <a class="manage-archive-link" href="{%url admin:assetmgr_asset_change archive.id %}">Manage</a>
                    </div>
                {% endif %}
     
                <a href="redirect/?url={{archive.archive.url|urlencode}}" class="archive-link">{{archive.title}}</a>
                <br />
                {% if archive.thumb %}
                   <a href="redirect/?url={{archive.archive.url|urlencode}}"><img src="{{archive.thumb.url}}" alt="thumbnail image" class="archive-link" />
                   </a>
                {% endif %}
                <div>
                    {{archive.metadata|urlize|linebreaks}}
                </div>
            </div>
        {%endfor%}
        <br class="visualclear" />
        </div>
         {% endif %}

{%endif%}

{% endblock %}
