{% extends "base.html" %}

{% block title %}
Explore Collections
{% endblock %}

{% block css %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
{%if archives or is_faculty %}
    <div id="import_instructions" class="top-archive">
      <h2>Instructions</h2>
      
      {%if is_faculty%}
      <p>
        <b>As an instructor,</b> you can control what appears on this page. To add archives or assets, go to the <a href="/save/">Save page</a>.  If you do not add any archives, students will see the list of assets you have collected in your My Analysis tab and will not be offered the Bookmarklet.
      </p>
      <p><b>Students will see:</b></p>
      {%endif%}
      <p>
        Your instructor has designated the following collections 
        for your use in research associated with this class.
        Items from these sources may be:
      </p>

      <ul>
        <li>imported into this analysis environment</li>
        <li>saved to your "My Analysis" space</li>
        <li>annotated and clipped</li>
        <li>embedded in your assignments.</li>
      </ul>
    
      <p>
	<div class="import_class bookmarklet_import">
          <h3>Bookmarklet Import:</h3>
          <p>
            For all archives, install and use our browser "bookmarklet" to import to and analyze assets in this environment.
          </p>
           <h4>Bookmarklet Installation</h4>
          <div id="browser-instructions" class="browser-specific-instructions">
            <ol id="firefox" class="browser-instruction"><h5>Firefox:</h5>
              
              <li>In the <b>View</b> menu, show the "Bookmarks"  toolbar.</li><br />
              <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
            </ol>
            <ol id="ie" class="browser-instruction">
              <h5> Internet Explorer:</h5>
              <li>Right-click on this link:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li><br />
              <li>and choose <b>Add to Favorites</b></li>
            </ol>
            
            
            <ol id="safari" class="browser-instruction">
              <h5>Safari:</h5>
              <li>In the <b>View</b> menu, show the "Bookmarks Bar".</li><br />
              <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
            </ol>
            
            <ol id="chrome" class="browser-instruction">
              <h5>Google Chrome:</h5>
              <li>Under the <b>Tools</b> menu (the Wrench), show the "Bookmarks bar".</li><br />
              <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href="{% include "assetmgr/bookmarklet.js" %}">Analyze w/Mediathread</a></li>
              {% if EXPERIMENTAL %}
              <li>EXPERIMENTAL: Alternatively, you can try our <a href="/uploads/mediathread.crx">Google Chrome MediaThread Extension</a></li>
              {% endif %}
            </ol>
            <script type="text/javascript">
              var u = navigator.userAgent;
              var i = $('browser-instructions');
              if (/Chrome/.test(u)) {
                 $('.browser-instruction').hide();
                 $('#chrome').show();
              } else if (/Safari/.test(u)) {
                 $('.browser-instruction').hide();
                 $('#safari').show();
              } else if (/MSIE/.test(u)) {
                 $('.browser-instruction').hide();
                 $('#ie').show();
              } else if (/Gecko/.test(u)) {
                 $('.browser-instruction').hide();
                 $('#firefox').show();
              } 
            </script>

<h4>Bookmarklet Use:</h4>
<p>Click the bookmarklet link from any asset page of any supported site to import the item to this environment. You can then analyze the item and/or save it to your "My Analysis" space.</p>
         
          </div>
          <!--Confused? More Information here-->
	
          <h4>What are Bookmarklets?</h4>
          <p>A bookmarklet is a tiny program (a JavaScript application) contained 
             in a bookmark which can be saved and used the same way you use normal bookmarks. 
             Bookmarklets run on the web page your browser is currently pointed at.
          </p>
          <p>For more information see the <a href="http://en.wikipedia.org/wiki/Bookmarklet">Bookmarklet Wikipedia article</a>
          </p>
	

        </div>
    </div>




    <div id="external-archives" class="top-archive">
    <h2>Collections</h2>
    {%for archive in archives %}
       <div id="archive-{{archive.id}}" class="archive">
         {% if space_viewer.is_staff %}
         <div class="manage-archive">
           <a class="manage-archive-link" href="{%url admin:assetmgr_asset_change archive.id %}">Manage Title/Description</a>
           edit:
           <a class="manage-archive-link" href="{%url admin:assetmgr_source_change archive.sources.archive.id %}">link</a>
           {%if archive.sources.thumb%}
              <a class="manage-archive-link" href="{%url admin:assetmgr_source_change archive.sources.thumb.id %}">thumb</a>           
              {% else %}
              <a class="manage-archive-link" href="{%url admin:assetmgr_source_add %}">thumb</a>                    
           {% endif %}           
         </div>
         {% endif %}
     
	 <a href="{{archive.sources.archive.url}}" class="archive-link">{{archive.title}}</a>
         <br />
         {%if archive.sources.thumb%}
           <a href="{{archive.sources.archive.url}}"><img src="{{archive.sources.thumb.url}}" alt="thumbnail image" class="archive-link" />
         </a>
         {% endif %}

	 <p>
           {# is description a list or string? #}
           {% if archive.metadata.description.lower %}           
             {{archive.metadata.description|urlize|linebreaks}}
           {% else %}
             {{archive.metadata.description.0|urlize|linebreaks}}
           {% endif %}
	 </p>
       </div>
    {%endfor%}
</div>
{%else %}{# archives or is_faculty #}
   {%if faculty_assets %}
       <div id="instructor-items" class="archive">
         
	 <h2>Instructor's Collected Items</h2>
	 <ol>
	   {% for a in faculty_assets %}
	   <li><a href="{{a.get_absolute_url}}">{{a.title}}</a></li>
	   {%endfor%}
	 </ol>
       
       </div>
   {%endif%}
{%endif%}

{% endblock %}
