{% extends "base.html" %}

<title> {% block title %}
Explore Collections
{% endblock %}
</title>

{% block content %}
    {{ block.super }}
    <h1>Explore Collections</h1>
{%if request.course.asset_set.archives %}
    <div id="external-archives">
    <h2>External Archives</h2>
    <p>Browse items from the collection(s) listed below. <br />To add an item to your "My Analysis" space, click its <img src="/site_media/img/analyze_this.png" alt="" style="vertical-align: bottom"> button.</p>
    <br /> 
    {%for archive in archives %}
       <div class="archive">
	 <h2>{{archive.title}}</h2>
	 <img src="{{archive.sources.thumb.url}}" alt="thumbnail image" height="82" />
	 <br /><br />
	 <p>
	   {{archive.metadata.description}}
	   <a href="{{archive.sources.archive.url}}" target="blank">Go Now!</a><img src="/site_media/img/external.gif" alt="(External Link)" width="15" height="15" />
	 </p>
       </div>
    {%endfor%}
</div>
{%endif%}


       <div id="instructor-items" class="archive">
         
	 <h2>Instructor Items</h2>
	 <ol>
	   {% for a in faculty_assets %}
	   <li><a href="{{a.get_absolute_url}}">{{a.title}}</a></li>
	   {%endfor%}
	 </ol>
       
       </div>
{% endblock %}
