<!-- States
    - Viewing asset that is not yet saved (mock)
    - Viewing asset, not editable by me
    - Viewing asset, no annotations selected
    - Viewing annotation, editable by me
    - Viewing annotation, not editable by me
-->

{{#>>asset-annotations}}
<div id="asset-details-annotations" class="tab-box">
    <div id="asset-details-annotations-actions">
        <a class="annotation-actions-add" href="javascript:AnnotationList.openAddAnnotationForm()">New Annotation</a>
    </div>
    
    <br />

    {{#>>annotation-current}}
    <div id="asset-details-annotations-current">
        {{#annotation}}
          <form name="edit-annotation-form">
          {{#editable?}}<!-- if editable -->
            <label for="annotation-title">Title:</label>
            <input type="text" id="id_annotation-title" name="annotation-title" value="{{metadata.title}}" />
            <label for="annotation-tags">Tags:</label>
            <input type="text" id="id_annotation-tags" name="annotation-tags" value="{{metadata.tags}}"/>
            <label for="annotation-body">Note:</label>
            <textarea id="id_annotation-body" rows="7" cols="51" name="annotation-body">{{metadata.body}}</textarea>
          {{/editable?}}

          {{^editable}}<!-- if NOT editable -->
            <h4>{{metadata.title}}</h4>
            <div><b>Author:</b> <a href="{{your-space?url(metadata.author.id)}}">{{metadata.author_name}}</a></div>
            <div><label for="">Tags:</label> {{metadata.tags}}</div>
            <div><label for="">Note:</label> {{metadata.body}}</div>
          {{/editable}}

          {{#id?}} <!-- Editing existing annotation -->
            <input type="hidden" name="annotation-id" value="{{id}}" />
            {{^editable}} <!-- Current user not authorized to edit this annotation -->
                <input type="button" name="Copy" value="copy" onclick="javascript:AnnotationList.copyAnnotation(this)" />
            {{/editable}}
          {{/id?}}
          {{#editable?}}
              <input type="button" name="Save" value="save" onclick="javascript:AnnotationList.saveAnnotation(this)" />
              <input type="button" name="Cancel" value="cancel" onclick="javascript:AnnotationList.cancelAnnotation(this)" />
          {{/editable?}}
          </form>
        {{/annotation}}
    </div>
    {{/>>annotation-current}}
    
    <br />
    
    {{#>>annotations-organized}}
   
    <div id="annotations-organized"> <h2>Saved Annotations</h2>
      <div class="annotation-list-controls">
        <form name="annotation-list-filter">
          <div class="float-right"><input type="checkbox" name="showall" />Show all on asset</div>Group by:
          <select name="groupby"><option>author</option><option>tag</option></select>
        </form>
      </div></div>
      {{#>>annotation-list}}
      <ul id="asset-details-annotations-list">
        {{#annotation_list}}
        <li class="annotation-group">
          {{#category}}
           <h4><div class="color-box" style="background-color:{{color}}"></div>{{title}}</h4>
           <ul class="annotation-group-sublist">
             {{#annotations}}
               {{#>>annotation-listitem}}
                 <li class="annotation-listitem-{{id}} 
                            annotation-listitem annotation-{{asset.type}} 
                            {{^annotation}}annotation-whole{{/annotation}}
                            {{#active_annotation?}}annotation-active{{/active_annotation?}}" 
                     data-id="{{id}}">
                   <a class="{{#editable}}annotation-editable{{/editable}}" href="{{annotation-form?url(asset.id,id)}}">{{metadata.title?default(-Untitled-)}}</a>
                   {{^annotation}}(whole item){{/annotation}}
                   {{#active_annotation?}}
                        <a class="annotation-asset-link" href="{{asset-view?url(asset.id)}}">clear</a>
                   {{/active_annotation?}} 
                 </li>
               {{/>>annotation-listitem}}
             {{/annotations}}
           </ul>
          {{/category}}
        </li>
        {{/annotation_list}}
      </ul>
      {{/>>annotation-list}}
    </div>
    {{/>>annotations-organized}}
</div>
{{/>>asset-annotations}}