<!-- States
    - Viewing asset that is not yet saved (mock)
    - Viewing asset, not editable by me
    - Viewing asset, no annotations selected
    - Viewing annotation, editable by me
    - Viewing annotation, not editable by me
-->

{{#>>asset-annotations}}
<div id="asset-details-annotations">
    <div id="asset-details-annotations-actions">
        <a class="annotation-actions-add" href="javascript:AnnotationList.newAnnotation()">New Annotation</a>
    </div>
    
    <br />
    
    <form name="edit-annotation-form" onsubmit="return false;">
    
        
        
        {{#>>annotation-current}}
        <div id="asset-details-annotations-current">
            <div id="clipform-display" name="clipform-display"></div>
            
            <!-- Used by clipform. @todo figure out how this all fits in with the new storage system -->
            <!-- For both videos and images. -->
            <div id="original-annotation" class="annotation-data" 
                 data-begin="{{range1}}" 
                 data-end="{{range2}}"
                 {{#annotation_data?}}
                    data-annotation="{{annotation_data}}"
                 {{/annotation_data?}}
                 {{^annotation_data}}
                    data-annotation="{}"
                 {{/annotation_data}}> 
            </div>
            
            {{#annotation}}
                {{#editable?}}<!-- if editable -->
                    <label for="annotation-title">Title:</label>
                    <input type="text" id="id_annotation-title" name="annotation-title" value="{{metadata.title}}" />
                    <label for="annotation-tags">Tags:</label>
                    <input type="text" id="id_annotation-tags" name="annotation-tags" value="{{metadata.tags}}"/>
                    <label for="annotation-body">Note:</label>
                    <textarea id="id_annotation-body" rows="7" cols="51" name="annotation-body">{{metadata.body}}</textarea>
                    
                    <input type="hidden" name="annotation-range1" value="{{range1}}" />
                    <input type="hidden" name="annotation-range2" value="{{range2}}" />
                    <input type="hidden" name="annotation-annotation_data" value="{{annotation_data}}" />
                    
                    <input type="button" name="Save" value="save" onclick="javascript:AnnotationList.saveAnnotation(this)" />
                    <input type="button" name="Cancel" value="cancel" onclick="javascript:AnnotationList.cancelAnnotation()" />
                {{/editable?}}
    
                {{^editable}}<!-- if NOT editable -->
                    <h4>{{metadata.title}}</h4>
                    <div><b>Author:</b> <a href="{{your-space?url(metadata.author.id)}}">{{metadata.author_name}}</a></div>
                    <div><label for="">Tags:</label> {{metadata.tags}}</div>
                    <div><label for="">Note:</label> {{metadata.body}}</div>
                    <input type="button" name="Copy" value="copy" onclick="javascript:AnnotationList.copyAnnotation(this)" />
                {{/editable}}
    
                {{#id?}} <!-- Editing existing annotation -->
                    <input type="hidden" name="annotation-id" value="{{id}}" />
                {{/id?}}
            {{/annotation}}
        </div>
        {{/>>annotation-current}} 
    </form>
    
    <br />
    
    {{#>>annotations-organized}}
   
    <div id="annotations-organized"> 
      <h2>Saved Annotations</h2>
      <div class="annotation-list-controls">
        <form name="annotation-list-filter">
          <div class="float-right"><input type="checkbox" name="showall" />Show all on asset</div>Group by:
          <select name="groupby"><option>author</option><option>tag</option></select>
        </form>
      </div>
      {{#>>annotation-list}}
      <ul id="asset-details-annotations-list">
        {{#annotation_list}}
        <li class="annotation-group">
          {{#category}}
           <h4><div class="color-box" style="background-color:{{color}}"></div>{{title}}</h4>
           <ul class="annotation-group-sublist">
             {{#annotations}}
               {{#>>annotation-listitem}}
                 <li class="annotation-listitem-{{id}} 
                            annotation-listitem annotation-{{asset.type}} 
                            {{^annotation}}annotation-whole{{/annotation}}
                            {{#active_annotation?}}annotation-active{{/active_annotation?}}" 
                     data-id="{{id}}">
                   <a class="{{#editable}}annotation-editable{{/editable}}" href="javascript:AnnotationList.showAnnotation({{id}})">{{metadata.title?default(-Untitled-)}}</a>
                   {{^annotation}}(whole item){{/annotation}}
                 </li>
               {{/>>annotation-listitem}}
             {{/annotations}}
           </ul>
          {{/category}}
        </li>
        {{/annotation_list}}
      </ul>
      {{/>>annotation-list}}
    </div>
    {{/>>annotations-organized}}
</div>
{{/>>asset-annotations}}