    <td class="panhandle-left-container">
        <div class="panhandle-left asset-workspace"></div>
    </td>
    
    <td class="panhandle-stripe asset-workspace">
        <div class="label">{{panel_state_label}}</div>
    </td>

    <td id="asset-workspace-panel-container" class="panel-container {{panel_state}} asset-workspace parent">
        <div class="panel asset-workspace">
            <table class="panel-subcontainer">
                <tr class="asset-workspace-content-row">
                
                    <td class="panel-container open collection subpanel fixed">
                        <div class="collection-materials" style="display: block">
                            <h2>
                                <div class="button-form inline">
                                    <a class="columnbutton media browse-button" href="/explore">Source Media</a>
                                </div>
                                Collections
                            </h2>
                            <div id="{{context.project.id}}-collection_table" class="collection_table"></div>
                        </div>
                    </td>
                    
                    <td class="panel-container open collection subpanel fluid">
                        <div class="asset-view-published" style="display: block">
                            <div id="asset-workspace-videoclipbox" class="videoclipbox" style="display: none;">
                                <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                    <div class="asset-display"></div>
                                    <div class="clipstrip-display"></div>
                                </div>    
                            </div>
                        </div>
                    </td>
                    
                    <td class="panel-container open collection subpanel fixed">
                        <div id="asset-details-annotations"></div>
                    </td>
                    
                </tr>
            </table>
        </div>
    </td>
    
    <td class="pantab-container">
        <div class="pantab asset-workspace {{panel_state}}"></div>
    </td>