<div id="asset-global-annotation"
  {{#annotation.editing}}
    style="display: none"
  {{/annotation.editing}}>
</div>

<div id="annotation-current"></div>

<div id="annotations-organized-container">
  <div id="annotations-organized"
    {{#annotation.editing}}
      style="display: none"
    {{/annotation.editing}}>

    {{#asset-current}}
        {{^readOnly}}

        <a class="btn btn-default btn-sm create-selection right"
            title="Create Selection"
            onclick="return annotationList.newAnnotation();">
            <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_addselection.png" />
            Create</a>
        {{/readOnly}}

        <div class="btn-group right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle filter-selections"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_view.png" /> View <span class="caret"></span>
            </button>
            <div id="annotation-filter-menu" class="dropdown-menu dropdown-menu-right">
                <form name="annotation-list-filter">
                    <div class="annotation-filter-groupby">
                        <div><b>Group selections by</b></div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="groupby" value="author" />author
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="groupby" value="tag" />tag
                            </label>
                        </div>
                        <hr />
                    </div>
                    <label>
                        <input type="checkbox" name="showall" />
                            Display all selections
                    </label>
                    <div class="helptext">This option shows all selections graphically on the {{media_type_label}} to the left.</div>
                </form>
            </div>
        </div>

        <h2>
            {{^readOnly}}Selections{{/readOnly}}
            {{#readOnly}}Responses{{/readOnly}}
        </h2>
        {{^annotations}}
            {{^readOnly}}
                <center>
                <br />
                <div>You have no selections on this item.</div>
                <br />

                <a class="btn btn-default btn-sm create-selection"
                  onclick="return annotationList.newAnnotation();">
                  <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_addselection.png"
                  alt="Create Selection"></img>
                  Create a selection
                </a>
                </center>
            {{/readOnly}}
        {{/annotations}}
        {{#annotations.length}}
            <a style="display: none"
              class="btn btn-default create-selection"
              onclick="return annotationList.newAnnotation();">
              <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_addselection.png"
              alt="Create Selection"></img>
              Create Selection
            </a>
        {{/annotations.length}}
    {{/asset-current}}

    <ul id="asset-details-annotations-list"></ul>
  </div>
</div>
