<div id="asset-global-annotation"
  {{#annotation.editing}}
    style="display: none"
  {{/annotation.editing}}>

  {{#asset-current}}
    <h2>Item
      <div class="actions">
        {{#global_annotation.id}}
          <input type="image" title="Remove item from collection"
          onclick="return annotationList.deleteItem(event, this, {{id}});"
          alt="Delete" src="/media/img/icons/meth_delete.png" />
        {{/global_annotation.id}}

        <input type="image" title="Edit item"
        onclick="return annotationList.editItem(this);"
        alt="Edit" src="/media/img/icons/meth_edit.png" />
      </div>
    </h2>

    <div id="asset-header">
      <table>
        <tr>
          {{#thumb_url}}
            <td class="thumbnail">
              <img src="{{thumb_url}}" alt="Item Thumbnail" />
            </td>
          {{/thumb_url}}
          <td>
            <div class="global-annotation-analysis">
              {{^global_annotation_analysis}}
                <center>
                  <div>You have no notes or tags for this item.</div>
                  <br />
                  <a class="btn-primary edit-item"
                    onclick="return annotationList.editItem(this);">
                    <img src="/media/img/icons/meth_edit.png"
                    alt="Edit this item"></img>
                    Edit this item
                  </a>
                </center>
                {{/global_annotation_analysis}}

                {{#global_annotation.metadata.body}}
                  <div class="meta">
                    <label>Notes</label>
                    <div class="global-annotation-notes">
                      {{global_annotation.metadata.body}}
                    </div>
                  </div>
                {{/global_annotation.metadata.body}}
          </td>
        </tr>
      </table>

      {{#global_annotation.metadata.tags}}
        <div class="meta global-annotation-tags">
          <label>Tags: </label>
          {{#global_annotation.metadata.tags}}
            {{name}}{{^last}}, {{/last}}
          {{/global_annotation.metadata.tags}}
        </div>
          {{/global_annotation.metadata.tags}}

          {{#global_annotation.vocabulary}}
            {{#global_annotation.vocabulary}}
              <div class="meta">
                <label>{{display_name}}: </label>
                {{#terms}}
                  {{display_name}}
                {{/terms}}
              </div>
            {{/global_annotation.vocabulary}}
            {{/global_annotation.vocabulary}}
            </div>
  {{/asset-current}}

  <form id="edit-global-annotation-form" method="post"
    {{#asset-current.global_annotation.id}}
      action="/asset/save/{{asset-current.id}}/annotations/{{asset-current.global_annotation.id}}/"
    {{/asset-current.global_annotation.id}}

    {{^asset-current.global_annotation.id}}
      action="/asset/create/{{asset-current.id}}/global/"
    {{/asset-current.global_annotation.id}}
    style="display: none">

    {{#asset-current.editable_title}}
      <div>
        <label>Title</label>
        <div>
          <input data-label="Title" type="text" name="asset-title"
          value="{{asset-current.title}}"/>
        </div>
      </div>
    {{/asset-current.editable_title}}

    {{#vocabulary}}
      <div>
        <label>{{display_name}}</label>
        <div>
          <select class="vocabulary"
            name="vocabulary-{{id}}"
            data-placeholder="select {{display_name?lower()}}"
            multiple="multiple">
            {{#term_set}}
              <option value="{{id}}">{{display_name}}</option>
            {{/term_set}}
          </select>
        </div>
      </div>
      <br />
    {{/vocabulary}}

    {{#asset-current}}
      <div>
        <label>Tags</label>
        <div>
          <input data-label="Tags" class="global-annotation-tags"
          type="text"
          name="annotation-tags"
          data-placeholder="select or create tags"
          value="{{#global_annotation.metadata.tags}}{{name}}{{^last}}, {{/last}}{{/global_annotation.metadata.tags}}"
            id="id_annotation-tags"></input>
            <div class="helptext">Use commas to separate tags. Example: tag1, tag two, tag3</div>
        </div>
      </div>
      <br />
      <div>
        <label>Notes</label>
        <div>
          <textarea data-label="Notes"
            id="id_annotation-body" rows="7" cols="51"
            name="annotation-body" value="{{global_annotation.metadata.body}}">{{global_annotation.metadata.body}}</textarea>
        </div>
      </div>
    {{/asset-current}}

    <input class="btn-primary right"
    type="submit" name="submit_notes" value="Save"
    onclick="return annotationList.saveItem(this)"></input>

    <input class="btn-primary right"
    type="submit" name="submit_notes_cancel" value="Cancel"
    onclick="return annotationList.cancelItem(this)"></input>
    <div class="visualclear"></div>
  </form>
    </div>

    <div id="annotation-current"></div>

<div id="annotations-organized-container">
  <div id="annotations-organized"
    {{#annotation.editing}}
      style="display: none"
    {{/annotation.editing}}>


    {{#asset-current}}
      {{#annotations}}

        <a class="btn-primary create-selection right"
          title="Create Selection"
          onclick="return annotationList.newAnnotation();">
          <img src="/media/img/icons/meth_addselection.png" />
          Create</a>

          <a class="btn-primary filter-selections right"
            onclick='return jQuery("#annotation-filter-menu").toggle();'>
            <img src="/media/img/icons/meth_view.png" />
            View
          </a>
          <div id="annotation-filter-menu" style="display: none">
            <form name="annotation-list-filter">
              <div>
                <div>Group selections by</div>
                <select name="groupby">
                  <option>author</option>
                  <option>tag</option>
                </select>
              </div>
              <br />
              <div>
                <input type="checkbox" name="showall" />
                Display all selections
                <div class="helptext">This option shows all selections graphically on the {{media_type_label}} to the left.</div>
              </div>
            </form>
          </div>

      {{/annotations}}
      <h2>
        Selections
      </h2>
      {{^annotations}}
        <center>
          <br />
          <div>You have no selections on this item.</div>
          <br />

          <a class="btn-primary create-selection"
            onclick="return annotationList.newAnnotation();">
            <img src="/media/img/icons/meth_addselection.png"
            alt="Create Selection"></img>
            Create a selection
          </a>
        </center>
      {{/annotations}}

      {{#annotations}}
        <a style="display: none"
          class="btn-primary create-selection"
          onclick="return annotationList.newAnnotation();">
          <img src="/media/img/icons/meth_addselection.png"
          alt="Create Selection"></img>
          Create Selection
        </a>
      {{/annotations}}
    {{/asset-current}}

    <ul id="asset-details-annotations-list"></ul>
  </div>
</div>
