{{#>>assets}}
<div id="asset_table" class="asset-table">
    <div class="filter-widget">
        <div class="switcher collection-chooser" tabindex="1">
            <span class="switcher-prefix">Owner: </span>
                <a class="switcher-top closed">
                    <span class="down-arrow" tabindex="3"></span>
                    <span class="title" id="switcher-title">
                        {{{selected_label}}}
                    </span>
                </a>
            </span>
            foo
            <ul class="switcher-options" style="right: -50px !important;">
                {{#show_my_items?}}
                <li>
                    <ul class="switcher-sub" id="switcher-extras">
                        <li class="choice_my_items" id="choice_my_items">
                            <a href="" onclick="return CollectionList.selectOwner('{{user.username}}')">&mdash; Me &mdash;</a>
                        </li>
                    </ul>
                </li>
                {{/show_my_items?}}
                <li>
                    <ul class="scroll switcher-sub">
                        {{#show_all_items?}}
                        <li class="choice_all_items" id="choice_all_items">
                            <a href="" onclick="return CollectionList.selectOwner(null);">&mdash; All Class Members &mdash;</a>
                        </li>
                        {{/show_all_items?}}
                        {{#owners}}                            
                            <li><a href="" onclick="return CollectionList.selectOwner('{{username}}');">{{public_name}}</a></li>
                        {{/owners}}
                    </ul>
                </li>
            </ul>
        </div> <!-- end Class Member switcher -->
        
        <div class="switcher collection-filter" id="switcher-collection-filter" tabindex="2">
            <a class="switcher-top closed">
                <span class="down-arrow" tabindex="4"></span>
                <span class="title">Filters<span 
                    {{#active_filters?}}
                        class="filter-on">: ON
                    {{/active_filters?}}
                    {{^active_filters}}
                        class="filter-off">
                    {{/active_filters}}
                    </span>
                </span>
            </a>
            <ul class="switcher-options">
                {{#active_filters?}}
                <li>
                    <ul class="switcher-sub switcher-active-filters">
                        <li><a class="remove" href="" onclick="CollectionList.clearFilter(null)">Clear All Filters</a></li>
                        {{#active_filters}}  
                        <li>
                            <a class="remove" onclick="CollectionList.clearFilter('{{value}}')">&nbsp;</a>
                            {{filter}}: {{display_value}}
                        </li>
                        {{/active_filters}}
                    </ul>
                </li>
                {{/active_filters?}}
                
                {{#dates?}}
                <li>
                    <h3>Date Modified</h3>
                    <p class="switcher-sub">
                        {{#dates}}
                            <a href="" onclick="CollectionList.filter('{{value}}')">{{label}}</a>
                        {{/dates}}
                    </p>
                </li>
                {{/dates?}}
        
                <li>
                    <h3>Tags</h3>
                    <p class="switcher-sub">
                        {{^tags}}
                            No tags
                        {{/tags}}
                        {{#tags}}
                            <a href="" onclick="CollectionList.filter('{{name}}')" >{{name}}</a>
                        {{/tags}}
                    </p>
                </li>
            </ul>
        </div>
        
        <div class="visualclear"></div>
    </div> <!-- end filter widget -->
    
    {{#>>assets-by-owner}}
    
    {{/>>assets-by-owner}}    
</div> <!-- end asset_table -->
{{/>>assets}}