{{#annotation_list}}
  <li class="annotation-group">
    {{#category}}
      <div class="group-header">
          <h4>
            <div class="color-box" style="background-color:{{color}}"></div>
            <span class="group-title">{{title}}</span>
          </h4>
      </div>
      <div class="accordion">
        {{#annotations}}
          <h3 class="annotation-header" id="accordion-{{id}}"
            data-id="{{id}}" data-username="{{author.username}}">
            {{#editable}}
                <div class="glyphicon glyphicon-pencil edit annotation-listitem-icon"
                    onclick="return annotationList.editAnnotation(this);"
                    aria-label="Edit Selection" title="Edit Selection"
                    aria-hidden="true"></div>
                <div class="glyphicon glyphicon-trash delete annotation-listitem-icon"
                    onclick="return annotationList.deleteAnnotation(event, this, {{id}});"
                    aria-label="Delete Selection" title="Delete Selection"
                    aria-hidden="true"></div>
            {{/editable}}

            {{^editable}}
              <input name="copy-selection-icon" style="display: none"
              type="image" title="Copy Selection"
              onclick="return annotationList.copyAnnotation(this);"
              alt="Copy" src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_copy.png"
              class="annotation-listitem-icon" />
            {{/editable}}

            <a href="#">
                {{^metadata.title}}
                    -Untitled-
                {{/metadata.title}}
                {{#metadata.title}}
                    {{metadata.title}}
                    {{#annotation.startCode}}
                        <br />
                        <span class="small">{{annotation.startCode}} - {{annotation.endCode}}</span>
                    {{/annotation.startCode}}
                {{/metadata.title}}
            </a>
          </h3>
          <div>
            <div id="annotation-body-{{id}}">
              <div class="meta">
                {{#annotation.startCode}}
                  <div id="clipform-tools" class="annotation-timecode">
                    <div class="left">
                      <label for="">Time code:</label>
                      <span>{{annotation.startCode}} - {{annotation.endCode}}</span>
                    </div>

                    <input type="image" title="Play Clip"
                    class="regButton videoplay left"
                    alt="Play Clip"
                    src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_video_play.png" />
                  </div>
                  <div class="visualclear"></div>
                {{/annotation.startCode}}
                <div><label for="">Author:</label> <a href="{{home-space?url(author.username)}}">{{author.public_name}}</a></div>
                {{#metadata.tags.length}}
                  <div>
                    <label for="">Tags:</label>
                    {{#metadata.tags}}{{name}}{{^last}}, {{/last}}{{/metadata.tags}}</div>
                {{/metadata.tags.length}}

                {{#metadata.body}}
                  <div>
                    <label for="">Note:</label> {{metadata.body}}
                  </div>
                {{/metadata.body}}

                {{#vocabulary}}
                  <div>
                    <label>{{display_name}}: </label>
                    {{#terms}}
                      {{display_name}}
                    {{/terms}}
                  </div>
                {{/vocabulary}}
              </div>
            </div>
          </div>
        {{/annotations}}
      </div>
    {{/category}}
  </li>
{{/annotation_list}}
