<div id="asset-global-annotation"
  {{#annotation.editing}}
    style="display: none"
  {{/annotation.editing}}>
</div>

<div id="annotation-current"></div>

<div id="annotations-organized-container">
  <div id="annotations-organized"
    {{#annotation.editing}}
      style="display: none"
    {{/annotation.editing}}>


    {{#asset-current}}
      {{#annotations}}

        <a class="btn-primary create-selection right"
          title="Create Selection"
          onclick="return annotationList.newAnnotation();">
          <img src="/media/img/icons/meth_addselection.png" />
          Create</a>

          <a class="btn-primary filter-selections right"
            onclick='return jQuery("#annotation-filter-menu").toggle();'>
            <img src="/media/img/icons/meth_view.png" />
            View
          </a>
          <div id="annotation-filter-menu" style="display: none">
            <form name="annotation-list-filter">
              <div>
                <div>Group selections by</div>
                <select name="groupby">
                  <option>author</option>
                  <option>tag</option>
                </select>
              </div>
              <br />
              <div>
                <label>
                  <input type="checkbox" name="showall" />
                  Display all selections
                </label>
                <div class="helptext">This option shows all selections graphically on the {{media_type_label}} to the left.</div>
              </div>
            </form>
          </div>

      {{/annotations}}
      <h2>
        Selections
      </h2>
      {{^annotations}}
        <center>
          <br />
          <div>You have no selections on this item.</div>
          <br />

          <a class="btn-primary create-selection"
            onclick="return annotationList.newAnnotation();">
            <img src="/media/img/icons/meth_addselection.png"
            alt="Create Selection"></img>
            Create a selection
          </a>
        </center>
      {{/annotations}}

      {{#annotations}}
        <a style="display: none"
          class="btn-primary create-selection"
          onclick="return annotationList.newAnnotation();">
          <img src="/media/img/icons/meth_addselection.png"
          alt="Create Selection"></img>
          Create Selection
        </a>
      {{/annotations}}
    {{/asset-current}}

    <ul id="asset-details-annotations-list"></ul>
  </div>
</div>
