<h4>
    <div class="color-box" style="background-color:{{color}}"></div>
    <span data-username="{{username}}" class="group-title">{{title}}</span>

    {{#comment}}
        {{#isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small right"
                data-target="annotation-feedback-{{username}}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> edit feedback
             </a>
        {{/isFaculty}}
        {{^isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small right"
                data-target="annotation-feedback-{{username}}">
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> read feedback
             </a>
        {{/isFaculty}}
    {{/comment}}
    {{^comment}}
        {{#isFaculty}}
             <a href="javascript:void(0)" class="toggle-feedback small right"
                data-target="annotation-feedback-{{username}}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add feedback
             </a>
        {{/isFaculty}}
    {{/comment}}
</h4>

<div id="annotation-feedback-{{username}}" class="annotation-feedback"
    {{^showFeedback}}
    style="display: none"
    {{/showFeedback}}>

    {{#isFaculty}}
    <form method="post" data-username="{{username}}" 
        action="{{#comment}}/discussion/comment/{{comment.id}}/{{/comment}}
                {{^comment}}/discussion/create/{{/comment}}">
    {{/isFaculty}}

        <textarea name="comment" class="form-control"
            {{^isFaculty}}readonly{{/isFaculty}}
            {{#isFaculty}}placeholder="Offer feedback on this student's work"{{/isFaculty}}>{{#comment}}{{comment.content}}{{/comment}}</textarea>

            {{#isFaculty}}
                {{^comment}}
                    <input type="hidden" name="comment_html" value="{{title}} feedback" />
                    <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
                    <input type="hidden" name="inherit" value="true" />
                    <input type="hidden" name="app_label" value="projects" />
                    <input type="hidden" name="model" value="project" />
                    <input type="hidden" name="obj_pk" value="{{responseId}}" />
                    <input type="hidden" name="publish" value="PrivateStudentAndFaculty" />
                {{/comment}}
                <button class="btn btn-primary btn-sm right save-feedback">Save Feedback</button>
                <button class="btn btn-default btn-sm right toggle-feedback"
                    data-target="annotation-feedback-{{username}}">Cancel</button>
            {{/isFaculty}}

            {{^isFaculty}}
                <button class="btn btn-default btn-sm right toggle-feedback"
                    data-target="annotation-feedback-{{username}}">Close</button>
            {{/isFaculty}}
            <div class="clearfix"></div>

    {{#isFaculty}}
    </form>
    {{/isFaculty}}
</div>