    <td id="asset-workspace-panel-container" class="panel-container open asset-workspace parent">
        <div class="column-container parent-column-container">
            <div class="panel asset-workspace">
                <table class="panel-subcontainer">
                    <tr class="asset-workspace-title-row">
                        <td class="collection-view-header">
                            <div class="actions">
                                <input id="collection-help-button"
                                    type="image" title="Help"
                                    alt="Help"
                                    class="help-button"
                                    src="/media/img/icons/meth_help.png" />
                            </div>
                            <h2><a href="/asset">Collection</a></h2>
                        </td>
                        <td />
                        <td />
                        <td class="asset-view-header">
                            <div class="actions">
                                <input id="asset-view-help-button" type="image" title="Help"
                                    class="help-button"
                                     onclick="return annotationList.showHelp();"
                                     alt="Help" src="/media/img/icons/meth_help.png" />
                            </div>

                            <div class="asset-view-header">
                                <h2>Item
                                    <span class="asset-view-title">
                                        {{#asset-current}}
                                             {{title}}
                                        {{/asset-current}}
                                     </span>
                                </h2>
                            </div>
                        </td>
                    </tr>
                    <tr class="asset-workspace-content-row">
                        <td class="panel-container collection subpanel">
                            <div class="ajaxloader">
                                <div class="message">
                                <img alt="Loading..." src="/media/img/ajax-loader.gif">
                                <br /><br />
                                <div>Refreshing the collection</div>
                                </div>
                            </div>
                            <div id="media_gallery" class="media_gallery"></div>
                        </td>

                        <td class="panhandle-stripe collection">
                            <div class="label">Collection</div>
                        </td>

                        <td class="pantab-container maximized">
                            <div class="pantab collection maximized"></div>
                        </td>

                        <td class="panel-container closed asset subpanel fixed alwaysopen">
                            <div class="visualclear"></div>
                            <div class="asset-view-container">
                                <div class="asset-view-published">
                                    <div id="asset-workspace-videoclipbox" class="videoclipbox" style="display: none;">
                                        <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                                        <div class="asset-display"></div>
                                        <div class="clipstrip-display"></div>
                                    </div>
                                </div>

                                <div class="tabs asset-view-tabs" style="display: none">
                                    <div id="asset-view-help"></div>

                                    <ul>
                                        <li><a href="#tabs-1">Item</a></li>
                                        <li><a href="#tabs-2">Source</a></li>
                                        <li><a href="#tabs-3">References</a></li>
                                    </ul>

                                    <div id="tabs-1">
                                        <div id="asset-view-details" class="asset-view-details"></div>
                                    </div>


                                    <div id="tabs-2" class="ui-tab-asset-sources">
                                        {{#asset-sources}}
                                            <div id="asset-sources">
                                                <h2>Sources</h2>
                                                {{#asset-current}}
                                                    <h4>Item's Original Source:</h4>
                                                    <a href="{{sources.url.url}}">{{sources.url.url?ellipses(50)}}</a>

                                                    {{#sources.xmeml}}
                                                        <h4 class="metadata-title">Final Cut Pro</h4>
                                                        <dl>
                                                            <dd>
                                                                <a onclick="return annotationList.showExportDialog(this, {{id}});" href="#">Export clips to XML</a>
                                                                <div class="export-finalcutpro" style="display: none" title="Export Final Cut Pro XML">
                                                                    <div class="selection-list" title="Selections">
                                                                        <form name="export-finalcutpro" method="POST" action="/asset/xmeml/{{id}}/"
                                                                            onsubmit="return annotationList.onExportSubmit();">
                                                                            <div>Order the selections by clicking and dragging. Click "Export" when you're ready.</div>
                                                                            <br />
                                                                            <ul class="selections"></ul>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                    {{/sources.xmeml}}

                                                    {{#metadata}}
                                                        <h4>{{key}}</h4>
                                                        <div>{{value}}</div>
                                                    {{/metadata}}
                                                {{/asset-current}}
                                            </div>

                                        {{/asset-sources}}
                                        <br />
                                    </div>

                                    <div id="tabs-3" class="ui-tab-asset-references">
                                        {{#asset-references}}
                                            <div id="asset-references">
                                                {{#tags}}
                                                    <h2>Tags</h2>
                                                    <div>
                                                        <span>
                                                            {{#tags}}
                                                                <a class="switcher-choice filterbyclasstag"
                                                                    href="{{name}}">{{name}} ({{count}})</a> {{^last}}, {{/last}}
                                                            {{/tags}}
                                                        </span>
                                                    </div>
                                                    <br />
                                                    <br />
                                                {{/tags}}
                                                {{#vocabulary}}
                                                    <h2>{{display_name}}</h2>
                                                    <div>
                                                        <span>
                                                            {{#term_set}}
                                                                <a href="#" class="switcher-choice filterbyvocabulary"
                                                                    data-vocabulary-id="vocabulary-{{vocabulary_id}}"
                                                                    data-term-id="{{id}}">
                                                                    {{display_name}} ({{count}})</a> {{^last}}, {{/last}}
                                                            {{/term_set}}
                                                        </span>
                                                    </div>
                                                <br />
                                                <br />
                                                {{/vocabulary}}


                                                {{#references}}
                                                    <h2>Class References</h2>
                                                    <ul class="clumper">
                                                    {{#references}}
                                                        <li>
                                                            <div class="asset_title type-{{type}}">
                                                                <a href="{{url}}" class="title">{{title}}</a>
                                                            </div>

                                                            <div class="asset-activities">

                                                                <div class="asset-activity">
                                                                    collected {{ modified }}
                                                                </div>

                                                            </div>
                                                        </li>
                                                    {{/references}}
                                                    </ul>
                                                {{/references}}
                                            </div>
                                        {{/asset-references}}
                                    </div> {{! end tabs-3 references }}

                                </div> {{! end tabs }}
                            </div> {{! end asset-view-container }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="asset-loaded"></div>
    </td>

    <td class="pantab-container"></td>
