{{#>>assets}}
<div id="asset_table" class="asset-table">
    <div class="filter-widget">
        <div class="switcher collection-chooser" tabindex="1">
            <span class="switcher-prefix">Owner: </span>
                <a class="switcher-top closed">
                    <span class="down-arrow" tabindex="3"></span>
                    <span class="title" id="switcher-title">
                        {{{selected_label}}}
                    </span>
                </a>
            </span>
            <ul class="switcher-options" style="right: -50px !important;">
                {{^showing_my_items}}
                <li>
                    <ul class="switcher-sub" id="switcher-extras">
                        <li class="choice_my_items" id="choice_my_items">
                            <a href="" onclick="return CollectionList.selectOwner('{{user.username}}')">&mdash; Me &mdash;</a>
                        </li>
                    </ul>
                </li>
                {{/showing_my_items}}
                <li>
                    <ul class="scroll switcher-sub">
                        {{^showing_all_items}}
                        <li class="choice_all_items" id="choice_all_items">
                            <a href="" onclick="return CollectionList.selectOwner(null);">&mdash; All Class Members &mdash;</a>
                        </li>
                        {{/showing_all_items}}
                        {{#owners}}                            
                            <li><a href="" onclick="return CollectionList.selectOwner('{{username}}');">{{public_name}}</a></li>
                        {{/owners}}
                    </ul>
                </li>
            </ul>
        </div> <!-- end Class Member switcher -->
        
        <div class="switcher collection-filter" id="switcher-collection-filter" tabindex="2">
            <a class="switcher-top closed">
                <span class="down-arrow" tabindex="4"></span>
                <span class="title">Filters 
                    <span
                        {{#active_filter_count?}}
                            class="filter-on">: ON
                        {{/active_filter_count?}}
                        {{^active_filter_count}}
                            class="filter-off">...
                        {{/active_filter_count}}
                    </span>
                </span>
            </a>
            <ul class="switcher-options">
                {{#active_filter_count?}}
                    <li>
                        <ul class="switcher-sub switcher-active-filters">
                            {{#active_filters}}
                            <li><a class="remove" href="" onclick="CollectionList.clearFilter(null)">Clear All Filters</a></li>
                            <li>
                                <a class="remove" onclick="CollectionList.clearFilter('{{value}}')">&nbsp;</a>
                                {{filter}}: {{display_value}}
                            </li>
                            {{/active_filters}}
                        </ul>
                    </li>
                {{/active_filter_count?}}
                
                {{#dates?}}
                <li>
                    <h3>Date Modified</h3>
                    <p class="switcher-sub">
                        {{#dates}}
                            <a href="" onclick="CollectionList.filter('{{value}}')">{{label}}</a>
                        {{/dates}}
                    </p>
                </li>
                {{/dates?}}
        
                <li>
                    <h3>Tags</h3>
                    <p class="switcher-sub">
                        {{^tags}}
                            No tags
                        {{/tags}}
                        {{#tags}}
                            <a href="" onclick="CollectionList.filter('{{name}}')" >{{name}}</a>
                        {{/tags}}
                    </p>
                </li>
                
            </ul>
        </div>
        
        <div class="visualclear"></div>
    </div> <!-- end filter widget -->
 
    <div class="column-contents scroll">
    <div id="materials">
        {{^assets}}
            <div class="default-content">
                {{#showing_my_items?}}
                    <h4>You have not yet collected any items</h4>
                    <ul>
                        <li>
                           To see what your instructor or classmates have collected, choose "All Class Items" from the dropdown above. 
                        </li>
                        <li>
                           To collect your own items, click "Browse Sources" above.  
                        </li>
                    </ul>
                {{/showing_my_items?}}
                {{^showing_my_items}}
                    <h4>This classmate has not collected any items.</h4>
                {{/showing_my_items}}
           </div>
        {{/assets}} 
        {{#assets}}
            <div id="record-{{id}}" class="record record-{{type}}">
                <h4 id="asset-item-{{id}}" class="asset_title asset-{{type}}">
    
                    <div class="actions">
                        {{#editable?}}
                            <a onclick="return ajaxDelete(this, 'record-{{id}}')"
                                href="/yourspace/{{space_viewer.username}}/asset/{{id}}?delete">
                            <img src="/site_media/img/Trashcan.gif" class="delete_icon" alt="Remove Asset and Clips"  /></a>
                        {{/editable?}}
                        {{#space_viewer.can_manage?}}<a class="manage-asset" href="{%url admin:assetmgr_asset_change asset.id %}">Manage</a>{{/space_viewer.can_manage?}}
                    </div>
                    
                    <a class="asset-title-link"
                        href="{{local_url}}">{{title?default(-Untitled-)}}</a>
                </h4>
            </div>
        {{/assets}}
    </div></div>    
</div>
{{/>>assets}}