{{#>>collection_table}}
<div class="collection_table">
    <div class="media-column" >
        <div class="filter-widget">
            <h3>FILTER BY...</h3>
            {{#>>switcher_collection_chooser}}
            <div class="switcher_collection_chooser switcher collection-chooser" tabindex="1">                
                <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                    <span class="switcher-prefix">Owner</span>                
                    <span class="title">{{{selected_label?ellipses(22)}}}</span>
                    <span class="down-arrow" tabindex="3"></span>                    
                </a>
                
                <ul class="switcher-options">
                    {{#display_switcher_extras?}}
                        {{^showing_my_items}}
                            <li class="choice_my_items">
                                <a class="switcher-choice owner" href="{{space_viewer.username}}" style="font-weight: bold">Me</a>
                            </li>
                        {{/showing_my_items}}
                        
                        {{#project.participants}}
                            {{^is_viewer}}
                                <li><a class="switcher-choice owner" href="{{username}}" style="font-weight: bold">{{public_name}}</a></li>
                            {{/is_viewer}}   
                        {{/project.participants}}
                    {{/display_switcher_extras?}}
                
                    {{^showing_all_items}}
                        <li class="choice_all_items">
                            <a class="switcher-choice owner" href="all-class-members" style="font-weight: bold">All Class Members</a>
                        </li>
                    {{/showing_all_items}}                        
                    {{#owners}}                            
                        <li><a class="switcher-choice owner" href="{{username}}">{{public_name}}</a></li>
                    {{/owners}}
                </ul>
            </div>
            {{/>>switcher_collection_chooser}}
            
            <div class="switcher collection-date-filter">
                <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                    <span class="switcher-prefix">Date </span>
                    <span class="down-arrow"></span>
                    
                    {{#active_filters.modified?}}
                        <span class="title">{{active_filters.modified}}</span>
                    {{/active_filters.modified?}}
                    
                    {{^active_filters.modified}}
                        <span class="title">all</span>
                    {{/active_filters.modified}}
                </a>
                <ul class="switcher-options">
                    <li><a class="switcher-choice filterbydate" href="all">all</a></li>
                    <li><a class="switcher-choice filterbydate" href="today">today</a></li>
                    <li><a class="switcher-choice filterbydate" href="yesterday">yesterday</a></li>
                    <li><a class="switcher-choice filterbydate" href="lastweek">within the last week</a></li>
                </ul>
            </div>
            
            
            <div>
                <span class="course-tags-prefix">Tags </span>
                <select class="course-tags"
                    data-placeholder="Select tags" 
                    multiple="multiple">
                    {{#active_tags}}
                        <option value="{{name}}">{{name}}</option>
                    {{/active_tags}}
                </select>
            </div>
            
            {{#active_vocabulary}}
            <div>
                <span class="concept-prefix">{{display_name}}</span>
                <select class="vocabulary" name="vocabulary-{{id}}"
                    data-placeholder="Select {{display_name?lower()}}" multiple="multiple">
                    {{#term_set}}
                        <option value="{{id}}">{{display_name}}</option>
                    {{/term_set}}
                </select>
            </div>
            {{/active_vocabulary}}            
        </div> {{! end filter widget }}

            
        <div class="collection-assets scroll annotation-embedding">
            {{#>>assets}}
            <div id="asset_table" class="asset-table">
                {{^assets}}
                    <div class="default-content intro-text feature-help"">
                        {{^active_filter_count}}
                            {{#showing_my_items?}}
                                You have not collected any materials.<br /><br />                                                              
                                <strong>What is a collection?</strong>
                                <div class="feature-help-instructions">
                                    A collection is a set of images, video and/or audio brought into Mediathread that 
                                    can be annotated, organized, and embedded into essays and other written analysis.
                                </div>
                                
                                <strong>How do I build my collection?</strong><br />
                                <div class="feature-help-instructions">
                                    <ul>
                                        {{#is_faculty?}}
                                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by 
                                            bookmarking items from sites such as YouTube or Flickr.
                                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> link 
                                            on the <a href="/">home</a> page and follow directions. <b>Recommend Sites</b> to students via <b>Tools</b> menu / <b>Manage Sources</b>
                                            </li>
                                            
                                            <li style="margin-bottom: 4px">
                                                <b>Upload</b>: Video and audio files may be uploaded 
                                                into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                                                An <b>Upload from Computer</b> link and directions then appear on the home page.  
                                            </li>
                                        {{/is_faculty?}}
                                        {{^is_faculty}}                                            
                                                <li style="margin-bottom: 4px"><b>Import</b>: Build your collection 
                                                by bookmarking items from sites such as YouTube or Flickr.
                                                To install the bookmarklet into your browser, click the <b>Import into Collection</b> 
                                                on the <a href="/">home</a> page and follow directions. Your instructor also may list 
                                                recommended sites on the home page.</li>
                                                <li><b>Upload</b>: If this feature is enabled, 
                                                you may upload video and audio files from your computer. Click the 
                                                <b>Upload from Computer</b> on the <a href="/">home</a> page and 
                                                follow directions.</li>                                            
                                        {{/is_faculty}}
                                   </ul>                                     
                                </div>                         
                            {{/showing_my_items?}}
                            {{^showing_my_items}}
                                <center>{{space_owner.public_name}} has not collected any materials.<br /><br />Please select another owner.</center>                                
                            {{/showing_my_items}}
                        {{/active_filter_count}}
                        {{#active_filter_count}}
                            <center>No items matched your search. Please try again.</center>      
                        {{/active_filter_count}}                         
                   </div>
                {{/assets}} 
                {{#assets}}
                    <div id="materials" class="column-contents">
                    <div id="record-{{id}}" class="record record-{{primary_type}} gallery-item-project">
                        <input type="hidden" class="record" value="{{id}}" name="record-id" />
                        <h4 id="asset-item-{{id}}" class="asset_title">
                            <div class="actions">
                                {{#editable?}}
                                    <a class="collection-choice delete-asset" href="{{id}}" title="Remove item from your collection">
                                        <img src="/site_media/img/icons/meth_delete.png" class="delete_icon" alt="Remove item from your collection"  />
                                    </a>
                                    <a class="collection-choice edit-asset" href="{{id}}" title="Quick edit item attributes">
                                        <img src="/site_media/img/icons/meth_edit.png" class="edit_icon" alt="Edit item attributes"  />
                                    </a>
                                {{/editable?}}
                                <a class="collection-choice create-annotation" href="{{id}}" title="Create selection on this item">
                                    <img src="/site_media/img/icons/meth_addselection.png" class="create_annotation_icon" alt="Create selection"  />
                                </a>                                
                            </div>
                            {{#citable?}}
                            <span class="citationTemplate">
                                <img class="materialCitation" alt="" 
                                    src="/site_media/img/icons/meth_insert_{{media_type_label}}.png#annotation={{local_url}}&title={{title}}&type={{primary_type}}&range1=0" 
                                    onclick="addMaterialCitation(event)" 
                                    title="Add item to the composition" 
                                    name="{{local_url}}"/>
                            </span>
                            {{/citable?}}
                            <a class="asset-title-link insert"
                               title="{{{title?default(-Untitled-)}}"
                               target="_blank" href="{{local_url}}">{{{title?default(-Untitled-)}}}</a>
                        </h4>
                        <table class="item-level-info">
                            <tr>
                                <td class="item-thumb">
                                    {{#thumb?}}
                                    <a href="{{local_url}}"><img class="asset-thumb" src="{{thumb}}" alt="Item Thumbnail" /></a>
                                    {{/thumb?}}
                                </td>
                            </tr>
                            <tr>
                                <td class="item-meta">
                                    {{#global_annotation}}
                                        <ul class="record-metadata-list">
                                            {{#vocabulary?}}
                                                {{#vocabulary}}
                                                     <li class="annotation-global-body meta">
                                                        <span class="metadata-label">{{display_name}}: </span>
                                                        <span class="metadata-value">
                                                            {{#terms}}
                                                                {{display_name}}
                                                            {{/terms}}
                                                        </span>
                                                    </li>
                                                {{/vocabulary}}
                                            {{/vocabulary?}}
                                                                                        
                                            {{#metadata.tags?}}
                                                <li class="annotation-global-tags meta">
                                                <span class="metadata-label">Item Tags:</span>
                                                    <span class="metadata-value">
                                                        {{#metadata.tags}}
                                                            <a class="switcher-choice filterbytag" href="{{name}}" title='Filter collection by "{{name}}"'>{{name}}</a>&nbsp;
                                                        {{/metadata.tags}}
                                                    </span>
                                                </li>
                                            {{/metadata.tags?}} 
                                        
                                            {{#metadata.body?}}
                                                <li class="annotation-global-body meta">
                                                    <span class="metadata-label">Item Note:</span> <span class="metadata-value">{{metadata.body}}</span> 
                                                </li>
                                            {{/metadata.body?}}
                                        </ul>
                                    {{/global_annotation}}
                                </td>
                            </tr>
                        </table>

                        <div id="record-{{id}}-metadata" class="record-metadata">
                            {{#annotations?}}
                                <div class="asset-clips">
                                    {{#annotations}}
                                        {{^is_null}}
                                            <div id="annotation-{{id}}">
                                                <table class="selection-level-info">
                                                    <tr>
                                                        <td class="selection-inserter">
                                                            {{#citable?}}
                                                            <span class="citationTemplate">
                                                                <img class="materialCitation" alt="" 
                                                                    src="/site_media/img/icons/meth_insert_selection.png#annotation={{url}}&title={{metadata.title}}&type={{metadata.primary_type}}&range1={{range1}}" 
                                                                    onclick="addMaterialCitation(event)" 
                                                                    title="Add selection to the composition" 
                                                                    name="{{url}}"/>
                                                            </span>
                                                            {{/citable?}}
                                                        </td>
                                                        <td class="selection-meta-title">
                                                            <div class="metadata-container">                                                                
                                                                <a target="_blank"
                                                                    class="materialCitationLink"
                                                                    title="Full Selection Details"
                                                                    href="{{url}}">{{{metadata.title?default(-Untitled-)}}}</a>         
                                                            </div>
                                                        </td>
                                                        
                                                                                                                        
                                                        {{#editable?}}
                                                            <td class="selection-trash">
                                                                <div class="actions">
                                                                    <a class="collection-choice delete-annotation" href="{{id}}" title="Delete selection">
                                                                        <img src="/site_media/img/icons/meth_delete.png"  class="delete_icon" alt="Delete selection"  />
                                                                    </a>
                                                                    <a class="collection-choice edit-annotation" href="{{id}}" title="Quick edit selection attributes">
                                                                        <img src="/site_media/img/icons/meth_edit.png" class="edit_icon" alt="Edit selection attributes"  />
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        {{/editable?}}
                                                    </tr>
                                                    <tr>       
                                                        <td />                                                                                                                 
                                                        <td class="selection-thumb" colspan="3">
                                                            <div class="annotation-thumb-{{id}}"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="selection-meta" colspan="4">
                                                            <div class="metadata-container">
                                                                <div class="meta">                                                                    
                                                                    <span class="metadata-label">Author:</span>
                                                                    <span class="metadata-value">{{author.public_name}}</span></div>
                                                                </div>
                                                                {{#metadata}}
                                                                    {{#timecode?}}
                                                                    <div class="annotation-timecode meta">
                                                                        <span class="metadata-label">Time code:</span>
                                                                        <span class="metadata-value">{{timecode}}</span></div>
                                                                    {{/timecode?}}
                                                                {{/metadata}}
                                                                
                                                                <div id="annotation-body-{{id}}" class="meta">
                                                                
                                                                    {{#vocabulary?}}
                                                                        {{#vocabulary}}
                                                                            <div>
                                                                                <label>{{display_name}}: </label>
                                                                                {{#terms}}
                                                                                    {{display_name}}
                                                                                {{/terms}}
                                                                            </div>
                                                                        {{/vocabulary}}
                                                                    {{/vocabulary?}}
                                                                
                                                                    {{#metadata}}
                                                                        {{#tags?}}       
                                                                            <div><span class="metadata-label">Tags:</span>
                                                                                <span class="metadata-value">
                                                                                    {{#tags}}
                                                                                        <a class="switcher-choice filterbytag" href="{{name}}" title='Filter collection by "{{name}}"'>{{name}}</a>&nbsp;
                                                                                    {{/tags}}
                                                                                </span>
                                                                            </div>
                                                                        {{/tags?}}
                                                                        {{#body?}}
                                                                            <div>
                                                                                <span class="metadata-label">Note:</span>
                                                                                <span class="metadata-value">{{body}}</span> 
                                                                            </div>
                                                                        {{/body?}}
                                                                    {{/metadata}}
                                                                </div>
                                                            </div>
                                                        </td>                                            
                                                    </tr>
                                                </table>
                                            </div>
                                        {{/is_null}} {{! annotation is not null }}
                                    {{/annotations}} {{! iterate annotations }}
                                    </div>{{! class="asset-clips" }}
                                {{/annotations?}}
                            {{! annotations exist }}
                        </div> {{! end record metadata }}
                        </div> {{! end id="record-id" }}
                    </div> {{! end id=materials, class="column-contents scroll" }} 
                {{/assets}}
                  
            </div>
        {{/>>assets}}
    </div>
</div>
{{/>>collection_table}}