<div id="asset-workspace-panel-container">
    <div id="asset-view-header">
        <h3 class="asset-view-title"></h3>
    </div>
    <div class="asset-view-container asset-quick-edit">
        <div>
            <div id="asset-workspace-videoclipbox" class="videoclipbox">
                <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                <div class="asset-display"></div>
                <div class="clipstrip-display"></div>
            </div>
        </div>

        <div class="asset-view-tabs">
          <div id="asset-view-details-quick-edit" class="asset-view-details">
          </div>
        </div>
    </div> {{! end asset-view-container }}
</div>