{{#>>collection_table}}
<div id="collection_table">
    <div id="media" >
        <div id="filter-widget" class="filter-widget">
            {{#>>switcher_collection_chooser}}
            <div id="switcher_collection_chooser" class="switcher collection-chooser" tabindex="1">
                <span class="switcher-prefix">
                    {{#enable_project_selection?}}Title: {{/enable_project_selection?}}
                    {{^enable_project_selection}}Owner: {{/enable_project_selection}} 
                </span>
                <a class="switcher-top closed" onclick="switcher(this);">
                    <span class="down-arrow" tabindex="3"></span>
                    <span class="title" id="switcher-title">{{{selected_label}}}</span>
                </a>
                
                <ul class="switcher-options" style="left: -51px">
                    <div id="switcher-extras-container">
                        {{#display_switcher_extras?}}
                            <li style="padding-top:10px;">
                                <ul class="switcher-sub">
                                    {{^showing_my_items}}
                                        <li class="choice_my_items" id="choice_my_items">
                                            <a href="" onclick="return CollectionList.selectOwner('{{space_viewer.username}}')">&mdash; Me &mdash;</a>
                                        </li>
                                    {{/showing_my_items}}
                                    
                                    {{#enable_project_selection?}}
                                        <li><a href="" onclick="return CollectionList.selectProject()">{{project.title}}</a></li>
                                    {{/enable_project_selection?}}
                                    
                                    {{#project.participants}}
                                        {{^is_viewer}}
                                            <li><a href="" onclick="return CollectionList.selectOwner('{{username}}');">{{public_name}}</a></li>
                                        {{/is_viewer}}   
                                    {{/project.participants}}
                                </ul>
                            </li>
                        {{/display_switcher_extras?}}
                    </div>
                    <li>
                        <ul class="scroll switcher-sub">
                            {{^showing_all_items}}
                                <li class="choice_all_items" id="choice_all_items">
                                    <a href="" onclick="return CollectionList.selectOwner();">&mdash; All Class Members &mdash;</a>
                                </li>
                            {{/showing_all_items}}                        
                            {{#owners}}                            
                                <li><a href="" onclick="return CollectionList.selectOwner('{{username}}');">{{public_name}}</a></li>
                            {{/owners}}
                        </ul>
                    </li>
                </ul>
            </div>
            {{/>>switcher_collection_chooser}}
            
            <div class="switcher collection-filter" id="switcher-collection-filter" tabindex="2" style="width: 135px">
                <a class="switcher-top closed" onclick="switcher(this);">
                    <span class="down-arrow" tabindex="4"></span>
                    <span class="title">Collection Filters 
                        <span
                            {{#active_filter_count?}}
                                class="filter-on">: ON
                            {{/active_filter_count?}}
                            {{^active_filter_count}}
                                class="filter-off">...
                            {{/active_filter_count}}
                        </span>
                    </span>
                </a>
                <ul class="switcher-options" style="right: -51px">
                    {{#active_filter_count?}}
                        <li>
                            <ul class="switcher-sub switcher-active-filters">
                                {{#active_filters}}
                                <li><a class="remove" href="" onclick="return CollectionList.clearFilter(null)"><span class="metadata-label">Clear All Filters</span></a></li>
                                    {{#tag?}}
                                        <li>
                                            <a class="remove" onclick="return CollectionList.clearFilter('tag')">&nbsp;</a>
                                            <span class="metadata-label">Tag</span>: <span class="metadata-value">{{tag}}</span>
                                        </li>
                                    {{/tag?}}
                                    {{#modified?}}
                                        <li>
                                            <a class="remove" onclick="return CollectionList.clearFilter('modified')">&nbsp;</a>
                                            <span class="metadata-label">Modified</span>: <span class="metadata-value">{{modified}}</span>
                                        </li>
                                    {{/modified?}}
                                {{/active_filters}}
                            </ul>
                        </li>
                    {{/active_filter_count?}}
                    
                    {{^showing_all_items}}
                    <li>
                        <h3>Date Modified</h3>
                        <p class="switcher-sub">
                            <a href="" onclick="return CollectionList.filterByDate('today')">today</a>
                            <a href="" onclick="return CollectionList.filterByDate('yesterday')">yesterday</a>
                            <a href="" onclick="return CollectionList.filterByDate('lastweek')">within the last week</a>
                        </p>
                    </li>
                    {{/showing_all_items}}
            
                    <li>
                        <h3>Tags</h3>
                        <p class="switcher-sub">
                            {{^tags}}
                                No tags
                            {{/tags}}
                            {{#tags}}
                                <a href="" onclick="return CollectionList.filterByTag('{{name}}')" >{{name}}</a>
                            {{/tags}}
                        </p>
                    </li>
                    
                </ul>
            </div>
            
            <div class="visualclear"></div>
        </div> {{! end filter widget }}

            
        <div class="column-contents scroll">
            {{#>>project_view}}
                <div id="project_view" class="project-view" style="display: none">
                     <!--  Where the media is shown. Displays as an overlay next to the clip -->
                     <div id="videoclipbox" class="asset-view-small" style="display:none; position: absolute; z-index: 1000;">
                          <div class="annotation-title"></div>
                          <div class="asset-title"></div>
                          <div class="asset-object" style="width: 322px;"><!-- width changes here too if video size changes -->
                            <div class="asset-display"></div>
                            <div id="clipstrip-display" class="clipstrip-display"></div>    
                          </div>
                    </div>
                
                    {{{project.body}}}
                </div>
            {{/>>project_view}}
            {{#>>assets}}
            <div id="asset_table" class="asset-table">
                {{^assets}}
                    <div class="default-content intro-text">
                        {{#showing_my_items?}}
                            {{^active_filter_count}}
                                {{#is_faculty?}}
                                    <h5>Import media items</h5>
                                    
                                    <p>Items saved in MediaThread appear here. To collect items, click the "Source Media" button above.</p>

                                    <p>Instructors can add sources to the "Source Media" page. For more information, visit the <a href="/reports/class_activity">Instructor Dashboard</a>.</p>
                                {{/is_faculty?}}
                                {{^is_faculty}}    
                                    <h5>You have not yet collected any items</h5>
                                    <ul>
                                        <li>To collect items, click "Source Media" above.</li>
                                        <li>To view items collected by others in the class, select "All Class Members" from the dropdown above.</li>
                                    </ul>
                                {{/is_faculty}}
                            {{/active_filter_count}}
                            {{#active_filter_count}}
                                <h5>No Items</h5>
                            {{/active_filter_count}}
                        {{/showing_my_items?}}
                        {{^showing_my_items}}
                            <h4>No items found</h4>
                        {{/showing_my_items}}
                   </div>
                {{/assets}} 
                {{#assets}}
                    <div id="materials" class="column-contents">
                        <div id="record-{{id}}" class="record record-{{primary_type}}">
                        <input type="hidden" class="record" value="{{id}}" name="record-id" />
                        <h4 id="asset-item-{{id}}" class="asset_title">
                            <span class="citationTemplate">
                            <img class="materialCitation" alt="" 
                                src="/site_media/img/icons/insert_item_{{media_type_label}}.png#annotation={{local_url}}&title={{title}}&type={{primary_type}}&range1=0" 
                                width="24" height="15" border="0" 
                                onclick="addMaterialCitation(event)" 
                                title="Add item to the composition" 
                                name="{{local_url}}"/>
                            </span>
                            <a class="asset-title-link insert" target="_blank" href="{{local_url}}">{{{title?default(-Untitled-)}}}</a>
                        </h4>
                        <span class="citationTemplate">
                        <table class="item-level-info">
                            <tr>
                                <td class="item-thumb">
                                    {{#thumb?}}
                                    <a href="{{local_url}}"><img class="asset-thumb" src="{{thumb}}" alt="Item Thumbnail" /></a>
                                    {{/thumb?}}
                                </td>
                                <td class="item-meta">
                                    {{#global_annotation}}
                                        {{#metadata}}
                                            <ul class="record-metadata-list">
                                                {{#tags?}}
                                                    
                                                    <li class="annotation-global-tags">
                                                    <span class="metadata-label">Item Tags:</span>
                                                        <span class="metadata-value">
                                                            {{#tags}}
                                                                {{name}}
                                                            {{/tags}}
                                                        </span>
                                                    </li>
                                                {{/tags?}} 
                                            
                                                {{#body?}}
                                                    <li class="annotation-global-body">
                                                        <span class="metadata-label">Item Note:</span> <span class="metadata-value">{{body}}</span> 
                                                    </li>
                                                {{/body?}}
                                                  </ul>
                                            {{/metadata}}   
                                        {{/global_annotation}}
                                      
                                        {{^global_annotation}}
                                             {{^space_owner}} {{! All Class Items. Is this really necessary? }}
                                                 {{#tags?}}    
                                                    <span class="metadata-label">Selection Tags:</span>
                                                    <span class="metadata-value">
                                                        {{#tags}}
                                                            <a href="" title='Filter collection by "{{name}}"' onclick="return CollectionList.filterByTag('{{name}}')">{{name}}</a>&nbsp;
                                                        {{/tags}}
                                                    </span>
                                                 {{/tags?}}
                                            {{/space_owner}}
                                        {{/global_annotation}}
                                </td>
                                <td class="item-trash"></td>
                            </tr>
                        </table>

                        <div id="record-{{id}}-metadata" class="record-metadata">
                            {{#annotations?}}
                                        <ul class="asset-clips">
                                            {{#annotations}} 
                                                {{^is_null}}
                                                
                                                 
                                                
                                                 <div class="annotation-container">
                                                            
                                                <span class="citationTemplate">
                                                       <img class="materialCitation" alt="" 
                                                            src="/site_media/img/icons/insert_clip.png#annotation={{url}}&title={{metadata.title}}&type={{assets.primary_type}}&range1={{range1}}" 
                                                            width="24" height="15" border="0" 
                                                            onclick="addMaterialCitation(event)" 
                                                            title="Add selection to the composition" 
                                                            name="{{url}}"/></span>
                                                                  
                                                <li id="annotation-{{id}}">
                                                 <div id="annotation-thumb-{{id}}"></div>

                                                    <div class="metadata-container">
                                                        <div class="actions">
                                                             
                                                        </div>{{!  class="actions"  }}
                                                        <a target="_blank"
                                                          class="materialCitationLink"
                                                          title="Full Annotation Details"
                                                          href="{{url}}">{{{metadata.title?default(-Untitled-)}}}</a>         
                                                    
                                                        {{#metadata}}
                                                            {{#timecode?}}
                                                                <div class="annotation-timecode meta"><span class="metadata-label">Time code:</span> <span class="metadata-value">{{timecode}}</span></div>
                                                            {{/timecode?}}
                                                        {{/metadata}}
                                                    
                                                        <div id="annotation-body-{{id}}" class="meta">
                                                            {{#metadata}}
                                                                {{#tags?}}       
                                                                    <div><span class="metadata-label">Tags:</span>
                                                                        <span class="metadata-value">
                                                                        {{#tags}}
                                                                                {{name}}
                                                                        {{/tags}}
                                                                        </span>
                                                                    </div>
                                                                {{/tags?}}
                                                                {{#body?}}
                                                                    <div><span class="metadata-label">Note:</span>
                                                                        <span class="metadata-value">{{body}}</span> 
                                                                    </div>
                                                                {{/body?}}
                                                            {{/metadata}}
                                                        </div>
                                                        </div>
                                                      <div class="visualclear"></div>
                                                     
                                                    </li>
                                                    
                                                    </div>
                                                {{/is_null}}
                                            {{/annotations}}
                                        </ul>{{! class="asset-clips" }}
                                    
                                {{/annotations?}}
                             
                        </div> {{! end record metadata }}



                    <br class="visualclear" />

    
                    </div> {{! end id="record-id" }}
                    </div> {{! end id=materials, class="column-contents scroll" }} 
                {{/assets}}
                  
            </div>
        {{/>>assets}}
    </div>
</div>
{{/>>collection_table}}