{{^assets}}
    <div class="default-content intro-text feature-help">
        {{^active_filter_count}}
            {{#showing_my_items}}
                You have not collected any materials.<br /><br />
                <strong>What is a collection?</strong>
                <div class="feature-help-instructions">
                    A collection is a set of images, video and/or audio brought into Mediathread that
                    can be annotated, organized, and embedded into essays and other written analysis.
                </div>

                <strong>How do I build my collection?</strong><br />
                <div class="feature-help-instructions">
                    <ul>
                        {{#is_faculty}}
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by
                            bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> link
                            on the <a href="/">home</a> page and follow directions. <b>Recommend Sites</b> to students via <b>Tools</b> menu / <b>Manage Sources</b>
                            </li>

                            <li style="margin-bottom: 4px">
                                <b>Upload</b>: Video and audio files may be uploaded
                                into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                                An <b>Upload from Computer</b> link and directions then appear on the home page.
                            </li>
                        {{/is_faculty}}
                        {{^is_faculty}}
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection
                            by bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b>
                            on the <a href="/">home</a> page and follow directions. Your instructor also may list
                            recommended sites on the home page.</li>
                            <li><b>Upload</b>: If this feature is enabled,
                            you may upload video and audio files from your computer. Click the
                            <b>Upload from Computer</b> on the <a href="/">home</a> page and
                            follow directions.</li>
                        {{/is_faculty}}
                    </ul>
                </div>
            {{/showing_my_items}}
            {{^showing_my_items}}
                <center>{{space_owner.public_name}} has not collected any materials.<br /><br />Please select another owner.</center>
            {{/showing_my_items}}
            {{/active_filter_count}}
            {{#active_filter_count}}
                <center>No items matched your search. Please try again.</center>
            {{/active_filter_count}}
    </div>
{{/assets}}
{{#assets}}
    <div class="materials column-contents">
        <div id="record-{{id}}" class="record record-{{primary_type}} gallery-item-project">
            <input type="hidden" class="record" value="{{id}}" name="record-id" />


            <div class="card-thumbnail">
                <div class="media-type"><span class="badge {{#thumb}}badge-light{{/thumb}}{{^thumb}}badge-secondary{{/thumb}}">{{media_type_label}}</span></div>
                {{#thumb}}
                <div class="image-overlay">
                    <a href="{{local_url}}" title="{{title}}">
                        <img class="mx-auto d-block img-fluid" alt="Item Thumbnail" src="{{thumb}}" style="max-width: 100%;" />
                    </a>
                </div>
                {{/thumb}}
            </div>

            <div class="px-3  {{^thumb}}pt-5{{/thumb}}">
                <h5 id="asset-item-{{id}}" class="asset_title mt-3">
                    <div class="actions">
                        <a class="collection-choice create-annotation" href="{{id}}" title="Create selection on this item">
                            <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_addselection.png" class="create_annotation_icon" alt="Create selection"  />
                        </a>
                    </div>
                    <a class="asset-title-link insert"
                        {{#title}}
                            title="{{title}}"
                        {{/title}}
                        {{^title}}
                            title="-Untitled-"
                        {{/title}}
                        target="_blank" href="{{local_url}}">
                        {{#title}}
                            {{#ellipsis35}}{{title}}{{/ellipsis35}}
                        {{/title}}
                        {{^title}}
                            -Untitled-
                        {{/title}}
                    </a>
                </h5>
                <hr />
                <h6>Selections</h6>

                <div id="record-{{id}}-metadata" class="record-metadata">
                {{^annotation_count}}
                    <p class="text-muted">None</p>
                {{/annotation_count}}
                {{#annotation_count}}
                    <div class="asset-clips">
                        {{#annotations}}
                            {{^is_null}}
                                <div id="annotation-{{id}}">
                                    <table class="selection-level-info">
                                        <tr>
                                            <td class="selection-inserter">
                                                {{#citable}}
                                                    <span class="citationTemplate">
                                                        <img class="materialCitation clickableCitation" alt=""
                                                        src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_insert_selection.png#annotation={{url}}&title={{metadata.title}}&type={{metadata.primary_type}}&range1={{range1}}"
                                                        title="Add selection to the composition"
                                                        name="{{url}}"/>
                                                    </span>
                                                {{/citable}}
                                            </td>
                                            <td class="selection-meta-title">
                                                <div class="metadata-container">
                                                    <a target="_blank"
                                                        class="materialCitationLink"
                                                        title="Full Selection Details"
                                                        href="{{url}}">
                                                        {{#metadata.title}}
                                                            {{{metadata.title}}}
                                                        {{/metadata.title}}
                                                        {{^metadata.title}}
                                                            -Untitled-
                                                        {{/metadata.title}}
                                                    </a>
                                                </div>
                                            </td>


                                            {{#editable}}
                                                <td class="selection-trash">
                                                    <div class="actions">
                                                        <a class="collection-choice delete-annotation" href="{{id}}" title="Delete selection">
                                                            <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_delete.png"  class="delete_icon" alt="Delete selection"  />
                                                        </a>
                                                        <a class="collection-choice edit-annotation" href="{{id}}" title="Quick edit selection attributes">
                                                            <img src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_edit.png" class="edit_icon edit-selection-icon" alt="Edit selection attributes" />
                                                        </a>
                                                    </div>
                                                </td>
                                            {{/editable}}
                                        </tr>
                                        <tr>
                                            <td />
                                            <td class="selection-thumb" colspan="3">
                                                <div class="annotation-thumb-{{id}}"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="selection-meta" colspan="4">
                                                <div class="metadata-container">
                                                    <div class="meta">
                                                        <span class="metadata-label">Author:</span>
                                                        <span class="metadata-value">{{author.public_name}}</span></div>
                                                </div>
                                                {{#metadata}}
                                                    {{#timecode}}
                                                        <div class="annotation-timecode meta">
                                                            <span class="metadata-label">Time code:</span>
                                                            <span class="metadata-value">{{timecode}}</span></div>
                                                    {{/timecode}}
                                                {{/metadata}}

                                                <div id="annotation-body-{{id}}" class="meta">

                                                    {{#vocabulary}}
                                                        <div>
                                                            <span class="metadata-label">{{display_name}}: </span>
                                                            <span class="metadata-value">
                                                                {{#terms}}
                                                                    {{display_name}}
                                                                {{/terms}}
                                                            </span>
                                                        </div>
                                                    {{/vocabulary}}

                                                    {{#metadata}}
                                                        {{#tags.length}}
                                                            <div><span class="metadata-label">Tags:</span>
                                                            <span class="metadata-value">
                                                                {{#tags}}
                                                                    <a class="switcher-choice filterbytag" href="{{name}}" title='Filter collection by "{{name}}"'>{{name}}</a>&nbsp;
                                                                {{/tags}}
                                                            </span>
                                                            </div>
                                                        {{/tags.length}}
                                                        {{#body}}
                                                            <div>
                                                                <span class="metadata-label">Note:</span>
                                                                <span class="metadata-value">{{body}}</span>
                                                            </div>
                                                        {{/body}}
                                                    {{/metadata}}
                                                </div>
                                </div>
                                            </td>
                                        </tr>
                                    </table>
                    </div>
                    {{/is_null}} {{! annotation is not null }}
                        {{/annotations}} {{! iterate annotations }}
            </div>{{! class="asset-clips" }}
                        {{/annotation_count}}
                        {{! annotations exist }}
        </div> {{! end record metadata }}
            </div>
        </div> {{! end id="record-id" }}
    </div> {{! end class="materials column-contents scroll" }}
{{/assets}}
