    <div class="media-column">
        <div id="collection-overlay" class="ui-widget-overlay help-overlay" style="display: none"></div>

        <div id="collection-help-tab" class="ui-widget-content collection-help-tab" style="display: none">
                <input class="dismiss-help" type="image" title="Dismiss help" 
                    alt="Dismiss Help" src="{{#staticUrl}}{{/staticUrl}}img/icons/meth_help.png" />
        </div>

        <div id="collection-help" class="ui-widget-content collection-help" style="display: none">
            <h5>Mediathread collection</h5>
            <div class="feature-help-instructions">
                <p>A collection is a set of items (images, video, and/or audio) imported into Mediathread.
                These items can be annotated and embedded into your written analysis.</p>

                <p>By default, this page will display all the items that you have imported into Mediathread.</p>

                <p>To see items imported and analyzed by others in the course, select a person's name (or All Class Members)
                in the Owner drop down menu. Items displayed here can also be filtered by user tags, 
                course vocabulary terms (if any), and date last modified.</p>
            </div>

            <h5>How do I build my collection?</h5>
            <div class="feature-help-instructions">
                <ul>
                    {{#is_faculty}}
                        <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by 
                        bookmarking items from sites such as YouTube or Flickr.
                        To install the bookmarklet into your browser, click the <b>Import into Collection</b> link 
                        on the <a href="/">home</a> page and follow the directions. <b>Recommend Sites</b> to students 
                        via <b>Tools</b> menu / <b><a href="/dashboard/sources/">Manage Sources</a></b>
                        </li>
                        <li style="margin-bottom: 4px">
                            <b>Upload</b>: Video and audio files may be uploaded 
                            into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                            An <b>Upload from Computer</b> link and directions then appear on the <a href="/">home</a> page.  
                        </li>
                    {{/is_faculty}}
                    {{^is_faculty}}
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection 
                            by bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> 
                            on the <a href="/">home</a> page and follow directions. Your instructor also may list 
                            recommended sites on the home page.</li>
                            <li><b>Upload</b>: If this feature is enabled, 
                            you may upload video and audio files from your computer. Click the 
                            <b>Upload from Computer</b> on the <a href="/">home</a> page and 
                            follow directions.</li>
                    {{/is_faculty}}
               </ul>
            </div>
            <div class="visualclear"></div>
            <div style="float: right">    
                <input class="btn-primary right dismiss-help" type="button" value="Dismiss Help">
            </div>
        </div>

        <div class="filter-widget" style="display: none">
            <div class="collection-col-3">
                <div class="switcher-tool switcher-search-text input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" name="search-text"
                        value="{{active_filters.search_text}}" placeholder="Search titles"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search-text" type="button">Go</button>
                    </span>
                </div>
            </div>

            <div class="collection-col-3">
                <div class="collection-chooser-container"></div>
            </div>

            <div class="collection-col-3">
                <div class="switcher-tool">
                    <span class="course-tags-prefix">Tags </span>
                    <select class="course-tags"
                        data-placeholder="Select tags" 
                        multiple="multiple">
                        {{#active_tags}}
                            <option value="{{name}}">{{name}} ({{count}})</option>
                        {{/active_tags}}
                    </select>
                </div>
            </div>

            <div class="collection-col-3">
                <div class="switcher-tool">
                    <span class="concept-prefix" title="{{Terms}}">Terms</span>
                    <select class="vocabulary"
                        data-placeholder="Select {{#lower}}{{display_name}}{{/lower}}"
                        multiple="multiple">

                        {{#active_vocabulary}}
                        <optgroup data-id="vocabulary-{{id}}" label="{{display_name}}">
                            {{#term_set}}
                                <option value="{{id}}">
                                    {{display_name}} ({{count}})
                                </option>
                            {{/term_set}}
                        </optgroup>
                        {{/active_vocabulary}}
                    </select>
                </div>
            </div>

            <div class="collection-col-2">
                <div class="switcher collection-date-filter switcher-tool">
                    <a class="switcher-top menuclosed" onclick="return switcher(event, this);">
                        <span class="switcher-prefix">Date </span>
                        <span class="down-arrow"></span>

                        {{#active_filters.modified}}
                            <span class="title">{{active_filters.modified}}</span>
                        {{/active_filters.modified}}

                        {{^active_filters.modified}}
                            <span class="title">all</span>
                        {{/active_filters.modified}}
                    </a>
                    <ul class="switcher-options">
                        <li><a class="switcher-choice filterbydate" href="all">all</a></li>
                        <li><a class="switcher-choice filterbydate" href="today">today</a></li>
                        <li><a class="switcher-choice filterbydate" href="yesterday">yesterday</a></li>
                        <li><a class="switcher-choice filterbydate" href="lastweek">within the last week</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="collection-assets annotation-embedding">
            <div id="asset_table" class="asset-table"></div>
        </div>
        <div id="loaded"></div>
    </div>