<div class="gallery-item-overlay rounded hidden">
    <div class="glyphicon glyphicon-plus" aria-hidden="true"></div>
</div>

{{^assets}}
    <div class="default-content feature-help">
        {{^active_filter_count}}
            {{#showing_my_items}}
                <div class="intro-text">
                    You have not collected any materials.<br /><br />

                    <h5>What is a collection?</h5>
                    <div>
                        <p>A collection is a set of items (images, video, and/or audio) imported into Mediathread.
                        These items can be annotated and embedded into your written analysis.</p>

                        <p>By default, this page will display all the items that you have imported into Mediathread.</p>

                        <p>To see items imported and analyzed by others in the course, select a person's name (or All Class Members)
                            in the Owner drop down menu. Items displayed here can also be filtered by user tags,
                            course vocabulary terms (if any), and date last modified.</p>
                    </div>

                    <h5>How do I build my collection?</h5>
                    <div>
                        <ul>
                            {{#is_faculty}}
                                <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by
                                bookmarking items from sites such as YouTube or Flickr.
                                To install the bookmarklet into your browser, click the <b>Import into Collection</b> link
                                on the <a href="/">home</a> page and follow the directions. <b>Recommend Sites</b> to students via <b>Tools</b> menu / <b>Manage Sources</b>
                                </li>

                                <li style="margin-bottom: 4px">
                                    <b>Upload</b>: Video and audio files may be uploaded
                                    into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                                    An <b>Upload from Computer</b> link and directions then appear on the <a href="/">home</a> page.
                                </li>
                            {{/is_faculty}}
                            {{^is_faculty}}
                                <li style="margin-bottom: 4px"><b>Import</b>: Build your collection
                                by bookmarking items from sites such as YouTube or Flickr.
                                To install the bookmarklet into your browser, click the <b>Import into Collection</b>
                                on the <a href="/">home</a> page and follow directions. Your instructor also may list
                                recommended sites on the home page.</li>
                                <li><b>Upload</b>: If this feature is enabled,
                                you may upload video and audio files from your computer. Click the
                                <b>Upload from Computer</b> on the <a href="/">home</a> page and
                                follow directions.</li>
                            {{/is_faculty}}
                        </ul>
                    </div>
                </div>
            {{/showing_my_items}}
            {{^showing_my_items}}
                {{#showing_all_items}}
                    This class currently has no materials.
                {{/showing_all_items}}
                {{^showing_all_items}}
                    {{space_owner.public_name}} has not collected any materials.<br /><br />Please select another owner.
                {{/showing_all_items}}
            {{/showing_my_items}}
            {{/active_filter_count}}
            {{#active_filter_count}}
                No items matched your search.<br /><br />Please try again.
            {{/active_filter_count}}
    </div>
    {{/assets}}
    {{#assets}}
        <div data-id="{{id}}" id="record-{{id}}" class="gallery-item
            record-{{primary_type}} gallery-item-{{id}} static-height rounded">
            <h4 id="asset-item-{{id}}" class="asset_title asset-{{primary_type}}">
                <a class="asset-title-link"
                    {{#title}}
                        title="{{{title}}}"
                    {{/title}}
                    {{^title}}
                        title="-Untitled-"
                    {{/title}}
                    href="{{local_url}}">
                    {{#title}}
                        {{#ellipsis35}}{{{title}}}{{/ellipsis35}}
                    {{/title}}
                    {{^title}}
                        -Untitled-
                    {{/title}}

                </a>
            </h4>
            <div class="asset-thumb">
                {{^thumbable}}
                    {{^thumb}}
                        <img class="gallery-item-thumb" src="{{#staticUrl}}{{/staticUrl}}img/nothumb_{{media_type_label}}.png" alt="Item Thumbnail" />
                        {{/thumb}}
                        {{#thumb}}
                            <img class="gallery-item-thumb" src="{{thumb}}" alt="Item Thumbnail" />
                    {{/thumb}}
                {{/thumbable}}
            </div>

            <div>
                {{#annotation_count}}
                    <div class="item-annotation-count meta">
                        <span class="metadata-label item-annotation-count-total">{{annotation_count}}</span>
                        <span class="metadata-value">selections</span>
                        | <span class="metadata-label item-annotation-count-user">{{my_annotation_count}}</span>
                        <span class="metadata-value">by me</span>
                    </div>
                {{/annotation_count}}
                {{^annotation_count}}
                    <div class="item-annotation-count meta">
                        <span class="metadata-label item-annotation-count-total">0</span>
                        <span class="metadata-value">selections</span>
                    </div>
                {{/annotation_count}}
            </div>
        </div>
    {{/assets}}