{{#>>media_gallery}}
<div class="media_gallery">
    <div class="media-column">
        <div id="collection-overlay" class="ui-widget-overlay help-overlay" style="display: none"></div>
        
        <div id="collection-help-tab" class="ui-widget-content collection-help-tab" style="display: none">
                <input class="dismiss-help" type="image" title="Dismiss help" 
                    alt="Dismiss Help" src="/site_media/img/icons/meth_help.png" />
        </div>
        
        
        <div id="collection-help" class="ui-widget-content collection-help" style="display: none">
            <h5>Mediathread collection</h5>
            <div class="feature-help-instructions">
                <p>A collection is a set of items (images, video, and/or audio) imported into Mediathread.
                These items can be annotated and embedded into your written analysis.</p>
        
                <p>By default, this page will display all the items that you have imported into Mediathread.</p>

                <p>To see items imported and analyzed by others in the course, select a person's name (or All Class Members)
                in the Owner drop down menu. Items displayed here can also be filtered by user tags, 
                course vocabulary terms (if any), and date last modified.</p>            
            </div>
            
            <h5>How do I build my collection?</h5>
            <div class="feature-help-instructions">
                <ul>
                    {{#is_faculty?}}
                        <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by 
                        bookmarking items from sites such as YouTube or Flickr.
                        To install the bookmarklet into your browser, click the <b>Import into Collection</b> link 
                        on the <a href="/">home</a> page and follow the directions. <b>Recommend Sites</b> to students 
                        via <b>Tools</b> menu / <b><a href="/dashboard/sources/">Manage Sources</a></b>
                        </li>
                        <li style="margin-bottom: 4px">
                            <b>Upload</b>: Video and audio files may be uploaded 
                            into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                            An <b>Upload from Computer</b> link and directions then appear on the <a href="/">home</a> page.  
                        </li>
                    {{/is_faculty?}}
                    {{^is_faculty}}                                            
                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection 
                            by bookmarking items from sites such as YouTube or Flickr.
                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> 
                            on the <a href="/">home</a> page and follow directions. Your instructor also may list 
                            recommended sites on the home page.</li>
                            <li><b>Upload</b>: If this feature is enabled, 
                            you may upload video and audio files from your computer. Click the 
                            <b>Upload from Computer</b> on the <a href="/">home</a> page and 
                            follow directions.</li>                                            
                    {{/is_faculty}}
               </ul>                                     
            </div>
            <div class="visualclear"></div>
            <div style="float: right">    
                <input class="btn-primary right dismiss-help" type="button" value="Dismiss Help">
            </div>                         
        </div>

        <div class="filter-widget">
            <h3>FILTER BY...</h3>    
        
            {{#>>switcher_collection_chooser}}
            <div class="switcher_collection_chooser switcher collection-chooser">                
                <a class="switcher-top menuclosed" onclick="switcher(this);">
                    <span class="switcher-prefix">Owner </span>
                    <span class="down-arrow"></span>
                    <span class="title">{{{selected_label?ellipses(18)}}}</span>
                </a>
                
                <ul class="switcher-options">                    
                    {{#display_switcher_extras?}}
                        {{^showing_my_items}}
                            <li class="choice_my_items">
                                <a class="switcher-choice owner" href="{{space_viewer.username}}" style="font-weight: bold">Me</a>
                            </li>
                        {{/showing_my_items}}
                        
                        {{#project.participants}}
                            {{^is_viewer}}
                                <li><a class="switcher-choice owner" href="{{username}}" style="font-weight: bold">{{public_name}}</a></li>
                            {{/is_viewer}}   
                        {{/project.participants}}
                    {{/display_switcher_extras?}}                        
                    {{^showing_all_items}}
                        <li class="choice_all_items">
                            <a class="switcher-choice owner" href="all-class-members" style="font-weight: bold">All Class Members</a>
                        </li>
                    {{/showing_all_items}}                        
                    {{#owners}}                            
                        <li><a class="switcher-choice owner" href="{{username}}">{{public_name}}</a></li>
                    {{/owners}}                        
                </ul>
            </div>
            {{/>>switcher_collection_chooser}}
            
            <div class="switcher collection-date-filter">
                <a class="switcher-top menuclosed" onclick="switcher(this);">
                    <span class="switcher-prefix">Date </span>
                    <span class="down-arrow"></span>
                    
                    {{#active_filters.modified?}}
                        <span class="title">{{active_filters.modified}}</span>
                    {{/active_filters.modified?}}
                    
                    {{^active_filters.modified}}
                        <span class="title">all</span>
                    {{/active_filters.modified}}
                </a>
                <ul class="switcher-options">
                    <li><a class="switcher-choice filterbydate" href="all">all</a></li>
                    <li><a class="switcher-choice filterbydate" href="today">today</a></li>
                    <li><a class="switcher-choice filterbydate" href="yesterday">yesterday</a></li>
                    <li><a class="switcher-choice filterbydate" href="lastweek">within the last week</a></li>
                </ul>
            </div>
            
            
            <div>
                <span class="course-tags-prefix">Tags </span>
                <select class="course-tags"
                    data-placeholder="Select tags" 
                    multiple="multiple">
                    {{#active_tags}}
                        <option value="{{name}}">{{name}}</option>
                    {{/active_tags}}
                </select>
            </div>
            
            {{#active_vocabulary}}
            <div>
                <span class="concept-prefix">{{display_name}}</span>
                <select class="vocabulary" name="vocabulary-{{id}}"
                    data-placeholder="Select {{display_name?lower()}}" multiple="multiple">
                    {{#term_set}}
                        <option value="{{id}}">{{display_name}}</option>
                    {{/term_set}}
                </select>
            </div>
            {{/active_vocabulary}}
                        
        </div> {{! end filter widget }}
            
        <div class="collection-assets scroll annotation-embedding">
            {{#>>assets}}
            <div id="asset_table" class="asset-table">
                {{^assets}}
                    <div class="default-content feature-help">
                        {{^active_filter_count}}
                            {{#showing_my_items?}}
                                <div class="intro-text">
                                You have not collected any materials.<br /><br />
                                
                                <h5>What is a collection?</h5>
                                <div>
                                    <p>A collection is a set of items (images, video, and/or audio) imported into Mediathread.
                                    These items can be annotated and embedded into your written analysis.</p>
                            
                                    <p>By default, this page will display all the items that you have imported into Mediathread.</p>
                    
                                    <p>To see items imported and analyzed by others in the course, select a person's name (or All Class Members)
                                    in the Owner drop down menu. Items displayed here can also be filtered by user tags, 
                                    course vocabulary terms (if any), and date last modified.</p>            
                                </div>
                                
                                <h5>How do I build my collection?</h5>
                                <div>
                                    <ul>
                                        {{#is_faculty?}}
                                            <li style="margin-bottom: 4px"><b>Import</b>: Build your collection by 
                                            bookmarking items from sites such as YouTube or Flickr.
                                            To install the bookmarklet into your browser, click the <b>Import into Collection</b> link 
                                            on the <a href="/">home</a> page and follow the directions. <b>Recommend Sites</b> to students via <b>Tools</b> menu / <b>Manage Sources</b>
                                            </li>
                                            
                                            <li style="margin-bottom: 4px">
                                                <b>Upload</b>: Video and audio files may be uploaded 
                                                into Mediathread when you enable this feature in <b>Tools</b> menu / <b>Manage Sources</b>.
                                                An <b>Upload from Computer</b> link and directions then appear on the <a href="/">home</a> page.  
                                            </li>
                                        {{/is_faculty?}}
                                        {{^is_faculty}}                                            
                                                <li style="margin-bottom: 4px"><b>Import</b>: Build your collection 
                                                by bookmarking items from sites such as YouTube or Flickr.
                                                To install the bookmarklet into your browser, click the <b>Import into Collection</b> 
                                                on the <a href="/">home</a> page and follow directions. Your instructor also may list 
                                                recommended sites on the home page.</li>
                                                <li><b>Upload</b>: If this feature is enabled, 
                                                you may upload video and audio files from your computer. Click the 
                                                <b>Upload from Computer</b> on the <a href="/">home</a> page and 
                                                follow directions.</li>                                            
                                        {{/is_faculty}}
                                   </ul>                                     
                                </div>
                                </div>                                                               
                            {{/showing_my_items?}}
                            {{^showing_my_items}}
                                {{space_owner.public_name}} has not collected any materials.<br /><br />Please select another owner.                                
                            {{/showing_my_items}}
                        {{/active_filter_count}}
                        {{#active_filter_count}}
                            No items matched your search.<br /><br />Please try again.      
                        {{/active_filter_count}}                         
                   </div>
                {{/assets}} 
                {{#assets}}
                    <div id="record-{{id}}" class="gallery-item record-{{primary_type}} gallery-item-{{id}} static-height rounded">
                        <h4 id="asset-item-{{id}}" class="asset_title asset-{{primary_type}}">
                            <a class="asset-title-link"
                               title="{{{title?default(-Untitled-)}}"
                               href="{{local_url}}">
                                    {{#title?}}
                                        {{{title?ellipses(35)}}}
                                    {{/title?}}
                                    {{^title}}
                                        -Untitled-
                                    {{/title}}
                                    
                            </a>
                        </h4>
                        <div class="asset-thumb">
                            {{^thumbable}}
                                {{^thumb}}
                                    <img class="gallery-item-thumb" src="/site_media/img/nothumb_{{media_type_label}}.png" alt="Item Thumbnail" />
                                {{/thumb}}
                                {{#thumb?}}
                                    <img class="gallery-item-thumb" src="{{thumb}}" alt="Item Thumbnail" />
                                {{/thumb?}}
                            {{/thumbable}}
                        </div>
                        
                        <div>
                            <div class="actions">
                                {{#editable?}}
                                    <a class="collection-choice delete-asset" href="{{id}}" title="Remove item from your collection">
                                        <img src="/site_media/img/icons/meth_delete.png"  class="delete_icon" alt="Remove item from your collection"  />
                                    </a>
                                {{/editable?}}
                                
                                <a class="collection-choice edit-asset-inplace" href="{{local_url}}" title="Edit item attributes">
                                    <img src="/site_media/img/icons/meth_edit.png" class="edit_icon" alt="Edit item attributes"  />
                                </a>
                            </div>
                        
                            {{#annotation_count?}}
                                <div class="item-annotation-count meta">
                                    <span class="metadata-label item-annotation-count-total">{{annotation_count}}</span>
                                    <span class="metadata-value">selections</span>
                                    | <span class="metadata-label item-annotation-count-user">{{my_annotation_count}}</span>
                                      <span class="metadata-value">by me</span>
                                </div>
                            {{/annotation_count?}}
                            {{^annotation_count}}
                                <div class="item-annotation-count meta">
                                    <span class="metadata-label item-annotation-count-total">0</span>
                                    <span class="metadata-value">selections</span>
                                </div>
                            {{/annotation_count}}
                        </div>
                    </div>
                {{/assets}}
                  
            </div>
        {{/>>assets}}
    </div>
    <div id="loaded"></div>    
</div>
{{/>>media_gallery}}