{{#>>classwork_table}}
<div id="classwork_table">
    <div>      
        <div class="filter-widget left">
            {{#>>switcher_collection_chooser}}
            <div class="switcher_collection_chooser switcher collection-chooser" tabindex="1">            
                <a class="switcher-top menuclosed" onclick="switcher(this);">
                    <span class="switcher-prefix">Author </span>
                    <span class="title">{{{selected_label?ellipses(22)}}}</span>
                    <span class="down-arrow" tabindex="3"></span>                
                </a>
                
                <ul class="switcher-options">
                    {{^showing_my_items}}
                    <li>
                        <li class="choice_my_items" id="choice_my_items">
                            <a class="switcher-choice owner" href="{{space_viewer.username}}">&mdash; Me &mdash;</a>
                        </li>
                    </li>
                    {{/showing_my_items}}
                    {{^showing_all_items}}
                    <li class="choice_all_items" id="choice_all_items">
                        <a class="switcher-choice owner" href="all-class-members">&mdash; All Class Members &mdash;</a>
                    </li>
                    {{/showing_all_items}}
                    {{#owners}}                            
                        <li><a class="switcher-choice owner" href="{{username}}">{{public_name}}</a></li>
                    {{/owners}}
                </ul>
            </div>
            {{/>>switcher_collection_chooser}}        
        </div> {{! end filter widget }}
        
        <a href="#" onclick='jQuery("#create-project-menu").toggle();' class="btn-primary create right">
            Create<img src="/site_media/img/menuselect.png" width="6" height="12" />
        </a>
        <div id="create-project-menu" style="display: none;">                
            {{#is_faculty?}}
                <form action="/project/create/" method="post">
                    <input type="hidden" name="title" />
                    <input type="hidden" name="publish" value="Assignment"/>
                    <input type="submit" value="Create Assignment" />
                </form>
                <form action="/project/create/" method="post">
                    <input type="hidden" name="title" />
                    <input type="submit" value="Create Composition" />                         
                </form>            
                <form action="/discussion/create/" method="post">
                    <input type="hidden" name="comment_html" value="Discussion Title" />
                    <input type="hidden" name="app_label" value="courseaffils" />
                    <input type="hidden" name="model" value="course" />
                    <input type="hidden" name="obj_pk" value="{{course.id}}" />
                    <input type="submit" value="Create Discussion" />
                </form>
            {{/is_faculty?}}
            {{^is_faculty}}
                {{#assignments}}
                    <a data-id="{{id}}" class="linkRespond">Respond to <strong>{{title}}</strong></a>
                {{/assignments}}
                {{#assignments?}}                    
                <hr class="divideLinks" />
                {{/assignments?}}
                <form action="/project/create/" method="post">
                    <input type="hidden" name="title" />
                    <input type="submit" value="Create Composition" />                         
                </form>            
            {{/is_faculty}}         
        </div>
    </div>
    <div class="visualclear"></div>
    <table>
    <tbody>
        <tr>
            <td id="projects">
                <div class="column-container projects-column-container" style="padding-bottom: 8px;">
                    <div class="column-contents">
                        {{#>>projects}}
                        <div id="project_table">
                            {{^compositions}}
                                {{^showing_my_items}}                            
                                <div class="homepage-column-info">                                    
                                   No published work available.                                    
                                </div>
                                {{/showing_my_items}}
                            {{/compositions}}
                        
                            {{#compositions?}}
                                <ul id="projects">
                                        
                                    {{#assignments}}
                                        <li class="projectlist assignment" id="assignment-{{id}}">
                                            <div>
                                                <span class="metadata-value-assignment">Assignment</span>
                                                {{#due_date?}}
                                                    <span class="metadata-value-assignment right">due {{due_date}}</span>
                                                {{/due_date?}}
                                            </div>
                                            <h3>
                                                <a href="{{url}}" class="asset_title type-assignment" title='View "{{{title?default(Untitled)}}}"'>
                                                  {{{title?default(-Untitled-)}}}
                                                </a>
                                            </h3>
                                            
                                            <div class="meta">
                                                <span class="metadata-label">Saved at:</span>
                                                <span class="metadata-value">{{modified_date}} on {{modified_time}}</span>
                                                <br />
                                            </div>
                                            
                                            {{^is_faculty}}
                                                <a data-id="{{id}}" class="btnRespond">Respond to Assignment</a>
                                            {{/is_faculty}}
                                        </li>
                                    {{/assignments}}
                                    
                                    {{#projects}}
                                        <li class="projectlist
                                                   {{^display_as_assignment}}composition{{/display_as_assignment}}
                                                   {{#display_as_assignment?}}assignment{{/display_as_assignment?}}"
                                                   id="project-{{id}}">
                                                
                                            <div>   
                                            {{^display_as_assignment}}
                                                <span class="metadata-value-composition">Composition</span>
                                            {{/display_as_assignment}}
                                            {{#display_as_assignment?}}
                                                <span class="metadata-value-assignment">Assignment</span>
                                                {{#collaboration.due_date?}}
                                                    <span class="metadata-value-assignment right">due {{collaboration.due_date}}</span>
                                                {{/collaboration.due_date?}}
                                                {{#due_date?}}
                                                    <span class="metadata-value-assignment right">due {{due_date}}</span>
                                                {{/due_date?}}
                                            {{/display_as_assignment?}}
                                            </div>
                                            
                                            {{^collaboration}}
                                                <h3>                                       
                                                <a href="{{url}}"
                                                   class="asset_title
                                                          {{#display_as_assignment?}}type-assignment{{/display_as_assignment?}}
                                                          {{^display_as_assignment}}type-project{{/display_as_assignment}}"                                                        
                                                   title='View "{{{title?default(Untitled)}}}"'>
                                                       {{{title?default(Untitled)}}}
                                                </a>
                                                
                                                {{#editable?}}
                                                    <a title="Delete this Composition"
                                                        {{#display_as_assignment?}}
                                                            onclick="return ajaxDelete(this, 'project-{{id}}', { object_type: 'assignment' });"
                                                        {{/display_as_assignment?}}
                                                        {{^display_as_assignment}}
                                                            onclick="return ajaxDelete(this, 'project-{{id}}', { object_type: 'composition' });"
                                                        {{/display_as_assignment}}"
                                                        href="/project/delete/{{id}}/">
                                                        <img src="/site_media/img/icons/meth_delete.png"
                                                            width="25" height="25" 
                                                            class="delete_icon" alt="Delete" /></a>
                                                {{/editable?}}
                                                
                                                </h3>                                                
                                            {{/collaboration}}                                  
                                            {{#collaboration?}}
                                                <h3>
                                                <a href="{{collaboration.url}}"
                                                   class="asset_title type-assignment"
                                                   title='View "{{{collaboration.title?default(Untitled)}}}"'>
                                                       {{{collaboration.title?default(Untitled)}}}
                                                </a>
                                                </h3>
                                            {{/collaboration?}}
                                            
                                           <div class="meta">                                            
                                                {{#collaboration?}}
                                                    <div class="assignment-listitem response">
                                                        <span class="metadata-label">Response:</span> 
                                                        <span class="metadata-value">
                                                            <a class="metadata-value-response" href="{{url}}">{{title}}</a>
                                                            {{#editable?}}
                                                                <a href="/project/delete/{{id}}/"
                                                                    onclick="return ajaxDelete(this,
                                                                        'project-{{id}}',
                                                                        { 'object_type': 'assignment response',
                                                                          'success': function() { jQuery(window).trigger('projectlist.refresh'); }
                                                                        });"
                                                                    title="Delete My Response">
                                                                    <img src="/site_media/img/icons/meth_delete.png"
                                                                        class="delete_icon" alt="Delete"
                                                                        width="25" height="25" />
                                                                </a>
                                                            {{/editable?}}
                                                        </span>
                                                    </div>
                                               {{/collaboration?}}
                                               
                                               <div class="metadata">
                                                  <span class="metadata-label">by</span>
                                                  <span class="metadata-value metadata-value-author">{{#authors}}{{name}}{{^last}}, {{/last}}{{/authors}}</span>
                                                  <span class="metadata-label">saved on</span>
                                                  <span class="metadata-value">{{modified_date}} at {{modified_time}}</span>                                            
                                               </div>
                                               {{#is_assignment?}}
                                                   <div class="metadata">
                                                       <span class="metadata-value metadata-value-status">{{{responses}}} responses</span>
                                                   </div>                                                   
                                               {{/is_assignment?}}
                                               {{^is_assignment}}
                                                   <div class="metadata">
                                                       <span class="metadata-value metadata-value-status">{{{status}}}</span>
                                                   </div>
                                               {{/is_assignment}}
                                               {{#feedback?}}
                                                  <div class="feedback">
                                                  <a class="btn-feedback" href="{{url}}feedback/">Read Instructor Feedback</a>
                                                  </div>
                                               {{/feedback?}}                                            
                                              
                                              <br />  
                                            </div>
                                        </li>
                                    {{/projects}}
                                </ul>    
                            {{/compositions?}}
                           </div>
                        {{/>>projects}}
                    </div>

                </div>
            </td>
        
        </tr>
    </tbody>
</table>
<div id="loaded"></div>
</div>
{{/>>classwork_table}}
