{{#>>classwork_table}}
<div id="classwork_table">
    <div class="filter-widget">
        {{#>>switcher_collection_chooser}}
        <div class="switcher_collection_chooser switcher collection-chooser" tabindex="1">
            <span class="switcher-prefix">Owner: </span>
            <a class="switcher-top menuclosed" onclick="switcher(this);">
                <span class="down-arrow" tabindex="3"></span>
                <span class="title">{{{selected_label}}}</span>
            </a>
            
            <ul class="switcher-options" style="left: -51px">
                {{^showing_my_items}}
                <li>
                    <ul class="switcher-sub" id="switcher-extras">
                        <li class="choice_my_items" id="choice_my_items">
                            <a class="switcher-choice owner" href="{{space_viewer.username}}">&mdash; Me &mdash;</a>
                        </li>
                    </ul>
                </li>
                {{/showing_my_items}}
                <li>
                    <ul class="scroll switcher-sub">
                        {{^showing_all_items}}
                        <li class="choice_all_items" id="choice_all_items">
                            <a class="switcher-choice owner" href="all-class-members">&mdash; All Class Members &mdash;</a>
                        </li>
                        {{/showing_all_items}}
                        {{#owners}}                            
                            <li><a class="switcher-choice owner" href="{{username}}">{{public_name}}</a></li>
                        {{/owners}}
                    </ul>
                </li>
            </ul>
        </div>
        {{/>>switcher_collection_chooser}}        
    </div> {{! end filter widget }}
    
    <table>
    <tbody>
        <tr>
            <td id="projects">
                <div class="column-container projects-column-container" style="padding-bottom: 8px;">
                    <div class="column-contents scroll">
                        {{#>>projects}}
                        <div id="project_table">
                            
                            {{#compositions?}}
                                <ul id="projects">
                                        
                                    {{#assignments}}
                                        <li class="projectlist assignment" id="assignment-{{id}}">
                                            <span class="metadata-value-assignment">Assignment</span>
                                            <h3>
                                                <a href="{{url}}" class="asset_title type-assignment" title='View "{{{title?default(Untitled)}}}"'>
                                                  {{{title?default(-Untitled-)}}}
                                                </a>
                                            </h3>
                                            <div class="meta">
                                                <span class="metadata-label">Saved at:</span>
                                                <span class="metadata-value">{{modified_date}} on {{modified_time}}</span>
                                                <br />
                                            </div>
                                                <a data-id="{{id}}" class="btnRespond">Respond to Assignment</a>
                                        </li>
                                    {{/assignments}}
                                    
                                    {{#projects}}
                                        <li class="projectlist
                                                   {{^display_as_assignment}}composition{{/display_as_assignment}}
                                                   {{#display_as_assignment?}}assignment{{/display_as_assignment?}}"
                                                   id="project-{{id}}">
                                            {{^display_as_assignment}}<span class="metadata-value-composition">Composition</span>{{/display_as_assignment}}
                                            {{#display_as_assignment?}}<span class="metadata-value-assignment">Assignment</span>{{/display_as_assignment?}}
                                            
                                            {{^collaboration}}
                                                <h3>                                       
                                                <a href="{{url}}"
                                                   class="asset_title
                                                          {{#display_as_assignment?}}type-assignment{{/display_as_assignment?}}
                                                          {{^display_as_assignment}}type-project{{/display_as_assignment}}"                                                        
                                                   title='View "{{{title?default(Untitled)}}}"'>
                                                       {{{title?default(Untitled)}}}
                                                </a>
                                                
                                                {{#editable?}}
                                                    <a title="Delete this Composition"
                                                        {{#display_as_assignment?}}
                                                            onclick="return ajaxDelete(this, 'project-{{id}}', { object_type: 'assignment' });"
                                                        {{/display_as_assignment?}}
                                                        {{^display_as_assignment}}
                                                            onclick="return ajaxDelete(this, 'project-{{id}}', { object_type: 'composition' });"
                                                        {{/display_as_assignment}}"
                                                        href="/project/delete/{{id}}/"><img src="/site_media/img/icons/meth_delete.png" 
                                                        class="delete_icon" alt="Delete" /></a>
                                                {{/editable?}}
                                                
                                                </h3>                                                
                                            {{/collaboration}}                                  
                                            {{#collaboration?}}
                                                <h3>
                                                <a href="{{collaboration.url}}"
                                                   class="asset_title type-assignment"
                                                   title='View "{{{collaboration.title?default(Untitled)}}}"'>
                                                       {{{collaboration.title?default(Untitled)}}}
                                                </a>
                                                </h3>
                                            {{/collaboration?}}                                        
                                            
                                           <div class="meta">
                                                {{#collaboration?}}
                                                    <div class="assignment-listitem response">
                                                        <span class="metadata-label">                                                            
                                                             My Response:</span> 
                                                        <span class="metadata-value"><a href="{{url}}">{{title}}</a>
                                                            {{#editable?}}
                                                                <a href="/project/delete/{{id}}/"
                                                                    onclick="return ajaxDelete(this,
                                                                        'project-{{id}}',
                                                                        { 'object_type': 'assignment response',
                                                                          'success': function() { jQuery(window).trigger('projectlist.refresh'); }
                                                                        });"
                                                                    title="Delete My Response">
                                                                    <img src="/site_media/img/icons/meth_delete.png" class="delete_icon" alt="Delete" />
                                                                </a>
                                                            {{/editable?}}
                                                        </span>
                                                    </div>
                                               {{/collaboration?}}
                                               
                                               <div class="metadata">
                                                  <span class="metadata-label">by</span>
                                                  <span class="metadata-value metadata-value-author">{{#authors}}{{name}}{{^last}}, {{/last}}{{/authors}}</span>
                                                  <span class="metadata-label">saved on</span>
                                                  <span class="metadata-value">{{modified_date}} at {{modified_time}}</span>                                            
                                               </div>
                                               
                                               {{#feedback?}}
                                                  <div class="feedback">
                                                  <a class="btn-feedback" href="{{url}}feedback/">Read Instructor Feedback</a>
                                                  </div>
                                               {{/feedback?}}                                            
                                              
                                              <br />  
                                            </div>
                                        </li>
                                    {{/projects}}
                                </ul>    
                            {{/compositions?}}
                           </div>
                        {{/>>projects}}
                    </div>

                </div>
            </td>
        
        </tr>
    </tbody>
</table>
<div id="loaded"></div>
</div>
{{/>>classwork_table}}
