<div class="panel-subcontainer {{context.project.type}}">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="col-md-6 pl-0">
            <h1 class="page-title" {{#context.can_edit}}contenteditable="true"{{/context.can_edit}}>
                {{context.project.title}}
            </h1>
            <input name="title" value="{{context.project.title}}" type="hidden" />
        </div>
        <div class="col-md-6 text-right">
            <div class="mt-1">
                {{#context.can_edit}}
                    <button class="project-authorsbutton btn btn-outline-secondary btn-sm"
                        data-toggle="modal" data-target="#authors-modal" data-keyboard="false">
                        Authors
                    </button>
                    <div id="authors-modal" class="add-authors modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Authors</h5>
                                </div>
                                <div class="modal-body">
                                    <p class="text-left">Select additional authors</p>
                                    {{{context.form.participants}}}
                                    <div class="invalid-feedback">
                                        Please specify one or more authors, including yourself.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-save-authors">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/context.can_edit}}

                {{#context.can_edit}}
                    <button class="project-revisionbutton btn btn-outline-secondary btn-sm">
                        Revisions
                    </button>

                    <div id="project-revisions" class="revision-list" style="display: none" title="Revisions">
                    </div>
                {{/context.can_edit}}

                {{#context.project.is_essay_assignment}}
                    {{^is_faculty}}
                        {{^context.my_responses.length}}
                            {{^context.my_response}}
                                <button class="{{context.project.type}} project project-create-assignment-response btn btn-outline-secondary btn-sm"
                                    type="button">
                                    Respond to Assignment
                                </button>
                            {{/context.my_response}}
                        {{/context.my_responses.length}}
                    {{/is_faculty}}
                {{/context.project.is_essay_assignment}}

                {{#context.my_response}}
                    {{^context.viewing_my_response}}
                        <button class="project project-my-response btn btn-outline-secondary btn-sm"
                            type="button" data-url="{{context.my_response.url}}">
                            My Response
                        </button>
                    {{/context.viewing_my_response}}
                {{/context.my_response}}

                {{#context.my_responses.length}}
                    <button class="project project-my-responses btn btn-outline-secondary btn-sm"
                        type="button">
                        My Responses ({{context.my_responses_count}})
                    </button>
                    <div class="my-response-list" style="display: none" title="My Responses">
                        <div>Select an assignment response, then click "View"</div>
                        <select name="my-responses" multiple="multiple">
                            {{#context.my_responses}}
                                <option value="{{url}}">
                                    {{ modified }} &mdash;
                                    {{#attribution_list}}
                                        {{ name }}{{^last}}, {{/last}} 
                                    {{/attribution_list}}
                                </option>
                            {{/context.my_responses}}
                        </select> 
                    </div>
                {{/context.my_responses.length}}

                {{#context.responses.length}}
                    <button class="project project-responsesbutton btn btn-outline-secondary btn-sm"
                        type="button">
                        Class Responses ({{context.response_count}})
                    </button>
                    <div class="response-list" style="display: none" title="Responses">
                        <div>Select an assignment response, then click "View"</div>
                        <select name="responses" multiple="multiple">
                          {{#context.responses}}
                            <option value="{{url}}">
                              {{#attribution_list}}
                                {{ name }}{{^last}}, {{/last}} 
                              {{/attribution_list}}
                               &mdash; {{ submitted }}
                            </option>
                          {{/context.responses}}
                        </select>
                    </div>
                {{/context.responses.length}}

                {{#context.create_instructor_feedback}}
                    <button class="{{context.project.type}} project project-create-instructor-feedback btn btn-default btn-xs"
                        type="button">
                        Create Instructor Feedback
                    </button>
                {{/context.create_instructor_feedback}}

                <a class="project-export btn btn-outline-secondary btn-sm" href="/project/export/msword/{{context.project.id}}/">
                    Export to Word
                </a>

                <a class="project-print btn btn-outline-secondary btn-sm" href="/project/export/html/{{context.project.id}}/" target="_blank">
                    Print
                </a>

                {{#context.can_edit}}
                    <button class="project-savebutton btn btn-primary btn-sm" type="button">
                        Save
                    </button>
                    <div class="save-publish-status modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Save Changes</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h6>Visibility</h6>
                                            <p>Select who can see your work.</p>
                                        </div>
                                        <div class="col small text-right text-danger mr-2">
                                            required
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{{context.form.publish}}}
                                    </div>
                                    {{#context.project.is_essay_assignment}}
                                    {{#is_faculty}}
                                        <div class="form-group">
                                            <div class="right small">optional</div>
                                            <label for="due_date">Due Date</label><br />
                                            <input class="form-control" type="text" name="due_date"
                                                value="{{context.project.due_date}}" id="id_due_date">
                                            <br />
                                        </div>
                                        <div class="form-group">
                                            <div class="right small">required</div>
                                            <label for="response_view_policy">Responses</label>
                                            <div class="small">Choose when students can see responses submitted by other students</div><br />
                                            <div class="form-group">
                                                {{{context.form.response_view_policy}}}
                                                <div class="small help-inline">Select a response visibility level</div> 
                                            </div>
                                        </div>
                                    {{/is_faculty}}
                                    {{/context.project.is_essay_assignment}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-save-project">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/context.can_edit}}
            </div>
        </div>
    </div>
    {{#context.responses.length}}
        <div class="row">
            <div class="col-md-12">
                <div id="search-well">
                    @todo - For the Composition Assignment -
                    show or toggle on an interface to navigate through responses.
                </div>
            </div>
        </div>
    {{/context.responses.length}}
    <div class="row">
        <div class="col-md-12">
            <div class="row no-gutters">
                <div class="col">
                    <div class="participant-container">
                        <h5>by <span class="participants_chosen">
                            {{#context.project.participants}}
                                {{public_name}}{{^last}}, {{/last}}
                            {{/context.project.participants}}
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="col text-right text-secondary pr-3">
                    {{#context.project.visibility_long}}
                        <span class="project-visibility-description">
                            {{context.project.visibility_long}}
                        </span>
                        <span class="project-due-date">
                            {{#context.project.due_date}}Due {{context.project.due_date}}{{/context.project.due_date}}
                        </span>
                        <a class="last-version-public"
                            style="display: {{#context.project.public_url}}inline{{/context.project.public_url}}{{^context.project.public_url}}none{{/context.project.public_url}}" href="{{context.project.public_url}}">(permalink)</a>
                        {{#context.project.current_version}}
                            <span class="project-current-version" style="display: inline">
                                | Version {{context.project.modified}}
                            </span>
                        {{/context.project.current_version}}
                    {{/context.project.visibility_long}}
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        {{! Media Display Window and or a Collections box }}
        <div class="col-md-6 order-md-2">
            <div class="collection-materials"
                style="display:{{^context.editing}}none{{/context.editing}}">
                <div class="ajaxloader">
                    <div class="message">
                    <img alt="Loading..." src="{{#staticUrl}}{{/staticUrl}}img/ajax-loader.gif">
                    <br /><br />
                    <div>Refreshing the collection</div>
                    </div>
                </div>
                <div id="{{context.project.id}}-collection_table" class="collection_table"></div>
            </div>
            <div class="asset-view-published"
                style="{{#context.editing}}display: none{{/context.editing}}">
                <div id="{{context.project.id}}-videoclipbox" class="videoclipbox" style="display: none;">
                    <div class="asset-object" style="border: none; background-color: #ededed;"></div>
                    <div class="asset-display"></div>
                    <div class="clipstrip-display"></div>
                    <blockquote class="blockquote text-center mt-2">
                        <div class="annotation-title publishedCitation text-center"></div>
                        <div class="asset-title text-center"></div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="essay-space-container">
                <div class="row mt-4 mb-2 write-preview">
                    <div class="col">
                        {{#context.can_edit}}
                        <div id="view-toggle" class="btn-group" role="group" aria-label="View Toggle">
                            <button class="btn btn-outline-primary btn-sm project-editbutton {{#context.editing}}active{{/context.editing}}">
                                Write
                            </button>
                            <button class="btn btn-outline-primary btn-sm project-previewbutton {{^context.editing}}active{{/context.editing}}">
                                Preview
                            </button>
                        </div>
                        {{/context.can_edit}}
                    </div>
                </div>

                {{#context.can_edit}}
                    <textarea id="{{context.project.id}}-project-content"
                        tabindex="0" name="body"
                        class="mceEditor project-content"
                        style="display: none;">
                        {{{context.project.body}}}
                    </textarea>
                {{/context.can_edit}}
                <div id="{{context.project.id}}-essay-space" class="essay-space mt-4" 
                    style="display:{{#context.editing}}none{{/context.editing}}{{^context.editing}}block{{/context.editing}}">  
                    {{{context.project.body}}}
                </div>
            </div>
        </div>
    </div>
    <div id="loaded"></div>
</div>