{% extends 'base_new.html' %}

{% block title %}Manage Course |{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row mt-2">
        <div class="col-md-auto">
            <nav aria-label="breadcrumb" class="d-none d-md-block">
              <ol class="breadcrumb bg-light mb-0">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'course_detail' request.course.pk %}">
                        Back to course
                    </a>
                </li>
              </ol>
            </nav>
        </div>
    </div>
    <div class="dashboard-module-header"><h2>Manage Course</h2></div>

    <div class="layout-horizontal">
        <div class="layout-horizontal-left">
            <nav aria-label="context" role="navigation">
                <ul class="section-tabs">
                    <li>
                        <strong>Preferences</strong>
                    </li>
                    <li>
                        <a
                            {% if '/settings/' in request.path %}class="active"{% endif %}
                            href="{% url 'course-settings-general' request.course.pk %}">
                            General Settings
                        </a>
                    </li>
                    <li>
                        <a
                            {% if '/roster/' in request.path %}class="active"{% endif %}
                            href="{% url 'course-roster' request.course.pk %}">Roster</a>
                    </li>
                    <li>
                        <a
                            {% if '/taxonomy/' in request.path %}class="active"{% endif %}
                            href="{% url 'taxonomy-workspace' request.course.pk %}">Vocabulary</a>
                    </li>
                    <li>
                        <strong>Materials</strong>
                    </li>
                    <li>
                        <a
                            {% if '/sources/' in request.path %}class="active"{% endif %}
                            {% if '/ingest/' in request.path %}class="active"{% endif %}
                            href="{% url 'course-manage-sources' request.course.pk %}">Sources</a>
                    </li>
                    {% if user.is_staff and settings.PANOPTO_SERVER %}
                    <li>
                        <a
                            {% if '/panopto/' in request.path %}class="active"{% endif %}
                            href="{% url 'course-panopto-source' request.course.pk %}">Panopto Sources</a>
                    </li>
                    {% endif %}
                    <li>
                        <a
                            {% if '/migrate/' in request.path %}class="active"{% endif %}
                            href="{% url 'dashboard-migrate' request.course.pk %}">Migrations</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a {% if '/convert/' in request.path %}class="active"{% endif %}
                                href="{% url 'course-convert-materials' request.course.pk %}">Conversions</a>
                        </li>
                        <li>
                            <a {% if '/delete/' in request.path %}class="active"{% endif %}
                                href="{% url 'course-delete-materials' request.course.pk %}">Deletions</a>
                        </li>
                    {% endif %}
                    <li>
                        <strong>Participation</strong>
                    </li>
                    <li>
                        <a
                            {% if '/reports/class_activity/' in request.path %}class="active"{% endif %}
                            href="{% url 'class-activity' request.course.pk %}">Activity</a>
                    </li>
                    <li>
                        <a
                            {% if '/reports/class_summary/' in request.path %}class="active"{% endif %}
                            href="{% url 'class-summary' request.course.pk %}">Member Contributions</a>
                    </li>
                    <li>
                        <a
                            {% if '/reports/class_assignments/' in request.path %}class="active"{% endif %}
                            href="{% url 'class-assignments' request.course.pk %}">Assignment Responses</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="layout-horizontal-right">
            <div class="dashboard-module-body">
                {% block dashboard_content %}{% endblock %}
            </div>
        </div>
    </div><!-- .layout-horizontal -->
{% endblock %}
