{% extends "base.html" %}
{% load comments %}

{% block title %}Instructor Dashboard{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/app/dashboard/reports.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="dashboard-module-header">
        {% block dashboard_module_header %}
        {% endblock %}
    </div>

    <div id="dashboard-module-body">
        {% block dashboard_module %}{% endblock %}
    </div>

{% endblock %}
