{% extends 'dashboard/base_course_dashboard.html' %}
{% load coursetags %}
{% load static %}
{% block title %}{{block.super}}&mdash; Course Roster{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/app/dashboard/class_roster.js"></script>
{% endblock %}

{% block uncompressable_js %}
    <script src="{% static 'js/lib/tablesorter/jquery.tablesorter.combined.min.js' %}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new CourseRosterView({
                el: jQuery(".roster-container"),
            });
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <h2>Course Roster</h2>
<div class="roster-container">
    <div>
        <h3>
            <a href="#roster-table">{{object_list|length}} Members</a>{% if invitations|length > 0 %}, <a href="#invite-table">{{invitations|length}} Invitations</a>{% endif %}
        </h3>
    </div>
    {% if can_edit %}
    <div class="pull-right">
        <button class="btn btn-default btn-sm"
            data-toggle="modal" data-target="#invite-email-user">
            Invite by Email Address
        </button>
        <!-- Modal -->
        <div class="modal fade" id="invite-email-user" tabindex="-1" role="dialog" aria-labelledby="Add User">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Invite by Email Address</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'course-roster-invite-email' %}" method="POST">
                            {% csrf_token %}
                            <p>
                            <b>About Inviting Students</b><br />
                            An instructor can invite a student into the course by providing an email address.
                            An invitation will be sent to the student with instructions on how to create an
                            account and login to the Mediathread course.</p>

                            <p><b>How To Invite Students</b><br />
                            To invite students, enter a list of email addresses separated by commas. The users will
                            receive an invitation to the course via email.</p>

                            {% if blocked %}
                            <p><b>Blocked Email Domain</b><br />
                            Some email domains have been blocked for institutional reasons.<br />
                            <p>Email invitation is <b>blocked</b> for:
                                <ul>
                                {% for e in blocked %}
                                    <li>{{e}}</li>
                                {% endfor %}
                                </ul>
                            </p>
                            <br />
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <textarea class="form-control" name="emails" placeholder="email addresses separated by commas"></textarea>
                                <div class="help-inline">At least one email address is required.</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-invite_email-user">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="visualclear"></div>
    <a name="roster-table"></a>
    <div class="table-responsive">
        <table class="tablesorter">
            <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Role
                </th>
                {% if can_edit %}
                <th class="nosort">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                {% course_role for user in course as role %}
                <tr>
                    <td>
                        {{user.last_name}}
                    </td>
                    <td>
                        {{user.first_name}}
                    </td>
                    <td>{{user.username}}</td>
                    <td class="role">
                        {% if role == "instructor" %}
                            Faculty &nbsp;
                            {% if can_edit %}
                            <form class="inline" action="{% url 'course-roster-demote' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="faculty_id" value="{{user.id}}" />
                                <button data-user-fullname="{{user.get_full_name}}"  data-user-id="{{user.id}}"
                                 class="btn btn-default btn-sm btn-demote" type="submit">
                                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Demote
                                </button>
                            </form>
                            {% endif %}
                        {% else %}
                            Student &nbsp;
                            {% if can_edit %}
                            <form class="inline" action="{% url 'course-roster-promote' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="student_id" value="{{user.id}}" />
                                <button data-user-fullname="{{user.get_full_name}}" data-user-id="{{user.id}}"
                                 class="btn btn-default btn-sm btn-promote" type="submit">
                                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Promote
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if can_edit %}
                    <td>
                        <form class="inline" action="{% url 'course-roster-remove' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                            <button data-user-fullname="{{user.get_full_name}}" data-user-id="{{user.id}}"
                             class="btn btn-default btn-sm btn-remove" type="submit">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if invitations|length > 0 %}
        <a name="invite-table"></a>
        <h2>Invitations</h2>
        <div class="table-responsive">
            <table class="tablesorter">
                <thead>
                    <tr>
                    <th>Email</th>
                    <th>Invited By</th>
                    <th>Invited At</th>
                    <th>Accepted</th>
                    <th>Resend Invite</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invite in invitations %}
                        <tr>
                            <td>{{invite.email}}</td>
                            <td>{{invite.invited_by}}</td>
                            <td>{{invite.invited_at}}</td>
                            <td>
                                {% if invite.accepted_at %}
                                    {{invite.accepted_at}}
                                {% endif %}
                            </td>
                            <td>
                                {% if not invite.accepted_at %}
                                    <form class="inline" action="{% url 'course-roster-resend-email' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="invite-id" value="{{invite.id}}" />
                                        <button class="btn btn-default btn-sm"
                                            type="submit"
                                            data-invite-id="{{invite.id}}">
                                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Resend Invitation
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div>
    {% endif %}
</div>
{% endblock %}
