{% extends 'dashboard/base_course_dashboard.html' %}
{% load assetlinks %}
{% block title %}Panopto Source Folder{% endblock %}

{% block switchcourse %}{% endblock %}

{% block css %}
<style>
    ul.errorlist {
        list-style: none;
        margin: 0;
    }
</style>
{% endblock %}

{% block messages %}{% endblock %}


{% block dashboard_module_header %}
    <h2>Panopto Source Folder</h2>
{% endblock %}

{% block dashboard_content %}
<div class="card bg-light mb-3">
    <div class="card-body">
    <h3 class="card-title">Panopto Source Folder</h3>
    <p>Import materials from a Panopto folder</p>
    <form action="." method="POST" class="{% if form.errors %}has-error{% endif %}">
        <label class="font-weight-bold" for="panopto-folder-name">Panopto Folder UUID: </label>
        <input class="form-control" name="folder_name" id="panopto-folder-name" />

        <br /><br />
        <input class="btn btn-primary" type="submit" name="clear-course" value="Submit"></input>
    </form>

    {% if messages %}
        <hr />
        <h3>Import Results</h3>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
