{% extends 'dashboard/base_course_dashboard.html' %}
{% load comments user_projects coursetags %}

{% block dashboard_content %}
<h2>Assignment Report: {{assignment.title}}</h2>
<a class="float-right"
    href="{% url 'assignment-detail-report' assignment.id %}">
    Download Detail
</a>
<div class="clearfix"></div>
<br /><br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th>Title</th>
      <th>Status</th>
      <th>Submit Date</th>
      <th>Faculty Feedback</th>
    </tr>
  </thead>
  <tbody class="table-striped">
{% for response in responses %}
  <tr>
    <td>
      {% public_name for response.attribution_list %}
    </td>
    <td>
      <a href="{{response.get_absolute_url}}">{{response.title}}</a>
    </td>
    <td>
      {{response.status}}
    </td>
    <td>
      {{response.date_submitted|date}}
    </td>
    <td>
      {% with response.feedback_discussion as feedback %}
      {% if feedback %}
        Yes
      {% else %}
        No
      {% endif %}
      {% endwith %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
