{% extends "dashboard/base_dashboard.html" %}
{% load assetlinks %}
{% block title %}Manage Course Settings{% endblock %}


{% block uncompressable_js %}
    <script type="text/javascript">
        function setVisibilityOptions() {
            if (jQuery("#item_visibility_no").is(":checked")) {
                jQuery("#selection_visibility_yes").prop("checked", false);
                jQuery("#selection_visibility_no").prop("checked", true);
                jQuery("#selection_visibility_yes").prop("disabled", true);
                jQuery("#selection_visibility_no").prop("disabled", true);
            } else {
                jQuery("#selection_visibility_yes").removeAttr("disabled");
                jQuery("#selection_visibility_no").removeAttr("disabled");
            }
        }

        jQuery(document).ready(function() {
            jQuery("#item_visibility_no, #item_visibility_yes").click(function() {
                setVisibilityOptions();
            });

            jQuery("form[name='course-information-title-form']").submit(function() {
                var title = jQuery("input[name='course_information_title']").val();
                if (title.length < 1 || title.length > 25) {
                    alert("Please specify a title. Titles should be less than 25 characters");
                    return false;
                } else {
                    return true;
                }
            });

            setVisibilityOptions();
        });
    </script>

{% endblock %}

{% block switchcourse %}{% endblock %}

{% block dashboard_module_header %}
    <h2>Manage Course Settings</div></h2>
{% endblock %}

{% block dashboard_module %}

    {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="well">
        <h3>Homepage "From Your Instructor" Title</h3>
        <p>This feature allows faculty to customize the left-hand column title on the Mediathread homepage.
        Titles should be less than 25 characters long.</p>
        <form action="{% url 'course-settings' %}" name="course-information-title-form" method="POST">
            <input class="form-control" type="text" name="course_information_title" value="{{course_information_title}}" />
            <br />
            <input class="btn btn-default right" type="submit" value="Save Title"></input>
        </form>
        <div class="visualclear"></div>
    </div>

    <div class="well">
    <h3>"Publish To The World" Compositions</h3>
    <p>This feature allows authors to publish compositions at
    a public level, via a link that does not require logging into Mediathread.</p>
        <form action="{% url 'course-settings' %}" method="POST">
            <h4 style="display: inline">Enabled:</h4>&nbsp;&nbsp;
            <label>
                <input type="radio" name="allow_public_compositions" id="allow_public_compositions_yes" value="1" {% if allow_public_compositions %}checked{% endif %} /> Yes
            </label>&nbsp;&nbsp;
            <label>
                <input type="radio" name="allow_public_compositions" id="allow_public_compositions_no" value="0" {% if not allow_public_compositions %}checked{% endif %} /> No
            </label>
            <div class="visualclear"></div>
            <br />
            <input class="btn btn-default" id="allow_public_compositions_submit" type="submit" value="Save Publish Options"></input>
        </form>
    </div>

    <div class="well">
        <h3>Item & Selection Visibility</h3>
        <p>Turning off item or selection visibility hides individual items or selections from all
        collections views. Students can still view an item or selection embedded
        in a visible composition. Faculty always can view all items and selections.</p>

        <form action="{% url 'course-settings' %}" method="POST">
            <h4 style="display: inline">Course members can see each other's items</h4>: &nbsp;
            <label>
            <input type="radio" name="item_visibility" id="item_visibility_yes" value="1" {% if item_visibility %}checked{% endif %} /> Yes
            </label>&nbsp;&nbsp;
            <label>
            <input type="radio" name="item_visibility" id="item_visibility_no" value="0" {% if not item_visibility %}checked{% endif %} /> No
            </label>
            <br /><br />
            <h4 style="display: inline">Course members can see each other's selections</h4>: &nbsp;
            <label>
            <input type="radio" name="selection_visibility" id="selection_visibility_yes" value="1" {% if selection_visibility %}checked{% endif %} /> Yes
            </label>&nbsp;&nbsp;
            <label>
            <input type="radio" name="selection_visibility" id="selection_visibility_no" value="0" {% if not selection_visibility %}checked{% endif %} /> No
            </label>
            <br /><br />

            <input class="btn btn-default" id="selection_visibility_submit" type="submit" value="Save Visiblity Options"></input>
        </form>
    </div>

    <div class="well">
        <h3>LTI Integration</h3>
        <form action="{% url 'lti-enable-course' %}" method="POST">
            <label>
            <h4 style="display: inline">Allow external tools to access this course</h4>: &nbsp;
            <input type="radio" name="lti-enable" value="1" {% if lti_context and lti_context.enable %}checked{% endif %} /> Yes
            </label>&nbsp;&nbsp;
            <label>
            <input type="radio" name="lti-enable" value="0" {% if not lti_context or not lti_context.enable %}checked{% endif %} /> No
            </label>
            <br /><br />

            {% if lti_context and lti_context.enable %}
                <h5>Instructions</h5>
                <ol>
                    <li>Unique Course Identifier: {{lti_context.uuid}}</li>
                    <li><a href="https://github.com/ccnmtl/mediathread/wiki/LTI-Integration">Read full configuration instructions</a></li>
                </ol>
            {% endif %}

            <input type="hidden" name="next" value="{% url 'course-settings' %}" />
            <input type="hidden" name="group" value="{{course.group.id}}" />
            <input type="hidden" name="faculty_group" value="{{course.faculty_group.id}}" />
            <div><input class="btn btn-default" type="submit" value="Save"></input></div>
        </form>
        <div class="visualclear"></div>
    </div>
{% endblock %}
