{% extends 'dashboard/base_course_dashboard.html' %}

{% load comments user_projects %}


{% block dashboard_content %}
    <h3>Assignment Responses</h3>
{% if assignments %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Responses</th>
    </tr>
  </thead>
  <tbody class="table-striped">
{% for assignment in assignments %}
  <tr>
    <td>
      {{assignment.title}}
    </td>
    <td>
      <a href="{% url 'class-assignment-report' request.course.pk assignment.id %}">
    {{assignment|assignment_responses:request|length}} / {{num_students}}
      </a>
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
    <p>If you have published assignments to the class, this report allows you to access responses and track your feedback. </p>
{% endif %}

{% endblock %}
