{% extends 'dashboard/base_course_dashboard.html' %}
{% load assetlinks %}
{% block title %}{{block.super}}&mdash; Manage Sources{% endblock %}

{% block dashboard_content %}

{% if settings.IMAGE_UPLOAD_AVAILABLE %}
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h3 class="card-title">Image Uploader</h3>
            <p class="card-text">Mediathread supports direct uploading of images from a user's desktop. By default this direct upload feature is available to instructors.
            You may enable it for all members of your class or disable it.</p>

            <form name="form-image-upload-permission" action="{% url 'course-manage-sources' request.course.pk %}" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <label class="card-subtitle font-weight-bold mb-2" for="upload_image_permission">Set Image Upload Permission Settings</label>: &nbsp;
                    <select name="upload_image_permission" class="form-control" id="upload_image_permission">
                        {% for level in permission_levels %}
                            <option value="{{level.0}}" {% ifequal upload_image_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <input class="btn btn-primary btn-sm float-right" type="submit" value="Save"></input>
                </div>
             </form>
        </div>
    </div>
{% endif %}

<div class="card bg-light mb-3">
    <div class="card-body">
        <h3 class="card-title">Add Recommended Sources</h3>

        <p class="card-text">Mediathread allows users to import videos and images from a variety of supported websites via the Mediathread extension.
        To select a source for your class, click the "Add to Class" button.
        To designate a source not listed here, scroll down to the bottom of this page and follow instructions to "Add Your Own Source".</p>

        {% for suggested in suggested_collections %}
            {% map_course_collection request.course suggested as course_collection %}
            <div class="suggested-collection">
                <form action="{% url 'collection-add-or-remove' %}" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="thumb">
                                {% if suggested.thumb_url %}
                                    <a href="{{suggested.url}}">
                                        <img src="{{STATIC_URL}}{{suggested.thumb_url}}" alt="thumbnail image" />
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{suggested.url}}" class="collection-link">
                                    {{suggested.title}}
                                </a>
                                <br />
                                {{suggested.description|safe|linebreaks}}
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td style="text-align: right">
                                {% if course_collection %}
                                    <input class="btn btn-dark btn-sm" name="remove" type="submit" value="Remove" id="{{suggested.title|slugify}}" />
                                    <input type="hidden" name="collection_id" value="{{course_collection.id}}" />
                                {% else %}
                                    <input class="btn btn-dark btn-sm" name="add" type="submit" value="Add to Class" id="{{suggested.title|slugify}}" />
                                    <input type="hidden" name="suggested_id" value="{{suggested.id}}" />
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <h3 class="card-title">Add Your Own Source</h3>
        <p class="card-text">Feel free to experiment with the Mediathread extension to see if it imports items from an "unsupported" website;
        if it does, you may add this source to your class here. To request extension compatibility with an unsupported source,
        please email {{settings.SERVER_EMAIL}}.

        <form action="{% url 'collection-add-or-remove' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Collection Title</label>
                <input class="form-control" type="text" name="title" value="" />
            </div>
            <div class="form-group">
                <label>Collection URL</label>
                <input class="form-control" type="text" name="url" value="" />
            </div>
            <div class="form-group">
                <label>Thumb URL</label>
                <input class="form-control" type="text" name="thumb" value="" />
            </div>
            <div class="form-group">
                <label>Description</label><br />
                <textarea class="form-control" cols="55" rows="5" name="description"></textarea>
            </div>
            <br /><br />
            <input class="btn btn-dark right" type="submit" value="Add Source to Class" />
            <div class="visualclear"></div>
        </form>
    </div>
</div>

{% if is_staff %}
<div class="card bg-light mb-3">
    <div class="card-body">
        <h3>Specific Internet Resources (Staff Only)</h3>
        <ul style="list-style-type: none" class="p-0">
            <li class="suggested-collection">
                <h3 class="font-weight-bold">YouTube Video</h3>
                <form action="{% url 'asset-save' %}" method="POST">
                    {% csrf_token %}
                    {% include "assetmgr/pretender_select.html" %}
                    <label>YouTube View (Watch) URL: <input type="text" name="url" value="" class="mb-2" /></label>
                        <small class="form-text text-dark">example: https://www.youtube.com/watch?v=MjdEEwzskck</small>
                    <br/>
                    <label>YouTube Video URL: <input type="text" name="youtube" value="" class="mb-2" /></label>
                        <small class="form-text text-dark">example: https://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1</small>
                    <br/>
                    <label>YouTube Title: <input type="text" name="title" value="" class="mb-2" /> </label>
                    <br/>
                    <input class="btn btn-dark btn-sm mb-2" type="submit" />
                </form>
            </li>

            <li class="suggested-collection">
                <h3 class="font-weight-bold">Vimeo</h3>
                <form action="{% url 'asset-save' %}" method="POST">
                    {% csrf_token %}
                    {% include "assetmgr/pretender_select.html" %}

                    <label>
                        Vimeo URL
                        <input class="form-control form-control-sm mb-2"
                               type="text" name="url" value="" />
                        <small class="form-text text-dark">
                            example: https://vimeo.com/12345678
                        </small>
                    </label><br />

                    <label>
                        Title
                        <input class="form-control form-control-sm mb-3"
                               type="text" name="title" value="" />
                    </label><br />

                    <input class="btn btn-dark btn-sm mb-2" type="submit" />
                </form>
            </li>
            <li class="suggested-collection">
                <h3 class="font-weight-bold">Panopto</h3>
                <form action="{% url 'asset-save' %}" method="POST">
                    {% csrf_token %}
                    {% include "assetmgr/pretender_select.html" %}
                    <label>View (Watch) URL: <input type="text" name="url" value="" class="mb-2" /></label>
                    <small class="form-text text-dark">the remote page containing the video</small>
                    <br/>
                    <label>Video URL: <input type="text" name="mp4_panopto" value="" class="mb-2" /></label>
                    <small class="form-text text-dark">the actual video URL</small>
                    <br/>
                    <label>Title: <input type="text" name="title" value="" class="mb-3" /></label>
                    <br/>
                    <input class="btn btn-dark btn-sm mb-2" type="submit" />
                </form>
            </li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
