{% extends "dashboard/base_dashboard.html" %}
{% load assetlinks %}
{% block title %}Manage Sources{% endblock %}

{% block uncompressable_js %}
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            {% if newsrc %}
                var msg = "{{newsrc|escapejs}} has been enabled for your class.";
                showMessage(msg);
            {% else %}{% if delsrc %}
                var msg = "{{delsrc|escapejs}} has been disabled for your class.";
                showMessage(msg);
            {% else %}{% if changes_saved %}
                var msg = "Your changes have been saved.";
                showMessage(msg);
            {% endif %}{% endif %}{% endif %}
        });
    </script>
{% endblock %}

{% block switchcourse %}{% endblock %}

{% block dashboard_module_header %}
    <h2>Manage Sources</div></h2>    
{% endblock %}

{% block dashboard_module %}
    <div class="dashboard-feature">
    <h3>Mediathread Video Uploader</h3>
    <p>Mediathread supports direct uploading of videos from a user's desktop. By default this direct upload feature is turned off.
    You may enable it for just yourself, or enable it for all members of your class.</p>

    {% if upload_enabled %}
        
        <form action="{% url class-manage-sources %}" method="POST" name="form-upload-permission">
            <b>Set Upload Permission Settings</b>: &nbsp;
    
            <select name="upload_permission">
                {% for level in permission_levels %}
                    <option value="{{level.0}}" {% ifequal upload_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
                {% endfor %}
            </select>
            <br /><br />
            <input type="submit" value="submit"></input>
        </form>
    {% else %}
        <form action="{% url asset-save %}" method="POST">
                <input class="addtoclass" type="submit" value="Enable Video Upload" id="mediathread-video-upload">
                <input type="hidden" name="title" value="Mediathread Video Upload">
                <input type="hidden" name="metadata-description" value="Upload your own source material.">
                <input type="hidden" name="metadata-upload" value="1">
                <input type="hidden" name="url" value="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/">
                <input type="hidden" name="archive" value="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/">
                <input type="hidden" name="thumb" value="http://wardenclyffe.ccnmtl.columbia.edu/site_media/img/bg_header.jpg">
                <input type="hidden" name="redirect-url" value="{% url class-manage-sources %}">
         </form>
         <div class="visualclear"></div>
     {% endif %}
    </div>

<div class="dashboard-feature">
    <h3>Add<!--/Remove--> Supported Sources</h3>
    
    <p>Mediathread allows users to import videos and images from a variety of supported websites via the Mediathread bookmarklet.
    To select a source for your class, click the "Add to Class" button.
    To designate a source not listed here, scroll down to the bottom of this page and follow instructions to "Add Your Own Source".</p>
        
        {% for archive in supported_archives %}
                <div class="archive">
                <form action="{% url archive-add-or-remove %}" id="manage-archive-form" method="POST">
                    <table>
                    <tr>
                    <td class="archive_thumb">
                        {% if archive.thumb_url %}
                            <a href="{{archive.archive_url}}"><img src="{{archive.thumb_url}}" alt="thumbnail image" class="archive-link" />
                            </a>
                        {% endif %}
                    </td>
                    <td>                    
                        <a href="{{archive.archive_url}}" class="archive-link">{{archive.title}}</a>
                        <br />
        
                        <span>
                            {{archive.description|safe|urlize|linebreaks}}
                        </span>
                    
                       {% include "assetmgr/pretender_select.html" %}
                       
                       <input type="hidden" name="title" value="{{archive.title}}" />
                       <input type="hidden" name="url" value="{{archive.archive_url}}" />
                       <input type="hidden" name="archive" value="{{archive.archive_url}}" />
                       <input type="hidden" name="thumb" value="{{archive.thumb_url}}" />
                       <input type="hidden" name="metadata-description" value="{{archive.description}}" />
                     </td>
                     <td style="text-align: right">                       
                        {% ifincourse archive course %}
                            <input name="remove" type="submit" value="Remove" id="{{archive.title|slugify}}" />
                        {% else %}
                            <input name="add" type="submit" value="Add to Class" id="{{archive.title|slugify}}" />
                        {% endifincourse %}
                     </td>
                       </tr>
                   </table>
                </form>
                </div>
        {%endfor%}
</div>

<div class="dashboard-feature">
    <h3>Add Your Own Collection</h3>
    <p>Feel free to experiment with the Mediathread bookmarklet to see if it imports items from an 'unsupported' website; 
    if it does, you may add this source to your class here. To request bookmarklet compatibility with an unsupported source, 
    please email ccnmtl-mediathread@columbia.edu. 
    To upload individual items to Mediathread, use the Mediathread Uploader at the top of this page.
    
    
    <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
    
        Collection Title: <input type="text" name="title" value="" />
        <br/>
        Collection URL: <input type="text" name="archive" value="" />
        <br/>
        Collection URL (yes, again): <input type="text" name="url" value="" />
        <br/>
        Description:
        <textarea cols="55" rows="5" name="metadata-description"></textarea>
        <br/>
        Thumb URL: <input type="text" name="thumb" value="" />
        <br/>
            Required Plugin
        <select name="metadata-required">
              <option value="">--None--</option>
              <option value="flash">Flash</option>
              <option value="quicktime">Quicktime</option>
              <option value="realplayer">RealPlayer</option>
              <option value="ogg">Ogg videotag support</option>
            </select>
            <br/>
        <input type="submit" value="Add Source to Class" />
    </form>
</div>


{% if is_staff %} 
<div class="dashboard-feature">
     <h3>Specific Internet Resources</h3>
        <ul>
        <li class="archive">
            <h3>Local Quicktime Streaming Video</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            
            Asset QT Stream: <input type="text" name="quicktime" value="" />
            <br/>
            Asset Title: <input type="text" name="title" value="" />
            <br/>
            Dimensions: <input type="text" name="quicktime-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
            <br/>
            Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
            <br/>
            <input type="submit" />
            </form>
            </li>
            <li class="archive"> 
            <h3>YouTube Video</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            YouTube View (Watch) URL: <input type="text" name="url" value="" /> (example: http://www.youtube.com/watch?v=MjdEEwzskck)
            <br/>
            YouTube Video URL: <input type="text" name="youtube" value="" /> (example: http://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1)
            <br/>
            YouTube Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Flash Video (.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Flash Video URL: <input type="text" name="flv" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Flash Video Pseudo Streaming(.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Flash Video URL: <input type="text" name="flv_pseudo" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            Dimensions: <input type="text" name="flv_pseudo-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
            <br/>
            QueryString: <input type="text" name="querystring" value="" />
            <br/>
            Thumbnail URL: <input type="text" name="thumb" value="" />
            <br/>
            Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
            <br />
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Kaltura .kdp</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Kaltura Video Remote Page: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Kaltura Video URL: <input type="text" name="kaltura" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>MP4 (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>MP3 Audio (.mp3)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the audio clip)
            <br/>
            Audio URL: <input type="text" name="mp3" value="" /> (the actual audio URL)
            <br/>
            Cover Image URL: <input type="text" name="poster" value="" />
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>MP3 Audio (.mp3) as MP4</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the audio clip)
            <br/>
            Audio as MP4 URL: <input type="text" name="mp4_audio" value="" /> (the actual audio URL)
            <br/>
            Cover Image URL: <input type="text" name="poster" value="" />
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>                
        <li class="archive"> 
            <h3>MP4 Pseudo Streaming (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4_pseudo" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            QueryString: <input type="text" name="querystring" value="" />
            <br />
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>RTMP (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4_rtmp" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>RTMP (.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="flv_rtmp" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
            </li>
            <li class="archive"> 
            <h3>RealPlayer (.rm)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="realplayer" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        </ul>
</div>

      <br class="visualclear" />
{% endif %}
{% endblock %}