{% extends 'dashboard/base_course_dashboard.html' %}
{% load assetlinks %}
{% block title %}Delete Course Materials{% endblock %}

{% block switchcourse %}{% endblock %}

{% block css %}
<style>
    ul.errorlist {
        list-style: none;
        margin: 0;
    }
</style>
{% endblock %}

{% block dashboard_module_header %}
    <h2>Delete Course Materials</h2>
{% endblock %}

{% block uncompressable_js %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('form[name="course-clear-form"]').submit(function(evt) {
            if (jQuery('input[name="username"]').val().length === 0) {
                jQuery('form[name="course-clear-form"]').addClass('has-error');
                return false;
            }

            return confirm("Are you very, very sure?");
        });
    });
</script>
{% endblock %}

{% block dashboard_content %}
    <h3>Delete Materials</h3>
    <form action="{% url 'course-delete-materials' request.course.pk %}"
     name="course-clear-form" method="POST"
     class="{% if form.errors %}has-error{% endif %}">
        {% csrf_token %}
        <div class="alert alert-danger">
            <h3 style="margin: 0;">
                DANGER
            </h3>
            <p>
                This utility deletes course materials including items, selections, compositions, assignments and assignment responses.
            </p>
            <p>
                <strong>This action cannot be undone.</strong>
            </p>
        </div>
        <br />

        <p>The following media also will be deleted from CUNIX permanently:</p>
        <ul class="list-group">
            {% for asset in assets %}
                {% if asset.upload_references == 1 %}
                <li class="list-group-item">
                    <a target="about:blank" href="{% url 'asset-view' asset.id %}">{{asset.title}}</a><br />
                    {{asset.primary.url}} {{references}}
                </li>
                {% endif %}
            {% endfor %}
        </ul>

            <br />
            <label>Your username</label> <i>(so we know who to blame)</i>
            <input type="text" name="username" style="width: 25%;"
                class="form-control" />
            <div class="help-inline">
                {% if form.username.errors %}
                    {{form.username.errors}}
                {% else %}
                    Username is required
                {% endif %}
            </div>
            <br /><br />
            <div><label>Include instructor created materials?</label></div>
            <div>
                <label style="font-weight: normal">
                    <input id="id_clear_all_0" name="clear_all" type="radio" value="True"> Yes
                </label>&nbsp;&nbsp;
                <label style="font-weight: normal">
                    <input checked="checked" id="id_clear_all_1" name="clear_all" type="radio" value="False"> No
                </label>
            </div>

            <br /><br />
            <input class="btn btn-warning" type="submit" name="clear-course"
                value="Permanently Delete Materials"></input>
            <input class="btn btn-danger" type="submit" name="delete-course"
                value="Permanently Delete Course"></input>
            <div class="visualclear"></div>
    </form>
{% endblock %}
