{% if paginator.num_pages > 1 %}
    <div class="float-right mt-1">
        <a class="btn btn-secondary btn-sm  {% if not page_obj.has_next %}disabled{% endif %}"
            {% if page_obj.has_next %}
                href="{{base_url}}{{page_obj.next_page_number}}"
                data-page-number="{{page_obj.next_page_number}}"
            {% else %}
                href="#"
            {% endif %}>
            Next <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </a>

        <a class="btn btn-secondary btn-sm  {% if not page_obj.has_next %}disabled{% endif %}"
            href="{{base_url}}{{paginator.num_pages}}"
            data-page-number="{{paginator.num_pages}}">
             Last <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
        </a>
    </div>
    <div class="float-right page-count">
        <label class="px-2" for="page-number-input-{{instance}}">Page {{page_obj.number}} of {{paginator.num_pages}}</label>
    </div>
    <div class="float-right mt-1">
        <a class="btn btn-secondary btn-sm  {% if not page_obj.has_previous %}disabled{% endif %}"
            data-page-number="1" href="{{base_url}}1">
            <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span> First
        </a>
        <a class="btn btn-secondary btn-sm  {% if not page_obj.has_previous %}disabled{% endif %}"
            {% if page_obj.has_previous %} 
                href="{{base_url}}{{page_obj.previous_page_number}}"
                data-page-number="{{page_obj.previous_page_number}}"
            {% else %}
                href="#"
            {% endif %}>
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Prev
        </a>
    </div>
{% endif %}
