{% extends "base_new.html" %}
{% load coursetags static %}

{% block title %}
Assignments
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block content %}
{% course_role for request.user in request.course as role_in_course %}
<div>
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-md-5">
                    <h1 class="page-title">Assignments</h1>
                </div>
                <div class="col-md-7 text-right">
                    {% if role_in_course != "student" %}
                        <div class="form-group col-md-12">
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm btn-outline-secondary mr-2"
                                    href="{% url 'selection-assignment-create' request.course.id %}">
                                    Add Selection Assignment
                                </a>
                                <form action="{% url 'project-create' request.course.id %}" method="post">
                                    <input type="hidden" name="project_type" value="assignment" />
                                    <button id="add-sequence-button" type="submit" class="btn btn-sm btn-outline-secondary mr-2">
                                        Add Composition Assignment
                                    </button>
                                </form>
                                <a class="btn btn-sm btn-outline-secondary"
                                    href="{% url 'sequence-assignment-create' request.course.id %}">
                                    Add Sequence Assignment
                                </a>
                                <form action="{% url 'discussion-create' request.course.id %}" method="post">
                                    <input type="hidden" name="comment_html" value="Discussion Title" />
                                    <input type="hidden" name="app_label" value="courseaffils" />
                                    <input type="hidden" name="model" value="course" />
                                    <input type="hidden" name="obj_pk" value="{{request.course.id}}" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Add Discussion</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if role_in_course != "student" %}
                <div class="accordion mb-3" id="assignment-accordion">
                    <div class="card border-0">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left"
                                    type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    How to add assignments</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse hide bg-light"
                            aria-labelledby="headingOne"
                            data-parent="#assignment-accordion">
                            <div class="card-body">
                                <p class="lead text-center">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <div class="card-group">
                                    <div class="card mx-1">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Selection Assignment
                                            </h5>
                                            <p class="card-text">
                                                A selection assignment allows an instructor to select one video, photo or audio clip from the course collection.
                                            </p>
                                        </div>
                                        <div class="card-footer border-0 bg-white">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="http://support.ctl.columbia.edu/knowledgebase/articles/720141-instructors-selection-assignment"
                                                        class="btn btn-link p-0"  target="_blank" rel="noreferrer">
                                                        Learn More
                                                    </a>
                                                </div>
                                                <div class="col text-right">
                                                    <a class="btn btn-sm btn-outline-secondary mr-2"
                                                        href="{% url 'selection-assignment-create' request.course.id %}">
                                                        Add Selection Assignment
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mx-1">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Composition Assignment
                                            </h5>
                                            <p class="card-text">
                                                A composition assignment allows students to write essays with embedded media selections.
                                            </p>
                                        </div>
                                        <div class="card-footer border-0 bg-white">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="http://support.ctl.columbia.edu/knowledgebase/topics/141337-mediathread-instructor"
                                                        class="btn btn-link p-0" target="_blank" rel="noreferrer">
                                                        Learn More
                                                    </a>
                                                </div>
                                                <div class="col text-right">
                                                    <form action="{% url 'project-create' request.course.id %}" method="post">
                                                        <input type="hidden" name="project_type" value="assignment" />
                                                        <button id="add-sequence-button" type="submit" class="btn btn-sm btn-outline-secondary mr-2">
                                                            Add Composition Assignment
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mx-1">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Sequence Assignment
                                            </h5>
                                            <p class="card-text">
                                                A sequence assignment allows students to line up a “primary” selection of video or audio against multiple “secondary” selections and/or annotations. The secondary selections will appear at designated points when the primary selection plays.
                                            </p>
                                        </div>
                                        <div class="card-footer border-0 bg-white">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="http://support.ctl.columbia.edu/knowledgebase/articles/1110706-what-is-a-sequence-assignment"
                                                        class="btn btn-link p-0" target="_blank" rel="noreferrer">
                                                        Learn More
                                                    </a>
                                                </div>
                                                <div class="col text-right">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                        href="{% url 'sequence-assignment-create' request.course.id %}">
                                                        Add Sequence Assignment
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="text-right">
                        {% include 'projects/pagination.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
            <form id="search-form" action="." method="get">
                <input type="hidden" name="sortby" value="{{sortby}}">
                <input type="hidden" name="direction" value="{{direction}}">
                <input type="hidden" name="page" value="{{page_obj.number}}">
            </form>
            {% if object_list.exists %}
                <div class="row">
                    <div class="col-12">
                        {% if role_in_course == 'student' %}
                            {% include 'projects/assignment_table_student.html' %}
                        {% else %}
                            {% include 'projects/assignment_table_faculty.html' %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="text-center w-100">
                    <h4>You have no assignments yet.</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function() {
            jQuery('.sortable').on('click', (evt) => {
                const $frm = jQuery('#search-form');

                let direction = 'asc';
                const sortBy = jQuery(evt.currentTarget).data('sort-by');
                if (sortBy === $frm.find('[name="sortby"]').val()) {
                    if ($frm.find('[name="direction"]').val() === 'asc') {
                        direction = 'desc';
                    }
                }

                $frm.find('[name="page"]').val(1);
                $frm.find('[name="direction"]').val(direction);
                $frm.find('[name="sortby"]').val(sortBy);
                $frm.submit();
            });
            jQuery('a.page-link').on('click', (evt) => {
                const $frm = jQuery('#search-form');
                const pageNo = jQuery(evt.currentTarget).data('page-number');
                $frm.find('[name="page"]').val(pageNo);
                $frm.submit();
            });
        });
    </script>
{% endblock %}
