{% load user_projects %}
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
           <col span="1" style="width: 14%;">
           <col span="1" style="width: 14%;">
           <col span="1" style="width: 32%;">
           <col span="1" style="width: 14%;">
           <col span="1" style="width: 12%;">
           <col span="1" style="width: 14%;">
        </colgroup>
        <thead class="thead-darkgray">
            <tr>
                <th scope="col">
                    Due
                </th>
                <th scope="col" class="text-right">
                    Status
                </th>
                <th scope="col">
                    Title
                </th>
                <th scope="col">
                    Action
                </th>
                <th scope="col">
                    Assignment Type
                </th>
                <th scope="col">
                    Last Updated
                </th>
                <th scope="col">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.is_discussion_assignment %}
                {% comment_count object request.user as comments %}
                 <tr>
                    <td>
                        {% if object.due_date %}
                            {{object.due_date|date:"n/j/y"}}<br />
                            {% if comments.0 < 1 %}
                                {% if object.due_date < today %}
                                    <div class="text-danger">
                                        <strong>{{object.due_date|timesince:today|date_format_change}} Overdue</strong>
                                    </div>
                                {% else %}{% if object.due_date > today %}
                                    {{object.due_date|timeuntil:today|date_format_change}} Remaining
                                {% else %}
                                    <div class="text-warning">
                                        <strong>Due today</strong>
                                    </div>
                                {% endif %}{% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if comments.0 == 0 %}
                            <div class="badge badge-danger">No Comments</div>
                        {% else %}{% if comments.0 == 1 %}
                            <div class="badge badge-success">Shared {{comments.0}} comment</div>
                        {% else %}
                            <div class="badge badge-success">Shared {{comments.0}} comments</div>
                        {% endif %}{% endif %}
                    </td>
                    <td>
                        {{object.title}}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary btn-block"
                            href="{% url 'project-workspace' request.course.id object.id %}" title="{{object.title}}">
                            Add Comments
                        </a>
                    </td>
                    <td>
                        {% if object.description == 'Sequence Assignment' %}
                            Sequence
                        {% elif object.description == 'Composition Assignment' %}
                            Composition
                        {% elif object.description == 'Selection Assignment' %}
                            Selection
                        {% elif object.description == 'Discussion Assignment' %}
                            Discussion
                        {% endif %}
                    </td>
                    <td>
                        {% if comments.0 %}
                            {{comments.1}}
                        {% endif %}
                    </td>
                    <td>
                    </td>
                </tr>
            {% else %}
                {% my_assignment_responses object request.user as responses %}

                {% comment %}
                    Users can potentially have multiple responses to an assignment
                    by collaborating with fellow students.
                {% endcomment %}

                {% if responses.exists %}
                    {% for response_collaboration in responses %}
                        {% with response=response_collaboration.content_object %}
                        <tr>
                            <td>
                                {% if object.due_date %}
                                    {{object.due_date|date:"n/j/y"}}<br />
                                    {% if not response.is_submitted %}
                                        {% if object.due_date < today %}
                                            <div class="text-danger">
                                                <strong>{{object.due_date|timesince:today|date_format_change}} Overdue</strong>
                                            </div>
                                        {% else %}{% if object.due_date > today %}

                                            {{object.due_date|timeuntil:today|date_format_change}} Remaining

                                        {% else %}
                                            <div class="text-warning">
                                                <strong>Due today</strong>
                                            </div>
                                        {% endif %}{% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if response.visibility_short == 'Draft' %}
                                    <div class="badge badge-secondary">{{response.visibility_short}}</div>

                                {% else  %}
                                    <div class="badge badge-success">{{response.visibility_short}}</div>

                                {% endif %}
                            </td>
                            <td>
                                {{object.title}}
                            </td>
                            <td>
                                {% if response.feedback_discussion %}
                                    <a class="btn btn-sm btn-primary btn-block"
                                        href="{% url 'project-workspace' request.course.id response.id %}" title="{{response.title}}">
                                        View Feedback
                                    </a>
                                {% else %}{% if response.is_submitted %}
                                    <a class="btn btn-sm btn-secondary btn-block"
                                        href="{% url 'project-workspace' request.course.id response.id %}" title="{{response.title}}">
                                        View Response
                                    </a>
                                {% else %}
                                    <a class="btn btn-sm btn-primary btn-block"
                                        href="{% url 'project-workspace' request.course.id response.id %}" title="{{response.title}}">
                                        Edit Response
                                    </a>
                                {% endif %}{% endif %}
                            </td>
                            <td>
                                {% if object.description == 'Sequence Assignment' %}
                                    Sequence
                                {% elif object.description == 'Composition Assignment' %}
                                    Composition
                                {% elif object.description == 'Selection Assignment' %}
                                    Selection
                                {% elif object.description == 'Discussion Assignment' %}
                                    Discussion
                                {% endif %}
                            </td>
                            <td>
                                {{response.modified|date:"n/j/y g:iA"}}
                            </td>
                            <td>
                                {% if request.user == response.author or request.user in response.participants %}
                                    {% if not response.feedback_discussion and not response.is_submitted %}
                                        <button class="btn btn-danger btn-sm" title="Delete {{response.title}}"
                                            data-toggle="modal" data-target="#delete-project-{{response.id}}">
                                            Delete
                                        </button>
                                        <div id="delete-project-{{response.id}}" class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete {{response.title}}</h5>
                                                        <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete {{response.title}}?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                            class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <form action="{% url 'project-delete' request.course.id response.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" data-project-id="{{response.id}}"
                                                                class="btn btn-danger btn-delete-project">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    {% comment %}
                        Student has not yet created a response or is discussing
                    {% endcomment %}
                    <tr>
                        <td>
                            {% if object.due_date %}
                                {{object.due_date|date:"n/j/y"}}<br />
                                {% if object.due_date < today %}
                                    <div class="text-danger">
                                        <strong>{{object.due_date|timesince:today|date_format_change}} Overdue</strong>
                                    </div>
                                {% else %}{% if object.due_date > today %}

                                    {{object.due_date|timeuntil:today|date_format_change}} Remaining

                                {% else %}
                                    <div class="text-warning">
                                        <strong>Due today</strong>
                                    </div>
                                {% endif %}{% endif %}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <div class="badge badge-danger">No Response</div>
                        </td>
                        <td>
                            {{object.title}}
                        </td>
                        <td>
                            {% if object.is_discussion_assignment %}
                                <a href="{% url 'project-workspace' request.course.id object.id %}">
                                    Add Comment
                                </a>
                            {% else %}
                                <form action="{% url 'project-create' request.course.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="parent" value="{{object.id}}">
                                    <input type="hidden" name="project_type" value="composition">
                                    <input type="hidden" name="title" value="My Response">
                                    <button class="btn btn-sm btn-primary btn-block" type="submit">Add Response</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            {% if object.description == 'Sequence Assignment' %}
                                Sequence
                            {% elif object.description == 'Composition Assignment' %}
                                Composition
                            {% elif object.description == 'Selection Assignment' %}
                                Selection
                            {% elif object.description == 'Discussion Assignment' %}
                                Discussion
                            {% endif %}
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
