{% load user_projects %}

<div class="table-responsive">
    <table class="table table-bordered table-striped w-100 tablesorter">
        <thead class="thead-darkgray">
            <th data-sort-by="due_date"
                class="sortable {% if sortby == 'due_date' %}{{direction}}{% endif %}">
                Due Date
            </th>
            <th data-sort-by="title"
                class="sortable {% if sortby == 'title' %}{{direction}}{% endif %}">
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Responses
            </th>
            <th data-sort-by="full_name"
                class="sortable {% if sortby == 'full_name' %}{{direction}}{% endif %}">
                Authors
            </th>
            <th data-sort-by="project_type"
                class="sortable {% if sortby == 'project_type' %}{{direction}}{% endif %}">
                Assignment Type
            </th>
            <th data-sort-by="modified"
                class="sortable {% if sortby == 'modified' %}{{direction}}{% endif %}">
                Last Updated
            </th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% published_assignment_responses object as response_count %}
            <tr>
                <td>
                    {% if object.due_date %}
                        {{object.due_date|date:"n/j/y"}}<br />
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'project-workspace' request.course.id object.id %}" title="{{object.title}}">
                        {{object.title}}
                    </a>
                </td>
                <td>
                    {{object.visibility_short}}
                </td>
                <td class="text-center">
                    {{response_count}} / {{request.course.students|length}}
                </td>
                <td>
                    {{object.attribution}}
                </td>
                <td>
                    {% if object.description == 'Sequence Assignment' %}
                        Sequence
                    {% elif object.description == 'Composition Assignment' %}
                        Composition
                    {% elif object.description == 'Selection Assignment' %}
                        Selection
                    {% elif object.description == 'Discussion Assignment' %}
                        Discussion
                    {% endif %}
                </td>
                <td>
                    {{object.modified}}
                </td>
                <td>
                    {% if response_count < 1 %}
                        {% if request.user == object.author or request.user in object.participants %}
                            <button class="btn btn-danger btn-sm" title="Delete {{object.title}}"
                                data-toggle="modal" data-target="#delete-project-{{object.id}}">
                                Delete
                            </button>
                            <div id="delete-project-{{object.id}}" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete {{object.title}}</h5>
                                            <button type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete {{object.title}}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form action="{% url 'project-delete' request.course.id object.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" data-project-id="{{object.id}}"
                                                    class="btn btn-danger btn-delete-project">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
