{% extends "base_new.html" %}
{% load coursetags static %}

{% block title %}
Assignments
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block content %}
{% course_role for request.user in request.course as role_in_course %}
<div>
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <h1 class="page-title">Assignments</h1>
                <div class="bg-light" id="headingOne">
                    <button class="btn btn-primary btn-block btn-show-assignments text-right"
                        type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                            Add an assignment
                    </button>
                </div>
            </div>
            <div class="accordion mb-3 mt-3" id="assignment-accordion">
                <div class="card border-0">
                    <div id="collapseOne" class="collapse {% if object_list.exists %}hide{% else %}show{% endif %} bg-light"
                        aria-labelledby="headingOne"
                        data-parent="#assignment-accordion">
                        <h4 class="text-center pt-3">Add an assignment</h4>
                        {% include "projects/assignment_list_cards.html" %}
                    </div>
                </div>
            </div>
            {% if role_in_course == "student" %}
                <div id="search-well" class="mt-3">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="filter-search">Assignment Title</label>
                            <div class="input-group mb-3">
                                <input id="title-search" type="text"
                                    class="form-control form-control-sm"
                                    placeholder="Search for..." value={{title}}>
                                <div class="input-group-append">
                                    <a href="#" class="btn btn-secondary btn-sm btn-title-search" type="button">Search</a>
                                </div>
                            </div>
                        </div>
                    <div class="form-group col-md-2">
                            <label for="select-status">Response Status</label>
                            <select id="select-status" name="status" class="form-control form-control-sm mb-3">
                                <option {% if status == "all" %}selected{% endif %} value="all">All</option>
                                <option {% if status == "draft" %}selected{% endif %} value="draft">Draft</option>
                                <option {% if status == "no-response" %}selected{% endif %} value="no-response">No Response Yet</option>
                                <option {% if status == "submitted" %}selected{% endif %} value="submitted">Submitted</option>
                            </select>
                        </div>
                    </div>
                </div>
            {% endif %}
            <form id="search-form" action="." method="get">
                {% csrf_token %}
                <input type="hidden" name="sortby" value="{{sortby}}">
                <input type="hidden" name="direction" value="{{direction}}">
                <input type="hidden" name="page" value="{{page_obj.number}}">
                <input type="hidden" name="status" value="{{status}}">
                <input type="hidden" name="title" value="{{title}}">
            </form>
            {% if object_list.exists %}
                <div class="row">
                    <div class="col-12">
                        {% if role_in_course == 'student' %}
                            {% include 'projects/assignment_table_student.html' %}
                        {% else %}
                            {% include 'projects/assignment_table_faculty.html' %}
                        {% endif %}
                    </div>
                </div>
            {% else %}{% if role_in_course == 'student' %}
                <div class="text-center w-100">
                    <h4>You have no assignments yet.</h4>
                </div>
            {% endif %}{% endif %}
            {% if paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="text-right">
                        {% include 'projects/pagination.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function() {
            jQuery('#select-status').on('change', (evt) => {
                const $frm = jQuery('#search-form');
                const status = jQuery(evt.currentTarget).val();
                $frm.find('[name="status"]').val(status);
                $frm.find('[name="page"]').val(1);
                jQuery('#search-form').submit();
            });
            jQuery('.btn-title-search').on('click', (evt) => {
                const $frm = jQuery('#search-form');
                const title = jQuery('#title-search').val();
                $frm.find('[name="title"]').val(title);
                $frm.find('[name="page"]').val(1);
                jQuery('#search-form').submit();
            });
            jQuery('.sortable').on('click', (evt) => {
                const $frm = jQuery('#search-form');

                let direction = 'asc';
                const sortBy = jQuery(evt.currentTarget).data('sort-by');
                if (sortBy === $frm.find('[name="sortby"]').val()) {
                    if ($frm.find('[name="direction"]').val() === 'asc') {
                        direction = 'desc';
                    }
                }

                $frm.find('[name="page"]').val(1);
                $frm.find('[name="direction"]').val(direction);
                $frm.find('[name="sortby"]').val(sortBy);
                $frm.submit();
            });
            jQuery('a.page-link').on('click', (evt) => {
                const $frm = jQuery('#search-form');
                const pageNo = jQuery(evt.currentTarget).data('page-number');
                $frm.find('[name="page"]').val(pageNo);
                $frm.submit();
            });
        });
    </script>
{% endblock %}
