{% extends "base_new.html" %}

{% block title %}
    {% if the_response %}{{the_response.title}}{% else %}{{assignment.title}}{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.print.css"  media="print" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}admin/css/widgets.css" media="screen" />
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script>
        jQuery(document).ready(function() {
            jQuery('#student-responses').on('change', (evt) => {
                const url = jQuery(evt.currentTarget).val();
                if (url) {
                    window.location = url;
                }
            });
        });
    </script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <!--  Generic Functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/masonry.pkgd.min.js"></script>

    <script type="text/javascript">
        {% if public_url or my_response or the_response or version %}
            jQuery(document).ready(function () {
                panelManager.init({
                    'container': 'project-workspace',
                    {% if public_url %}
                        'url': '{{ public_url }}'
                    {% else %}{% if the_response %}
                        'url': MediaThread.urls['project-response']({{request.course.id}}, {{the_response.id}})
                    {% else %}{% if version %}
                        'url': MediaThread.urls['project-readonly']({{project.id}}, {{version}})
                    {% endif %}{% endif %}{% endif %}
                });
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="row mt-2">
                <div class="col-md-auto">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb bg-light mb-0">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{% url 'assignment-list' request.course.pk %}">
                                Back to assignments
                            </a>
                        </li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-md-6 text-right order-md-2">
                    {% if not is_faculty and responses|length > 1 %}
                        <button id="assignment-responses" type="button" class="btn btn-outline-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Class Responses
                        </button>
                        <div class="dropdown-menu" aria-labelledby="assignment-responses">
                            {% for response in responses %}
                                {% if response != my_response %}
                                    <a class="dropdown-item" href="{% url 'project-workspace' request.course.id response.id %}">
                                        {{response.attribution_last_first}}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if assignment_can_edit %}
                        <a class="btn btn-outline-secondary btn-sm btn-edit-assignment"
                            href="{% url 'composition-assignment-edit' request.course.pk assignment.id %}">
                            Edit Assignment
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-6 pl-0 order-md-1">
                    <h1 class="page-title">
                        {{assignment.title}}
                    </h1>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <h5>
                        {% if assignment.due_date %}
                            Due {{assignment.due_date|date:'m/d/y'}}
                        {% else %}
                            No due date
                        {% endif %}
                    </h5>
                </div>
                <div>
                    {% if is_faculty and responses|length > 0 %}
                    <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="student-responses-addon">
                                Select Student Response
                            </span>
                          </div>
                          <select id="student-responses"  placeholder="-----"
                                class="form-control" aria-label="Student Responses"
                                aria-describedby="student-response-addon">
                                <option value=''>-----</option>
                              {% for response in responses %}
                                    <option {% if response.id == the_response.id %}selected="selected"{% endif %}
                                        value="{% url 'project-workspace' request.course.id response.id %}">
                                        {{response.attribution}}
                                    </option>
                                {% endfor %}
                          </select>
                        </div>
                    {% endif %}
                </div>
                <div>
                    {% if is_faculty %}
                        <h5 class="pr-3 text-right project-visibility-description">
                            {{assignment.visibility_short}}
                        </h5>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion mb-3" id="instructions-accordion">
                        <div class="card border-0">
                            <div class="card-header pb-0" id="instructions-heading-one">
                                <h2>
                                    <button class="btn btn-link btn-block text-left"
                                        type="button" data-toggle="collapse"
                                        data-target="#instructions" aria-expanded="true"
                                        aria-controls="instructions">
                                            Instructions
                                    </button>
                                </h2>
                            </div>
                            <div id="instructions"
                                class="collapse bg-light bg-light {% if the_response or my_response %}hide{% else %}show{% endif %}"
                                aria-labelledby="instructions-heading-one"
                                data-parent="#instructions-accordion">
                                <div class="p-4">
                                    {{assignment.body|safe}}
                                </div>

                                {% if not is_faculty and not my_response and not the_response %}
                                <div class="row">
                                    <div class="col text-center">
                                        <form action="/project/create/" method="post">
                                            <input type="hidden" name="parent" value="{{assignment.id}}" />
                                            <input type="hidden" name="project_type" value="composition" />
                                            <input type="hidden" name="title" value="My Response" />
                                            <input class="mt-2 mb-3 btn btn-primary" type="submit" value="Respond to Assignment" />
                                        </form>
                                    </div>
                                 </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="project-workspace">
                <div class="row">
                    <div id="project-container" class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div id="discussion-container" class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div id="asset-container" class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}