{% extends "base_new.html" %}
{% load user_projects coursetags %}

{% block title %}
    {% if the_response %}{{the_response.title}}{% else %}{{assignment.title}}{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.print.css"  media="print" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}admin/css/widgets.css" media="screen" />
{% endblock %}

{% block clientside_templates %}
    {% include "clientside/asset_view_help.mustache" %}
    {% include "clientside/asset_view_details.mustache" %}
    {% include "clientside/asset_view_details_quick_edit.mustache" %}
    {% include "clientside/asset_references.mustache" %}
    {% include "clientside/asset_annotation_list.mustache" %}
    {% include "clientside/asset_annotation_current.mustache" %}
    {% include "clientside/asset_global_annotation.mustache" %}
    {% include "clientside/asset_global_annotation_quick_edit.mustache" %}
    {% include "clientside/asset_sources.mustache" %}
    {% include "clientside/asset_feedback.mustache" %}
    {% include "clientside/asset_quick_edit.mustache" %}
    {% include "clientside/collection.mustache" %}
    {% include "clientside/collection_assets.mustache" %}
    {% include "clientside/collection_chooser.mustache" %}
    {% include "clientside/project_feedback.mustache" %}
    {% include "clientside/project_response.mustache" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        {% if public_url or my_response or the_response or version %}
            jQuery(document).ready(function () {
                panelManager.init({
                    'container': 'project-workspace',
                    {% if public_url %}
                        'url': '{{ public_url }}'
                    {% else %}{% if the_response %}
                        'url': MediaThread.urls['project-response']({{request.course.id}}, {{the_response.id}})
                    {% else %}{% if version %}
                        'url': MediaThread.urls['project-readonly']({{project.id}}, {{version}})
                    {% endif %}{% endif %}{% endif %}
                });
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="row mt-2">
                <div class="col-md-auto">
                    <nav aria-label="breadcrumb" class="d-none d-md-block">
                      <ol class="breadcrumb bg-light mb-0">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{% url 'assignment-list' request.course.pk %}">
                                Back to all assignments
                            </a>
                        </li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-md-6 pl-0">
                    <h1 class="page-title">
                        {{assignment.title}}
                    </h1>
                </div>
                <div class="col-md-6 text-right pr-0">
                    {% if not is_faculty and responses|length > 1 %}
                        <div class="response-dropdown">
                            <button id="assignment-responses" type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Class Responses
                            </button>
                            <div class="dropdown-menu" aria-labelledby="assignment-responses">
                                {% for response in responses %}
                                    <a class="dropdown-item"
                                        href="{% url 'project-workspace' request.course.id response.id %}">
                                        {{response.attribution_last_first}}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if assignment_can_edit %}
                        <a class="btn btn-outline-secondary btn-edit-assignment"
                            href="{% url 'composition-assignment-edit' request.course.pk assignment.id %}">
                            Edit Assignment
                        </a>
                    {% endif %}
                    {% if is_faculty %}
                        <div class="dropdown d-inline ml-1 response-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="student-response-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{responses|length}} of {{students|length}} students responded
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="student-response-dropdown">
                                {% for student in students %}
                                    {% student_response responses student as response %}
                                    {% if response %}
                                        <a href="{% url 'project-workspace' request.course.id response.id %}"
                                            class="dropdown-item" type="button">
                                            {% public_name for student %} ({{response.date_submitted|date:"m/d/Y"}})
                                        </a>
                                    {% else %}
                                        <a href="#" class="dropdown-item disabled" type="button">
                                            {% public_name for student %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                <p class="metadata">
                    {% if assignment.due_date %}
                        Due {{assignment.due_date|date:'m/d/y'}}
                    {% else %}
                        No due date
                    {% endif %}
                </p>
                {% if is_faculty %}
                <div data-cy="assignment-visibility" class="project-visibility-description pr-3">
                    <p class="metadata">{{assignment.visibility_short}}</p>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion mb-3" id="instructions-accordion">
                        <div class="card border-0">
                            <div class="card-header pb-0" id="instructions-heading-one">
                                <h2>
                                    <button class="btn btn-link btn-block text-left"
                                        type="button" data-toggle="collapse"
                                        data-target="#instructions" aria-expanded="{% if show_instructions %}true{% else %}false{% endif %}"
                                        aria-controls="instructions">
                                            Instructions
                                    </button>
                                </h2>
                            </div>
                            <div id="instructions"
                                class="collapse bg-light bg-light {% if show_instructions %}show{% else %}hide{% endif %}"
                                aria-labelledby="instructions-heading-one"
                                data-parent="#instructions-accordion">
                                <div class="p-4">
                                    {{assignment.body|safe}}
                                </div>
                                {% if not is_faculty and not my_response and not the_response %}
                                <div class="row">
                                    <div class="col text-center">
                                        <form action="/project/create/" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="parent" value="{{assignment.id}}" />
                                            <input type="hidden" name="project_type" value="composition" />
                                            <input type="hidden" name="title" value="My Response" />
                                            <input class="mt-2 mb-3 btn btn-primary" type="submit" value="Respond to Assignment" />
                                        </form>
                                    </div>
                                 </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="project-workspace">
                <div class="row">
                    <div id="project-container" class="col-md-12">
                        {% if my_response or the_response %}
                        <div id="loading-project" class="alert alert-info" role="alert">
                            <span class="spinner-border spinner-border-sm text-dark"
                                role="status" aria-hidden="true"></span>&nbsp;
                            <strong>Just a moment.</strong>&nbsp;
                            Mediathread is loading the assignment response.
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div id="discussion-container" class="col-md-12">
                    </div>
                </div>
                <div class="row">
                    <div id="asset-container" class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
