{% extends "base_new.html" %}
{% load user_projects coursetags static %}

{% block title %}
    {{assignment.title}}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block clientside_templates %}
    {% include "clientside/asset_view_help.mustache" %}
    {% include "clientside/asset_view_details.mustache" %}
    {% include "clientside/asset_view_details_quick_edit.mustache" %}
    {% include "clientside/asset_references.mustache" %}
    {% include "clientside/asset_annotation_list.mustache" %}
    {% include "clientside/asset_annotation_current.mustache" %}
    {% include "clientside/asset_global_annotation.mustache" %}
    {% include "clientside/asset_global_annotation_quick_edit.mustache" %}
    {% include "clientside/asset_sources.mustache" %}
    {% include "clientside/asset_feedback.mustache" %}
    {% include "clientside/asset_quick_edit.mustache" %}
    {% include "clientside/collection.mustache" %}
    {% include "clientside/collection_assets.mustache" %}
    {% include "clientside/collection_chooser.mustache" %}
    {% include "clientside/discussion.mustache" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
{% endblock %}

{% block uncompressable_js %}
    <script>
    window.WORKER_SRC = '{% static "js/pdf/pdfjs/pdf.worker.js" %}';
    </script>
    <script src="{% static 'js/pdf/pdfjs/pdf.js' %}"></script>

    {% include "djangosherd/player_resources.html" %}
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/masonry.pkgd.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            panelManager.init({
                'container': 'discussion-workspace',
                'url': MediaThread.urls['discussion-view']({{assignment.course_discussion.id}})
            });
        });
  </script>
{% endblock %}

{% block content %}
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="row mt-2">
                <div class="col-md-auto">
                    <nav aria-label="breadcrumb" class="d-none d-md-block">
                      <ol class="breadcrumb bg-light mb-0">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{% url 'assignment-list' request.course.pk %}">
                                Back to assignments
                            </a>
                        </li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="col-md-6 pl-0">
                    <h1 class="page-title">
                        {{assignment.title}}
                    </h1>
                </div>
                <div class="col-md-6 text-right">
                    {% if assignment_can_edit %}
                        <a class="btn btn-outline-secondary btn-edit-assignment"
                            href="{% url 'discussion-assignment-edit-wizard' request.course.pk assignment.id %}">
                            Edit Assignment
                        </a>
                    {% endif %}
                    {% if is_faculty %}
                        {% published_assignment_responses assignment as response_count %}
                        <div class="dropdown d-inline ml-1 response-dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="student-response-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{response_count}} of {{students|length}} students responded
                            </button>
                            <div id="student-responses" class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="student-response-dropdown">
                                {% for student in students %}
                                    {% comment_count assignment student as comments %}
                                    {% if comments.0 > 0 %}
                                        <a class="dropdown-item" href="{{student.username}}">
                                            {% public_name for student %} ({{comments.0}} comment{{comments.0|pluralize}})
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item disabled" href="#">
                                            {% public_name for student %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <p class="metadata">
                        {% if assignment.due_date %}
                            Due {{assignment.due_date|date:'m/d/y'}}
                        {% else %}
                            No due date
                        {% endif %}
                    </p>
                </div>
                <div>
                    {% if is_faculty %}
                        <p class="pr-3 metadata text-right project-visibility-description">
                            {{assignment.visibility_short}}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div id="discussion-workspace" class="row mt-3">
                <div id="discussion-container" class="col-md-12">
                </div>
            </div>
            <div id="asset-container" class="col-md-12">
            </div>
        </div>
    </div>
{% endblock %}
