{% extends "base_new.html" %}

{% block title %}
    {% if form.instance %}{{form.instance.title}}{% else %}Create Assignment{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_edit.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new AssignmentEditView({
                el: jQuery('.discussion-assignment').first()
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="row mt-2">
                <div class="col-md-auto">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb bg-light mb-0">
                        <li class="breadcrumb-item" aria-current="page">
                            {% if form.instance %}
                                <a href="{% url 'project-workspace' request.course.pk form.instance.id %}">
                                    Back to {{form.instance.title}}
                                </a>
                            {% else %}
                                <a href="{% url 'assignment-list' request.course.pk %}">
                                    Back to all assignments
                                </a>
                            {% endif %}
                        </li>
                      </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% if form.instance %}
                        <h1 class="page-title pl-0">Edit {{form.instance.title}}</h1>
                    {% else %}
                        <h1 class="page-title pl-0">Create Discussion Assignment</h1>
                    {% endif %}
                </div>
            </div>
            <div class="discussion-assignment">
                <div class="row">
                    <div class="col-md-8">
                        <form name="discussion-assignment-edit"
                            {% if form.instance %}
                                action="{% url 'discussion-assignment-save' request.course.pk form.instance.id %}"
                            {% else %}
                                action="{% url 'discussion-assignment-create' request.course.pk %}"
                            {% endif %}
                            method="post">

                            {% csrf_token %}
                            <input type="hidden" name="project_type" value="discussion-assignment" />

                            <div data-page="1" data-page-content="instructions" class="page">
                            <p>A discussion assignment allows students to
                                post comments in a threaded discussion
                                containing Mediathread selections. Discussions
                                in Mediathread look similar to other online
                                comment sections (i.e. comment sections in news
                                articles, reddit, etc.), with the added feature
                                of media selections inserted into the text.</p>

                            <p>This type of assignment can be used to
                                generate conversation among members of your
                                class about a thematic topic or challenge,
                                substantiating comments with embedded media
                                selections.</p>

                            <div class="row mb-5">
                                    <div class="col text-right">
                                        <button id="page2" class="btn btn-primary next">
                                            Get Started
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="2" data-page-content="title" class="hidden page">
                                <div class="h4" data-cy="step-title">1. Write title &amp; instructions</div><br />
                                <div class="form-group">
                                    <label for="assignment-title"><strong>Discussion Title</strong></label><br />
                                    <input id="assignment-title" type="text" name="title" class="form-control"
                                        value="{% ifnotequal form.instance.title form.instance.DEFAULT_TITLE %}{{form.instance.title}}{% endifnotequal %}"/>
                                    <div class="help-inline">Title is a required field</div>
                                </div>
                                <div class="form-group mt-3">
                                <label for="assignment-instructions"><strong>Discussion Prompt</strong></label><br />
                                <p>Write a discussion prompt that asks
                                    students to reply to you or each other,
                                    providing evidence or buttressing their
                                    comments with media selections as
                                    appropriate. Here are a few tips for guiding
                                    discussion in Mediathread:</p>

                                <ul>
                                    <li>Pose open-ended prompts that help students connect class themes to interpretation, analysis, or personal experience.</li>
                                    <li>Specify requirements such as minimum or maximum number of comments to post, and media selections to include.</li>
                                    <li>Specify how to integrate media selections (as evidence, illustrations, examples, etc.).</li>
                                    <li>Indicate how discussion posts will connect to or shape subsequent class activities.</li>
                                    </ul>
                                    <textarea name="body" class="form-control mceEditor" id="assignment-instructions">
                                        {{form.instance.body}}
                                    </textarea>
                                    <div class="help-inline">Instructions is a required field</div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button id="page3" class="btn btn-primary next">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="3" data-page-content="due-date" class="hidden page">
                                <div class="h4" data-cy="step-title">2. Set response due date</div><br />
                                <div class="form-group">
                                    <label for="due_date"><strong>Due Date</strong></label>
                                    <input id="due_date" class="form-control" type="text"
                                        name="due_date" value="{{form.instance.due_date|date:'m/d/y'}}">
                                </div>
                                <div class="help-inline">Please choose a due date.</div>

                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button id="page4" class="btn btn-primary next">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="4" data-page-content="publish" class="hidden page">
                                <div class="h4" data-cy="step-title">3. Publish assignment to students</div><br />

                                <label><strong>Publish Options</strong></label>
                                <div class="form-group">
                                    <div class="radio">
                                        {{form.publish}}
                                    </div>
                                </div>
                                <div class="help-inline">Please select who can see your work.</div>

                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button id="save-assignment" class="btn btn-primary save" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
