<div>
    <ul class="pagination nav justify-content-end btn-sm" style="padding: 0px;">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="#" data-page-number="1" aria-label="First">First</a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link" href="#"
                data-page-number="{% if page_obj.has_previous %}{{page_obj.previous_page_number}}{% endif %}"
                aria-label="Previous">
                Previous
            </a>
        </li>
        <li class="page-item active">
            <div class="page-link">
                {{page_obj.number}} of {{paginator.num_pages}}<span class="sr-only">(current)</span>
            </div>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="#"
                data-page-number="{% if page_obj.has_next %}{{page_obj.next_page_number}}{% endif %}"
                aria-label="Next">
                Next
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link" href="#" data-page-number="{{paginator.num_pages}}" aria-label="Last">
                Last
            </a>
        </li>
    </ul>
</div>
