{% extends "base_new.html" %}
{% load coursetags %}

{% block title %}
    {% if project.title %}{{project.title}}{% else %}Print View{% endif %} |
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.print.css"  media="print" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />
{% endblock %}

{% block content %}
    <h1 class="page-title">{{project.title}}</h1>

    <h5>by {{project.attribution}}</h5>
    <hr />
    <div class="essay-space-container">
        {{body|safe}}
    </div>
{% endblock %}
