{% extends "base_new.html" %}
{% load static %}

{% block title %}
Projects
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block content %}
<div>
    {% with active='projects' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="mt-2 d-flex justify-content-between align-items-center flex-wrap">
                <h1 class="page-title">Projects</h1>
                <div class="bg-light" id="headingOne">
                    <button class="btn btn-primary btn-block btn-show-projects text-right"
                        type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                            Add a project
                    </button>
                </div>
            </div>
            <div class="accordion" id="project-accordion">
                <div class="card border-0">
                    <div id="collapseOne" class="mb-3 collapse {% if user_has_projects or not owner == request.user%}hide{% else %}show{% endif %} bg-light"
                        aria-labelledby="headingOne"
                        data-parent="#project-accordion">
                        <h4 class="text-center pt-3">Add a project</h4>
                        <div class="card-body">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Composition
                                        </h5>
                                        <p class="card-text">
                                            A composition is an essay with embedded media selections.
                                        </p>
                                    </div>
                                    <div class="card-footer border-0 bg-white px-0">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-md-auto">
                                                <a href="http://support.ctl.columbia.edu/knowledgebase/topics/141337-mediathread-instructor"
                                                    class="card-link" target="_blank" rel="noreferrer">
                                                    Learn More
                                                </a>
                                            </div>
                                            <div class="col text-right">
                                                <form action="{% url 'project-create' request.course.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="project_type" value="composition" />
                                                    <button id="add-composition-button" type="submit" class="btn btn-outline-primary btn-sm mr-2">
                                                        Add Composition
                                                    </button> 
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Sequence
                                        </h5>
                                        <p class="card-text">
                                            A sequence lines up a “primary” selection of video or audio against multiple “secondary” selections and/or annotations.
                                        </p>
                                    </div>
                                    <div class="card-footer border-0 bg-white px-0">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-auto">
                                                <a href="http://support.ctl.columbia.edu/knowledgebase/articles/1110706-what-is-a-sequence-assignment"
                                                    class="card-link" target="_blank" rel="noreferrer">
                                                    Learn More
                                                </a>
                                            </div>
                                            <div class="col text-right">
                                                <form action="{% url 'project-create' request.course.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="project_type" value="sequence" />
                                                    <button id="add-sequence-button" type="submit" class="btn btn-outline-primary btn-sm">
                                                        Add Sequence
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-well">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="select-owner">Filter by author</label>
                        <select id="select-owner" name="owner" class="form-control form-control-sm mb-3">
                            <option {% if not owner or owner == user %}selected{% endif %} value="{{user.username}}">Me</option>
                            {% for o in course_members %}
                                {% if o != user %}
                                    <option {% if o == owner %}selected{% endif %} value="{{o.username}}">
                                        {% if o.last_name %}
                                            {{o.last_name}}, {{o.first_name}}
                                        {% else %}
                                            {{o.username}}
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <form id="search-form" action="." method="get">
                {% csrf_token %}
                <input type="hidden" name="owner" value="{{owner}}">
                <input type="hidden" name="sortby" value="{{sortby}}">
                <input type="hidden" name="direction" value="{{direction}}">
                <input type="hidden" name="page" value="{{page_obj.number}}">
            </form>
            <div class="row">
                <div class="col-12">
                    {% if object_list.exists %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped w-100 tablesorter">
                                <thead class="thead-darkgray">
                                    <th data-sort-by="title"
                                        class="sortable {% if sortby == 'title' %}{{direction}}{% endif %}">
                                        Title
                                    </th>
                                    <th data-sort-by="visibility">
                                        Status
                                    </th>
                                    <th data-sort-by="full_name"
                                        class="sortable {% if sortby == 'full_name' %}{{direction}}{% endif %}">
                                        Authors
                                    </th>
                                    <th data-sort-by="project_type"
                                        class="sortable {% if sortby == 'project_type' %}{{direction}}{% endif %}">
                                        Type
                                    </th>
                                    <th data-sort-by="modified"
                                        class="sortable {% if sortby == 'modified' %}{{direction}}{% endif %}">
                                        Last Updated
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'project-workspace' request.course.id object.id %}"
                                                title="{{object.title}}">
                                                {{object.title}}
                                            </a>
                                        </td>
                                        <td>{{object.visibility_short}}</td>
                                        <td>{{object.attribution}}</td>
                                        <td>{{object.description}}</td>
                                        <td>{{object.modified|date:"n/j/y g:iA"}}</td>
                                        <td>
                                            {% if request.user == object.author or request.user in object.participants %}
                                            <button class="btn btn-outline-secondary btn-sm" title="Delete {{object.title}}"
                                                data-toggle="modal" data-target="#delete-project-{{object.id}}">
                                                Delete
                                            </button>
                                            <div id="delete-project-{{object.id}}" class="modal" tabindex="-1" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete {{object.title}}</h5>
                                                            <button type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete {{object.title}}?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <form action="{% url 'project-delete' request.course.id object.id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" data-project-id="{{object.id}}"
                                                                    class="btn btn-primary btn-delete-project">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="text-center w-100">
                            {% if owner != request.user %}
                                {% if owner.last_name %}
                                    <h4 class="ml-1">{{owner.first_name}} {{owner.last_name}} has not shared any projects.</h4>
                                {% else %}
                                    <h4 class="ml-1">{{owner.username}} has not shared any projects.</h4>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="text-right">
                        {% include 'projects/pagination.html' %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        jQuery(document).ready(function() {
            jQuery('#select-owner').on('change', (evt) => {
                const $frm = jQuery('#search-form');
                const owner = jQuery(evt.currentTarget).val();
                $frm.find('[name="owner"]').val(owner);
                $frm.find('[name="page"]').val(1);
                jQuery('#search-form').submit();
            });
            jQuery('.sortable').on('click', (evt) => {
                const $frm = jQuery('#search-form');

                let direction = 'asc';
                const sortBy = jQuery(evt.currentTarget).data('sort-by');
                if (sortBy === $frm.find('[name="sortby"]').val()) {
                    if ($frm.find('[name="direction"]').val() === 'asc') {
                        direction = 'desc';
                    }
                }

                $frm.find('[name="page"]').val(1);
                $frm.find('[name="direction"]').val(direction);
                $frm.find('[name="sortby"]').val(sortBy);
                $frm.submit();
            });
            jQuery('a.page-link').on('click', (evt) => {
                const $frm = jQuery('#search-form');
                const pageNo = jQuery(evt.currentTarget).data('page-number');
                $frm.find('[name="page"]').val(pageNo);
                $frm.submit();
            });
        });
    </script>
{% endblock %}