{% extends "base.html" %}

{% block title %}
    {% if project.title %}{{project.title}}{% else %}New Assignment{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/sherdjs/lib/mcePlugin_citation/skins/minimalist/citation.css" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
        
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/jquery.masonry.min.js"></script>

    <script type="text/javascript">
    jQuery(document).ready(function () {
        panelManager.init({
            'container': 'sliding-content-container',
            'url': MediaThread.urls['selection-assignment-workspace'](
                {{project.assignmentitem_set.first.asset.id}})
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="selection-assignment">
    <div class="row">
        <div class="col-md-3 column-container">
            <h2 class="">
                Assignment <span class="project-view-title">{{project.title}}</span>
                {% if can_edit %}
                    <a href="{% url 'selection-assignment-edit' project.id %}">
                        <span class="glyphicon glyphicon-pencil right" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </h2>
            <div class="project-visibility-description small text-right">
                {{project.visibility}}
            </div>
            <div class="project-due-date small text-right">
                {% if project.due_date %}Due {{project.due_date|date:'m/d/y'}}{% endif %}
            </div>
            <p>{{project.body|safe}}</p>
        </div>
        <div class="col-md-9">
            <table id="sliding-content-container">
                <tr id="sliding-content-row" class="sliding-content-row">
                    <td id="sliding-content-last-column" class="filler"></td>
                </tr>
            </table>
        </div>
    </div>
</div>    
{% endblock %}