{% extends "base_new.html" %}

{% block title %}
    {% if form.instance %}{{form.instance.title}}{% else %}Create Assignment{% endif %}
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_edit.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/selection_assignment_edit.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}

    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new SelectionAssignmentEditView({
                el: jQuery('.selection-assignment').first()
            });
        });
    </script>
{% endblock %}

{% block content %}
{% with the_item=form.instance.assignmentitem_set.first.asset %}
{% with active='assignments' %}
    {% include 'main/three_section_tabs.html' %}
{% endwith %}
<div class="tab-content">
    <div role="tabpanel">
        <div class="row mt-2">
            <div class="col-md-auto">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb bg-light mb-0">
                    <li class="breadcrumb-item" aria-current="page">
                        {% if form.instance %}
                            <a href="{% url 'project-workspace' request.course.pk form.instance.id %}">
                                Back to {{form.instance.title}}
                            </a>
                        {% else %}
                            <a href="{% url 'assignment-list' request.course.pk %}">
                                Back to all assignments
                            </a>
                        {% endif %}
                    </li>
                  </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if form.instance %}
                    <h1 class="page-title pl-0">Edit {{form.instance.title}}</h1>
                {% else %}
                    <h1 class="page-title pl-0">Create Selection Assignment</h1>
                {% endif %}
            </div>
        </div>

        <div class="selection-assignment">
            <div class="row">
                <div class="col-md-8 column-container">
                    <div>
                        <form name="selection-assignment-edit"
                            {% if form.instance %}
                                action="{% url 'project-save' request.course.id form.instance.id %}"
                            {% else %}
                                action="{% url 'project-create' request.course.id %}"
                            {% endif %} method="post">

                            {% csrf_token %}
                            <input type="hidden" name="project_type" value="selection-assignment" />

                            <div data-page="1" data-page-content="instructions" class="page">

                                <p>A selection assignment allows students to make
                                annotations on a video, image, or audio file that
                                an instructor designates.</p>

                                <p>Instructions to students could include:</p>
                                <ul>
                                <li>How many selections to create</li>
                                <li>How to title selections</li>
                                <li>How to annotate selections in the notes field</li>
                                <li>Guidance on tagging selections</li>
                                </ul>

                                <p>Visibility of student responses must be set at one of the following levels:</p>
                                <ul>
                                <li>Student responses are visible only to instructors</li>
                                <li>Students can see other responses only after submitting their own</li>
                                <li>Students can see other responses at any time</li>
                                </ul>

                                <div class="row mb-5">
                                    <div class="col text-right">
                                        <button class="btn btn-primary next">Next</button>
                                    </div>
                                </div>

                            </div>
                            <div data-page="2" data-page-content="choose-item" class="page hidden">
                                <h4>1. Choose an item from the course collection</h4>

                                <select class="form-control my-4 select-asset" name="item">
                                    <option value="" disabled selected hidden>Choose an item</option>
                                    {% for item in items %}
                                        <option value="{{item.id}}" {% if item == the_item %}selected="selected"{% endif %}>
                                            {{item.title}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="help-inline">An item must be selected.</div>
                                <div class="clearfix"></div>
                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-primary next">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="3" data-page-content="title" class="hidden page">
                                <h4>2. Write title &amp; instructions</h4>
                                <div class="form-group">
                                    <label><strong>Assignment Title</strong></label>
                                    <input type="text" name="title" class="form-control"
                                        placholder="Assignment Title"
                                        value="{% ifnotequal form.instance.title form.instance.DEFAULT_TITLE %}{{form.instance.title}}{% endifnotequal %}"/>
                                    <div class="help-inline">Title is a required field</div>
                                </div>
                                <div class="form-group">
                                    <label><strong>Assignment Instructions</strong></label>
                                    <div>Instructions to students could include:</div>
                                    <ul>
                                        <li>How many selections to create</li>
                                        <li>How to title selections</li>
                                        <li>How to annotate selections in the notes field</li>
                                        <li>Guidance on tagging selections with free form tags or course vocabulary terms</li>
                                    </ul>
                                    <textarea name="body" class="form-control mceEditor" id="assignment-instructions">
                                        {{form.instance.body}}
                                    </textarea>
                                    <div class="help-inline">Instructions is a required field</div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-primary next">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="4" data-page-content="due-date" class="hidden page">
                                <h4>3. Set response due date &amp; visibility</h4>
                                <p></p>
                                <div class="form-group">
                                    <label for="due_date"><strong>Due Date</strong></label>
                                    <input class="form-control" type="text"
                                        name="due_date" value="{{form.instance.due_date|date:'m/d/y'}}">
                                </div>
                                <div class="help-inline">Please choose a due date.</div>
                                <br />
                                <label for="response_view_policy"><strong>Visibility</strong></label>
                                <p>Choose when students can see responses submitted by other students:</p>
                                <div class="form-group">
                                    {{form.response_view_policy}}
                                </div>
                                <div class="help-inline">Please choose how responses will be viewed.</div>
                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-primary next">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div data-page="5" data-page-content="publish" class="hidden page">
                                <h4>4. Publish assignment to students</h4>
                                <p></p>
                                <div class="form-group">
                                    <div class="radio">
                                        {{form.publish}}
                                    </div>
                                </div>
                                <div class="help-inline">Please select who can see your work.</div>
                                <div class="row mb-5">
                                    <div class="col">
                                        <button class="btn btn-secondary prev">Previous</button>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-primary save" type="submit">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
