{% extends "base.html" %}
{% load user_projects coursetags %}

{% block title %}
    {% if project.title %}&mdash; {{project.title}}{% else %}&mdash; Sequence{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}

    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/juxtapose.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/playhead.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/react-grid-layout.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/loaders.min.css"  media="screen" />
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block clientside_templates %}
    {% include "clientside/asset_view_help.mustache" %}
    {% include "clientside/asset_view_details.mustache" %}
    {% include "clientside/asset_view_details_quick_edit.mustache" %}
    {% include "clientside/asset_references.mustache" %}
    {% include "clientside/asset_annotation_list.mustache" %}
    {% include "clientside/asset_annotation_current.mustache" %}
    {% include "clientside/asset_global_annotation.mustache" %}
    {% include "clientside/asset_global_annotation_quick_edit.mustache" %}
    {% include "clientside/asset_sources.mustache" %}
    {% include "clientside/asset_feedback.mustache" %}

    {% include "clientside/collection_chooser.mustache" %}
    {% include "clientside/collectionwidget.mustache" %}
    {% include "clientside/collectionwidget_quickedit.mustache" %}
    {% include "clientside/collectionwidget_assets.mustache" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script src="{{STATIC_URL}}js/app/assetmgr/collectionwidget.js"></script>

    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_view.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/sequenceView.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script>
    var view = new SequenceView({
        el: jQuery('.sequence').first(),
        viewer: '{{request.user.username}}',
        projectId: {{project.id}},
        readOnly: {% if read_only_view %}true{% else %}false{% endif %}
    });
    </script>

    <script src="{{STATIC_URL}}juxtapose/loaders.css.js"></script>
    <script src="{{STATIC_URL}}juxtapose/bundle-k.js"></script>
{% endblock %}

{% block content %}

<div class="sequence">
    <div class="spacer"></div>
    <div class="sequence-composition">
        <div class="left title-container">
            {% if read_only_view %}
                <h1>{{project.title}}</h1>
                by {% public_name for project.author %}
            {% else %}
            <div>
                <label>Sequence Title</label>&nbsp;
                <input type="text" name="title"
                       value="{{project.title}}" maxlength="80"
                       placeholder="Specify a title"
                       class="project-title form-control" />
            </div>
            {% endif %}
        </div>
        <div class="right tabs-container">

            <div class="save-publish-status modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Save Changes</h4>
                        </div>
                        <div class="modal-body">
                            <div class="well">
                                <div class="right small">required</div>
                                <label for="due_date">Visibility</label><br />
                                <div class="small">Select who can see your work</div><br />
                                <ul id="id_publish">
                                    <li>
                                        <label for="id_publish_0">
                                            <input
                                                {% if project.visibility_policy == 'PrivateEditorsAreOwners' %}
                                                checked="checked"
                                                {% endif %}
                                                id="id_publish_0"
                                                name="publish" type="radio"
                                                value="PrivateEditorsAreOwners">
                                            Draft - only you can view
                                        </label>
                                    </li>
                                    <li>
                                        <label for="id_publish_1">
                                            <input
                                                {% if project.visibility_policy == 'CourseProtected' %}
                                                checked="checked"
                                                {% endif %}
                                                id="id_publish_1" name="publish"
                                                type="radio" value="CourseProtected">
                                            Whole Class - all class members can view
                                        </label>
                                    </li>
                                    {% if allow_public_compositions %}
                                    <li>
                                        <label for="id_publish_2">
                                            <input
                                                {% if project.visibility_policy == 'PublicEditorsAreOwners' %}
                                                checked="checked"
                                                {% endif %}
                                                id="id_publish_2" name="publish"
                                                type="radio" value="PublicEditorsAreOwners">
                                            Whole World - a public url is provided
                                        </label>
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="small help-inline">Select who can see your work</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-save-project">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="sequence-proj-status">
                    {{project.status|safe}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="spacer"></div>
            <ul class="nav nav-tabs navbar-right" role="tablist">
                <li role="presentation" class="active editor">
                    <a href="#sequence" aria-controls="sequence-editor" role="tab" data-toggle="tab">
                        Sequence
                    </a>
                </li>
                <li role="presentation">
                    <a href="#reflection" aria-controls="reflection" role="tab" data-toggle="tab">
                        Reflection</a>
                </li>
                {% if can_edit %}
                    <button class="btn btn-primary btn-tab btn-save">Save</button>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="spacer"></div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel"
                 class="tab-pane fade in active {% if read_only_view %}read-only{% endif %}"
                 id="sequence">
                <div class="loader">
                    <div class="ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="jux-container"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="reflection">
                {% if can_edit %}
                    <textarea name="body" class="form-control mceEditor"
                              placeholder="Reflect on your sequence creation and intent">{{project.body|safe}}</textarea>
                {% else %}
                    {{project.body|safe}}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
