{% load user_projects coursetags %}
{% load coursetags %}

{% if not is_faculty and responses|length > 1 %}
    <button id="assignment-responses" type="button" class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Class Responses
    </button>
    <div class="dropdown-menu" aria-labelledby="assignment-responses">
        {% for response in responses %}
            <a class="dropdown-item"
                href="{% url 'project-workspace' request.course.id response.id %}">
                {{response.attribution_last_first}}
            </a>
        {% endfor %}
    </div>
{% endif %}
{% if is_faculty %}
    <div class="dropdown d-inline ml-1">
        <button class="btn btn-primary dropdown-toggle" type="button" id="student-response-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% get_submitted responses as submittedResponses %}
            {{submittedResponses|length}} of {{students|length}} Students Responded
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="student-response-dropdown">
            <h6 class="dropdown-header">Submitted</h6>
                {% for submitted in submittedResponses %}
                    {% feedback submitted as feedback %}
                        <a href="{% url 'project-workspace' request.course.id submitted.id %}"
                            class="dropdown-item" type="button">
                            {{submitted.attribution}}
                            {% if feedback %}
                                <span class="badge badge-success">Complete</span>
                            {% else %}
                                <span class="badge badge-warning">Respond</span>
                            {% endif %}
                        </a>
                {% endfor %}
            <h6 class="dropdown-header">Assigned</h6>
                {% for student in students %}
                    {% student_response responses student as response %}
                    {% if not response.date_submitted %}
                        <a href="#" class="dropdown-item disabled" type="button">
                            {% public_name for student %}
                        </a>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endif %}

{% comment %} Submit & Unsubmit Modals {% endcomment %}
{% if the_response and response_can_edit and not the_response.is_submitted %}
    <div class="modal fade" id="cannot-submit-project" tabindex="-1"
        role="dialog" aria-labelledby="Cannot Submit Response">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Submit Response</h4>
          </div>
          <div class="modal-body">
            <div>A primary video and at least one secondary media item are required to submit your response.</div><br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="submit-project" tabindex="-1"
        role="dialog" aria-labelledby="Submit Response">
      <div class="modal-dialog" role="document" data-width="620">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">
                  Submit Response
              </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body text-left">
            <div>Please review assignment instructions before submitting.</div>
                <p>
                    {% ifequal assignment.response_view_policy 'never' %}
                        Your response will be visible to instructors.
                    {% else %}{% ifequal assignment.response_view_policy 'always' %}
                        Your response will be visible to the whole class.
                    {% else %}{% ifequal assignment.response_view_policy 'submitted' %}
                        Your response will be visible to the instructor and other students who have submitted.
                    {% endifequal %}{% endifequal %}{% endifequal %}
                </p>
                <div class="alert alert-danger" role="alert">
                    <strong>Important!</strong><br />
                    Once you submit your response, you will not be able to unsubmit or edit it.
                </div>
                <input type="hidden" name="publish" value="{{submit_policy}}" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-response">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% if the_response and response_can_edit and the_response.is_submitted %}
    <div class="modal fade" id="visibility-list" tabindex="-1"
        role="dialog" aria-labelledby="Share">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share with Others</h4>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-left">
                        Your response visibility is set as <b>{{the_response.visibility_short}}</b>.<br /><br />
                        {% if public_url %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Use this permalink to share your response
                                </div>
                                <div class="panel-body">
                                    <a class="small" href="{{public_url}}">https://{{request.get_host}}{{public_url}}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div><br>

                    <div class="text-left">
                        <label>Change who can see your response</label>
                        <form action="{% url 'project-visibility' the_response.id %}" method="post">
                            {% csrf_token %}
                            <div class="radio">
                                <label>
                                    <input {% if not public_url %}checked="checked"{% endif %} name="publish" type="radio" value="CourseProtected"> Whole Class - all class members can view
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input {% if public_url %}checked="checked"{% endif %} name="publish" type="radio" value="PublicEditorsAreOwners"> Whole World - a public url is provided</label>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-save-visibility">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
