{% extends "base_new.html" %}

{% block title %}
    {% if form.instance %}{{form.instance.title}}{% else %}Create Sequence Assignment{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_edit.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}

    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new AssignmentEditView({
                el: jQuery('.sequence-assignment').first()
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% with active='assignments' %}
        {% include 'main/three_section_tabs.html' %}
    {% endwith %}
    <div class="tab-content">
        <div role="tabpanel">
            <div class="row mt-2">
                <div class="col-md-auto">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb bg-light mb-0">
                        <li class="breadcrumb-item" aria-current="page">
                            {% if form.instance %}
                                <a href="{% url 'project-workspace' request.course.pk form.instance.id %}">
                                    Back to {{form.instance.title}}
                                </a>
                            {% else %}
                                <a href="{% url 'assignment-list' request.course.pk %}">
                                    Back to all assignments
                                </a>
                            {% endif %}
                        </li>
                      </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% if form.instance %}
                        <h1 class="page-title pl-0">Edit {{form.instance.title}}</h1>
                    {% else %}
                        <h1 class="page-title pl-0">Create Sequence Assignment</h1>
                    {% endif %}
                </div>
            </div>

            {% with item=form.instance.assignmentitem_set.first.asset %}
            <div class="sequence-assignment">
                <div class="row">
                    <div class="col-md-8">
                        <div class="centered-div column-container">
                            <form name="sequence-assignment-edit"
                                {% if form.instance %}
                                    action="{% url 'project-save' request.course.pk form.instance.id %}"
                                {% else %}
                                    action="{% url 'project-create' request.course.pk %}"
                                {% endif %}
                                method="post">

                                {% csrf_token %}
                                <input type="hidden" name="project_type" value="sequence-assignment" />

                                {% if form.instance.id %}
                                    <a class="right small" href="{% url 'project-workspace' request.course.pk form.instance.id %}">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> View Assignment
                                    </a>
                                {% endif %}

                                <div data-page="1" data-page-content="instructions" class="page">
                                    <p>A sequence assignment allows students to line up a
                                    "primary" selection of video or audio against multiple
                                    "secondary" selections and/or annotations. The
                                    secondary selections will appear at designated points
                                    when the primary selection plays.</p>

                                    <p>This type of assignment is good for assessing how
                                    students juxtapose a primary media object against other
                                    media selections (ie, visual annotations) or a series
                                    of thoughts (ie, textual annotations).</p>

                                    <p>The assignment has two workspaces as described
                                    below.</p>

                                    <h2>Sequence workspace:</h2>

                                    <p><img src="{{STATIC_URL}}img/screenshot-sequence.jpg" style="width:500px; border: 1px solid #ccc;" alt="sequence screenshot"/></p>

                                    <p>In the sequence workspace, students may be asked to display correlations or contrasts in context, or to prepare a set of annotations that appear as a media selection plays.</p>

                                    <h2>Reflection workspace:</h2>

                                    <p><img src="{{STATIC_URL}}img/screenshot-reflection.jpg" style="width:500px; border: 1px solid #ccc;" alt="reflection screenshot" /></p>

                                    <p>Instructors have the option of asking students for an overall reflection on a complete sequence.</p>

                                    <p>Visibility of student responses can be set at one of the following levels:</p>
                                    <ul>
                                    <li>Student responses are visible only to instructors</li>
                                    <li>Students can see other responses only after submitting their own</li>
                                    <li>Students can see other responses at any time</li>
                                    </ul>
                                    <br />
                                    <div class="row mb-5">
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-primary next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div data-page="2" data-page-content="title" class="hidden page">
                                    <h4>1. Write title &amp; instructions</h4><br />
                                    <div class="form-group">
                                        <label for="assignment-title"><strong>Assignment Title</strong></label><br />
                                        <input type="text" name="title" class="form-control" id="assignment-title"
                                            value="{% ifnotequal form.instance.title form.instance.DEFAULT_TITLE %}{{form.instance.title}}{% endifnotequal %}"/>
                                        <div class="help-inline">Title is a required field</div>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Instructions for completing assignment</strong></label>
                                        <p>
                                        Add instructions to guide students as they select a
                                        primary media object and decide how to line up a
                                        series of visual or textual annotations against it,
                                        which will appear as the primary media object
                                        plays.
                                        </p>

                                        <p>Instructions may include:</p>

                                       <span>Sequence workspace:</span>
                                       <ul>
                                        <li>Criteria for selecting the primary media object</li>
                                        <li>Criteria for type, timing, or amount of secondary media selections, aka visual annotations</li>
                                        <li>Criteria for type, timing, or amount of student-authored notes, aka textual annotations</li>
                                        </ul>
                                       <span>Reflection workspace (optional):</span>
                                       <ul>
                                        <li>Criteria for overall characterization or justification of sequence</li>
                                        </ul>
                                        <textarea name="body" class="form-control mceEditor" id="assignment-instructions">
                                            {{form.instance.body}}
                                        </textarea>
                                        <div class="help-inline">Instructions is a required field</div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col">
                                            <button class="btn btn-secondary prev">Previous</button>
                                        </div>
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-primary next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div data-page="3" data-page-content="custom-instructions" class="hidden page">
                                    <h4>2. Write custom instructions &amp; assignment summary</h4><br />
                                    <div class="form-group">
                                        <label><strong>Additional criteria for selecting primary media object</strong></label>
                                        <p>Add brief, targeted instructions to provide guidance on how to choose a primary video or audio. (140 character limit)</p>
                                        <div class="row">
                                            <div class="col-md-6" style="max-width: 330px;">
                                            <img src="{{STATIC_URL}}img/screenshot-custom1.jpg" style="width:300px; border: 1px solid #ccc;" alt="primary custom instructions" />
                                            </div>
                                            <div class="col-md-6">
                                            <textarea name="custom_instructions_1" class="form-control" maxlength="140" aria-label="primary custom instructions" placeholder="Custom instructions (optional)..." style="height: 100px; margin-top: 20px;">{{form.instance.custom_instructions_2}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <p>&nbsp;</p>

                                    <div class="form-group">
                                        <label><strong>Additional criteria for selecting secondary media objects</strong></label>
                                        <p>Add brief, targeted instructions to provide guidance on how to choose secondary media objects. (140 character limit)</p>
                                        <div class="row">
                                            <div class="col-md-6" style="max-width: 330px;">
                                            <img src="{{STATIC_URL}}img/screenshot-custom2.jpg" style="width:300px; border: 1px solid #ccc;" alt="secondary custom insrtuctions" />
                                            </div>
                                            <div class="col-md-6">
                                            <textarea name="custom_instructions_2" class="form-control" maxlength="140" aria-label="secondary custom instructions" placeholder="Custom instructions (optional)..." style="height: 100px; margin-top: 20px;">{{form.instance.custom_instructions_2}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <p>&nbsp;</p>

                                    <div class="form-group">
                                        <label><strong>Submitted assignment summary</strong></label>
                                        <p>
                                            Summarize the assignment's learning goals and expected outcome.
                                            This summary will replace instructions if a
                                            submitted response can be displayed publicly.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <textarea id="summary" name="summary" class="form-control mceEditor" placeholder="Assignment summary (optional)..." style="height: 100px; margin-top: 20px;">
                                                    {{form.instance.summary}}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col">
                                            <button class="btn btn-secondary prev">Previous</button>
                                        </div>
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-primary next">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div data-page="4" data-page-content="due-date" class="hidden page">
                                    <h4>3. Set response due date &amp; visibility</h4><br />
                                    <div class="form-group">
                                        <label for="due_date"><strong>Due Date</strong></label>
                                        <input class="form-control" type="text" id="due_date"
                                            name="due_date" value="{{form.instance.due_date|date:'m/d/y'}}">
                                    </div>
                                    <div class="help-inline">Please choose a due date.</div>
                                    <br />
                                    <label for="response_view_policy"><strong>Visibility</strong></label>
                                    <p>Choose when students can see responses submitted by other students:</p>
                                    <div class="form-group">
                                        {{form.response_view_policy}}
                                    </div>
                                    <div class="help-inline">Please choose how responses will be viewed.</div>
                                    <div><i>Note: After students respond to an assignment, they cannot edit their
                                    response unless an instructor "unsubmits" it for further editing.</i></div><br />

                                    <div class="row mb-5">
                                        <div class="col">
                                            <button class="btn btn-secondary prev">Previous</button>
                                        </div>
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-primary next">Next</button>
                                        </div>
                                    </div>

                                </div>
                                <div data-page="5" data-page-content="publish" class="hidden page">
                                    <h4>4. Publish assignment to students</h4><br />

                                    <label><strong>Publish Options</strong></label>
                                    <div class="form-group">
                                        <div class="radio">
                                            {{form.publish}}
                                        </div>
                                    </div>
                                    <div class="help-inline">Please select who can see your work.</div>
                                    <div class="row mb-5">
                                        <div class="col">
                                            <button class="btn btn-secondary prev">Previous</button>
                                        </div>
                                        <div class="col text-right">
                                            <button class="btn btn-primary save" type="submit">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
{% endblock %}
