{% extends "base.html" %}

{% block title %}
    {% if form.instance %}{{form.instance.title}}{% else %}Create Assignment{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_edit.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}

    <!-- required project functionality -->
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var view = new AssignmentEditView({
                el: jQuery('.sequence-assignment').first()
            });
        });
    </script>
{% endblock %}

{% block content %}
{% with item=form.instance.assignmentitem_set.first.asset %}
<div class="sequence-assignment">
    <div class="row">
        <div class="col-md-7">
            <div class="centered-div">
                <form name="sequence-assignment-edit"
                    {% if form.instance %}
                        action="{% url 'project-save' form.instance.id %}"
                    {% else %}
                        action="{% url 'project-create' %}"
                    {% endif %}
                    method="post">

                    {% csrf_token %}
                    <input type="hidden" name="project_type" value="sequence-assignment" />

                    <h2>
                        Edit Sequence Assignment
                        {% if form.instance.id %}
                        <a class="right" href="{% url 'project-workspace' form.instance.id %}">
                            <img alt="Edit" src="{{STATIC_URL}}img/icons/meth_view.png"></span>
                        </a>
                        {% endif %}
                    </h2>
                    <div data-page="1" data-page-content="instructions" class="page">

                        <p>A sequence assignment allows students to compare and contrast a single spine video to a series of video, image or audio selections.</p>

                        <p>Instructions to students could include:</p>
                        <ul>
                        <li>tbd</li>
                        <li>tbd</li>
                        <li>tbd</li>
                        </ul>

                        <p>Visibility of student responses must be set at one of the following levels:</p>
                        <ul>
                        <li>Student responses are visible only to instructors</li>
                        <li>Students can see other responses only after submitting their own</li>
                        <li>Students can see other responses at any time</li>
                        </ul>

                        <div class="text-center">
                        <a href="#" class="btn btn-primary next right">Get Started</a>
                        </div>
                    </div>
                    <div data-page="2" data-page-content="title" class="hidden page">
                        <h3>2. Write title &amp; instructions</h3>
                        <div class="form-group">
                            <label>Assignment Title</label>
                            <input type="text" name="title" class="form-control"
                                placeholder="Assignment Title"
                                value="{% ifnotequal form.instance.title form.instance.DEFAULT_TITLE %}{{form.instance.title}}{% endifnotequal %}"/>
                            <div class="help-inline">Title is a required field</div>
                        </div>
                        <div class="form-group">
                            <label>Assignment Instructions</label>
                            <div>Instructions to students could include:</div>
                            <ul>
                                <li>How many selections to create</li>
                                <li>How to title selections</li>
                                <li>How to annotate selections in the notes field</li>
                                <li>Guidance on tagging selections with free form tags or course vocabulary terms</li>
                            </ul>
                            <textarea name="body" class="form-control mceEditor" id="assignment-instructions">
                                {{form.instance.body}}
                            </textarea>
                            <div class="help-inline">Instructions is a required field</div>
                        </div>
                        <nav>
                            <ul class="pager">
                                <li><a href="#" class="left prev">Previous</a></li>
                                <li><a href="#" class="right next">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div data-page="3" data-page-content="custom-instructions" class="hidden page">
                        <h3>2. Write custom instructions</h3>
                        <div class="form-group">
                            <label>Primary Video Instructions</label>
                            <div>Offer directed instructions on the primary video a student should use:</div>
                            <ul>
                                <li>@todo</li>
                                <li>140 character limit</li>
                            </ul>
                            <textarea name="custom_instructions_1" class="form-control mceEditor" maxlength="140">{{form.instance.custom_instructions_2}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Secondary Media Instructions</label>
                            <div>Offer directed instructions on the secondary media a student should use:</div>
                            <ul>
                                <li>@todo</li>
                                <li>140 character limit</li>
                            </ul>
                            <textarea name="custom_instructions_2" class="form-control mceEditor" maxlength="140">{{form.instance.custom_instructions_2}}</textarea>
                        </div>
                        <nav>
                            <ul class="pager">
                                <li><a href="#" class="left prev">Previous</a></li>
                                <li><a href="#" class="right next">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div data-page="4" data-page-content="due-date" class="hidden page">
                        <h3>3. Set response due date &amp; visibility</h3>
                        <p></p>
                        <div class="form-group">
                            <label for="due_date">Due Date</label>
                            <input class="form-control" type="text"
                                name="due_date" value="{{form.instance.due_date|date:'m/d/y'}}">
                        </div>
                        <div class="help-inline">Please choose a due date.</div>
                        <br />
                        <label for="response_view_policy">Visibility</label>
                        <p>Choose when students can see responses submitted by other students:</p>
                        <div class="form-group">
                            {{form.response_view_policy}}
                        </div>
                        <div class="help-inline">Please choose how responses will be viewed.</div>
                        <ul class="pager">
                            <li><a href="#" class="left prev">Previous</a></li>
                            <li><a href="#" class="right next">Next</a></li>
                        </ul>
                    </div>
                    <div data-page="5" data-page-content="publish" class="hidden page">
                        <h3>4. Publish assignment to students</h3>
                        <p></p>
                        <div class="form-group">
                            <div class="radio">
                                {{form.publish}}
                            </div>
                        </div>
                        <div class="help-inline">Please select who can see your work.</div>
                        <ul class="pager">
                            <li><a href="#" class="left prev">Previous</a></li>
                            <li><a href="#" class="right save">Save</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
