{% load coursetags %}

{% if is_faculty or the_response and the_response.is_submitted %}
{% if responses|length > 0 %}
    <div class="right">
        <button class="btn btn-primary btn-sm right" type="button" data-toggle="modal" data-target="#response-list">
            Responses &nbsp;<span class="badge">{{responses|length}}</span>
        </button>
        <div class="modal fade" id="response-list" tabindex="-1"
            role="dialog" aria-labelledby="Responses">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Responses</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Author</th>
                                    <th>Submitted</th>
                                    {% if is_faculty %}<th>Feedback Given</th>{% endif %}
                                </tr>
                                {% for response in responses %}
                                <tr>
                                    <td>
                                        <a href="{% url 'project-workspace' response.id %}">
                                            {% public_name for response.author %}
                                        </a>
                                    </td>
                                    <td>
                                        {{response.date_submitted|date:'m/d/Y h:i a'}}
                                    </td>
                                    {% if is_faculty %}
                                        <td>
                                            <span data-id="feedback-date-{{the_response.id}}">
                                                {{response.feedback_date|date:'m/d/Y h:i a'}}
                                            </span>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if the_response and response_can_edit and not the_response.is_submitted %}
    <div class="modal fade" id="cannot-submit-project" tabindex="-1"
        role="dialog" aria-labelledby="Cannot Submit Response">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Submit Response</h4>
          </div>
          <div class="modal-body">
            <div>TBD</div><br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="submit-project" tabindex="-1"
        role="dialog" aria-labelledby="Submit Response">
      <div class="modal-dialog" role="document" data-width="620">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Submit Response
            </h4>
          </div>
          <div class="modal-body">
            <form method="post" class="project-response-form"
                action="{% url 'project-save' the_response.id %}">
                <div>Please review assignment instructions before submitting.</div>
                <p>
                    {% ifequal assignment.response_view_policy 'never' %}
                        Your response will be visible to instructors.
                    {% else %}{% ifequal assignment.response_view_policy 'always' %}
                        Your response will be visible to the whole class.
                    {% else %}{% ifequal assignment.response_view_policy 'submitted' %}
                        Your response will be visible to the instructor and other students who have submitted.
                    {% endifequal %}{% endifequal %}{% endifequal %}
                </p>
                <div class="alert alert-danger" role="alert">
                    <strong>Important!</strong><br /><br />
                    Once you submit your response, you will not be able to unsubmit or edit it.
                </div>
                <input type="hidden" name="publish" value="{{submit_policy}}" />
                <input type="hidden" name="title" value="{{the_response.title}}" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary submit-response">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endif %}
