{% extends "base_new.html" %}
{% load user_projects coursetags %}

{% block title %}
    {% if project.title %}&mdash; {{project.title}}{% else %}&mdash; Sequence{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/plugins/citation/css/citation.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}

    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/juxtapose.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/playhead.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/react-grid-layout.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}juxtapose/css/loaders.min.css"  media="screen" />
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block clientside_templates %}
    {% include "clientside/asset_view_help.mustache" %}
    {% include "clientside/asset_view_details.mustache" %}
    {% include "clientside/asset_view_details_quick_edit.mustache" %}
    {% include "clientside/asset_references.mustache" %}
    {% include "clientside/asset_annotation_list.mustache" %}
    {% include "clientside/asset_annotation_current.mustache" %}
    {% include "clientside/asset_global_annotation.mustache" %}
    {% include "clientside/asset_global_annotation_quick_edit.mustache" %}
    {% include "clientside/asset_sources.mustache" %}
    {% include "clientside/asset_feedback.mustache" %}

    {% include "clientside/collection_chooser.mustache" %}
    {% include "clientside/collectionwidget.mustache" %}
    {% include "clientside/collectionwidget_quickedit.mustache" %}
    {% include "clientside/collectionwidget_assets.mustache" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script src="{{STATIC_URL}}js/app/assetmgr/collectionwidget.js"></script>

    <script src="{{STATIC_URL}}jquery/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/assignment_view.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/app/projects/sequenceView.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <script type="text/javascript" src="{{STATIC_URL}}jquery/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/sherdjs/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/tinymce_init.js"></script>

    <script>
    var view = new SequenceView({
        el: jQuery('.sequence').first(),
        viewer: '{{request.user.username}}',
        projectId: {{project.id}},
        readOnly: {% if can_edit %}false{% else %}true{% endif %}
    });
    </script>

    <script src="{{STATIC_URL}}juxtapose/loaders.css.js"></script>
    <script src="{{STATIC_URL}}juxtapose/bundle-k.js"></script>
{% endblock %}

{% block content %}

{% with active='projects' %}
    {% include 'main/three_section_tabs.html' %}
{% endwith %}
<div class="tab-content">
    <div class="tabpanel">
        <div class="row mt-2">
            <div class="col-md-auto">
                <nav aria-label="breadcrumb" class="d-none d-md-block">
                  <ol class="breadcrumb bg-light mb-0">
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="{% url 'project-list' request.course.pk %}">
                            Back to all projects
                        </a>
                    </li>
                  </ol>
                </nav>
            </div>
        </div>
        <div class="sequence">
            <div class="sequence-composition">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="col-md-6 pl-0">
                        <h1 class="page-title">
                            {{project.title}}
                        </h1>
                    </div>
                </div>
                <div class="save-publish-status modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save Changes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="float-right small ml-1">required</div>
                                    <label for="due_date" class="ml-1">Visibility</label><br />
                                    <div class="ml-1">Select who can see your work</div><br />
                                    <ul id="id_publish">
                                        <li>
                                            <label for="id_publish_0">
                                                <input
                                                    {% if project.visibility_policy == 'PrivateEditorsAreOwners' %}
                                                    checked="checked"
                                                    {% endif %}
                                                    id="id_publish_0"
                                                    name="publish" type="radio"
                                                    value="PrivateEditorsAreOwners" />
                                                Draft - only you can view
                                            </label>
                                        </li>
                                        <li>
                                            <label for="id_publish_3">
                                                <input
                                                    {% if project.visibility_policy == 'InstructorShared' %}
                                                    checked="checked"
                                                    {% endif %}
                                                    id="id_publish_3" name="publish"
                                                    type="radio" value="InstructorShared" />
                                                Instructor - only author(s) and instructor can view
                                            </label>
                                        </li>
                                        <li>
                                            <label for="id_publish_1">
                                                <input
                                                    {% if project.visibility_policy == 'CourseProtected' %}
                                                    checked="checked"
                                                    {% endif %}
                                                    id="id_publish_1" name="publish"
                                                    type="radio" value="CourseProtected" />
                                                Whole Class - all class members can view
                                            </label>
                                        </li>
                                        {% if allow_public_compositions %}
                                        <li>
                                            <label for="id_publish_2">
                                                <input
                                                    {% if project.visibility_policy == 'PublicEditorsAreOwners' %}
                                                    checked="checked"
                                                    {% endif %}
                                                    id="id_publish_2" name="publish"
                                                    type="radio" value="PublicEditorsAreOwners" />
                                                Whole World - a public url is provided
                                            </label>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <div class="small help-inline">Select who can see your work</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary btn-save-project">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <div class="sequence-proj-status">
                        <strong>{{project.status|safe}}</strong>
                    </div>
                </div>
                <div class="title-container">
                    {% if not can_edit %}
                        <div class="assignment-response-title">{{project.title}}</div>
                        <div class="assignment-response-author">
                            by {% public_name for project.author%}
                        </div>
                    {% else %}
                    <div class="form-inline">
                        <label for="title">Sequence Title</label>&nbsp;
                        <input type="text" name="title" id="title"
                               value="{{project.title}}" maxlength="80"
                               placeholder="Specify a title"
                               class="project-title form-control" />
                    </div>
                    {% endif %}
                </div>
                <div class="clearfix"></div>

                <div class="float-right tabs-container">
                    <ul class="nav nav-tabs float-right" role="tablist">
                        <li role="presentation" class="editor nav-item">
                            <a class="nav-link active" href="#sequence" aria-controls="sequence" role="tab" data-toggle="tab">
                                Sequence
                            </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#reflection" aria-controls="reflection" role="tab" data-toggle="tab">
                                Reflection</a>
                        </li>
                        {% if can_edit %}
                            <button class="btn btn-primary btn-tab btn-save">Save</button>
                        {% endif %}
                    </ul>
                </div>
                <div class="clearfix"></div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel"
                         class="tab-pane fade show active {% if not can_edit %}read-only{% endif %}"
                         id="sequence">
                        <div class="loader">
                            <div class="ball-pulse">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div id="jux-container"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="reflection">
                        {% if can_edit %}
                            <textarea name="body" class="form-control mceEditor"
                                      placeholder="Reflect on your sequence creation and intent">{{project.body|safe}}</textarea>
                        {% else %}
                            {{project.body|safe}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="collection-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Course Collection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body collection-body">
                <div class="quick-edit" style="display: none"></div>
                <div class="collection-view"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
