{% load static %}
{% load waffle_tags %}



<div class="accordion bg-light" id="upload-import-accordion">
  <div class="card border-0 bg-light">
       <div id="collapseOne" class="collapse bg-light collectionAdd"
           aria-labelledby="btn-add-to-collection"
           data-parent="#upload-import-accordion">

           <h4 class="text-center pt-3">Add To Collection</h4>
           <div class="card-body">
               <div class="card-deck">
                   {% if can_upload and uploader %}
                       <div class="card">
                           <div class="card-body">

                               <h5 class="card-title text-center">Upload Media</h5>
                               <p class="card-text">
                                   Contribute media to this
                                   course directly from your desktop
                                   into Mediathread.
                               </p>


                               {% flag "uploads_offline" %}
                               <p class="card-text">The upload feature is currently down for maintenance. We will return shortly.</p>
                   {% else %}
                               {% ifequal role_in_course "non-member" %}
                                   <p class="card-text">You must be a course member to upload media files.</p>
                               {% else %}
                                   <h6 class="card-title">Video</h6>
                                   <form class="card-text" action="/upload/redirect/{{uploader.id}}/" method="POST">
                                       {% csrf_token %}
                                       <div class="form-row align-items-center">
                                           {% if owners %}
                                               <div class="col-auto my-1">
                                                   <label class="mr-sm-2 sr-only" for="video_owners"></label>
                                                   <select class="custom-select mr-sm-2" id="video_owners" name="as">
                                                       {% for owner in owners %}
                                                           <option value="{{owner.username}}" {% ifequal owner.username user.username %} selected="selected"{% endifequal %}>{{owner.public_name}}</option>
                                                       {% endfor %}
                                                   </select>
                                               </div>
                                           {% endif %}
                                           <div class="col-auto my-1">
                                               <button type="submit" class="btn btn-secondary upload_button video">Upload Video</button>
                                           </div>
                                       </div>
                                   </form>
                                   <h6 class="card-title mt-2">Audio</h6>
                                   <form class="card-text" action="/upload/redirect/{{uploader.id}}/" method="POST">
                                       {% csrf_token %}
                                       <div class="form-row align-items-center">
                                           {% if owners %}
                                               <div class="col-auto my-1">
                                                   <label class="mr-sm-2 sr-only" for="audio_owners"></label>
                                                   <select class="custom-select mr-sm-2" id="audio_owners" name="as">
                                                       {% for owner in owners %}
                                                           <option value="{{owner.username}}" {% ifequal owner.username user.username %} selected="selected"{% endifequal %}>{{owner.public_name}}</option>
                                                       {% endfor %}
                                                   </select>
                                               </div>
                                           {% endif %}
                                           <input type="hidden" name="audio" value="mp4"></input>
                                           <div class="col-auto my-1">
                                               <button type="submit" class="btn btn-secondary upload_button video" value="mp4">Upload Audio</button>
                                           </div>
                                       </div>
                                   </form>
                               {% endifequal %}
                               {% endflag %}

                               <hr />

                               <h6 class="card-title mt-2">IMAGE / PDF</h6>

                               <div class="card-text">
                                   {% csrf_token %}
                                   <div class="form-row align-items-center">
                                       {% if owners %}
                                           <div class="input-group mb-3">
                                               <div class="input-group-prepend">
                                                   <label class="input-group-text" for="media_owners">Upload as:</label>
                                               </div>
                                               <select class="custom-select mr-sm-2" id="media_owners" name="as">
                                                   {% for owner in owners %}
                                                       <option value="{{owner.username}}" {% ifequal owner.username user.username %} selected="selected"{% endifequal %}>{{owner.public_name}}</option>
                                                   {% endfor %}
                                               </select>
                                           </div>
                                       {% endif %}

                                       <form method="post" action="asset/create/">
                                           {% csrf_token %}
                                           <div class="input-group mb-3">
                                               <img src="{% static 'img/step-1.png' %}"
                                                    class="mr-1"
                                                    width="37" height="37" />
                                               <div class="custom-file">
                                                   <input
                                                       type="file"
                                                       onchange="s3_upload();"
                                                       class="custom-file-input"
                                                       id="mediaUploadFilename"
                                                       aria-describedby="inputGroupFileAddon02"
                                                       accept="image/*,.pdf" />
                                                   <input type="hidden" name="url" id="uploaded-url" />
                                                   <label class="custom-file-label" for="mediaUploadFilename">
                                                       Choose file
                                                   </label>
                                               </div>
                                           </div>

                                           <p id="upload-status"></p>

                                           <div class="asset-creation-area" style="display: none;">

                                               <img id="uploaded-thumbnail"
                                                    src="data:,"
                                                    class="img-thumbnail mb-2"
                                                    alt="Image thumbnail">
                                               <div class="form-group mt-1">
                                                   <div class="input-group">
                                                       <img src="{% static 'img/step-2.png' %}"
                                                            class="mr-1"
                                                            width="37" height="37" />
                                                       <input name="title"
                                                              required
                                                              id="newAssetTitle"
                                                              type="text"
                                                              placeholder="Specify a title"
                                                              class="form-control" />
                                                   </div>

                                                   <input name="width"
                                                          id="newAssetWidth"
                                                          type="hidden" value="0" />
                                                   <input name="height"
                                                          id="newAssetHeight"
                                                          type="hidden" value="0" />
                                               </div>
                                               <button type="submit" class="btn btn-primary">Create Asset</button>
                                           </div>
                                       </form>

                                   </div>
                               </div>
                           </div>
                       </div>
                   {% endif %}

                   <div class="card">
                       <div class="card-body">
                           <h5 class="card-title text-center">Import Media</h5>
                           <p class="card-text">
                               Install Mediathread’s Google Chrome
                               extension to import assets like video, audio, and
                               images into this course from various
                               sites across the web.

                               <ul><li>Visit the Chrome Web Store and make sure to click Add To Chrome.</li>
                               <li>Once added to your browser, you can click on the Extension icon next
                               to the Address Bar to pin the Mediathread extension for easier access.</li>
                               <li>You can click the extension to collect single media items from sites like Flickr, YouTube, and Google Images.</li>
                               </ul>

                               You must be using a browser in the <a href="https://en.wikipedia.org/wiki/Chromium_(web_browser)#Browsers_based_on_Chromium">Chrome family</a>
                               to install this extension.
                           </p>
                           <div class="arrowContent">
                               {% if request.user_agent.browser.family == 'Chrome' or request.user_agent.browser.family == 'Chromium' %}
                               {% include "assetmgr/install_chrome_extension.html" %}
                               {% elif request.user_agent.browser.family == 'Safari' %}
                               {% include "assetmgr/install_safari_extension.html" %}
                               {% elif request.user_agent.browser.family == 'Firefox' %}
                               {% include "assetmgr/install_firefox_extension.html" %}
                               {% endif %}
                           </div>
                       </div>
                   </div>
                   {% include 'main/rec_sources.html' %}
                </div>
            </div>
       </div>
   </div>
</div>

{% block js %}
    <script src="{% static 's3sign/js/s3upload.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
    const s3_upload = function() {
        const s3upload = new S3Upload({
            file_dom_selector: 'mediaUploadFilename',
            x_amz_acl: '',
            s3_sign_put_url: '/asset/sign_s3/',
            s3_object_name: jQuery('#mediaUploadFilename')[0].value,

            onProgress: function(percent, message) {
                jQuery('#upload-status')
                    .text('Upload progress: ' + percent + '% ' + message)
                    .show();
            },
            onFinishS3Put: function(url, privateUrl) {
                jQuery('#upload-status').hide();

                const urlObj = new URL(privateUrl);
                jQuery('#uploaded-url').val(
                    urlObj.origin + urlObj.pathname);

                var $uploadedThumbnail = jQuery('#uploaded-thumbnail');
                $uploadedThumbnail.on('load', function() {
                    // Set up image dimension for Asset creation
                    jQuery('#newAssetWidth').val(this.naturalWidth);
                    jQuery('#newAssetHeight').val(this.naturalHeight);
                });
                $uploadedThumbnail.attr('src', privateUrl);
                $uploadedThumbnail.closest('.asset-creation-area').show();
            },
            onError: function(status) {
                jQuery('#upload-status').text(status);
                var $uploadedThumbnail = jQuery('#uploaded-thumbnail');
                $uploadedThumbnail.attr('src', 'data:,');
                $uploadedThumbnail.closest('.asset-creation-area').hide();
            }
        });
    };

    jQuery(document).ready(function() {
        {% ifequal msg "upload" %}
        var msg = "Your media file submission is being processed.\nYou will receive an e-mail when it is ready."
        showMessage(msg);
        {% endifequal %}

        // https://www.npmjs.com/package/bs-custom-file-input
        bsCustomFileInput.init();

        jQuery("a.upload_button").click(function(evt) {
            jQuery(this).parent().submit();
        });
    });
    </script>
{% endblock %}
