{% extends "base_new.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div style="padding: 20px;">
        <h2 class="title">Contact Us</h2>
        <p>
            If you have comments, suggestions, or questions about this site, or are having a problem using it,
            please contact us at {{settings.SERVER_EMAIL}}.
        </p>
        <p>
            For more immediate information, please visit the <a href="/help/">Mediathread Help documentation</a>.
        </p>
   </div>
{% endblock %}
