{% extends "base.html" %}

{% block title %}Request Course{% endblock %}

{% block js %}
    <script src="/media/js/app/captcha.js"></script>
{% endblock %}

{% block css %}
<style>
    .request-course-form {
        width: 800px;
    }
    
    .request-course-form h2 {
        padding: 10px 0;
        margin: 0 10px 10px 10px;
        border-bottom: solid 1px #EFEFEF;
        width: 75%;
        min-width: 900px;
    }
    
    .request-course-form p {
        margin: 20px;
    }
    
    .request-course-form form {
        margin: 20px;
    }
    
    .request-course-form label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    
    .request-course-form input {
        margin: 0 15px 25px 0;
        height: 20px;
        padding-left: 5px;
    }
    
    .request-course-form input[name='captcha_1'] {
        margin-bottom: 12px;
    }    
    
    .request-course-form input[name='name'] {
        width: 70%;
        margin-bottom: 1px;
    }
    
    .request-course-form input[name='email'],
    .request-course-form input[name='uni'] {
        float: left;
    }
    
    .request-course-form input[name='instructor'],
    .request-course-form input[name='section_leader'] {
        width: 70%;
    }
    
    .request-course-form input[name='uni'],
    .request-course-form input[name='course_id'] {
        width: 25%;
    }
    
    .request-course-form input[name='year'] {
        width: 20%:
    }

    .request-course-form input[name='email'],
    .request-course-form input[name='course'],
    .request-course-form select[name='term'] {
        width: 40%;
        margin-right: 15px;
    }
    
    .request-course-form select[name='term'] {
        float: left;
    }
    
    .request-course-form input[type="radio"] {
        display: inline;
        margin: 0 2px 0 0;
    }
    
    .request-course-form label[for='assignments_required'] {
        display: inline;
        margin-right: 15px;
    }
    
    .request-course-form textarea {
        width: 97%;
        height: 200px;
        margin-top: 5px;
    }
    
    .request-course-form input#submit_request {
        float: right;
        width: 125px;
        height: 30px;
        margin: 10px -5px 0 0;
        padding: 5px;
    }
    
    input, select, textarea, radio {
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    label[for='assignments_required'] {
        font-weight: normal;
    }
    
    select {
        height: 34px;
    }
    
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;        
    }
    
    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
      color: #333333;
      background-color: #e6e6e6;
      *background-color: #d9d9d9;
    }
    
    div.help-inline {
        display: block;
        padding-bottom: 10px;
        margin-top: -5px;
    }
    
    button.js-captcha-refresh {
        padding: 0;
        color: #0088cc;
        border: 0;
        background: none;
        margin: -4px 3px 0 0;
        line-height: normal;
        text-decoration: none;
        box-shadow: none;
    }
    
    div.control-group.error input {
        border-color: #b94a48;
    }
    
    div.control-group .help-inline {
        display: none;
    }
    
    div.control-group.error .help-inline,
    ul.errorlist {
        clear: both;
        list-style-type: none;
        color: #b94a48;
        margin: -5px 0 20px 0;
        display: block;
    }    
</style>
{% endblock %}

{% block uncompressable_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {        
        jQuery('.datepicker').datepicker();
    });
</script>
{% endblock %}

{% block content %}
    <div class="request-course-form">
        <h2 class="title">Request a Mediathread Course</h2>
        
        <p>
            Please provide some basic information on your course and how Mediathread will be integrated into the curriculum.
        </p>
        <p>
            If you are not part of Columbia University, please contact {{settings.PUBLIC_CONTACT_EMAIL}} for 
            information on how to join a guest sandbox or get started with Mediathread at your institution.
        </p>
        
        {% if form.errors|length %}
            <div class="errornote">
              Please correct errors before continuing.
              {% if form.non_field_errors %}
                <div>{{ form.non_field_errors}}</div>
              {% endif %}
            </div>
        {% endif %}
   

        <form action="/course/request/" method="post" name="feedback">
            <div class="control-group {% if form.email.errors or form.name.errors or form.uni.errors %}error{% endif %}">
                <label for="email">Contact Information</label>
                <input type="text" name="name" placeholder="Name" {% if form.data.name %}value="{{form.data.name}}"{% endif %} /><br />
                <input class="left" type="text" name="email" placeholder="E-mail" {% if form.data.email %}value="{{form.data.email}}"{% endif %} />
                <input  class="left" type="text" name="uni" placeholder="Columbia UNI" {% if form.data.uni %}value="{{form.data.uni}}"{% endif %}/>                
                <div class="help-inline left">Name, email and uni are required fields.</div>
            </div>
        
            <div class="visualclear"></div>
            <div class="control-group {% if form.course.errors or form.course_id.errors %}error{% endif %}">
                <label for="course">Course Name/Number</label>
                <input class="required left" type="text" id="course" name="course" placeholder="Course Name" {% if form.data.course %}value="{{form.data.course}}"{% endif %}/>
                <input class="required left" type="text" id="course_id" name="course_id" placeholder="Course Number" {% if form.data.course_id %}value="{{form.data.course_id}}"{% endif %}/>
                <div class="help-inline left">Course and Course Number are required fields.</div>
            </div>
            
            <div class="visualclear"></div>
            <div class="control-group {% if form.term.errors or form.year.errors %}error{% endif %}">
                <label for="term">Term/Year</label>
                {{form.term}}
                <input class="required left form-control" type="text" name="year" placeholder="Year" {% if form.data.year %}value="{{form.data.year}}"{% endif %} />
                <div class="help-inline">Year is a required field.</div>
            </div>

            <div class="visualclear"></div>
            <div class="control-group {% if form.instructor.errors or form.instructor.errors %}error{% endif %}">
                <label for="instructor">Lead Instructor</label>
                {{form.instructor}}
                <div class="help-inline">Lead Instructor is a required field.</div>
            </div>
            
            <div>
                <label>Section Leader (optional)</label>
                {{form.section_leader}}
            </div>
            
            <div class="control-group {% if form.start.errors or form.end.errors %}error{% endif %}">
                <label>Anticipated date range of Mediathread use in this course</label>
                <input class="required left form-control datepicker" type="text" name="start" placeholder="Start Date" {% if form.data.start %}value="{{form.data.start}}"{% endif %}/>
                <input class="required left form-control datepicker" type="text" name="end" placeholder="End Date" {% if form.data.end %}value="{{form.data.end}}"{% endif %}/>
                <div class="help-inline">Start Date and End Date are required fields.</div>
            </div>

            <div class="visualclear"></div>
            <div class="control-group {% if form.students.errors %}error{% endif %}">
                <label>Anticipated number of students working in Mediathread in this course</label>
                <input class="required form-control" type="text" name="students" {% if form.data.students %}value="{{form.data.students}}"{% endif %}/>
                <div class="help-inline">Number of students is a required field.</div>
            </div>
            
            <div class="control-group {% if form.assignments_required.errors %}error{% endif %}">
                <label>Will Mediathread assignments be required?</label>
                <input class="required form-control" type="radio" name="assignments_required" value="Yes" {% if form.data.assignments_required == 'Yes'%}checked='checked'{% endif %} />
                <label for="assignments_required">Yes</label>
                <input class="required form-control" type="radio" name="assignments_required" value="No" {% if form.data.assignments_required == 'No'%}checked='checked'{% endif %}/>
                <label for="assignments_required">No</label>
                <div class="help-inline"><br /><br />Please indicate if assignments are required.</div>
            </div>            

            <br /><br />
            <div class="visualclear"></div>
            <div class="control-group {% if form.description.errors %}error{% endif %}">
                <div><label for="description">Please describe rationale for Mediathread use, i.e. instructor's learning goals, desired student activities, etc.</label></div>
                <div>
                    {{form.description}}
                </div>
                <div class="help-inline"><br /><br />Course description is a required field.</div>
            </div>
            
            <br /><br />
            <div class="control-group {% if form.captcha.errors %}error{% endif %}">
                <label for="id_captcha_0">
                    <div><b>Please verify you are a person:</b></div>
                </label>
                <div class="controls">
                    {{form.captcha}} {% if form.captcha.errors %}<span class="help-inline">{{form.captcha.errors}}</span>{% endif %}
                </div>
            </div>
            
            <div class="help-inline captcha">
                Type the characters you see in the picture.<br /><br />
                <button class="btn btn-default js-captcha-refresh">Refresh the image</button> if you can't read the picture.<br />
            </div>            
            
            <input class="btn" type="submit" id="submit_request" name="add item" value="Request Course"/>
        </form>
    </div>
{% endblock %}
