{% extends 'base.html' %}
{% load coursetags %}
{% load static %}
{% load waffle_tags %}

{% block title %}&mdash; Homepage{% endblock %}

{% block coursetitle %}
    Homepage
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/theme.default.custom.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/lib/tablesorter/jquery.tablesorter.combined.min.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.tablesorter').tablesorter({
                headers: {
                    '.nosort': {
                        sorter: false
                    }
                },
                widgets: ['filter'],
                widgetOptions: {
                    filter_external: '.course-search',
                    filter_columnFilters: false
                }
            });
            jQuery("#coursefilter").buttonset();

            jQuery("#create-course").button();
        });
    </script>
{% endblock %}

{% block content %}
    {% flag 'instructor_homepage' %}
    <div id="course-list">
        <div id="coursefilter">
            <span class="h5">View courses for:</span>

            <div class="btn-group" role="group" aria-label="select year">
                <a id="pastsemesters"
                   href="?semester_view=past"
                   class="btn btn-default {% if semester_view == 'past' %}active{% endif %}"
                >Past Courses</a>
                <a id="currentsemester"
                   href="?semester_view=current"
                   class="btn btn-default {% if semester_view == 'current' %}active{% endif %}"
                >Current Courses</a>
            </div>
        </div>
    </div>
    <div class="visualclear"></div>

    <form role="search">
        <input class="course-search search-box form-control"
               type="search"
               data-column="all"
               placeholder="Search">
    </form>

    {% if semester_view == 'past' %}
        <h2>Past Courses</h2>
    {% elif semester_view == 'current' %}
        <h2>Current Courses</h2>
    {% endif %}

    {% if object_list|length > 0 %}
        <table class="table course-choices tablesorter">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Term</th>
                    <th>Instructor</th>
                    <th>Role</th>
                    {% if add_privilege %}
                        <th class="nosort">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for course in object_list %}
                    {% include 'courseaffils/course_row.html' %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No courses match this criteria.
    {% endif %}

    {% if activatable_affils|length > 0 %}
        <h2>Activatable Courses</h2>
        <ul>
            {% for affil in activatable_affils %}
                <li>
                    {{affil.name}}
                    <a class="btn btn-default btn-xs"
                       href="{% url 'affil_activate' affil.id %}" role="button"
                    >Activate</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    {% else %}
    The instructor_homepage flag isn't enabled for this user.
    {% endflag %}

{% endblock %}
