{% load static %}
{% if collections.count %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Recommended Sources</h5>
            <p class="card-text">Your instructor suggests that you import items from these sites.</p>
            <div style="height: 300px; overflow-y: scroll">
            {% for collection in collections %}

                <div class="recommend_source">
                    {% if collection.thumb_url %}
                        <div class="source_thumb">
                            <a href="/explore/redirect/{{collection.id}}/">
                                {% if collection.thumb_url|slice:":4" == "http" %}
                                    <img src="{{collection.thumb_url}}" alt="{{collection.title}} icon"
                                        class="collection-link" />
                                {% else %}
                                    <img src="{{STATIC_URL}}{{collection.thumb_url}}" alt="{{collection.title}} icon"
                                        class="collection-link" />
                                {% endif %}
                                <span class="sr-only">{{collection.title}} icon</span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="source_title">
                        <a href="/explore/redirect/{{collection.id}}/" class="collection-link">{{collection.title}}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
