{% extends "base.html" %}

{% block title %}Request Course{% endblock %}

{% block css %}
<style>
    div.contact_us_form {
        width: 600px;
    }
    
    div.contact_us_form h2 {
        padding: 10px 0;
        margin: 0 10px 10px 10px;
        border-bottom: solid 1px #EFEFEF;
        width: 75%;
        min-width: 900px;
    }
    
    div.contact_us_form p {
        margin: 20px;
    }
    
    div.contact_us_form form {
        margin: 20px;
    }
    
    div.contact_us_form label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    
    div.contact_us_form input {
        width: 50%;
        margin-bottom: 15px;
        height: 21px;
    }
    
    div.contact_us_form textarea {
        width: 97%;
        height: 200px;
        margin-top: 5px;
    }
    
    div.contact_us_form input#submit_feedback {
        float: right;
        width: 125px;
        margin-top: 10px;
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block uncompressable_js %}

<script type="text/javascript">
    jQuery(document).ready(function() {
        {% if request.GET.msg %}
            showMessage("Thank you for your request. A CCNMTL staff member will contact you shortly.");
        {% endif %}
        
        jQuery("form").submit(function() {
            var valid = true;

            var children = jQuery(this).find("input,textarea,select");
            jQuery.each(children, function() {
                if (valid) {
                    if (this.tagName === 'INPUT' && this.type === 'text' ||
                        this.tagName === 'TEXTAREA') {
                        valid = jQuery(this).val().length > 0;
                    }

                    if (this.tagName === 'SELECT') {
                        var value=jQuery(this).val()
                        valid = value !== undefined && value.length > 0 && jQuery(this).val() !== '-----';
                    }

                    if (this.type === 'checkbox' || this.type === 'radio') {
                        // one in the group needs to be checked
                        var selector = 'input[name=' + jQuery(this).attr("name") + ']';
                        valid = jQuery(selector).is(":checked");
                    }
                }
            });

            if (!valid) {
                showMessage("Please complete all form fields before continuing.", undefined, "Error");
            } else { 
                var description = "Requester: " + document.forms.feedback.name.value + " (" + 
                        document.forms.feedback.email.value + ") " + document.forms.feedback.role.value;
                description += "\n\nInstitution: " + document.forms.feedback.institution.value;
                description += "\n\nCourse: " + document.forms.feedback.course.value;
                description += "\n\nCourse Id: " + document.forms.feedback.course_id.value;
                description += "\n\nCourse Semester: " + document.forms.feedback.course_semester.value;
                description += "\n\nCourse Description: " + document.forms.feedback.course_description.value + "\n\n";
                document.forms.feedback.description.value = description;
            }

            return valid;
        });       
    });
</script>
{% endblock %}

{% block content %}
    <div class="contact_us_form">
        <h2 class="title">Request a Course</h2>

        <form action="{{settings.CONTACT_US_DESTINATION}}" method="post" name="feedback">
            <div><label for="name">Full Name</label><input class="text" type="text" id="name" name="name" /></div>
            
            <div><label for="email">Email address</label></div>
            <div><input class="text" type="text" id="email" name="email" /></div>

            <div><label for="role">Your title/role</label></div>
            <div><input class="text" type="text" id="role" name="role" /></div>
            
            <div><label for="institution">Institution/School</label></div>
            <div><input class="text" type="text" id="institution" name="institution" /></div>

            <div><label for="course">Course Name</label></div>
            <div><input class="text" type="text" id="course" name="course" /></div>

            <div><label for="course_id">Course Id</label></div>
            <div><input class="text" type="text" id="course_id" name="course_id" /></div>

            <div><label for="course_semester">Course Semester</label></div>
            <div><input class="text" type="text" id="course_semester" name="course_semester" /></div>
                        
            <div><label for="course_description">Please describe how this course will be used</label></div>
            <div><textarea rows="4" cols="35" id="course_description" name="course_description"></textarea></div>
            
            <input type="submit" id="submit_feedback" name="add item" value="Request Course"/>
            
            <div class="visualclear"/>
            
            <input type="hidden" name="title" value="Mediathread Course Request"></input>
            <input type="hidden" name="pid" value="514"></input>
            <input type="hidden" name="mid" value="3596"></input>
            <input type="hidden" name="type" value="action item"></input>
            <input type="hidden" name="owner" value="ellenm" />
            <input type="hidden" name="assigned_to"  value="ellenm"></input>
            <input type="hidden" name="estimated_time" value="1h"></input>
            <input type="hidden" name="redirect_url" value="http://{{request.get_host}}/course/request/?msg=submitted"></input>
            <input type="hidden" name="keyword" value="course-request" />
            <input type="hidden" name="debug_info" value="" />
            <input type="hidden" name="description" value="" />
        </form>
    </div>
{% endblock %}
