{% extends "base_new.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href='{% static "css/mediathreadinfo/custom.css" %}' media="screen" />
{% endblock %}

{% block title %}
Splash Page
{% endblock %}

{% block extra_body_class %}
{% endblock %}

{% block container %}
<div role="main">

    <h1 style="display: none;"">Mediathread</h1>

    <!--identity-->
    <section id="identity" class="text-center p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" alt="mediathread logo" src="{% static 'img/promo/logo-mediathread.svg' %}">
                    <h2 class="text-light display-4">Make original discoveries<br />through close analysis.</h2>
                    <p> <a href="/about/" class="btn btn-light btn-lg">Learn More</a></p>
                </div>
            </div>
        </div>
    </section>

    <!--audience-->
    <section id="audience" class="text-center p-5 text-light">
        <div class="container">
            <div class="row">
                <h2>Mediathread is an innovative platform built by the Columbia CTL that supports collaborative
                multimedia analysis.</h2>
                <div class="col">
                    <a href="/features/">
                        <img class="img-fluid p-4" alt="instructor teaching" src="{% static 'img/promo/audience-instructors.jpg' %}" />
                    </a>
                    <h3>For Instructors</h3>
                    <p>Engage students and track their work with a range of innovative assignments.</p>
                </div>
                <div class="col">
                    <a href="/features/">
                        <img class="img-fluid p-4" alt="students engaging" src="{% static 'img/promo/audience-students.jpg' %}" />
                    </a>
                    <h3>For Students</h3>
                    <p>Back up insights with targeted citation of multimedia source materials.</p>
                </div>
                <div class="col">
                    <a href="/features/">
                        <img class="img-fluid p-4" alt="researching" src="{% static 'img/promo/audience-researchers.jpg' %}" />
                    </a>
                    <h3>For Researchers</h3>
                    <p>Collaborate across digital collections with shared annotations, tagging, and controlled vocabularies.</p>
                </div>
            </div>
        </div>
    </section>

    <!--features-->
    <section id="features" class="text-center p-5 text-dark">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>
                    Users of Mediathread are able to lift video, audio, and image items from a range of digital collections and then work with them in a course-specific website.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/kb/">
                    <img class="img-fluid p-4" alt="low library" src="{% static 'img/promo/screenshot-support.png' %}" />
                </a>
                <h2>Support</h2>
                <!-- <p>Engage students and track their work with a range of innovative assignments.</p> -->
            </div>
            <div class="col">
                <a href="/usecases/">
                    <img class="img-fluid p-4" alt="video selections of video clip" src="{% static 'img/promo/screenshot-usecases.png' %}" />
                </a>
                <h2>Use Cases</h2>
                <!-- <p>Engage students and track their work with a range of innovative assignments.</p> -->
            </div>
            <div class="col">
                <a href="/features/">
                    <img class="img-fluid p-4" alt="image selections of painting" src="{% static 'img/promo/screenshot-features.png' %}" />
                </a>
                <h2>Features</h2>
                <!-- <p>Engage students and track their work with a range of innovative assignments.</p> -->
            </div>
        </div>
    </section>


</div>

{% endblock %}
