{% extends "base_new.html" %}

{% block uncompressable_js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}


{% block content %}

<div id="tabs">

<ul>
  <li><a href="#day">Last 24 Hours</a></li>
  <li><a href="#week">Week</a></li>
  <li><a href="#month">Month</a></li>
  <li><a href="#year">Year</a></li>
</ul>

<div id="day">
<h2>Traffic</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.200&graphOnly=false&hideGrid=true&hideLegend=true">
<h2>Response Times (max/mean/min)</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.match.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.upper)&hideGrid=true&hideLegend=true&from=-24hours"/>
<h2>Errors</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.404&target=ccnmtl.app.counters.match.response.500&graphOnly=false&hideGrid=true">
</div>


<div id="week">
<h2>Traffic</h2>

<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-7days">

<h2>Response Times (max/mean/min)</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.match.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.upper)&hideGrid=true&hideLegend=true&from=-7days"/>

<h2>Errors</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.404&target=ccnmtl.app.counters.match.response.500&graphOnly=false&hideGrid=true&from=-7days">
</div>

<div id="month">

<h2>Traffic</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-1months">
<h2>Response Times (max/mean/min)</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.match.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.upper)&hideGrid=true&hideLegend=true&from=-1months"/>
<h2>Errors</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.404&target=ccnmtl.app.counters.match.response.500&graphOnly=false&hideGrid=true&from=-1months">
</div>


<div id="year">
<h2>Traffic</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-1years">
<h2>Response Times (max/mean/min)</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.match.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.match.view.GET.upper)&hideGrid=true&hideLegend=true&from=-1years"/>
<h2>Errors</h2>
<img width="900" height="200" src="http://nanny.cul.columbia.edu/render/?width=900&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.match.response.404&target=ccnmtl.app.counters.match.response.500&graphOnly=false&hideGrid=true&from=-1years">
</div>
</div>

<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>

{% endblock %}
