<nav id="three-section-tabs" class="nav nav-tabs flex-column flex-sm-row"
    role="tablist">
    <a class="flex-sm-fill text-sm-center nav-link" role="tab"
        title="Collection" href="{% url 'course_detail' request.course.pk %}">
        Collection
    </a>
    <a class="flex-sm-fill text-sm-center nav-link {% if active == 'assignments' %}active{% endif %}" role="tab"
        href="{% url 'assignment-list' request.course.pk %}"
        title="Assignments">
            Assignments
    </a>
    <a class="flex-sm-fill text-sm-center nav-link {% if active == 'projects' %}active{% endif %}" role="tab"
        href="{% url 'project-list' request.course.pk %}" id="projects-list"
        title="Projects">Projects</a>
</nav>
