<div class="login-description">
    <div style="width: 560px; display: inline-block; margin-bottom: 30px">
        <h1>Welcome to Mediathread!</h1>
        <h2>Mediathread is an open-source platform for exploration, analysis, and organization of web-based multimedia content.</h2>
        Mediathread connects to a variety of image and video collections (such as YouTube, Flickr, library databases, and course libraries), enabling users to lift items out of these collections and into an analysis environment. In Mediathread, items can then be clipped, annotated, organized, and embedded into essays and other written analysis.
        <h2 style="margin-top: 10px">
            <a href="http://ccnmtl.columbia.edu/our_services/tools/mediathread/">Learn More</a>
        </h2>
    </div>
    <div style="display: inline">
        {% if settings.DEBUG %}
        {% else %}
        <iframe style="border: 1px solid black" width="560" height="315" src="http://www.youtube.com/embed/NWNxuJ0MK3k" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
</div>
