{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block courseinformation %}
{% endblock %}

{% block content %}

<div class="loginbox-container">
    <div class="loginbox">
        <h2>Log In</h2>
        <div class="content">
            {% if form.errors %}
                <p class="errornote">
                    <span>
                        <b>ERROR:</b> Invalid username or password.
                    </span>
                    Please try again. Note that both username and password are case-sensitive.
                </p>
            {% endif %}
        
            <form id="login-local" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form">
                    <div class="fieldwrapper">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div><!-- fieldwrapper -->
                
                    <div class="fieldwrapper">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div><!-- fieldwrapper -->
                </div>      
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
                <input class="regbutton login-local-form" type="submit"
                    value="Log In" style="float: right; margin: 10px 11px 0 0;"/>
                <div class="visualclear"></div>                        
            </form>
            <br />
        </div>
    </div>
</div>

{% include "registration/description.html" %}

{% endblock %}
