{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block courseinformation %}
{% endblock %}

{% block content %}

<div class="loginbox-container">
    <div class="loginbox">
        <h2>Log In</h2>
        <div class="content">
            {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <div><b>Invalid username/password</b></div><br />
                        Please try again. Note that both username and password are case-sensitive.
                    </div>
            {% endif %}
            <br />
            <form id="login-local" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                    <div class="form-group">
                        <label for="id_username">Username:</label>
                        <input id="id_username" maxlength="254"
                               name="username" type="text" class="form-control"
                               autofocus>
                    </div>

                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        <input id="id_password" name="password" type="password" class="form-control">
                    </div>
                </div>
                <input id="guest-login" class="btn btn-primary" type="button" value="Guest Log In" {% if form.errors %}style="display: none"{% endif %}
                    onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
                <input class="btn btn-primary login-local-form" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>
            <p class="small"><a href="/accounts/password_reset/">Forgot Password?</a></p>
            <p class="small"><a href="{% url "registration_register" %}">Need a guest account?</a></p>
            <br />
        </div>
    </div>
</div>

{% include "registration/description.html" %}

{% endblock %}
