{% extends "base_new.html" %}
{% load i18n %}

{% block title%}Change Password |{% endblock %}

{% block css %}
<style>
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }
    input[type='password'] {
        width: 200px;
        margin-bottom: 30px;
        display: block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        height: 34px;
        padding-left: 5px;
    }
    ul.errorlist {
        clear: both;
        list-style-type: none;
        color: #b94a48;
        margin: 0 0 10px 0;
        display: block;
    }
</style>
{% endblock %}


{% block content %}
<h2 class="pagetitle signuptitle">Change password</h2>

<div class="p">Want to change your password? Enter your email in the form below and you will receive instructions for creating a new one.</div>
<br /><br />

<div class="password-change">
    <form method="post" action=".">
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
        {%csrf_token %}
    </form>
</div>

{% endblock %}
