{% extends "instructor/base_dashboard.html" %}
{%load user_annotations comments %}

{% block dashboard_module %}

    <h1>Upload Permission Settings</h1>
    
    {% if upload_permission_updated %}
        <div>Changes Saved</div>
    {% endif %}
    
    <form action="/settings" method="POST">
        <label for="upload_permission">Upload Permissions:</label><br />
        <select name="upload_permission">
            {% for level in permission_levels %}
                <option value="{{level.0}}" {% ifequal upload_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="submit" value="submit"></input>
    </form>



{% endblock %}
