{% extends "base.html" %}
{%load user_annotations comments %}

<title> {% block title %}Course Settings{% endblock %}</title>

{% block js %}
<script type="text/javascript" src="/site_media/js/hs.js"></script>
<script type="text/javascript" src="/site_media/js/reports.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
<h1>Instructor Dashboard</h1>    

{% include "instructor/instructor_actions.html" %}

<div class="panel">    
  <div style="float:left;width:35%">
  </div>
  <div style="float:left;width:65%">
  <div class="panel-column">
    <h2>Course Settings</h2>
    
    {% if upload_permission_updated %}
        <div>Changes Saved</div>
    {% endif %}
    
    <form action="/settings" method="POST">
        <label for="upload_permission">Upload Permissions:</label><br />
        <select name="upload_permission">
            {% for level in permission_levels %}
                <option value="{{level.0}}" {% ifequal upload_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="submit" value="submit"></input>
    </form>

  </div> 
  </div> 

  <div class="visualclear"></div>
  
</div>

{% endblock %}
