{% load coursetags static methtags %}
{% get_instructor_courses user as courses %}
<html>
<head>
    <title>Course Configuration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" />

    <style>
        #standardnav_container {
            display: block;
            float: left;
            margin: 0;
            width: 100%;
            padding: 0;
            background-color: #383838;
        }
        .mediathread-background-logo {
            background: url(https://ccnmtl-mediathread-static-prod.s3.amazonaws.com/media/img/login_bg.jpg) -250px 35px no-repeat;
        }
        p {
            margin-top: 20px;
            font-size: medium;
        }
    </style>

</head>
<body class="mediathread-background-logo">
    <div id="header">
        <div id="standardnav_container">
            <div id="mediathread_logo">
                <a href="/">
                    <img src='{% static "img/logo_mediathread.svg" %}' alt="mediathread logo" width="156" height="45" />
                    <span class="sr-only">Home</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row">
         {% if not is_instructor and not is_administrator %}
            <div class="col-md-12" style="margin-top: 20px">
                <p class="lead text-center">
                    Your {{title}} course has not been configured to use this component.<br />
                    Contact your instructor for more information.
                </p>
            </div>
         {% else %}
            <div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px">
                <p class="lead text-center">
                    Mediathread is an open-source platform for exploration, analysis, and organization of web-based multimedia content.
                </p>
                <p class="lead text-center">
                    Connect your Canvas course to Mediathread.
                </p>

                <form class="text-center" action="{% url 'lti-course-create' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="lms_course" value="{{lms_course}}">
                    <input type="hidden" name="lms_course_title" value="{{lms_course_title}}">
                    <input type="hidden" name="sis_course_id" value="{{sis_course_id}}">
                    <input type="hidden" name="domain" value="{{domain}}">
                    <p>
                        <a href="https://mediathread.ctl.columbia.edu/" target="about:blank" class="btn btn-default btn-lg" style="margin-right: 5px;">Learn More</a>
                        <button type="submit" class="btn btn-primary btn-lg">Connect Now</button>
                    </p>
                </form>

                <div class="text-center">
                <p class="lead text-left" style="margin-top: 75px; margin-bottom: 5px">Working with Mediathread Assignments</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xwy3I1AMLH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                {% if courses|length > 0 and is_administrator %}
                <p class="lead" style="margin-top: 50px">
                <b>Administrators Only</b><br />
                Connect a different Mediathread course to this Canvas course.<br />

                <div class="row">
                <div class="col-md-12">
                <table class="table course-choices tablesorter">
                    <thead>
                        <tr>
                            <th>Course Title</th>
                            <th>Term</th>
                            <th class="nosort">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            {% if course.group.course_group.count < 1 %}
                                <tr>
                                    <td>{{course.title}}</td>
                                    <td>
                                        {% if course.info.termyear %}
                                            {{course.info.termyear}}
                                        {% elif course.to_dict %}
                                            {{course.to_dict.term|int_to_term}} {{course.to_dict.year}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'lti-enable-course' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="group" value="{{course.group.id}}">
                                            <input type="hidden" name="faculty_group" value="{{course.faculty_group.id}}">
                                            <input type="hidden" name="lms_course" value="{{lms_course}}">
                                            <input type="hidden" name="lms_course_title" value="{{lms_course_title}}">
                                            <button class="btn btn-info" type="submit">Connect</button>
                                        </form>
                                    </td>
                                </tr>
                             {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
    </div>
</body>
</html>
