<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" />
    </head>
    <body>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="jumbotron">
                        <h2>Mediathread</h2>
                        <p>Mediathread is an open-source platform for exploration, analysis, and
                        organization of web-based multimedia content. Mediathread connects to a variety of image and video collections (such as YouTube, Flickr, library databases, and course libraries), enabling users to lift items out of these collections and into an analysis environment. In Mediathread, items can then be clipped, annotated, organized, and embedded into essays and other written analysis.
                        </p>
                        <p><a class="btn btn-default" href="{{landing_url}}" target="_blank">Launch Mediathread Now</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
