<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% with request.collaboration_context.content_object as course %}
<head><!-- {{controller_name}} :: {{template_name}} -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} | Mediathread</title>

	<link rel="shortcut icon" href="/site_media/img/mediathread_favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/site_media/css/base_slide.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/asset.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/project.css" />

	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
    {% load cache user_projects courseaffils %}
    {% cache 500 heads course %}
       {% if course.settings.custom_headers %}
        {{course.settings.custom_headers|safe}}
       {% endif %}
    {% endcache %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        <script type="text/javascript">
          var lt = String.fromCharCode(60);
          if (window.jQuery) {
            jQuery.noConflict();
          } else {
            document.write(lt+'script src="/site_media/js/sherdjs/lib/jquery.min.js" type="text/javascript">'+lt+'/script>');
            document.write(lt+'script src="/site_media/js/sherdjs/lib/jquery-ui.min.js" type="text/javascript">'+lt+'/script>');
          }
          if (!window.JSON) {
            document.write(lt+'script src="/site_media/js/sherdjs/lib/json2.js" type="text/javascript">'+lt+'/script>');          
          }
        </script>
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
{% course_role for request.user in course as role_in_course %}
<body class="test slide-body {% block widthtype %}fluid{% endblock %} role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">


{% block masthead %}
    <div id="page-header">
      <!-- Project title/logo -->
      <h1 id="page-header-project"><a href="/" title="Project Title: Project Django"><span>Project Title: Project Django </span></a></h1>	
      {% block standardnav %}
	
	<div id="page-header-mediathread"><a href="#"><img src="/site_media/img/logo_mediathread.png" width="172" height="42" /></a></div>
	<ul id="page-header-standardnav">
          {% if request.user.is_authenticated %}
            <li>Welcome, <span id="logged_in_name" class="username">{{user.get_full_name|default:user}}!</span></li>
            <li><a href="/accounts/logout/">Log Out</a></li>
            {%if user.is_staff %}
              <li>
                <a href="/admin/">ADMIN</a>
              </li>
            {%endif%}
            {% num_courses for user as user_courses %}
            {% if user_courses.1 or user.is_staff %}
              <li><a href="/?unset_course">Switch Course</a></li>
            {% endif %}
          {% else %}
            <li><a href="/accounts/login/">Log In</a></li>
          {% endif %}
          
          <li><a href="/help/">Help</a></li>
        </ul>

      {% endblock %}
		
    </div><!-- id="header" -->
    {% block primarynav %}
    <!-- ###### Primary navigation ###### -->
    <div id="page-header-primarynav">
      <div class="encase" id="{% block navalignment %}leftside{% endblock %}"><div id="course_title"><a href="/">{{course.title}}</a></div>
         {% if request.course %}
			{% block primarynavtabs %}
			<ul class="{% ifequal role_in_course "non-member" %}non-member{% endifequal %}">
				<li class="{% active request 'Class Portal' %}"><a href="/">Home</a></li>
				<li class="{% active request 'Explore' %}"><a href="/explore">Explore Collections</a></li>
                                <li class="{% active request 'Analysis' %}"
                                       ><a href="{% ifequal role_in_course "non-member" %}{% url asset-container %}{%else%}{% url your-space-records user %}{% endifequal %}">Items & Projects</a></li>
			</ul><!-- id="primarynavtabs" -->
			{% endblock %}
	  {% endif %}
			{% block usernav %}{% endblock %}

		</div><!-- id="leftside/rightside" -->
	</div><!-- id="primarynav" -->
    {% endblock %}{# end primarynav #}


{% endblock %}{# end masthead #}

    <div id="page-body">

		<div id="page-body-rel">
                  {% block pagetitle %}{% endblock %}
                  
                  {% block content %}{% endblock %}

		</div><!-- id="page-body-rel" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
      </div><!-- id="page-body" -->





{% block footer %}
<!-- ###### Footer ###### -->
<div id="page-footer">
</div><!-- id="page-footer" -->
{% endblock %}{# end footer #}


<script type="text/javascript">
   var _gaq = _gaq || [];
   var _gaq_mediathread = 'UA-311226-18';
  _gaq.push(['_setAccount', _gaq_mediathread]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
{% endwith %}
</html>
