<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% with request.collaboration_context.content_object as course %}
<head><!-- {{controller_name}} :: {{template_name}} -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} | Mediathread</title>

	<link rel="stylesheet" type="text/css" href="/site_media/css/course.css" />

	<link rel="shortcut icon" href="/site_media/img/mediathread_favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="/site_media/css/mediathread.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
    {% load cache user_projects coursetags %}
    {% cache 500 heads course %}
       {% if course.settings.custom_headers %}
        {{course.settings.custom_headers|safe}}
       {% endif %}
    {% endcache %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        <script type="text/javascript">
          var lt = String.fromCharCode(60);
          if (window.jQuery) {
            jQuery.noConflict();
          } else {
            document.write(lt+'script src="/site_media/js/sherdjs/lib/jquery.min.js" type="text/javascript">'+lt+'/script>');
            document.write(lt+'script src="/site_media/js/sherdjs/lib/jquery-ui.min.js" type="text/javascript">'+lt+'/script>');
          }
          if (!window.JSON) {
            document.write(lt+'script src="/site_media/js/sherdjs/lib/json2.js" type="text/javascript">'+lt+'/script>');          
          }
          var MediaThread = new (function() {
             this.templates = {};
             {% if request.user.is_authenticated %}
               this.current_user = {{request.user.id}};
               this.user_full_name = "{%public_name for request.user %}";
             {% endif %}
          })();
        </script>
	{% block css %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
{% course_role for request.user in course as role_in_course %}
<body class="one_column {% block widthtype %}fluid{% endblock %} role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">
{% comment %}
###### FOR WIDTH TYPE--
   fixed : fixed width, doesn't change with browser resize
   fluid : variable width, changes with browser resize
   You can move this to base template if you don't want to deal with it
   all time in flatpages templates
{% endcomment %}

<div id="container">


{% block masthead %}
	<!-- ###### Site banner ###### -->
	<div id="header">
		<!-- Project title/logo --><h1 id="logo_project"><a href="/" title="Project Title: Project Django"><span>Project Title: Project Django </span></a></h1>	
		{% block standardnav %}
	
	<div id="mediathread_logo"><a href="#"><img src="/site_media/img/logo_mediathread.png" width="172" height="42" /></a></div>
	<ul id="standardnav">
			
{% if request.user.is_authenticated %}
<li>Welcome, <span id="logged_in_name" class="username">{% public_name for user %}</span>!</li>
			<li><a href="/accounts/logout/">Log Out</a></li>
		{%if user.is_staff %}
			<li>
			  <a href="/admin/">ADMIN</a>
			</li>
		{%endif%}
  {% num_courses for user as user_courses %}
  {% if user_courses.1 or user.is_staff %}
			<li><a href="/?unset_course">Switch Course</a></li>
  {% endif %}
{% else %}
			<li><a href="/accounts/login/">Log In</a></li>
{% endif %}

<li><a href="/help/">Help</a></li>
		</ul>
		{% endblock %}
		
	</div><!-- id="header" -->
{% endblock %}



	<!-- ###### Don't touch this ###### -->
	<div class="visualclear"></div>
	

{% block primarynav %}
	<!-- ###### Primary navigation ###### -->
	<div id="primarynav">
		<div class="encase" id="{% block navalignment %}leftside{% endblock %}"><div id="course_title"><a href="/">{{course.title}}</a></div>


{% comment %}
###### FOR ALIGNMENT OF TABS on the primary navigation--
   leftside : all tabs aligning to the left, login to the right
   rightside :  all tabs aligning to the right, login to the left
{% endcomment %}
         {% if request.course %}
			{% block primarynavtabs %}
			<ul class="{% ifequal role_in_course "non-member" %}non-member{% endifequal %}">
			
			    {% if is_course_faculty %}
				<li class="{% active request 'Instructor' %}"><a href="{% url class-activity %}">Instructor Dashboard</a></li>
                                {% endif %}
				<li class="{% active request 'Class Portal' %}"><a href="/">Home</a></li>
				<li class="{% active request 'Notifications' %}"><a href="/">Notifications</a></li>
<!--				<li class="{% active request 'Explore' %}"><a href="/explore">Browse Sources</a></li>-->
                                <li class="{% active request 'Analysis' %}"
                                    ><a href="{% ifequal role_in_course "non-member" %}{% url asset-container %}{%else%}{% url your-space-records user %}{% endifequal %}">Collections & Compositions</a></li>
                            
			</ul><!-- id="primarynavtabs" -->
			{% endblock %}
	  {% endif %}
			{% block usernav %}{% endblock %}

		</div><!-- id="leftside/rightside" -->
	</div><!-- id="primarynav" -->
{% endblock %}

{% comment %} not using this now <div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div> {% endcomment %}


	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div id="block" class="block">
					{% block pagetitle %}{% endblock %}
				
					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->				

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
	{% block footer %}
	<!-- ###### Footer ###### -->
	<div id="footer">
	<p class="printonly"><br /><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly" /></p>
	<ul id="footernav"><li><a href="/about/">About</a></li>
			<!--<li><a href="/partners/">Partners</a></li>-->
                           {% if settings.PUBLIC_CONTACT_EMAIL %}                          
                           <li><a href="mailto:{{settings.PUBLIC_CONTACT_EMAIL}}">Contact</a></li>
                           {% endif %}
			</ul>
			
			<!-- CCNMTL title/logo --><h4 id="logo_ccnmtl"><a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning" alt="Produced by the Columbia Center for New Media Teaching and Learning"></a></h4>
			</div><!-- id="footer" -->
{% endblock %}
	</div><!-- id="pagebody" -->





</div><!-- id="container" -->

{% block js %}{% endblock %}
<script type="text/javascript">
   var _gaq = _gaq || [];
   var _gaq_mediathread = 'UA-311226-18';
  _gaq.push(['_setAccount', _gaq_mediathread]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
{% endwith %}
</html>
