<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Django CCNMTL: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/site_media/css/main.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
<body class="one_column {% block widthtype %}fixed{% endblock %}">
{% comment %}
###### FOR WIDTH TYPE--
   fixed : fixed width, doesn't change with browser resize
   fluid : variable width, changes with browser resize
   You can move this to base template if you don't want to deal with it
   all time in flatpages templates
{% endcomment %}

<div id="container">


{% block masthead %}
	<!-- ###### Site banner ###### -->
	<div id="header">
		<!-- Project title/logo --><h1 id="logo_project"><a href="./" title="Project Title: Project Django"><span>Project Title: Project Django </span></a></h1>	
		{% block standardnav %}
		<ul id="standardnav">
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		{% endblock %}
		<!-- CCNMTL title/logo --><h4 id="logo_ccnmtl"><a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"><span>Produced by the Columbia Center for New Media Teaching and Learning</span></a></h4>
	</div><!-- id="header" -->
{% endblock %}

	<!-- ###### Don't touch this ###### -->
	<div class="visualclear"></div>
	

{% block primarynav %}
	<!-- ###### Primary navigation ###### -->
	<div id="primarynav">
		<div class="encase" id="{% block navalignment %}leftside{% endblock %}">
{% comment %}
###### FOR ALIGNMENT OF TABS on the primary navigation--
   leftside : all tabs aligning to the left, login to the right
   rightside :  all tabs aligning to the right, login to the left
{% endcomment %}

			{% block primarynavtabs %}
			<ul>
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
				<li><a href="#">Item 4</a></li>
			</ul><!-- id="primarynavtabs" -->
			{% endblock %}
			
			{% block usernav %}{% endblock %}

		</div><!-- id="leftside/rightside" -->
	</div><!-- id="primarynav" -->
{% endblock %}

{% comment %} not using this now <div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div> {% endcomment %}


	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div class="block">
					{% block pagetitle %}{% endblock %}
				
					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->				

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
	
	</div><!-- id="pagebody" -->


{% block footer %}
	<!-- ###### Footer ###### -->
	<div id="footer">
	<p class="printonly"><br /><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly" /></p>
	</div><!-- id="footer" -->
{% endblock %}


</div><!-- id="container" -->
</body>
</html>
