<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load cache user_projects coursetags revision %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% with request.collaboration_context.content_object as course %}
<head><!-- {{controller_name}} :: {{template_name}} -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Mediathread {% block title %}&mdash; Switch Course{% endblock %}</title>

	<link rel="stylesheet" href="/site_media/css/jquery-ui-1.8.17.custom.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css?version={%revision%}" media="print" />
    <link rel="stylesheet" href="/site_media/css/mediathread.css?version={%revision%}" media="screen" />
    <link rel="shortcut icon" href="/site_media/img/mediathread_favicon.ico" type="image/x-icon" />
    
    {% cache 500 heads course %}
       {% if course.settings.custom_headers %}
        {{course.settings.custom_headers|safe}}
       {% endif %}
    {% endcache %}
    
    {% block css %}{% endblock %}
    
    <script type="text/javascript" src="/site_media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/site_media/js/sherdjs/lib/json2.js"></script>
    
    <script src="/site_media/js/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script src="/site_media/js/shield.js" type="text/javascript" language="javascript"></script>
    
    <script type="text/javascript" src="/site_media/js/util.js?version={%revision%}"></script>
    
    <script type="text/javascript">
        var lt = String.fromCharCode(60);
        if (window.jQuery) {
            jQuery.noConflict();
        }
         
        var MediaThread = new (function() {
            this.templates = {};
            {% if request.user.is_authenticated %}
                this.current_user = {{request.user.id}};
                this.current_username = "{{request.user.username}}";
                this.user_full_name = "{%public_name for request.user %}";
            {% endif %}
        })();

        //Bind to the ui-widget-overlay and watch for when it is clicked
        jQuery('.ui-widget-overlay').live("click", function() {
           //Close the dialog
           jQuery("#settings_menu").dialog("close");
        });   
    </script>
	{% block feeds %}{% endblock %}
</head>
{% course_role for request.user in course as role_in_course %}
<body class="one_column role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">

<div id="container">
    {% block masthead %}
    	<!-- ###### Site banner ###### -->
    	<div id="header">
    		<!-- Project title/logo --><h1 id="logo_project"><a href="/" title="Project Title: Project Django"><span>Project Title: Project Django </span></a></h1>	
    		{% block standardnav %}
        	   <div id="mediathread_logo"><a href="/"><img src="/site_media/img/logo_mediathread.png" width="172" height="42" alt="mediathread logo" /></a></div>
        	   <ul id="standardnav">
                    {% if request.user.is_authenticated %}
                        <li class="settings" onclick="jQuery('#standardnav_settings_menu').toggle();">
                            <img alt="settings_gear" src="/site_media/img/settings.png" style="height: 18px;"></img>
                            <!-- Settings Menu -->
                            <div id="standardnav_settings_menu" style="display: none">
                                {%if user.is_staff %}
                                    <a href="/admin/">Admin</a>
                                {%endif%}
                                
                                {% num_courses for user as user_courses %}
                                
                                {% if user_courses > 1 or user.is_staff %}
                                    <a href="/?unset_course">Switch Course</a>
                                {% endif %}
                                <a href="/accounts/logout/">Log Out</a>
                            </div>
                        </li>
                        <li class="settings" style="margin-top: 2px;">
                            <span id="logged_in_name" class="username" unselectable="on" onclick="jQuery('#standardnav_settings_menu').toggle();">{% public_name for user %}</span>
                        </li>
                        <li class="settings" style="margin-top: 2px;">
                            <a href="#" onclick='jQuery("#standardnav_settings_menu").toggle();'>
                                <img src="/site_media/img/down_arrow_gray.png" alt="down arrow" />
                            </a>
                        </li>
                    {% else %}
        			    <li><a href="/accounts/login/">Log In</a></li>
                    {% endif %}
        
                    <li><a href="/help/">Help</a></li>
                </ul>
    		{% endblock %}
    		
                
    	</div><!-- id="header" -->
        
    {% endblock %}
        
    <!-- ###### Don't touch this ###### -->
    <div class="visualclear"></div>
    	

{% block primarynav %}
	<!-- ###### Primary navigation ###### -->
	<div id="primarynav">
		<div class="encase" id="{% block navalignment %}leftside{% endblock %}"><div id="course_title"><a href="/">{{course.title}}</a></div>


{% comment %}
###### FOR ALIGNMENT OF TABS on the primary navigation--
   leftside : all tabs aligning to the left, login to the right
   rightside :  all tabs aligning to the right, login to the left
{% endcomment %}
         {% if request.course %}
			{% block primarynavtabs %}
			<ul class="{% ifequal role_in_course "non-member" %}non-member{% endifequal %}">
				
                <li class="{% active request 'Class Portal' %} home"><a href="/">HOME</a></li>
                
                {% if is_course_faculty %}
                    <li class="{% active request 'Instructor' %} instructor"><a href="{% url dashboard-home %}">Instructor Dashboard</a></li>
                {% endif %}
				
                <li class="{% active request 'Notifications' %} activity"><a href="/notifications/">View Recent Activity</a></li>
                
                <li class="{% active request 'Explore' %} explore"><a href="/explore/">Add to My Collection</a></li>

			</ul><!-- id="primarynavtabs" -->
			{% endblock %}
	  {% endif %}
			{% block usernav %}{% endblock %}

		</div><!-- id="leftside/rightside" -->
	</div><!-- id="primarynav" -->
{% endblock %}

	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">
        <div id="shieldbox"></div>


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div id="block" class="block">
					{% block pagetitle %}{% endblock %}
				
					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->				

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
	{% block footer %}
	<!-- ###### Footer ###### -->
	<div id="footer">
	<p class="printonly"><br /><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly" alt="ccnmtl sidebar"/></p>
	<ul id="footernav"><li><a href="/about/">About</a></li>
			<!--<li><a href="/partners/">Partners</a></li>-->
                           {% if settings.PUBLIC_CONTACT_EMAIL %}                          
                           <li><a href="mailto:{{settings.PUBLIC_CONTACT_EMAIL}}">Contact</a></li>
                           {% endif %}
                           <li><a href="/help/">Help</a></li>
			</ul>
			
			<!-- CCNMTL title/logo --><h4 id="logo_ccnmtl"><a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"></a></h4> 
			</div><!-- id="footer" -->
{% endblock %}
	</div><!-- id="pagebody" -->





</div><!-- id="container" -->

{% block js %}{% endblock %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("html").bind("ajaxStart", function(){  
           jQuery(this).addClass('busy');  
        }).bind("ajaxStop", function(){  
           jQuery(this).removeClass('busy');  
        });
        
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8 });

        {% if settings.DEBUG %}
        {% else %}
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-311226-32']);
            _gaq.push(['_trackPageview']);
    
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
       {% endif %}
      
    });
</script>
</body>
{% endwith %}
</html>
