<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load cache user_projects coursetags revision %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% with request.collaboration_context.content_object as course %}
<head><!-- {{controller_name}} :: {{template_name}} -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Mediathread {% block title %}&mdash; Switch Course{% endblock %}</title>

	<link rel="stylesheet" href="/site_media/jquery/css/jquery-ui-1.9.1.custom.min.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css?version={%revision%}" media="print" />
    <link rel="stylesheet" href="/site_media/css/mediathread.css?version={%revision%}" media="screen" />
    <link rel="shortcut icon" href="/site_media/img/mediathread_favicon.ico" type="image/x-icon" />
    
    {% cache 500 heads course %}
       {% if course.settings.custom_headers %}
        {{course.settings.custom_headers|safe}}
       {% endif %}
    {% endcache %}
    
    {% block css %}{% endblock %}
    
    <script type="text/javascript" src="/site_media/jquery/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/site_media/jquery/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script type="text/javascript" src="/site_media/js/sherdjs/lib/json2.js"></script>
    
    <script src="/site_media/js/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script src="/site_media/js/shield.js" type="text/javascript" language="javascript"></script>
    
    <script type="text/javascript" src="/site_media/js/util.js?version={%revision%}"></script>
    
    <script type="text/javascript">
        var lt = String.fromCharCode(60);
        if (window.jQuery) {
            jQuery.noConflict();
        }
         
        var MediaThread = new (function() {
            this.templates = {};
            {% if request.user.is_authenticated %}
                this.current_user = {{request.user.id}};
                this.current_username = "{{request.user.username}}";
                this.user_full_name = "{%public_name for request.user %}";
            {% endif %}
        })();
    </script>	
</head>
{% course_role for request.user in course as role_in_course %}
<body class="one_column role-{{role_in_course}} {% block extra_body_class %}{% endblock %}">

<div id="container">
    {% block masthead %}
    	<!-- ###### Site banner ###### -->
    	<div id="header">
            <div id="mediathread_logo"><a href="/"><img src="/site_media/img/logo_mediathread_new.png" alt="mediathread logo" /></a></div>
            {% block standardnav %}            
               <ul id="standardnav">
                    {% ifequal role_in_course "non-member" %}
                        <li>
                            <div class="ui-state-error" style="padding: 5px">
                                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                You are not a class member.
                            </div>
                        </li>
                    {% endifequal %}
                        
                    {% if request.user.is_authenticated %}
                        <li>
                            <div unselectable="on"><a href="/">Home</a></div>
                        </li>
                        
                        {% if is_course_faculty %}
                            <li>
                                <div class="settings_menu closed">                                    
                                    <div class="left ui-icon ui-icon-triangle-1-e"></div>
                                    <div class="left">Course</div>                                     
                                </div>
                                
                                <div class="visualclear"></div>

                                <!-- Course Settings Menu -->
                                <div class="settings_submenu" style="display: none">
                                    <h3>Actions</h3>                                    
                                    <a href="/dashboard/settings/">Manage Settings</a>
                                    <a href="/dashboard/addsource/">Manage Sources</a>
                                    <a href="/dashboard/migrate/">Migrate Materials</a>
                                    <br />
                                    <h3>Reports</h3>
                                    <a href="/reports/class_assignments">Assignment Responses</a>
                                    <a href="/reports/class_activity">Class Activity</a>
                                    <a href="/reports/class_summary">Student Contributions</a>
                                </div>
                            </li>
                        {% endif %}
                    
                        <li>
                            <div class="settings_menu closed">
                                <div class="left ui-icon ui-icon-triangle-1-e"></div>
                                <div class="left">{% public_name for user %}</div>                                
                            </div>
                            <div class="visualclear"></div>
                            <!-- Settings Menu -->
                            <div class="settings_submenu" style="display: none">
                                <h3>Tools</h3>    
                                {%if user.is_staff %}
                                    <a href="/admin/">Admin</a>
                                {%endif%}
                                
                                {% num_courses for user as user_courses %}
                                
                                {% if user_courses > 1 or user.is_staff %}
                                    <a href="/?unset_course">Switch Course</a>
                                {% endif %}
                                <a href="/contact">Contact Us</a>
                                <a href="/accounts/logout/">Log Out</a>
                            </div>
                        </li>
                                                
                        
                    {% else %}
                        <li><a href="/accounts/login/">Log In</a></li>
                    {% endif %}
        
                    <li>
                        <div unselectable="on"><a href="/help/">Help</a></div>
                    </li>
                </ul>
            {% endblock %}
            <a href="/"><h1 id="course_title">{{course.title}}</h1></a>
    	</div><!-- id="header" -->
        
    {% endblock %}
        
    <!-- ###### Don't touch this ###### -->
    <div class="visualclear"></div>
    	


	<!-- ###### Page: Sidebars and Content ###### -->
	<div id="pagebody">
        <div id="shieldbox"></div>


		<!-- ###### Page Content ###### -->
		<div id="content">
			<div id="squish"><!-- Don't touch this div -->
				<div id="block" class="block">
					{% block pagetitle %}{% endblock %}
				
					{% block content %}{% endblock %}

				<!-- ###### Don't touch this ###### -->
				<div class="visualclear"></div><!-- id="visualclear" -->				

				</div><!-- class="block" -->
			</div><!-- id="squish" -->
		</div><!-- id="content" -->


		<!-- ###### Don't touch this ###### -->
		<div class="visualclear"></div>
	{% block footer %}
	<!-- ###### Footer ###### -->
	<div id="footer">
	<p class="printonly"><br /><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly" alt="ccnmtl sidebar"/></p>
	<ul id="footernav"><li><a href="/about/">About</a></li>
			<!--<li><a href="/partners/">Partners</a></li>-->
                           {% if settings.PUBLIC_CONTACT_EMAIL %}                          
                           <li><a href="mailto:{{settings.PUBLIC_CONTACT_EMAIL}}">Contact</a></li>
                           {% endif %}
                           <li><a href="/help/">Help</a></li>
			</ul>
			
			<!-- CCNMTL title/logo --><h4 id="logo_ccnmtl"><a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"></a></h4> 
			</div><!-- id="footer" -->
{% endblock %}
	</div><!-- id="pagebody" -->





</div><!-- id="container" -->

{% block js %}{% endblock %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("html").bind("ajaxStart", function(){  
           jQuery(this).addClass('busy');  
        }).bind("ajaxStop", function(){  
           jQuery(this).removeClass('busy');  
        });
        
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8 });

        {% if settings.DEBUG %}
        {% else %}
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-311226-32']);
            _gaq.push(['_trackPageview']);
    
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
       {% endif %}
       
       jQuery("div.settings_menu").click(function(evt) {
           evt.stopPropagation();
           
           // close all other menus
           var opening = jQuery(this).hasClass("closed");
           jQuery("div.ui-icon").removeClass("ui-icon-triangle-1-s").addClass("ui-icon-triangle-1-e");
           jQuery("div.settings_submenu").hide();
           jQuery("div.settings_menu").removeClass("open").addClass("closed");

           // open this one if needed
           if (opening) {
               jQuery(this).removeClass("closed").addClass("open");
               jQuery(this).nextAll("div.settings_submenu").toggle();
               jQuery(this).children("div.ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s");    
           }
       });
       
       jQuery("body").click(function() {
           jQuery("div.ui-icon").removeClass("ui-icon-triangle-1-s").addClass("ui-icon-triangle-1-e");
           jQuery("div.settings_submenu").hide();
           jQuery("div.settings_menu").removeClass("open").addClass("closed");
       });
      
    });
</script>
</body>
{% endwith %}
</html>
