<div class="help showhide" id="{{help_id}}" >
    <div class="helptoggle on"><a class="togglebutton" href="#" /></div>
        <div id="{{help_content}}" class="helpblock">
                {% if is_faculty %}
                <h3>Instructors can post here:</h3>
                            <ul>
                                <li>Information for the class</li>
                                <li>Assignments</li>
                                <li>Discussion topics</li>
                            </ul>
                            <p>Get Started: <a href="/reports/class_activity/">Instructor Dashboard</a></p>
                        {% else %}
                            <h3>Your Instructor controls this space.</h3>
                            <p>Anything that s/he publishes for the class will appear in this column.</p>
                        {% endif %}
                    </div>
</div>
