{% extends "base.html" %}
{% load user_annotations tagging_tags smartif user_projects helpful_tags coursetags  comments collaborations %}

<title>
    {% block title %}
        {% if space_owner == user %}
            Home
        {% endif %}
    {% endblock %}
</title>

{% block js %}
  <script type="text/javascript" src="/site_media/js/hs.js?version={{settings.REVISION}}"></script>
  <script type="text/javascript" src="/site_media/js/ajaxDelete.js?version={{settings.REVISION}}"></script>
  <script type="text/javascript" src="/site_media/js/tablesort.js?version={{settings.REVISION}}"></script>  
  <!--All the annotation javascript/css -->
  {% include "djangosherd/annotator_resources.html" %}
    
  <script type="text/javascript" src="/site_media/js/mustache/mustache.js?version={{settings.REVISION}}"></script>
  <script type="text/javascript" src="/site_media/js/assetmgr/asset.js?version={{settings.REVISION}}"></script>
  <script type="text/javascript">
    DjangoSherd_Asset_Config();    
    {% if not mock %}
        CollectionList.init({
            'space_owner': '{% ifnotequal role_in_course "non-member" %}{{space_owner.username}}{% endifnotequal %}'
        });
    {% endif %}{# not mock #}    
  </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <table id="home-columns">
    <tbody>
    <tr>
        {%if display.instructor or is_faculty %}
        <td class="" id="instructor">

            <div class="column-container">    
                <h2>{% with "help_instructor" as help_id %}{% include "help.html" %}{% endwith %}From Your Instructor
                    <a class="hs-control intro-open" href="#intro-instructor">?</a>
                </h2>
                <div class="column-contents scroll">
                    <div id="intro-instructor" class="default-content intro-text hs-init-{% if not display.instructor %}hide{% else %}show{% endif %}">
                        <h3><a class="hs-control control-close" href="#intro-instructor">x</a>Welcome to MediaThread</h3>
                        {% if is_faculty %}
                            <p>Instructors are able to post to this space:</p>
                            <ul>
                                <li>Information for the class</li>
                                <li>Assignments</li>
                                <li>Discussion topics</li>
                            </ul>
                            <p>To learn more and get started, visit the <a href="/reports/class_activity/">Instructor Dashboard</a>.</p>
                        {% else %}
                            <p>Your Instructor controls this space.</p>
                            <p>Anything that s/he publishes for the class will appear in this column.</p>
                        {% endif %}
                    </div>
                    <div id="instructor-column">
                        {%if faculty_feed.projects %}
                            <h4 class="inst-header project">Information</h4>
                            <ul class="instructor-list">
                                {%for project in faculty_feed.projects %}
                                    <li><a href="{{project.get_absolute_url}}">{{project.title}}</a></li>
                                {%endfor%}
                            </ul>
                        {%endif%}
                        
                        {%if faculty_feed.assignments %}
                            <h4 class="inst-header assignment">Assignments</h4>
                            <ul class="instructor-list">
                                {%for project in faculty_feed.assignments %}
                                <li><a href="{{project.get_absolute_url}}">{{project.title}}</a></li>
                                {%endfor%}
                            </ul>
                        {%endif%}
                    
                        {% if discussions %}
                            <h4 class="inst-header discussion">Discussions</h4>
                            <ul class="instructor-list">
                                {%for disc in discussions%}
                                    <li id="discussion-{{disc.id}}">
                                        <div class="actions">
                                            {% if is_faculty %}
                                                <a onclick="return ajaxDelete(this, 'discussion-{{disc.id}}')"
                                                    href="{% url discussion-view disc.id %}?delete">
                                                <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove this Discussion"  /></a>
                                            {% endif %}
                                        </div>
                                        <a href="/discussion/show/{{disc.id}}">{%firstof disc.title disc.content_object.title "Untitled" %}</a>
                                        {% get_comment_count for disc.content_object as comment_count%}
                                        ({{comment_count}})
                                    </li>
                                {%endfor%}
                            </ul>
                        {% endif %}
                       
                       {%if faculty_feed.assets %}
                           <h4 class="inst-header">Items of Interest</h4>
                           <ul>
                               {%for a in faculty_feed.assets%}
                               <li><a href="{{a.get_absolute_url}}">{{a.title}}</a></li>
                               {%endfor%}
                           </ul>
                       {%endif%}
            
                       {%if faculty_feed.tags %}
                            <h4 class="inst-header">Priority Tags</h4>
                            <ul class="tags">
                                {% for tag in faculty_feed.tags %}
                                <li>
                                  <span class="size{{tag.font_size}}">
                                    <a href="{% url asset-container %}?tag={{tag.name}}">
                                      {{tag.name}} 
                                    </a>
                                  </span>
                                </li>
                                {% endfor %}
                          </ul>
                      {%endif%}
                     </div>
                </div>
            </div>
        </td>
        {% endif %}
        
            <td id="classwork">
                <div class="column-container parent-column-container">
                    <div id="classwork_table"></img></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(window).resize(function () {  
            _resizeHomepage();
        });
        
        jQuery(".inst-header").click(function() {
            jQuery(this).next().toggle();
        })

        var visible = getVisibleContentHeight();
        jQuery('#instructor .column-container').css('height', visible + "px");
        jQuery('#classwork').css('height', visible + "px");

        var msg = "{{ msg }}";
        if (msg)
            alert(msg);
    });
</script>
{% endblock %}
