{% extends "base.html" %}
{% load tagging_tags smartif user_projects helpful_tags coursetags comments collaborations revision %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    {{ block.super }}
    
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/ajaxDelete.js?version={%revision%}"></script>
      
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
    
    <script type="text/javascript" src="/site_media/js/mustache/mustache.js?version={%revision%}"></script>
    <script type="text/javascript" src="/site_media/js/mediathread_mustache.js?version={%revision%}"></script>
    <script type="text/javascript" src="/site_media/js/project/projectlist.js?version={%revision%}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("div#classwork_table").ajaxStart(function(){
                jQuery(this).addClass("ajaxLoading");
            });
            
            jQuery("div#classwork_table").ajaxStop(function(){
                jQuery(this).removeClass("ajaxLoading");
            });
            
            var projectList = new ProjectList({
                'parent': jQuery("div#classwork_table")[0],
                'space_owner': '{% ifnotequal role_in_course "non-member" %}{{classwork_owner.username}}{% endifnotequal %}',
                'template': 'homepage',
                'template_label': 'classwork_table',
                'view': "{{request.GET.view}}"
            });
            
            jQuery(window).resize(function () {  
                var visible = getVisibleContentHeight();
                jQuery('.ui-widget-overlay').css('height', visible + "px");
            });
    
            var visible = getVisibleContentHeight();
            jQuery('.ui-widget-overlay').css('height', visible + "px");

        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
        <div id="sitewide_menu">
            <ul>
                <li class="full_collection"><a href="/asset/">View Full Collection</a> </li>
                <li class="project_createnew">
                    <form class="project-createnew" action="/project/create/" method="post">
                        <input type="hidden" name="title">
                        <input type="submit" value="Create Composition">                         
                    </form>
                </li>
                <li class="project_createnew">
                    <form class="project-createnew" action="/project/create/" method="post">
                        <input type="hidden" name="title" />
                        <input type="hidden" name="publish" value="Assignment"/>
                        <input type="submit" value="Create Assignment"/>
                    </form>
                </li>
                {% if is_faculty %}
                    <li class="create_discussion">
                        <form class="discussion-createnew" action="/discussion/create/" method="post">
                            <input type="hidden" name="comment_html" value="Discussion Title">
                            <input type="hidden" name="app_label" value="courseaffils">
                            <input type="hidden" name="model" value="course">
                            <input type="hidden" name="obj_pk" value="{{course.id}}">
                            <input type="submit" value="Create Discussion">
                        </form>
                    </li>
                {% endif %}            
            </ul>
        </div>   
    <table id="home-columns">
    <tbody>
        <tr>
            <td id="instructor">
                {% with "help_homepage_instructor_column" as help_id %}
                {% with help_homepage_instructor_column as default_help_state %}
                {% include "help/new_help_contentarea.html" %}
                <div class="column-container">
                   <h2>
                        Course Information                     
                        <div class="actions">{% include "help/new_help_button.html" %}</div>
                   </h2>                   
                   <div class="column-contents">
                        <div id="instructor-column">
                        
                        <div id="course_metadata">
                            {% if course.details.instructor %}
                            <div class="meta">
                                <span class="metadata-label">Instructor: </span>
                                <span class="metadata-value">
                                    {{course.details.instructor.value}}
                                </span>
                            </div>
                            {% endif %}
                            
                            {% if course.info.termyear %}
                                <div class="meta">
                                    <span class="metadata-label">Term: </span>
                                    <span class="metadata-value">
                                        {{course.info.termyear}}
                                    </span>
                                </div>
                            {% endif %}
                            
                            {% if course.info.time %}
                                 <div class="meta">
                                    <span class="metadata-label">Day/Time: </span>
                                    <span class="metadata-value">
                                        {{course.info.time}}
                                    </span>
                                </div>
                            {% endif %}
                            
                            {% ifequal role_in_course "non-member" %}
                                <div class="ui-state-error" style="padding: 5px">
                                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                    You are not a class member.
                                </div>
                            {% else %}
                                <div class="meta">
                                    <span class="metadata-label">Your Role: </span>
                                    <span class="metadata-value">{{role_in_course}}</span>
                                </div>
                            {% endifequal %}
                        </div>                        
                        <div class="visualclear"></div>
                            <ul class="instructor-list">
                            {% if faculty_feed.projects %}
                                
                                {% for project in faculty_feed.projects %}
                                    <li><a href="{{project.get_absolute_url}}">{{project.title}}</a></li>
                                {% endfor %}
                                
                            {% else %}{% endif %}
                            </ul>
                        
                            {% if discussions %}
                                <h4 class="inst-header discussion">Discussions</h4>
                                <ul class="instructor-list">
                                    {%for disc in discussions%}
                                        <li id="discussion-{{disc.id}}">
                                            <div class="actions">
                                                {% if is_faculty %}
                                                    <a onclick="return ajaxDelete(this, 'discussion-{{disc.id}}')"
                                                        href="{% url discussion-delete disc.id %}">
                                                    <img src="/site_media/img/Trashcan.gif"  class="delete_icon" alt="Remove this Discussion"  /></a>
                                                {% endif %}
                                            </div>
                                            <a href="/discussion/show/{{disc.id}}">{%firstof disc.title disc.content_object.title "Untitled" %}</a>
                                            {% get_comment_count for disc.content_object as comment_count%}
                                            ({{comment_count}})
                                        </li>
                                    {%endfor%}
                                </ul>
                            {% endif %}
                         </div>
                    </div>
                </div>
                {% endwith %}{% endwith %}
            </td>
            
            
            <td id="classwork">
                {% with "help_homepage_classwork_column" as help_id %}
                {% with help_homepage_classwork_column as default_help_state %}
                {% include "help/new_help_contentarea.html" %}
            
                <div class="column-container parent-column-container">
                    <h2>
                        Dashboard
                        <div class="actions">{% include "help/new_help_button.html" %}</div>
                    </h2>
                    <div id="classwork_table"></div>
                </div>
                {% endwith %}{% endwith %}
            </td>
            
            
            <td id="explore">
            	<div class="column-container">
                	<h2>Add To My Collection</h2>
            		<div id="bookmarklet">
                        <div id="browser-instructions">
                            <h3>The Bookmarklet</h3>
                            <p>MediaThread collects images and video from popular sites like YouTube,
                            Flickr and Vimeo via a bookmarklet.</p>
                            <div id="firefox" class="browser-instruction"> 
                                <strong>Install Bookmarklet in Firefox</strong>
                                <ol>
                                  <li>In the <b>View</b> menu, show the "Bookmarks"  toolbar.</li><br />
                                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href='{% include "assetmgr/bookmarklet.js" %}'>Analyze w/Mediathread</a></li>
                                  <li>Clicking the Bookmarklet imports images and video from any web page containing Mediathread-friendly items.</li>
                                </ol>
                            </div>
                            <div id="ie" class="browser-instruction">
                                <strong>Install Bookmarklet in Internet Explorer</strong>
                                <ol>
                                  <li>Right-click on this link:  <br /><a class="bookmarklet" href='{% include "assetmgr/bookmarklet.js" %}'>Analyze w/Mediathread</a></li><br />
                                  <li>and choose <b>Add to Favorites</b></li>
                                  <li>Clicking the Bookmarklet imports images and video from any web page containing Mediathread-friendly items.</li>
                                </ol>
                            </div>
                            <div id="safari" class="browser-instruction"> 
                                <strong>Install Bookmarklet in Safari</strong>
                                <ol>
                                 <li>In the <b>View</b> menu, show the "Bookmarks Bar".</li><br />
                                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href='{% include "assetmgr/bookmarklet.js" %}'>Analyze w/Mediathread</a></li>
                                  <li>Clicking the Bookmarklet imports images and video from any web page containing Mediathread-friendly items.</li>
                                </ol>
                            </div>
                            <div id="chrome" class="browser-instruction"> 
                                <strong>Install Bookmarklet in Chrome</strong>
                                <ol>
                                  <li>Under the <b>Tools</b> menu (the Wrench), show the "Bookmarks bar".</li><br />
                                  <li>Drag this link onto your browser bookmarks toolbar:  <br /><a class="bookmarklet" href='{% include "assetmgr/bookmarklet.js" %}'>Analyze w/Mediathread</a></li>
                                  <li>Clicking the Bookmarklet imports images and video from any web page containing Mediathread-friendly items.</li>
                                  {% if EXPERIMENTAL %}
                                  <li>EXPERIMENTAL: Alternatively, you can try our <a href="/uploads/mediathread.crx">Google Chrome Mediathread Extension</a></li>
                                  {% endif %}
                                </ol>
                            </div>
                            <script type="text/javascript">
                                var u = navigator.userAgent;
                                if (/Chrome/.test(u)) {
                                    jQuery('.browser-instruction').hide();
                                    jQuery('#chrome').show();
                                } else if (/Safari/.test(u)) {
                                    jQuery('.browser-instruction').hide();
                                    jQuery('#safari').show();
                                } else if (/MSIE/.test(u)) {
                                    jQuery('.browser-instruction').hide();
                                    jQuery('#ie').show();
                                } else if (/Gecko/.test(u)) {
                                    jQuery('.browser-instruction').hide();
                                    jQuery('#firefox').show();
                                } 
                            </script>
                            

                        </div>
                    </div>

            <div id="recommend">
            {% if archives %}
                <strong>Instructor Recommendations</strong>
                {% for archive in archives %}

                        {% if space_viewer.is_staff %}
                            <div class="manage-archive">
                                <a class="manage-archive-link" href="{%url admin:assetmgr_asset_change archive.id %}">Manage</a>
                            </div>
                        {% endif %}
                        <div class="recommend_source">
                            <div class="source_title">
                            <a href="redirect/?url={{archive.archive.url|urlencode}}" class="archive-link">{{archive.title}}</a>
                            </div>
                        
                            {% if archive.thumb %}
                            <div class="source_thumb">
                            <a href="redirect/?url={{archive.archive.url|urlencode}}">
                            <img src="{{archive.thumb.url}}" alt="thumbnail image" class="archive-link" />
                            </a>
                            </div>
                            {% endif %}
                        </div>     
               {%endfor%}

               {% else %}
                <strong>Instructor Recommendations</strong>
                {% if is_faculty %}
                    <p>This page lists sources of videos and/or images that you designate for class analysis.<br /> <br />You can add sources to this page via the  <a href="{% url class-add-source %}">Manage Sources</a> page.</a>.
                {% endif %}
                {% endif %} 
                    </div>
                </div>
            </td>            

        </tr>
    </tbody>
</table>

{% endblock %}
