{{ user }}
{% ifequal action "collection" %}
	<script>
		window.close()
	</script>
{% endifequal %}

{% ifequal action "cont" %}
	<script>
		window.close()
	</script>
{% endifequal %}

{% ifequal action "analyze" %}
	{%comment%}
	<script>
		console.log('{{ analyze }}')
		window.reTab = '{{ analyze }}'
		console.log({{window}}.location);
	</script>
	{%endcomment%}
{% endifequal %}

{% ifequal action None %}
	<script>
		window.location.replace('{{ asset_url }}')
	</script>
{% endifequal %}

<h1>action = {{ action }}, asset_url ={{ asset_url }}, window = {{window}}</h1>
asdasdas

