<!--
/*
window.jQ.ajax({
    url: window.post_url, 
    crossDomain: true,
    type: 'POST',
    data: post_data,
    contentType: 'text/html,application/xhtml+xml,application/xml})
*/
-->
{{ user }}
{% ifequal action "collection" %}
	<script>
		window.close()
	</script>
{% endifequal %}

{% ifequal action "cont" %}
	<script>
		window.close()
	</script>
{% endifequal %}

{% ifequal action "analyze" %}
	<script>
		//alert('{{ analyze }}')
		window.reTab = {{ analyze }}
		window.location.replace('{{ analyze }}')
	</script>
{% endifequal %}

{% ifequal action None %}
	<script>
		window.location.replace('{{ asset_url }}')
	</script>
{% endifequal %}

<h1>{{ action }}, {{ asset_url }}</h1>
asdasdas

