{% load static bootstrap3 %}
<!DOCTYPE html>
<html lang="en" style="height: auto;">
<head>
    <script type="text/javascript" src="{% static 'jquery/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flowplayer/flowplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/sherdjs/lib/OpenLayers-min.js' %}"></script>
    <script type="text/javascript" src="/jsi18n"></script>

    {% bootstrap_css %}

    <link rel="stylesheet" href='{% static "css/mediathread.css" %}' media="screen" />
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
</head>

<body class="lti-asset-view" style="height: 100%; width: 100%;">
    <div id="videoclipbox" class="videoclipbox" style="display: none;">
        <div class="videoclipbox-metadata">
            <div>
                <img class="pull-left" src='{% static "img/icons/icon-16.png" %}' alt_text="mediathread icon" />
                <div class="title pull-left" title="{{title}}">
                    <a href="/asset/{{item_id}}"> {{title}} </a>
                    {% if timecode %}
                        <br />
                        <div class="timecode small">
                            {{timecode}}
                        </div>
                    {% endif %}
                 </div>
                {% if timecode %}
                     <div class="clipplay pull-right"></div>
                {% endif %}
            </div>
        </div>
        <div class="asset-object" style="border: none; background-color: #ededed;">
        </div>
        <div class="asset-display">
            <img class="item-poster" src="{{thumb_url}}" alt_text="Item poster" />
        </div>
        <div class="clipstrip-display" style="display: none"></div>
    </div>

    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
    {% include "djangosherd/player_resources.html" %}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            djangosherd.storage.json_update({{item|safe}});

            var w = Math.max(document.documentElement.clientWidth,
                window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight,
                window.innerHeight || 0);

            if (w <= 300) {
                jQuery('.videoclipbox').css({'width': w, 'height': h}).show();
            } else {
                self.citationView = new CitationView();
                self.citationView.init({
                    'default_target': 'videoclipbox',
                    'presentation': '{{presentation}}',
                    'clipform': false,
                    {% if media_type == 'video' %}
                        'clipplay': true,
                    {% endif %}
                    'autoplay': false,
                    'winHeight': function() {
                        return {{defaultHeight}} - 50
                    }
                });

                self.citationView.openCitationById(
                    null, '{{item_id}}', '{{selection_id}}');
            }
        });
    </script>
</body>
</html>
