{% extends "base_new.html" %}

{% block title %}Asset Not Found{% endblock %}

{% block content %}
    <div id="content">
        <h1>Oops!</h1>
        <br />
        You are attempting to view an item from <b>{{switch_to.title}}</b> while logged into <b>{{switch_from.title}}</b>.
        <br /><br />
        What would you like to do?
        <br /><br />
        <a href="/?set_course={{switch_to.group.name|urlencode}}&next={{redirect}}">Go to {{switch_to.title}}</a>
        <br /><br />
        <a href="/">Continue working in {{switch_from.title}}</a>
        <br /><br />
    </div>

{% endblock %}
