{% extends "base_new.html" %}
{% load static %}

{% block title %}
    Item Embed View
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/project.css"  media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />

    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block clientside_templates %}
    {% include "clientside/asset_view_help.mustache" %}
    {% include "clientside/asset_view_details.mustache" %}
    {% include "clientside/asset_view_details_quick_edit.mustache" %}
    {% include "clientside/asset_references.mustache" %}
    {% include "clientside/asset_annotation_list.mustache" %}
    {% include "clientside/asset_annotation_current.mustache" %}
    {% include "clientside/asset_global_annotation.mustache" %}
    {% include "clientside/asset_global_annotation_quick_edit.mustache" %}
    {% include "clientside/asset_sources.mustache" %}
    {% include "clientside/asset_feedback.mustache" %}

    {% include "clientside/collection_chooser.mustache" %}
    {% include "clientside/collectionwidget.mustache" %}
    {% include "clientside/collectionwidget_quickedit.mustache" %}
    {% include "clientside/collectionwidget_assets.mustache" %}
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}

    <script src="{{STATIC_URL}}js/app/assetmgr/collectionwidget.js" ></script>
    <script src="{{STATIC_URL}}js/app/assetmgr/assetembed.js" type="text/javascript"></script>
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}
    <!-- required project functionality -->

    <script type="text/javascript">
        jQuery(document).ready(function () {
            initializeAssetEmbed({
                el: jQuery('.asset-embed-view').first(),
                space_owner: '{{request.user.username}}',
                owners: {{owners|safe}}
            });
        });
    </script>
{% endblock %}

{% block masthead %}
{% endblock %}

{% block container %}
    <div>
        <div id="header">
            <div id="standardnav_container">
                <div id="mediathread_logo">
                    <a href="https://mediathread.ctl.columbia.edu/" target="_blank">
                        <img src='{% static "img/logo_mediathread.svg" %}' alt="mediathread logo" width="156" height="45" />
                        <span class="sr-only">Home</span>
                    </a>
                </div>
                <ul id="standardnav">
                    <li>
                        <a href="https://mediathread.ctl.columbia.edu/kb/" target="_blank">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form id="asset-embed-form" action="." method="post">
        <input type="hidden" name="return_url" value="{{return_url}}">
        <input id="selection-to-embed" type="hidden" name="" value="">
        <input type="hidden" name="width" value="{{width}}" />
        <input type="hidden" name="height" value="{{height}}" />
    </form>
    <div id="collection-modal" class="show-assets collection-embed">
        <div class="collection-body">
            <div class="quick-edit" style="display: none"></div>
            <div class="collection-view"></div>
        </div>
        <div class="next-page-loader" style="display: none">
            <div>
                <img alt="Loading..." src='{% static "img/ajax-loader-small.gif" %}'>
                Loading more items
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
