{% extends "base_new.html" %}

{% block title %}
    Collection
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}js/select2/select2.css" media="screen" />
    <!--All the annotation css -->
    {% include "djangosherd/annotator_resources_css.html" %}
{% endblock %}

{% block uncompressable_css %}
    <script type="text/javascript" src="{{STATIC_URL}}js/select2/select2.min.js"></script>
{% endblock %}

{% block js %}
    <!--All the annotation javascript -->
    {% include "djangosherd/annotator_resources.html" %}
{% endblock %}

{% block uncompressable_js %}
    {% include "djangosherd/player_resources.html" %}

    <!--  Panel Manage initialization -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            panelManager.init({
                'container': 'asset-workspace',
                'url': MediaThread.urls['asset-workspace'](
                     {% if asset_id %}{{asset_id}}{% endif %}
                     {% if asset_id and annotation_id %}, {{annotation_id}}{% endif %})
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="asset-workspace" class="row">
        <div id="asset-container" class="col-md-12">
        </div>
    </div>
{% endblock %}
