<a class="btn btn-primary" id="bookmarklet-link" href="#">
    Collect w/Mediathread
</a>

<script>
jQuery(document).ready(function() {
    // Incrementing this number causes all users to be prompted
    // to upgrade their bookmarklet.
    var bookmarkletVersion = 2;

    var bookmarkletInitCode = [
        '(function(host, bookmarklet_url, user_url) {',
            'var b = document.body;',
            'var sb = window.SherdBookmarkletOptions;',
            'if (!sb) {',
                'sb = window.SherdBookmarkletOptions = {};',
                'sb["action"] = "jump";',
            '}',

            'sb["host_url"] = "https://" + host + "/save/?";',
            {% for k,v in bookmarklet_vars.items %}
                'sb["{{k}}"] = "{{v}}";',
            {% endfor %}

            'var r4 = function() {',
                'return "&nocache=" + Number(new Date());',
            '};',

            'if (b) {',
                'var loadErrorCalled = false;',

                /**
                 * loadError is triggered when any of the scripts that
                 * the bookmarklet relies on fail to load. This can occur
                 * if a site has set up its Content-Security-Policy to
                 * prevent javascript from external domains from being
                 * loaded, as an attempt to address cross-site scripting
                 * attacks.
                 *
                 * When this error happens, we want to tell users
                 * what's going on, and let them know they can get
                 * around this problem by using the Mediathread
                 * browser extension (currently only available on
                 * Chrome).
                 */
                'var loadError = function(oError) {',
                    'if (loadErrorCalled) {',
                        'return;',
                    '} else {',
                        'loadErrorCalled = true;',
                    '}',

                    'if (window.confirm("',
                        'The bookmarklet encountered a ',
                        'loading error, probably due to ',
                        "this website's security policy. ",
                        "Press OK to be redirected to instructions ",
                        'on how to proceed."',
                    ')) {',
                        // Include the hostname of the url this error occured
                        // on when forwarding to Mediathread.
                        'var referrerParam = "?bookmarklet_host=" + window.location.hostname;',
                        'var migrateUrl = "https://{{request.get_host}}/bookmarklet_migration/" + referrerParam;',
                        'window.location.href = migrateUrl;',
                    '}',
                '};',

                // Load Mediathread logged-in status
                'var x = document.createElement("script");',
                'x.onerror = loadError;',
                'x.src = "https://" + host + user_url + r4();',
                'b.appendChild(x);',

                // Load the main bookmarklet code
                'var z = document.createElement("script");',
                'z.onerror = loadError;',
                'z.src = "https://" + host + bookmarklet_url + r4();',
                'b.appendChild(z);',

                // Load jQuery
                'var y = document.createElement("script");',
                'y.onerror = loadError;',
                'y.src = "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js";',
                'var onload = (/MSIE/.test(navigator.userAgent)) ? "onreadystatechange" : "onload";',
                'y[onload] = function() {',
                    'var jQ = sb.jQuery = jQuery.noConflict(true);',
                    'if (sb && sb.onJQuery) {',
                        'sb.onJQuery(jQ);',
                    '}',
                '};',
                'b.appendChild(y);',
            '}',
        '})("{{request.get_host}}",',
           '"/bookmarklets/analyze.js?",',
           '"/accounts/logged_in.js?version=' + bookmarkletVersion + '"',
        ');'
    ].join('');

    jQuery('a#bookmarklet-link').attr(
        'href',
        'javascript:/* BOOKMARKLET v' +
        bookmarkletVersion +
        ':{{request.get_host}} */' +
        bookmarkletInitCode);
});
</script>
