{% extends "base_new.html" %}

{% block title %}
    Bookmarklet Migration
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="dashboard-module-header">
        <h2>Bookmarklet Migration</h2>
    </div>

    <div id="dashboard-module-body">
        <p>
            It looks like you've run into a bookmarklet error caused by
            either the website you were on, or your web browser. This
            happened because there's a
            <a href="https://en.wikipedia.org/wiki/Content_Security_Policy"
               >new web security standard</a> that doesn't work well with
            bookmarklets.
        </p>

        <p>
            Use Mediathread's browser extension to collect
            media instead of the bookmarklet. The Mediathread
            extension is available for Chrome, Safari, and
            Firefox. You can install it using the buttons
            below.
        </p>

        <hr />

        {% include "assetmgr/install_chrome_extension.html" %}
        {% include "assetmgr/install_safari_extension.html" %}
        {% include "assetmgr/install_firefox_extension.html" %}
    </div>
{% endblock %}
