{% load staticfiles %}

<div id="chrome-install-container">
    <h4><strong>Install Chrome extension</strong></h4>
    <p>
        Use Mediathread's Google Chrome extension to import media
        from various sites. You must be using Chrome to install
        this extension.
    </p>
    {% if CAS_BASE == 'https://cas.columbia.edu' %}
        <button id="chrome-install-button"
                class="btn btn-primary pull-left">
            + Add to Chrome
        </button>
    {% else %}
        <a class="btn btn-primary pull-left"
           target="_blank"
           href="https://chrome.google.com/webstore/detail/mediathread/gambcgmmppeklfmbahomokogelnaffbi">
            + Add to Chrome
        </a>
    {% endif %}
    <div class="pull-left">
        <img width="32" height="32"
             src="{% static 'img/browser_icons/chrome/chrome-a_128.png' %}"
             title="Compatible with Google Chrome">
        <img width="32" height="32"
             src="{% static 'img/browser_icons/chrome/chromium-128.png' %}"
             title="Compatible with Chromium">
    </div>
    <div class="clearfix"></div>
    <button class="btn btn-primary update-chrome-extension-hosturl">
        Update extension settings
    </button>
    <div class="update-chrome-extension-feedback"></div>
    <div class="clearfix"></div>
</div>

<script>
(function() {
    var markAsInstalled = function($button) {
        $button.text('Installed.');
        $button.removeClass('btn-primary');
        $button.addClass('btn-default disabled');
    };

    jQuery(document).ready(function() {
        var $button = jQuery('#chrome-install-button');
        $button.on('click', function(e) {
            if (jQuery(this).hasClass('disabled')) {
                return;
            }
            chrome.webstore.install(
                'https://chrome.google.com/webstore/detail/gambcgmmppeklfmbahomokogelnaffbi',
                function() {
                    // Success handler
                    markAsInstalled($button);

                    var extensionId = 'gambcgmmppeklfmbahomokogelnaffbi';

                    chrome.runtime.sendMessage(
                        extensionId, {
                            command: 'updatesettings'
                        }, function(response) {
                            var $el = jQuery('.update-chrome-extension-feedback');
                            var defaultResponse = 'Settings updated.';
                            var msg = response ? response : defaultResponse;

                            $el.hide();
                            $el.text(msg);
                            $el.fadeIn();
                        });
                }
            );
        });
    });
})();
</script>
