{% load staticfiles %}

<div id="firefox-install-container">
    <p>
        The current version of Firefox does not support the Mediathread
        extension. Please use the Chrome or Safari browser to install
        the extension and import media.<br /><br />More information on the Mediathread
        extension is available in our <a href="http://support.ctl.columbia.edu/knowledgebase/articles/43655-importing-items-with-the-mediathread-extension-fro">Knowledge Base</a>.
    </p>
    <div class="clearfix"></div>
</div>
