{% load staticfiles %}

<div id="safari-install-container">
    <h4><strong>Install Safari extension</strong></h4>
    <p>
        Use Mediathread's Safari extension to import media
        from various sites. You must be using Safari to install
        this extension.
    </p>
    <a id="safari-install-button"
       target="_blank"
       href="https://safari-extensions.apple.com/details/?id=edu.columbia.safari.mediathread-N4GV9R3SDD"
       class="btn btn-primary pull-left">
        + Add to Safari
    </a>
    <div class="pull-left">
        <img width="32" height="32"
             src="{% static 'img/browser_icons/safari/safari_icon_large.png' %}">
    </div>
    <div class="clearfix"></div>
    <small>
        Once you download the Safari extension, you must open the
        downloaded file in order to install it in Safari.
    </small>
    <div class="clearfix"></div>
</div>
