{% if request.user_agent.browser.family == 'Firefox' %}
<p>
    Use the Mediathread Bookmarklet to import images and video from any
    web page containing Mediathread-friendly items.
    <div id="firefox-instruction" class="browser-instruction">
        <strong>How to install the bookmarklet in Firefox</strong>
        <ol>
            <li>In the <b>View</b> menu, show the "Bookmarks"  toolbar.</li><br />
            <li>Drag the link below onto your browser bookmarks toolbar.</li>
        </ol>
    </div>
    {% include "assetmgr/bookmarklet.html" %}
</p>
{% elif request.user_agent.browser.family == 'MSIE' %}
<p>
    Use the Mediathread Bookmarklet to import images and video from any
    web page containing Mediathread-friendly items.
    <div id="ie-instruction" class="browser-instruction">
        <strong>How to install the bookmarklet in Internet Explorer</strong>
        <ol>
            <li>Right-click on the blue bookmarklet button below.</li>
            <li>and choose <b>Add to Favorites</b></li>
        </ol>
    </div>
    {% include "assetmgr/bookmarklet.html" %}
</p>
{% elif request.user_agent.browser.family == 'Safari' %}
<p>
    Use the Mediathread Bookmarklet to import images and video from any
    web page containing Mediathread-friendly items.
    <div id="safari-instruction" class="browser-instruction">
        <strong>How to install the bookmarklet in Safari</strong>
        <ol>
            <li>In the <b>View</b> menu, show the "Favorites Bar".</li><br />
            <li>Drag the link below onto your browser bookmarks toolbar</li>
        </ol>
    </div>
    {% include "assetmgr/bookmarklet.html" %}
</p>
{% elif request.user_agent.browser.family != 'Chrome' and request.user_agent.browser.family != 'Chromium' %}
<p>
    Use the Mediathread Bookmarklet to import images and video from any
    web page containing Mediathread-friendly items.
    {% include "assetmgr/bookmarklet.html" %}
</p>
{% endif %}
