{% load staticfiles %}

<div id="chrome-install-container">
    {% if CAS_BASE == 'https://cas.columbia.edu' %}
        <button class="btn btn-primary" id="chrome-install-button">
            Visit Chrome Web Store
        </button>
    {% else %}
        <a class="btn btn-secondary"
           target="_blank"
           href="https://chrome.google.com/webstore/detail/mediathread/gambcgmmppeklfmbahomokogelnaffbi">
            Visit Chrome Web Store
        </a>
    {% endif %}
    <hr>
        {% if not request.META.HTTP_HOST == 'mediathread.ctl.columbia.edu' or not request.META.HTTP_HOST == 'mediathread.ccnmtl.columbia.edu' %}
            <p>
                The extension is configured to collect to the <u>mediathread.ctl.columbia.edu</u> domain.
                Use this button to update the extension to collect to your current domain.
            </p>
            <button class="btn btn-outline-secondary btn-sm update-chrome-extension-hosturl">
                Update Mediathread URL
            </button>
            <div class="update-chrome-extension-feedback"></div>
            <div class="clearfix"></div>
        {% endif %}
</div>

<script>
(function() {
    var markAsInstalled = function($button) {
        $button.text('Installed.');
        $button.removeClass('btn-primary');
        $button.addClass('btn-secondary disabled');
    };

    jQuery(document).ready(function() {
        var $button = jQuery('#chrome-install-button');
        $button.on('click', function(e) {
            if (jQuery(this).hasClass('disabled')) {
                return;
            }
            chrome.webstore.install(
                'https://chrome.google.com/webstore/detail/gambcgmmppeklfmbahomokogelnaffbi',
                function() {
                    // Success handler
                    markAsInstalled($button);

                    var extensionId = 'gambcgmmppeklfmbahomokogelnaffbi';

                    chrome.runtime.sendMessage(
                        extensionId, {
                            command: 'updatesettings'
                        }, function(response) {
                            var $el = jQuery('.update-chrome-extension-feedback');
                            var defaultResponse = 'Settings Updated.';
                            var msg = response ? response : defaultResponse;

                            $el.hide();
                            $el.text(msg);
                            $el.addClass('alert alert-info')
                            $el.fadeIn();
                        });
                }
            );
        });
    });
})();
</script>
