{% extends "base.html" %}

{% block title %}
    Upgrade Bookmarklet
{% endblock %}

{% block css %}
<style>
    .upgrade-instructions {
        width: 370px;
        margin-right: 55px;
    }
    
    .upgrade-screencast {
        padding: 20px;
        background-color: #efefef;
        border-radius: 10px;
    }
    
    .upgrade-screencast h3 {
        margin-top: 0px;
    }
    
    .upgrade-instructions ol {
        margin: 10px 20px;
    }
</style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="dashboard-module-header">
        <h2>Upgrade Your Bookmarklet</h2>
    </div>
    
    <div id="dashboard-module-body">
        <div class="left upgrade-instructions">
            <p>The Mediathread bookmarklet has been updated to comply with new web security protocols. Please:</p>
            
            <div>
                <strong>Uninstall Old Bookmarklet</strong>
                <ol>
                <li>Delete the old "Analyze w/Mediathread" bookmarklet in your browser.</li>
                </ol>
            </div>
            <br />
            <div> 
                <p>
                    {% include "assetmgr/install_bookmarklet.html" %}
                </p>
            </div>
        </div>
        <div class="left upgrade-screencast">
            <h3>Here's how</h3>
            <iframe width="560" height="315" src="//www.youtube.com/embed/UcKR9O1xkPg" frameborder="0" allowfullscreen></iframe>
        </div>
   </div>
{% endblock %}
