<a name="top"></a>

<style>
div.faq_answer img{
max-width:450px;
}
</style>

<script language="JavaScript">


Handlebars.registerHelper('if', function(conditional, block) {
  if(conditional) {
    return block(this);
  } else {
    return block.inverse(this);
  }
});

</script>
<ul>
{{#articles}}

    <li><a href="#{{id}}">{{question}}</a></li>

{{/articles}}
</ul>

<!--List articles-->
<div class="articles">
{{#articles}}

    <hr>

    <a name="{{id}}"></a>
    <div><b>{{question}}</b></div>
    <div class="faq_answer">{{{answer_html}}}</div>

    <p align="right"><a href="{{url}}">original article</a> | <a href="#top">top</a></p>

{{/articles}}
</div>