{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
  /*for remove users in Course admin view*/
  .field-users_to_remove ul li {
    padding:1em 0 0;
    clear:both;
  } 
  .field-users_to_remove .aligned li label {
    width:auto;
  }
  .field-users_to_remove ul {
     max-height:300px;
     overflow-y:auto;
  }

  #id_groups {
    height: 300px;
  }

  #changelist table tbody td, #changelist table tbody th {
    border-left: 1px solid #ddd;
    max-width: 300px;
    white-space: normal !important;
  }
</style>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="/">{% trans 'Back to Mediathread' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
