{% extends "base.html" %}
{%load user_annotations comments %}

{% block title %}Course Summary{% endblock %}

{% block js %}
<script type="text/javascript" src="/site_media/js/reports.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    {%if request.user.is_staff and courses %}
       <div id="staff-switchcourse">
         <form>
           <label>Switch course (Staff Only):</label>
           <select onchange="document.location=this.value;">
             {% for c in courses %}
             <option value="?set_course={{c.group.name|urlencode}}"
                     {% ifequal c request.course %}selected="selected"{%endifequal%}
               >{{c.title}}</option>
               {% endfor %}
             </select>
           </form>
           </div>
    {% endif %}


    <h1>Instructor Dashboard</h1>    

    <div id="dashboard-container">
        <div id="instructor-nav">
           


                 <h3>Reports:</h3>
              <div><a href="/reports/class_assignments/">Assignment Responses</a></div>
              <div><a href="/reports/class_activity/">Class Activity</a></div>
              <div><a href="/reports/class_summary/">Class Summary</a></div>
                                     <br /><br />     
              <h3>Actions:</h3>
              
              
              <form  method="GET" action="/">
                <input class="columnbutton  project createnew-button" type="submit" value="Your Collections & Compositions"/>
              </form>
              
                <form  method="GET" action="/save/">
                <input class="columnbutton project createnew-button" type="submit" value="Manage Media / Sources"/>
              </form>
              
              
              
              <form class="project-createnew" method="POST" action="{%url your-space-projects user%}">
                <input type="hidden" name="title" />
                <input class="columnbutton project createnew-button" type="submit" value="Create Composition or Assignment"/>
              </form>
              
              <form class="discussion-createnew"  action="/discussion/new/" method="POST">
                <input type="hidden" name="comment_html" value="Discussion Title" />
                <input type="hidden" name="app_label" value="courseaffils"/>
                <input type="hidden" name="model" value="course"/>
                <input type="hidden" name="obj_pk" value="{{course.id}}"/>
                <input class="project" type="submit" value="Create Discussion"/>
              </form>
                                  
              
              
              <br />
              <br />
              
        </div>
        
        
        <div id="dashboard-module">
            {% block dashboard_module_header %}{% endblock %}
             
            <div id="dashboard-module-body" class="scroll">
                {% block dashboard_module %}{% endblock %}
            </div>
        </div>
        
    </div>
    
 {% endblock %}   