{% extends "base.html" %}
{%load user_annotations comments %}

{% block title %}Course Summary{% endblock %}

{% block js %}
<script type="text/javascript" src="/site_media/js/reports.js"></script>

    <script type="text/javascript">
        resizeHomepage = function() {
            var visible = getVisibleContentHeight();
          jQuery('#dashboard-module-body .scroll').css('height', (visible - 87) + "px");
        }
    
        jQuery(document).ready(function() {
            DjangoSherd_Asset_Config();    

            
            jQuery(window).resize(function () {  
                resizeHomepage();
            });
            

        });
    </script>
{% endblock %}






{% block content %}
    {{ block.super }}

    {%if request.user.is_staff and courses %}
       <div id="staff-switchcourse">
         <form>
           <label>Switch course (Staff Only):</label>
           <select onchange="document.location=this.value;">
             {% for c in courses %}
             <option value="?set_course={{c.group.name|urlencode}}"
                     {% ifequal c request.course %}selected="selected"{%endifequal%}
               >{{c.title}}</option>
               {% endfor %}
             </select>
           </form>
           </div>
    {% endif %}


    <h1>Instructor Dashboard</h1>    

    <div id="dashboard-container">
        <div id="instructor-nav">
           


                 <h3>Reports:</h3>
              <a href="/reports/class_assignments/">Assignment Responses</a>
              <a href="/reports/class_activity/">Class Activity</a>
              <a href="/reports/class_summary/">Class Summary</a>
                                     <br /><br />     
              <h3>Actions:</h3>
              
              <a href="/save/">Manage Media / Sources</a>
              
              <!--<a href="/project/new/">Create Composition or Assignment</a>-->
              <form class="project-createnew" method="POST" action="{%url your-space-projects user%}">
                <input type="hidden" name="title" />
                <input type="submit" value="Create Composition or Assignment"/>
              </form> 
              
              <!--<a href="/discussion/new/">Create Discussion</a>-->
              <form class="discussion-createnew"  action="/discussion/new/" method="POST">
                <input type="hidden" name="comment_html" value="Discussion Title" />
                <input type="hidden" name="app_label" value="courseaffils"/>
                <input type="hidden" name="model" value="course"/>
                <input type="hidden" name="obj_pk" value="{{course.id}}"/>
                <input type="submit" value="Create Discussion"/>
              </form>
              
              
              <a href="/">View Collections & Compositions</a>
              
              
              
        
  
              
 
                                  
              
              
              <br />
              <br />
              
        </div>
        
        
        <div id="dashboard-module">
            {% block dashboard_module_header %}{% endblock %}
             
            <div id="dashboard-module-body" class="scroll">
                {% block dashboard_module %}{% endblock %}
            </div>
        </div>
        
    </div>
    
 {% endblock %}   