{% extends "dashboard/base_dashboard.html" %}

{% block title %}Manage Media Sources{% endblock %}

{% block dashboard_module %}

<h2>Manage Media /Sources </h2>
    
  <p>
  This page allows you to manage the resources listed on the "Source Media " page. To import individual items, use the Mediathread Bookmarklet.
  </p>
  <br />


<ul id="wardenclyffe" class="archive-gallery">
<li class="archive">
<h2>Upload Media {% with "help_wardenclyffe" as help_id %}{% include "help_button.html" %}{% endwith %}</h2>

{% with "help_wardenclyffe" as help_id %}{% include "help_contentarea.html" %}{% endwith %}
Placeholder for Wardenclyffe uploader

    <h4>Upload Permission Settings</h4>
    
    {% if upload_permission_updated %}
        <div>Changes Saved</div>
    {% endif %}
    
    <form action="/settings" method="POST">
        <label for="upload_permission">Upload Permissions:</label><br />
        <select name="upload_permission">
            {% for level in permission_levels %}
                <option value="{{level.0}}" {% ifequal upload_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
            {% endfor %}
        </select>
        <br /><br />
        <input type="submit" value="submit"></input>
    </form>
</li>
</ul>

{% if is_staff %} 
<ul id="custom_collection" class="archive-gallery">
<li class="archive">
      <h2 id="custom_archive">Add your own Collection {% with "help_add_custom_collection" as help_id %}{% include "help_button.html" %}{% endwith %}</h2>
      {% with "help_add_custom_collection" as help_id %}{% include "help_contentarea.html" %}{% endwith %}
      <p>
        You may want to copy the links from above (including the thumbnail URL) and just change the description or link to a sub-section of the site.
      </p>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}

	Collection Title: <input type="text" name="title" value="" />
	<br/>
	Collection URL: <input type="text" name="archive" value="" />
	<br/>
	Collection URL (yes, again): <input type="text" name="url" value="" />
	<br/>
	Description:
	<textarea cols="55" rows="5" 
		  name="metadata-description"
		  ></textarea>
	<br/>
	Thumb URL: <input type="text" name="thumb" value="" />
	<br/>
        Required Plugin
	<select name="metadata-required">
          <option value="">--None--</option>
          <option value="flash">Flash</option>
          <option value="quicktime">Quicktime</option>
          <option value="realplayer">RealPlayer</option>
          <option value="ogg">Ogg videotag support</option>
        </select>
        <br/>
	<input type="submit" value="Add Source to Class" />
      </form>
</li>
</ul>
{% endif %}

<ul id="supported_collections" class="archive-gallery">
<li class="archive">
<h2 id="archives">Add/Remove Supported Collections {% with "help_supported_collections" as help_id %}{% include "help_button.html" %}{% endwith %}</h2>

<ul class="archive-gallery">
{% with "help_supported_collections" as help_id %}{% include "help_contentarea.html" %}{% endwith %}

    {% for archive in supported_archives %}
             <form action="{% url asset-save %}" method="POST">
             
      <li class="archive">
                 <input class="addtoclass" type="submit" value="Add to Class" id="{{archive.title|slugify}}" />
        <a href="{{archive.sources.archive.url}}" class="archive-link">{{archive.title}}</a>
        <br />
         {%if archive.sources.thumb%}
           <a href="{{archive.sources.archive.url}}"><img src="{{archive.sources.thumb.url}}" alt="thumbnail image" class="archive-link" />
         </a>
         {% endif %}
         <span>
           {{archive.metadata.description|urlize|linebreaks}}
         </span>

           {% include "assetmgr/pretender_select.html" %}
           <input type="hidden" name="title" value="{{archive.title}}" />
           <input type="hidden" name="metadata-description" value="{{archive.metadata.description}}" />
           <input type="hidden" name="metadata-upload" value="{{archive.metadata.upload}}" />
           {%for lbl,src in archive.sources.items %}
             <input type="hidden" name="{{src.label}}" value="{{src.url}}" />
           {%endfor%}

         </form>
      </li>
      {%endfor%}
    </ul>

</li>
</ul>
{% if is_staff %} 
<ul id="individual_uploads" class="archive-gallery">
<li class="archive">
     <h2 id="specific">Specific Internet Resources</h2>
   
      <h2>Local Quicktime Streaming Video</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}

	<!--Asset URL: <input type="text" name="url" value="" />
	<br/>
	-->
	Asset QT Stream: <input type="text" name="quicktime" value="" />
	<br/>
	Asset Title: <input type="text" name="title" value="" />
	<br/>
	Dimensions: <input type="text" name="quicktime-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
	<br/>
	Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
	<br/>
	<input type="submit" />
      </form>
      
    <h2>YouTube Video</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          YouTube View (Watch) URL: <input type="text" name="url" value="" /> (example: http://www.youtube.com/watch?v=MjdEEwzskck)
          <br/>
          YouTube Video URL: <input type="text" name="youtube" value="" /> (example: http://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1)
          <br/>
          YouTube Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
      
    <h2>Flash Video (.flv)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
      
     <h2>Flash Video Pseudo Streaming(.flv)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Flash Video URL: <input type="text" name="flv_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
	Dimensions: <input type="text" name="flv_pseudo-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
	<br/>
          QueryString: <input type="text" name="querystring" value="" />
	<br/>
	Thumbnail URL: <input type="text" name="thumb" value="" />
	<br/>
	Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
          <br />
          <input type="submit" />
      </form>
    <h2>MP4 (.mp4)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
    <h2>MP4 Pseudo Streaming (.mp4)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_pseudo" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          QueryString: <input type="text" name="querystring" value="" />
          <br />
          <input type="submit" />
      </form>
    <h2>RTMP (.mp4)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="mp4_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
    <h2>RTMP (.flv)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="flv_rtmp" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
    <h2>RealPlayer (.rm)</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
          View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
          <br/>
          Video URL: <input type="text" name="realplayer" value="" /> (the actual video URL)
          <br/>
          Title: <input type="text" name="title" value="" />
          <br/>
          <input type="submit" />
      </form>
      <h2>A website</h2>
      <form action="{% url asset-save %}" method="POST">
        {% include "assetmgr/pretender_select.html" %}
	Asset URL: <input type="text" name="url" value="http://slashdot.org" />
	<br/>
	Asset Title: <input type="text" name="title" value="SlashDot" />
	<br/>
	<input type="submit" />
      </form>
</li>
</ul>
            

<ul id="experimental_cookie" class="archive-gallery">
<li class="archive">
     <h2 id="experimental">Experimental Features</h2>
        
        <p>There are some features we're working on that are incomplete
           and experimental.  If you want to try out these features, then
           enable the experimental cookie here.
        </p>
        <ul>
          <li id="experimental_status"></li>
          <li><a href="#experimental" onclick="document.cookie='experimental=on; expires='+new Date(9999999999999).toGMTString()+'; path=/';experimentalStatus();">Enable</a></li>
          <li><a href="#experimental" onclick="document.cookie='experimental=OFF; expires='+new Date().toGMTString()+'; path=/';experimentalStatus();">Disable</a></li>
        </ul>
        <script type="text/javascript">
          function experimentalStatus() {
             document.getElementById('experimental_status').innerHTML = 'Status: '
             + ((document.cookie.match(/experimental/)) ? 'ON' : 'OFF');
          }
          experimentalStatus();
        </script>
      </li>
      </ul>
      <br class="visualclear" />
{% endif %}
{% endblock %}
