{% extends "dashboard/base_dashboard.html" %}
{% block title %}Migrate Course Materials{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript"> 
        var courses =
            [{% for c in available_courses %}
                {% ifnotequal c.id request.course.id %}
                    { label: "{{c.title}}", value: "{{c.title}}", id: "{{c.id}}" }{% if forloop.last %}{% else %},{% endif %}
                {% endifnotequal %}
            {% endfor %}];
        
        
        jQuery(document).ready(function () {
            var view = new CourseMaterialsView({ availableCourses: courses, el: "#course-materials-container" });
        });

    </script>
    
    <script type="text/javascript" src="/site_media/js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-tastypie.js"></script>
    <script type="text/javascript" src="/site_media/js/instructor/class_migrate.js"></script>
    
    <script type="text/template" id="projects-template">
        <h1><%= title %></h1>
    </script>
    
    <script type="text/template" id="items-template">
        <h1><%= title %></h1>
    </script>
    
    <script type="text/template" id="course-template">
        <h3><%= title %></h3>
        <p><b>Term:</b> <% if (info.term === 1) { %>
                    Spring 
                  <% } else if (info.term === 2) { %>
                    Summer
                  <% } else if (info.term === 3) { %>
                    Fall
                  <% } %></p>
        <p><b>Year:</b> <%= info.year %></p>
        <p><b>Faculty:</b>  
            <% for (var i = 0; i < faculty_group.user_set.length; i++) { %>
                <%= faculty_group.user_set[i].first_name %> <%= faculty_group.user_set[i].last_name  %><% if (i < faculty_group.user_set.length-1) { %>, <% } %>
            <% } %></p>

        <input type="button" value="Import Complete Course">
        <br /><br />
        <div>x Projects Found</div>
        <div><input type="button" value="Select Projects to Import"> <input type="button" value="Import All Projects"></div>
        <br /><br />
        <div>x Items with x Selections Found</div>
        <div><input type="button" value="Select Items to Import"> <input type="button" value="Import All Items"></div>    
    </script>
{% endblock %}

{% block dashboard_module %}
    {% with "help_migrate_materials" as help_id %}
    {% with help_migrate_materials as default_help_state %}
    
    <ul class="archive-gallery">
        <li class="archive-container">                
            <h2>Migrate Course Materials {% include "help/help_button.html" %}</h2>
            {% include "help/help_contentarea.html" %}
            
            <div id="course-materials-container">
                <div id="no-materials-to-migrate" style="display: none">
                    You are not affiliated with any other courses. Please review our help materials
                    if you need to migrate course materials from a colleague's class.
                </div>
                
                <div id="available-courses-selector" style="display: none">
                    <input type="text" class="default" id="available-courses" value="Type course name here">
                </div>
                    
                <div>
                    <div class="left half">
                        <div id="course">
                        </div>
                    </div>
                    <div class="right half border">
                        <div class="left">Selected for import</div><div class="right">Remove</div>
                        <div class="visualclear"/>
                        <div class="scroll">                    
                        </div>
                    </div>
                    
                </div>            
            </div>
        </li>
    </ul>
    
    {% endwith %}{% endwith %}

{% endblock %}



