{% extends "dashboard/base_dashboard.html" %}
{% block title %}Migrate Course Materials{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript"> 
        var courses =
            [{% for c in available_courses %}
                {% ifnotequal c.id request.course.id %}
                    { label: "{{c.title}}", value: "{{c.title}}", id: "{{c.id}}" }{% if forloop.last %}{% else %},{% endif %}
                {% endifnotequal %}
            {% endfor %}];
        
        
        jQuery(document).ready(function () {
            var view = new CourseMaterialsView({ availableCourses: courses, el: "li.archive-container" });
        });

    </script>
    
    <script type="text/javascript" src="/site_media/js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/site_media/js/backbone/backbone-tastypie.js"></script>
    <script type="text/javascript" src="/site_media/js/instructor/class_migrate.js"></script>
    
    <script type="text/template" id="projects-template">
        <h1><%= title %></h1>
    </script>
    
    <script type="text/template" id="items-template">
        <h1><%= title %></h1>
    </script>
    
    <script type="text/template" id="course-template">
        <h1><%= title %></h1>
        <% if (info && info.term) { %> 
            <p><b>Term:</b> <% if (info.term === 1) { %>
                    Spring 
                  <% } else if (info.term === 2) { %>
                    Summer
                  <% } else if (info.term === 3) { %>
                    Fall
                  <% } %></p>
        <% } %>
        <% if (info && info.year) { %>
            <p><b>Year:</b> <%= info.year %></p>
        <% } %>
        <p><b>Faculty:</b>  
            <% for (var i = 0; i < faculty_group.user_set.length; i++) { %>
                <%= faculty_group.user_set[i].full_name %><% if (i < faculty_group.user_set.length-1) { %>, <% } %>
            <% } %></p>

        <input type="button" value="Import Complete Course">
        <br /><br />
        <div><%= projects %> Projects Found</div>
        <div><input type="button" value="Select Projects to Import"> <input type="button" value="Import All Projects"></div>
        <br /><br />
        <div>x Items with x Selections Found</div>
        <div><input type="button" value="Select Items to Import"> <input type="button" value="Import All Items"></div>    
    </script>
{% endblock %}

{% block dashboard_module %}
    {% with "help_migrate_materials" as help_id %}
    {% with help_migrate_materials as default_help_state %}
    
    <ul class="archive-gallery">
        <li class="archive-container">                
            <h2>Migrate Course Materials {% include "help/help_button.html" %}</h2>
            {% include "help/help_contentarea.html" %}
            
            <div id="no-materials-to-migrate" style="display: none">
                You are not affiliated with any other courses. Please review our help materials
                if you need to migrate course materials from a colleague's class.
            </div>
            
            <div id="available-courses-selector" style="display: none">
                <input type="text" class="default" id="available-courses" value="Type course name here">
                <input type="submit" id="view-materials" value="View materials" />
            </div>
                
            <div id="course-materials-container" style="display: none">                
                <div class="left half">
                    <div id="course"></div>
                </div>
                <div class="selected-for-import">
                    <div><h4 class="left">Selected for import</h4><h4 class="right">Remove</h4></div>
                    <div class="visualclear"/>
                    <div class="results scroll"></div>
                </div>                    
            </div>
        </li>
    </ul>
    
    {% endwith %}{% endwith %}

{% endblock %}



