{% extends "dashboard/base_dashboard.html" %}
{% load assetlinks %}
{% block title %}Manage Sources{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            {% if newsrc %}
               var msg = "{{newsrc|escapejs}} has been enabled for your class.";
               alert(msg);
            {% else %}{% if changes_saved %}
               var msg = "Your changes have been saved.";
               alert(msg);
            {% endif %}{% endif %}
        });
    </script>
    
{% endblock %}

{% block dashboard_module %}


<h2>Manage Sources </h2>
    
  <p>
  This page allows you to manage the resources listed on the <a href="{% url explore %}">Add to My Collection</a> page.
  </p>
  <br />

{% with "help_video_upload" as help_id %}
{% with help_video_upload as default_help_state %}
<ul id="wardenclyffe" class="archive-gallery">
<li class="upload-container">
    <h2>Mediathread Video Uploader {% include "help/help_button.html" %}</h2>
    {% include "help/help_contentarea.html" %}

    {% if upload_enabled %}
        <h4>Upload Permission Settings</h4>
    
        <form action="{% url class-add-source %}" method="POST" name="form-upload-permission">
        
            <select name="upload_permission">
                {% for level in permission_levels %}
                    <option value="{{level.0}}" {% ifequal upload_permission level.0 %} selected="true" {% endifequal %}>{{level.1}}</option>
                {% endfor %}
            </select>
            <br /><br />
            <input type="submit" value="submit"></input>
        </form>
    {% else %}
        <form action="{% url asset-save %}" method="POST">
            <li class="archive">
                <input class="addtoclass" type="submit" value="Enable Video Upload" id="mediathread-video-upload">
                <a href="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/" class="archive-link">Mediathread Video Uploader</a>
                <br>
                <a href="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/"><img src="http://wardenclyffe.ccnmtl.columbia.edu/site_media/img/bg_header.jpg" alt="thumbnail image" class="archive-link">
                </a>
             
                <span>
                   <p>Upload your own source material.</p>
                </span>
    
                <input type="hidden" name="title" value="Mediathread Video Upload">
                <input type="hidden" name="metadata-description" value="Upload your own source material.">
                <input type="hidden" name="metadata-upload" value="1">
                <input type="hidden" name="url" value="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/">
                <input type="hidden" name="archive" value="http://wardenclyffe.ccnmtl.columbia.edu/mediathread/">
                <input type="hidden" name="thumb" value="http://wardenclyffe.ccnmtl.columbia.edu/site_media/img/bg_header.jpg">
                <input type="hidden" name="redirect-url" value="{% url class-add-source %}">
            </li>
         </form>
     {% endif %}
</li>
</ul>
{% endwith %}{% endwith %}

{% with "help_supported_collections" as help_id %}
{% with help_supported_collections as default_help_state %}
<ul id="supported_collections" class="archive-gallery">
    <li class="archive-container">
        <h2 id="archives">Add<!--/Remove--> Supported Sources {% include "help/help_button.html" %}</h2>
    
        <ul class="archive-gallery">
            {% include "help/help_contentarea.html" %}
            {% for archive in supported_archives %}
                <li class="archive">
                    <form action="{% url asset-save %}" method="POST">
                        {% ifincourse archive course %}
                            <input class="addtoclass" type="submit" value="Added" id="{{archive.title|slugify}}" disabled="disabled" />
                        {% else %}
                            <input class="addtoclass" type="submit" value="Add to Class" id="{{archive.title|slugify}}" />
                        {% endifincourse %}
                    
                        <a href="{{archive.archive_url}}" class="archive-link">{{archive.title}}</a>
                        <br />
                        {% if archive.thumb_url %}
                            <a href="{{archive.archive_url}}"><img src="{{archive.thumb_url}}" alt="thumbnail image" class="archive-link" />
                            </a>
                        {% endif %}
        
                        <span>
                            {{archive.description|safe|urlize|linebreaks}}
                        </span>
        
                       {% include "assetmgr/pretender_select.html" %}
                       
                       <input type="hidden" name="title" value="{{archive.title}}" />
                       <input type="hidden" name="url" value="{{archive.archive_url}}" />
                       <input type="hidden" name="archive" value="{{archive.archive_url}}" />
                       <input type="hidden" name="thumb" value="{{archive.thumb_url}}" />
                       <input type="hidden" name="metadata-description" value="{{archive.description}}" />
                    </form>
                </li>
            {%endfor%}
        </ul>
    </li>
</ul>
{% endwith %}{% endwith %}


    {% with "help_add_custom_collection" as help_id %}
    {% with "off" as default_help_state %}
    <ul id="custom_collection" class="archive-gallery">
        <li class="archive-container">
            <h2 id="custom_archive">Add Your Own Collection {% include "help/help_button.html" %}</h2>
            {% include "help/help_contentarea.html" %}
            <p>Instructions</p>
            <form action="{% url asset-save %}" method="POST">
                {% include "assetmgr/pretender_select.html" %}
        
                Collection Title: <input type="text" name="title" value="" />
                <br/>
                Collection URL: <input type="text" name="archive" value="" />
                <br/>
                Collection URL (yes, again): <input type="text" name="url" value="" />
                <br/>
                Description:
                <textarea cols="55" rows="5" name="metadata-description"></textarea>
                <br/>
                Thumb URL: <input type="text" name="thumb" value="" />
                <br/>
                    Required Plugin
                <select name="metadata-required">
                      <option value="">--None--</option>
                      <option value="flash">Flash</option>
                      <option value="quicktime">Quicktime</option>
                      <option value="realplayer">RealPlayer</option>
                      <option value="ogg">Ogg videotag support</option>
                    </select>
                    <br/>
                <input type="submit" value="Add Source to Class" />
            </form>
        </li>
    </ul>
    {% endwith %}{% endwith %}

{% if is_staff %} 

<ul id="individual_uploads" class="archive-gallery">
<li class="archive-container">
     <h2 id="specific">Specific Internet Resources</h2>
        <ul>
        <li class="archive">
            <h3>Local Quicktime Streaming Video</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            
            Asset QT Stream: <input type="text" name="quicktime" value="" />
            <br/>
            Asset Title: <input type="text" name="title" value="" />
            <br/>
            Dimensions: <input type="text" name="quicktime-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
            <br/>
            Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
            <br/>
            <input type="submit" />
            </form>
            </li>
            <li class="archive"> 
            <h3>YouTube Video</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            YouTube View (Watch) URL: <input type="text" name="url" value="" /> (example: http://www.youtube.com/watch?v=MjdEEwzskck)
            <br/>
            YouTube Video URL: <input type="text" name="youtube" value="" /> (example: http://www.youtube.com/v/MjdEEwzskck&hl=en_US&fs=1)
            <br/>
            YouTube Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Flash Video (.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Flash Video URL: <input type="text" name="flv" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Flash Video Pseudo Streaming(.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Flash Video View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Flash Video URL: <input type="text" name="flv_pseudo" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            Dimensions: <input type="text" name="flv_pseudo-metadata" value="w480h360" /> (as w{width}h{height} do not include controller height)
            <br/>
            QueryString: <input type="text" name="querystring" value="" />
            <br/>
            Thumbnail URL: <input type="text" name="thumb" value="" />
            <br/>
            Final Cut Pro XML url: <input type="text" name="xmeml" value="" />
            <br />
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>Kaltura .kdp</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Kaltura Video Remote Page: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Kaltura Video URL: <input type="text" name="kaltura" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>MP4 (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>MP3 Audio (.mp3)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the audio clip)
            <br/>
            Audio URL: <input type="text" name="mp3" value="" /> (the actual audio URL)
            <br/>
            Cover Image URL: <input type="text" name="poster" value="" />
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>        
        <li class="archive"> 
            <h3>MP4 Pseudo Streaming (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4_pseudo" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            QueryString: <input type="text" name="querystring" value="" />
            <br />
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>RTMP (.mp4)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="mp4_rtmp" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>RTMP (.flv)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="flv_rtmp" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
            </li>
            <li class="archive"> 
            <h3>RealPlayer (.rm)</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            View (Watch) URL: <input type="text" name="url" value="" /> (the remote page containing the video)
            <br/>
            Video URL: <input type="text" name="realplayer" value="" /> (the actual video URL)
            <br/>
            Title: <input type="text" name="title" value="" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        <li class="archive"> 
            <h3>A website</h3>
            <form action="{% url asset-save %}" method="POST">
            {% include "assetmgr/pretender_select.html" %}
            Asset URL: <input type="text" name="url" value="http://slashdot.org" />
            <br/>
            Asset Title: <input type="text" name="title" value="SlashDot" />
            <br/>
            <input type="submit" />
            </form>
        </li>
        </ul>
</li>
</ul>
<!--            

<ul id="experimental_cookie" class="archive-gallery">
<li class="archive-container">
     <h2 id="experimental">Experimental Features</h2>
        
        <p>There are some features we're working on that are incomplete
           and experimental.  If you want to try out these features, then
           enable the experimental cookie here.
        </p>
        <ul>
          <li id="experimental_status"></li>
          <li><a href="#experimental" onclick="document.cookie='experimental=on; expires='+new Date(9999999999999).toGMTString()+'; path=/';experimentalStatus();">Enable</a></li>
          <li><a href="#experimental" onclick="document.cookie='experimental=OFF; expires='+new Date().toGMTString()+'; path=/';experimentalStatus();">Disable</a></li>
        </ul>
        <script type="text/javascript">
          function experimentalStatus() {
             document.getElementById('experimental_status').innerHTML = 'Status: '
             + ((document.cookie.match(/experimental/)) ? 'ON' : 'OFF');
          }
          experimentalStatus();
        </script>
      </li>
      </ul>-->
      <br class="visualclear" />
{% endif %}
{% endblock %}


      <a class="hs-control" href="#reports-graph"></a>
