{% extends "dashboard/base_reports.html" %}
{%load user_annotations comments user_projects coursetags %}

{% block dashboard_module %}
<h1>Welcome to the Instructor Dashboard</h1>    

<p>
Here you can manage settings for your Mediathread course, and access reports that can help you track class activity. Access contextual help by clicking (the I button). General help is available by clicking on the Help link on the top right of all Mediathread pages, or by emailing questions to ccnmtl-mediathread@ccnmtl.columbia.edu.
</p>

{% endblock %}
