{% extends "dashboard/base_reports.html" %}
{%load user_annotations comments user_projects coursetags %}

{% block dashboard_module %}
<h1>Welcome to the Instructor Dashboard</h1>    

<p>
Here you can manage settings for your Mediathread course, and access reports that can help you track class activity. Access contextual help by clicking the <img src="/site_media/img/icons/meth_info_icon.png" alt="contextual help" style="vertical-align: bottom"/> button. General help is available by clicking on the <a href="/help/">Help</a> link on the top right of all Mediathread pages.
</p>

{% endblock %}
