{% extends "base.html" %}
{% load comments collaborations %}

{% block title %}
Recent Activity
{% endblock %}

{% block js %}
<script type="text/javascript" src="/site_media/js/ajaxDelete.js"></script>
<script type="text/javascript" src="/site_media/js/hs.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    
    {% with "help_notifications" as help_id %}
    {% with help_notifications as default_help_state %}

    <div id ="updates" class="panel-column top-archive {%if not display.course %}panel-column-stump{%endif%}">
        <h2>Updates to My Collections & Compositions {% include "help/help_button.html" %}</h2>
        
        <div class="scroll">
            {% include "help/help_contentarea.html" %}
            <ul id="parent-clumper" class="clumper">
        
            	{%for clump in my_feed%}
                        {%include "projects/clump.html" %}
            	{%endfor%}
            </ul>
        </div>
    </div> 

    <div class="visualclear"></div>

    {% endwith %}{% endwith %}

{% endblock %}
