# Default values for the chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: "mediathread"
repo:      "ccnmtl"
image:     "mediathread"
tag:       "latest"

env:
    # Required parameters
    DB_HOST:        "postgres"
    DB_PORT:        5432
    DB_USER:        "postgres"
    DB_PASSWORD:    null
    DB_NAME:        "mediathread"
    SECRET_KEY:     "CHANGEME"
    ALLOWED_HOSTS:  "kube-healthcheck.cluster.local"

    # Optional parameters
    # TIME_ZONE:                "America/New_York"
    # AWS_S3_CUSTOM_DOMAIN:     null
    # AWS_STORAGE_BUCKET_NAME:  null
    # AWS_ACCESS_KEY:           null
    # AWS_SECRET_KEY:           null
    # 
    # RAVEN_DSN:        null
    # EMAIL_HOST:       null
    # EMAIL_PORT:       null
    # SERVER_EMAIL:     null
