{% extends "base.html" %}
<title>{% block title %}{{flatpage.title}}{% endblock %}</title>

{% block content %}
    {{ block.super }}

<h3>Mediathread Quickstart Guide</h3>

<p>MediaThread is a platform for independent and collaborative analysis of and composition with online multimedia content. </p>

<h4><img source="" />Get the Big Picture</h4>
<p>If you are using Mediathread in a course, your instructor may give you materials to review or assignments to complete within the Mediathread environment.</p>

<h4><img source="" />Import then Excerpt Media</h4>
<p>
Images and videos from YouTube, Flickr, library databases, course libraries and numerous other online sources can be imported into the Mediathread analysis environment. 
Once in Mediathread, media items can be excerpted, annotated and organized.
</p>

<h4><img source="" />Compose Analyses and Embed Your Excerpts</h4>
<p>
Media items and excerpts can also be embedded into “Mediathreads:” discussions, essays, and other written analyses.
</p>

<h4><img source="" />Review and Discuss Completed Work</h4>
<p>
“Mediathreads” may be published so that they are available for viewing and commentary by your instructor or your classmates.  You can also generate a publicly viewable URL.
</p>

{% endblock %}
