name: build-and-test
on: [push, workflow_dispatch]
jobs:
  build:
    name: Django tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.8]
        node-version: [18.x]
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: install memcached headers
        run: sudo apt install -y libmemcached-dev
      - name: Build with Makefile
        run: make
      - name: Run eslint
        run: npm run eslint
  cypress:
    name: Cypress run
    runs-on: ubuntu-latest
    strategy:
      matrix:
        firefox: [ 'latest-esr' ]
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: install memcached headers
        run: sudo apt install -y libmemcached-dev
      - uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: ${{ matrix.firefox }}
      - name: Run Integration Tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run cypress:test
          browser: firefox
          headed: true
